.color-box {
    display: inline-block;
    height: 4rem;
    width: 4rem;
}

.bg-grey-darkest       { background-color: $grey-darkest ; }
.bg-grey-darker        { background-color: $grey-darker ; }
.bg-grey-dark          { background-color: $grey-dark ; }
.bg-grey-medium        { background-color: $grey-medium ; }
.bg-grey-light         { background-color: $grey-light ; }
.bg-grey-lighter       { background-color: $grey-lighter ; }
.bg-grey-lightest      { background-color: $grey-lightest; }
.bg-black              { background-color: $black; }
.bg-white              { background-color: $white; }
.bg-purple             { background-color: $purple; }
.bg-purple-shade-1     { background-color: $purple-shade-1; }
.bg-purple-shade-2     { background-color: $purple-shade-2; }
.bg-blue-dark          { background-color: $blue-dark; }
.bg-blue-dark-shade-1  { background-color: $blue-dark-shade-1; }
.bg-blue-dark-shade-2  { background-color: $blue-dark-shade-2; }
.bg-blue-light         { background-color: $blue-light; }
.bg-blue-light-shade-1 { background-color: $blue-light-shade-1; }
.bg-blue-light-shade-2 { background-color: $blue-light-shade-2; }
.bg-green              { background-color: $green; }
.bg-green-shade-1      { background-color: $green-shade-1; }
.bg-green-shade-2      { background-color: $green-shade-2; }
.bg-yellow             { background-color: $yellow; }
.bg-yellow-shade-1     { background-color: $yellow-shade-1; }
.bg-yellow-shade-2     { background-color: $yellow-shade-2; }
.bg-orange             { background-color: $orange; }
.bg-orange-shade-1     { background-color: $orange-shade-1; }
.bg-orange-shade-2     { background-color: $orange-shade-2; }
.bg-red                { background-color: $red; }
.bg-red-shade-1        { background-color: $red-shade-1; }
.bg-red-shade-2        { background-color: $red-shade-2; }
.bg-brown              { background-color: $brown; }
.bg-brown-shade-1      { background-color: $brown-shade-1; }
.bg-brown-shade-2      { background-color: $brown-shade-2; }
