@mixin flex-container($display:flex, $direction:row, $wrap:nowrap, $justify:space-between, $align: center) {
  display: $display;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin text($size) {
 font-size: map-get($font-sizes-sans, $size);
 line-height: map-get($line-heights-sans, $size);
}

@mixin uppercase() {
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

@mixin tooltip() {
  &::before {
    background-color: $black;
    border-radius: 0.25rem;
    color: $white;
    content: attr(data-tooltip);
    display: none;
    padding: 0.375rem 0.5rem;
    position: absolute;
    top: -2.125rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 10;

    @include text(md);
  }

  &::after {
    border-style: solid;
    border-width: 0.5rem 0.5rem 0 0.5rem;
    border-color: $black transparent transparent transparent;
    content: "";
    display: none;
    height: 0;
    width: 0;
    position: absolute;
    top: -0.625rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover {
    &::before {
      display: block;
    }
    &::after {
      display: block;
    }
  }
}

@mixin truncate($width:100%, $display:block, $overflow:clip) {
  display: $display;
  max-width: $width;
  overflow: hidden;
  text-overflow: $overflow;
  white-space: nowrap;
}
