@mixin flex-container($display:flex, $direction:row, $wrap:nowrap, $justify:space-between, $align: center) {
  display: $display;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin text($size, $font:'display') {
  @if $font == 'display' {
    font-family: $font-display;
    font-size: map-get($font-sizes-display, $size);
    line-height: map-get($line-heights-display, $size);
  } 
  @else if $font == 'text' {
    font-family: $font-text;
    font-size: map-get($font-sizes-text, $size);
    line-height: map-get($line-heights-text, $size);
  }
}

@mixin uppercase() {
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@mixin tooltip() {
  &::before {
    background-color: $brown;
    border-radius: 0.125rem;
    color: $beige-light;
    content: attr(data-tooltip);
    display: none;
    padding: 0.375rem 0.5rem;
    position: absolute;
    top: -2.875rem;
    left: 10%;
    transform: translateX(-10%);
    white-space: nowrap;
    z-index: 20;

    @include text(xs);
  }

  &::after {
    border-style: solid;
    border-width: 0.5rem 0.5rem 0 0.5rem;
    border-color: $brown transparent transparent transparent;
    content: "";
    display: none;
    height: 0;
    width: 0;
    position: absolute;
    top: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover {
    &::before {
      display: block;
    }
    &::after {
      display: block;
    }
  }
}

@mixin truncate($width:100%, $display:block, $overflow:ellipsis) {
  display: $display;
  max-width: $width;
  overflow: hidden;
  text-overflow: $overflow;
  white-space: nowrap;
}
