@mixin flex-container(
  $display: flex,
  $direction: row,
  $wrap: nowrap,
  $justify: space-between,
  $align: center
) {
  display: $display;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin text($size, $font: "display") {
  @if $font == "display" {
    font-family: $font-display;
    font-size: map-get($font-sizes-display, $size);
    line-height: map-get($line-heights-display, $size);
  } @else if $font == "text" {
    font-family: $font-text;
    font-size: map-get($font-sizes-text, $size);
    line-height: map-get($line-heights-text, $size);
  }
}

@mixin uppercase() {
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@mixin tooltip($type: "shodan") {
  @if $type == "dan" {
    &::before,
    &::after {
      z-index: 15;
    }

    &::before {
      background-color: $brown;
      color: $beige-light;
    }

    &::after {
      border-color: $brown transparent transparent transparent;
    }
  } @else if $type == "shodan" {
    &::before,
    &::after {
      z-index: 20;
    }
    &::before {
      background-color: $brown;
      color: $beige-light;
    }

    &::after {
      border-color: $brown transparent transparent transparent;
    }
  }

  &::before,
  &::after {
    display: none;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  &::before {
    box-shadow: 0 0.375rem 0.75rem $black16;
    border-radius: 0.125rem;
    content: attr(data-tooltip);
    padding: 0.25rem 0.5rem;
    top: -2.625rem;
    white-space: nowrap;

    @include text(xs);
  }

  &::after {
    border-style: solid;
    border-width: 0.5rem 0.5rem 0 0.5rem;
    content: "";
    height: 0;
    top: -0.75rem;
    width: 0;
  }

  &:hover {
    &::before,
    &::after {
      display: block;
    }
  }
}

@mixin truncate($width: 100%, $display: block, $overflow: ellipsis) {
  display: $display;
  max-width: $width;
  overflow: hidden;
  text-overflow: $overflow;
  white-space: nowrap;
}

@mixin wrapper() {
  margin-left: auto;
  margin-right: auto;
  max-width: $wrapper-medium;
  padding: 0 1rem;
}

@mixin home-button($type: "regular") {
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 0.125rem;
  display: inline-block;
  font-weight: $fw-semibold;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color $transition, color $transition;

  @if $type == "regular" {
    background-color: rgba($red, 1);
    border-color: $red;
    color: $white;

    &:hover {
      background-color: rgba($red, 0);
      color: $red;
    }
  }
  @elseif $type == "catalog" {
    background-color: rgba($green, 1);
    border-color: $green;
    color: $white;

    &::before {
      content: $fa-var-th;
      font-family: $font-icon;
      $font-weight: $fw-icon;
      font-size: $fs-text-sm;
      margin-right: 0.5rem;
    }

    &:hover {
      background-color: rgba($green, 0);
      color: $green;
    }
  }
}

@mixin card($color: $white, $hover: true) {
  background-color: $color;
  border-radius: 0.25rem;
  border: $border;
  box-shadow: 0 0.125rem 0.25rem $black16;
  position: relative;

  @if $hover {
    top: 0;
    transition: top $transition, box-shadow $transition;

    &:hover {
      box-shadow: 0 0.375rem 0.75rem $black16;
      top: -0.25rem;
    }
  }
}

@mixin seigaiha($color: $white) {
  $alpha1: 0.3;
  $alpha2: 1-$alpha1;
  position: relative;
  z-index: 0;

  &::before {
    background-blend-mode: multiply;
    background-image: url("./images/seigaiha.svg"),
      linear-gradient(180deg, $color 0%, $color 100%);
    background-position: 50% 50%;
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -2;
  }

  &::after {
    background-image: linear-gradient(
      180deg,
      rgba($color, $alpha2) 0%,
      rgba($color, $alpha1) 100%
    );
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
