* {
	border: 0;
	color: $brown;
	font-family: $font-display;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

a {
	color: $red;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

tr, td {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

video {
  max-width: 100%;
}
