$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$black: #000;
$grey-1: #bbb;
$grey-2: #ccc;
$grey-3: #ddd;
$white: #fff;

$tl-separator: 0.0625rem solid $grey-1;

$timeline-labels-width: 14rem;
$timeline-marks-height: 1rem;
$timeline-acts-height: 1rem;
$timeline-channel-height: 2rem;
