$grid-height: 4;

// FONTS

$rem-size: 16px;

$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;

$fw-light:     300;
$fw-regular:   400;
$fw-medium:    500;
$fw-semibold:  600;
$fw-bold:      700;
$fw-extrabold: 800;
$fw-black:     900;

$fs-sans-2xl:   1.125rem; // 18px
$fs-sans-xl:        1rem; // 16px
$fs-sans-lg:    0.875rem; // 14px
$fs-sans-md:   0.8125rem; // 13px
$fs-sans-sm:     0.75rem; // 12px
$fs-sans-xs:   0.6875rem; // 11px
$fs-sans-2xs:   0.625rem; // 10px

$lh-sans-2xl: 1.333333;   // 24px
$lh-sans-xl:  1.25;       // 20px
$lh-sans-lg:  1.428571;   // 20px
$lh-sans-md:  1.230769;   // 16px
$lh-sans-sm:  1.333333;   // 16px
$lh-sans-xs:  1.454545;   // 16px
$lh-sans-2xs: 1.6;        // 16px

$fs-serif-md:       1rem; // 16px
$lh-serif-md:        1.5; // 20px
