$tl-separator: 0.0625rem solid $grey-light;

$timeline-marks-height: 1.25rem;
$timeline-acts-height: 1.25rem;

$intermedia-table-cell: 1.75rem;
$shodan-map-height: (7 * $intermedia-table-cell);
$intermedia-height: $shodan-map-height + $timeline-marks-height + $timeline-acts-height;

$timeline-marks-height: 1.25rem;
$timeline-acts-height: 1.25rem;

$intermedia-table-cell: 1.75rem;
$shodan-map-height: (7 * $intermedia-table-cell);
$intermedia-height: $shodan-map-height + $timeline-marks-height + $timeline-acts-height;

$timeline-label-group-width: 3rem;
$timeline-labels-width: 15rem;
$timeline-channel-height: 2rem;
$timeline-channel-shodan-height: 4rem;
