@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700|Source+Serif+Pro:400,600,700');

$grid-height: 4;

// FONTS

$rem-size: 16px;

$font-display: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-text: 'Source Serif Pro', Georgia, serif;
$font-icon: 'FontAwesome';

$fw-light:     300;
$fw-regular:   400;
$fw-semibold:  600;
$fw-bold:      700;

$fs-display-hg:      2.5rem; // 40px
$fs-display-xxl:       2rem; // 32px
$fs-display-xl:      1.5rem; // 24px
$fs-display-lg:     1.25rem; // 20px
$fs-display-md:    1.125rem; // 18px
$fs-display-sm:        1rem; // 16px
$fs-display-xs:    0.875rem; // 14px
$fs-display-xxs:    0.75rem; // 12px
$fs-display-tn:   0.6875rem; // 11px

// 
// LINE HEIGHTS NEED TO BE CALCULATED
// 

$lh-display-hg:   1.333333; // 24px
$lh-display-xxl:  1.333333; // 24px
$lh-display-xl:   1.25;     // 20px
$lh-display-lg:   1.428571; // 20px
$lh-display-md:   1.333333; // 16px
$lh-display-sm:   1.454545; // 16px
$lh-display-xs:   1.6;      // 16px
$lh-display-xxs:  1.333333; // 12px
$lh-display-tn:   1.333333; // 12px

$fs-text-xl:       1.25rem; // 20px
$fs-text-lg:      1.125rem; // 18px
$fs-text-md:          1rem; // 16px
$fs-text-sm:      0.875rem; // 14px
$fs-text-xs:     0.8125rem; // 13px

$lh-text-xl:           1.6; // 32px
$lh-text-lg:      1.555556; // 28px
$lh-text-md:           1.5; // 24px
$lh-text-sm:      1.428571; // 20px
$lh-text-xs:      1.538461; // 18px

$font-sizes-display: (
  hg: $fs-display-hg,
  xxl: $fs-display-xxl,
  xl: $fs-display-xl,
  lg: $fs-display-lg,
  md: $fs-display-md,
  sm: $fs-display-sm,
  xs: $fs-display-xs,
  xxs: $fs-display-xxs,
  tn: $fs-display-tn,
);

$line-heights-display: (
  hg: $lh-display-hg,
  xxl: $lh-display-xxl,
  xl: $lh-display-xl,
  lg: $lh-display-lg,
  md: $lh-display-md,
  sm: $lh-display-sm,
  xs: $lh-display-xs,
  xxs: $lh-display-xxs,
  tn: $lh-display-tn,
);


$font-sizes-text: (
  xl: $fs-text-xl,
  lg: $fs-text-lg,
  md: $fs-text-md,
  sm: $fs-text-sm,
  xs: $fs-text-xs,
);

$line-heights-text: (
  xl: $lh-text-xl,
  lg: $lh-text-lg,
  md: $lh-text-md,
  sm: $lh-text-sm,
  xs: $lh-text-xs,
);
