$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$black: #000;
$grey-1: #bbb;
$grey-2: #ccc;
$grey-3: #ddd;
$white: #fff;

$tl-separator: 0.0625rem solid $grey-2;

$timeline-label-group-width: 3rem;
$timeline-labels-width: 15rem;
$timeline-marks-height: 1.25rem;
$timeline-acts-height: 1.25rem;
$timeline-channel-height: 2rem;
$timeline-channel-shodan-height: 4rem;

$shodan-map-height: 12rem;
