$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;

$grey-darkest:  #252729;
$grey-darker:   #73787d;
$grey-dark:     #9aa0a6;
$grey-medium:   #d8dee4;
$grey-light:    #e2e7eb;
$grey-lighter:  #edf0f2;
$grey-lightest: #f7f9fa;

$black: #141515;
$white: #fff;

$purple: #7b65a6;
$purple-shade-1: #9a88bf;
$purple-shade-2: #bdb0d9;

$blue-dark: #193a73;
$blue-dark-shade-1: #395c99;
$blue-dark-shade-2: #6385bf;

$blue-light: #65a6c9;
$blue-light-shade-1: #87c1e0;
$blue-light-shade-2: #93c9e6;

$green: #4d9990;
$green-shade-1: #77c7be;
$green-shade-2: #8cd1c9;

$yellow: #e6dc73;
$yellow-shade-1: #f2ea91;
$yellow-shade-2: #fff9b3;

$orange: #e6ab45;
$orange-shade-1: #f2c16d;
$orange-shade-2: #ffda99;

$red: #ed4c4f;
$red-shade-1: #f26f72;
$red-shade-2: #ff999b;

$brown: #7d5454;
$brown-shade-1: #967474;
$brown-shade-2: #b09999;

$tl-separator: 0.0625rem solid $grey-light;

$timeline-marks-height: 1.25rem;
$timeline-acts-height: 1.25rem;

$intermedia-table-cell: 1.75rem;
$shodan-map-height: (7 * $intermedia-table-cell);
$intermedia-height: $shodan-map-height + $timeline-marks-height + $timeline-acts-height;

$timeline-marks-height: 1.25rem;
$timeline-acts-height: 1.25rem;

$intermedia-table-cell: 1.75rem;
$shodan-map-height: (7 * $intermedia-table-cell);
$intermedia-height: $shodan-map-height + $timeline-marks-height + $timeline-acts-height;

$timeline-label-group-width: 3rem;
$timeline-labels-width: 15rem;
$timeline-channel-height: 2rem;
$timeline-channel-shodan-height: 4rem;
