$grey-darkest:  #252729;
$grey-darker:   #73787d;
$grey-dark:     #9aa0a6;
$grey-medium:   #d8dee4;
$grey-light:    #e6ebf0;
$grey-lighter:  #f2f6f7;
$grey-lightest: #f7f9fa;

$black: #000000;
$black16: rgba(0,0,0,0.16);
$black32: rgba(0,0,0,0.32);
$black64: rgba(0,0,0,0.64);
$black80: rgba(0,0,0,0.8);

$white: #ffffff;
$white16: rgba(255,255,255,0.16);
$white32: rgba(255,255,255,0.32);
$white64: rgba(255,255,255,0.64);
$white80: rgba(255,255,255,0.8);

$red:         #8f1b0e;

$green:       #6a755e;
$green16:       rgba($green, 0.16);
$green32:       rgba($green, 0.32);
$green64:       rgba($green, 0.64);

$brown:       #4a4036;
$brown08:       rgba($brown, 0.08);
$brown16:       rgba($brown, 0.16);
$brown32:       rgba($brown, 0.32);
$brown64:       rgba($brown, 0.64);

$beige-dark:  #f2ece6;
$beige-light: #f9f6f3;

$bg-color: $beige-light;
$border-color: $brown16;

$score_purple: #7b65a6;
$score_purple-shade-1: #9a88bf;
$score_purple-shade-2: #bdb0d9;

$score_blue-dark: #193a73;
$score_blue-dark-shade-1: #395c99;
$score_blue-dark-shade-2: #6385bf;

$score_blue-light: #65a6c9;
$score_blue-light-shade-1: #87c1e0;
$score_blue-light-shade-2: #93c9e6;

$score_green: #4d9990;
$score_green-shade-1: #77c7be;
$score_green-shade-2: #8cd1c9;

$score_yellow: #e6dc73;
$score_yellow-shade-1: #f2ea91;
$score_yellow-shade-2: #fff9b3;

$score_orange: #e6ab45;
$score_orange-shade-1: #f2c16d;
$score_orange-shade-2: #ffda99;

$score_red: #ed4c4f;
$score_red-shade-1: #f26f72;
$score_red-shade-2: #ff999b;

$score_brown: #7d5454;
$score_brown-shade-1: #967474;
$score_brown-shade-2: #b09999;

$color-channel-beat: $white;
$color-channel-text: $white;
$color-channel-nohkan: rgba($score_yellow-shade-2, 0.3);
$color-channel-dance: rgba($score_orange-shade-2, 0.3);

$color-character-jiutai: $score_red-shade-1;
$color-character-aikyogen: $score_blue-light-shade-1;
$color-character-shite: $score_green-shade-1;
$color-character-waki: $score_orange-shade-1;
$color-character-waki-tsure: $score_yellow-shade-1;
