time,
[onclick^="window.open('/popout/"] {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &::after {
    color: rgba($red, 0.8);
    content: $fa-var-forward;
    display: inline-block;
    font-family: $font-icon;
    font-weight: $fw-icon;
    font-size: 70%;
    margin-left: 0.125rem;
    padding-left: 0.1rem;
  }
}

.link__popout-window {
  &::after {
    color: rgba($red, 1);
    content: $fa-var-external-link;
    display: inline-block;
    font-family: $font-icon;
    font-weight: $fw-icon;
    font-size: 50%;
    margin-left: 0.125rem;
    opacity: 0.8;
    padding-left: 0.1rem;
    transform: translateY(-1px);
  }
}

.link__level-2 {
  &::after {
    color: rgba($red, 1);
    content: $fa-var-play-circle;
    display: inline-block;
    font-family: $font-icon;
    font-weight: $fw-icon;
    font-size: 80%;
    margin-left: 0.25rem;
    padding-left: 0.1rem;
  }
}
