time,
[onclick^="window.open('/popout/"] {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &::before {
    font-family: $font-icon;
    font-size: 70%;
    content: $fa-var-forward;
    display: inline-block;
    color: $brown40;
    padding-left: 0.1rem;
  }
}
