---
layout: website
menu-active: elements
second-level-menu-active: staging
third-level-menu-active: costumes
---

{% include second-menu-elements.html %}
{% include menu-staging-small.html %}

<main class="page-content">
<div class="wrapper sidebar-contents">
  <aside class="sidebar-contents__table">
    {% include menu-costumes.html %}
  </aside>
  <section class="sidebar-contents__section">
  <div class="text-container">
    <h2 id="Costumes">Costumes</h2>
    <p><em>By Monica Bethe</em></p>
        <h3 id="Intro">Introduction</h3>
    <p> Noh costumes define a characterʼs gender, profession, and rank. Their layered elements are prescribed by tradition and can be found noted at the beginning of the <em>utaibon</em> (libretto). While the types of garments for a given play are regulated, their colors, patterns, and in some cases mimetic techniques serve as a tool for the actorʼs expression. In choosing the costume for a character the actor considers the image to be portrayed, the overall atmophere of the performance, and the balance of colors, patterns, and motif sizes as they play off the costumes of other characters. The performer usually has a stock of costumes from which to choose. Heads of schools and other actor families that own theaters as well as some individual actors have costumes collected over a long time span.</p>

<p>
Noh costumes can be divided into four basic categories: (1) <em><strong>kosode</strong></em> “small-sleeved”, T-shaped, straight-lined, full-length garments similar to a modern kimono, with wrist-length sleeves that have their cuff edge sewn up half way to form a pocket. (2) <em><strong>ōsode</strong></em> or <em><strong>hirosode</strong></em> “broad-sleeved” outer garments. The various styles of <em>ōsode</em> outer garments all have extra wide sleeves, often double the weaving width, that are open at the cuff. These are worn over a <em>kosode</em> and are generally three-quarter length. (3) <em><strong>hakama</strong></em>, variously translated as trousers, pleated pants, or divided skirts depending on how voluminous they are. (4) <strong>accessories</strong>, including hairbands (<em>kazura-obi</em>), waist sashes (<em>koshi-obi</em>), head covers like crowns, hats, and helmets, and hand-held objects such as fans, prayer beads, weapons, sticks, and ritual objects.</p>
<p>[Note: the garments are listed by their Japanese names followed by an English description in parenthesis and then a semicolon. After the semicolon comes a description of the specific garment used for this production.]</p>

    <h3 id="Hashitomi">Hashitomi</h3>
    <h4 id="Hashitomi-Shite1">The shite in the first act: a Village Woman.</h4>
    <p>The stipulated costume for this role is the standard for young women appearing in the first act of a nō, certain details, however, hint at a high status.</p>
    {% include image-no-background.html src="/assets/images/Hashitomi-Shite1.png" %}
    <p><strong>Mask</strong>: Young woman (Kongō school uses <a href="/staging/masks/#Hashitomi" target="_blank"><em>Ko-omote</em></a>)<br>
<em><strong>Kazura</strong></em>: (woman’s wig, long black hair with center part and bound at the nape of the neck).<br>
<em><strong>Kazura-obi</strong></em>: (hairband); red ribbon with sections having embroidery on a gold background.<br>
<em><strong>Eri</strong></em>: (white and red collars);  indicating high rank
<em>Surihaku</em>, (under kosode with gold-leaf stenciled design); white with flower scroll design.<br>
<em><strong>Karaori</strong></em>, (kosode with multi-colored woven patterning) iroiri, including red indicating youth; the design here is pinks along fences over a basket-weave motif on alternating blocks of blue, white, and red.<br>
<em><strong>Kazura ōgi</strong></em>: (woman’s spread-tip fan).
</p>
    <h4 id="Hashitomi-Shite2">The shite in the second act: Yūgao’s ghost.</h4>

    {% include image-no-background.html src="/assets/images/Hashitomi-Shite2.png" %}
    <p>Mask, wig, hairband, collars, surihaku, and fan are the same as for act one. The costume change consists of stripping the outer karaori, and then putting on the following:<br>
<em><strong>Ōkuchi</strong></em>, (divided skirts); red is typical for court ladies.<br>
<em><strong>Koshi-obi</strong></em>, (waist sash); red with embroidery on a solid gold ground, not visible under the chōken.<br>
<em><strong>Chōken</strong></em>, (broad-sleeved gossamer over garment); woven design of flower carts and mulberry leaves rendered in gold and colored threads.<br>
</p>

    <h4 id="Hashitomi-Waki"> The Waki: Monk.</h4>

    <p>The nameless travelling monk wears a simple costume in plain, sober colors.</p>
    {% include image-no-background.html src="/assets/images/Hashitomi-Waki.png" %}
    <p><em><strong>Sumi bōshi</strong></em>: (folded rectangular cloth hat); dark brown
<em><strong>Eri</strong></em>, (collar)<br>
<em><strong>Noshime</strong></em>, (plain weave kosode worn by men); monochrome dark blue.<br>
<em><strong>Mizugoromo</strong></em>, (broad-sleeveed travel coat); light brown, bound at the waist.<br>
<em><strong>Koshi-obi</strong></em>, (waist sash); embroidered or woven rectangular panels decorate the two ends and center back.<br>
<em><strong>Juzu</strong>,</em> (prayer beads); held in the right hand.<br>
<em><strong>Sumie-ōgi</strong></em>, (fan with ink painting); tucked into the waist band.
</p>
    <h4 id="Hashitomi-Ai"> Kyōgen.</h4>
    <P> The kyōgen actor is a villager who fills in the story for the waki. The costume is standard for this role.</P>
        {% include image-no-background.html src="/assets/images/Hashitomi-ai.png" %}
        <p><em><strong>Kamishimo</strong></em>: (sleeveless matched suit); made of ramie or hemp and decorated with a paste-resist stenciled white pattern on an indigo ground. <br>
       <em><strong>Nagabakama</strong></em>: (long trailing pleated trousers worn indoors, as one walks on the bottom portion and the ends trail to the back); the danelion crests on the chest and center back are standard for kyōgen costumes. Ankle-length <em>hakama</em> are an alternative.<br>
<em><strong>Noshime</strong></em>: (plain weave silk men’s <em>kosode</em>); the warp threads are pre-dyed before weaving so that when the wefts are woven in they produce horizontal bands of blue, white, and blue-and-white checks.
</p>

    <h3 id="Kokaji">Kokaji</h3>
    <h4 id="Kokaji-Shite1">The shite in act one: a Youth</h4>

    <p>The youth here is in fact a manifestation in human form of the Fox deity. The red in his undergarment indicates his young age, and the garment itself is the soft embroidered nuihaku associated with women’s wear, but also worn by children until coming of age.</p>
    {% include image-no-background.html src="/assets/images/Kokaji-Shite1.png" %}
    <p><strong>Mask</strong>: <a href="/staging/masks/#Kokaji" target="_blank"><em>Dōji or Jidō</em></a><br>
<em><strong>Kurogashira</strong></em>: (black wig), long, shaggy, loose hair.<br>
<em><strong>Hachimaki</strong></em>:(headband); kuroji kindon, gold brocaded on black satin. (not seen under the wig)<br>
<em><strong>Eri</strong></em>: (collar); white and red, or white and pale blue.<br>
<em><strong>Nuihaku</strong></em>: (gold-stenciled and embroidered satin kosode), with red; design of gold mist, curtain of many cloths, musical instruments.<br>
<em><strong>Mizugoromo</strong></em>: (broad-sleeve travelling coat); plain weave, monochrome pale blue.<br>
<em><strong>Koshi-obi</strong></em>: (waist sash); embroidered with three paulownia crests.<br>
<em><strong>Warabe-ōgi</strong></em>, child’s fan.
</p>
    <h4 id="Kokaji-Shite2">The shite in act two: Inari Myōjin, the Fox Deity.</h4>

    <p>The figure of a fox on the crown indicates the identity of the deity. His shaggy, bushy, long hair and the bulging eyes of his tobide mask express supernatural energy. He shite wears his happi jacket with the right sleeve slipped off and rolled up in the back so as to free his right arm when he hammer.</p>
    {% include image-no-background.html src="/assets/images/Kokaji-Shite2.png" %}
    <p><strong>Mask</strong>: <em>Kotobide</em> or <a href="/staging/masks/#Kokaji2" target="_blank"><em>Ōtobide</em></a> (Kongō school alternative, also variant performance standard)<br>
<em><strong>Akagashira</strong></em>, (red shaggy wig), long bushy hair. Variant performances use a white wig, (<em>shirogashira</em>).<br>
<em><strong>Hachimaki</strong></em> : (headband); akaji <em>kindon</em>, gold brocading on red satin.<br>
<em><strong>Kitsune kanmuri</strong></em>: (fox crown); round base with a fox figure at the top.<br>
<em><strong>Eri</strong></em> : (collar); navy or blue.<br>
<em><strong>Atsuita</strong></em>: (brocaded kosode), <em>dangawari aka-iri</em>, alternate blocks of red and black; design of flower-filled hexagons and clouds over a lightning (<em>inazuma</em>) pattern.<br>
<em><strong>Hangiri</strong>:</em> (patterned divided skirts); gold design of undulating vertical lines (tatewaku) filled with large peony flowers on a red ground.<br>
<em><strong>Awase happi</strong></em> : (lined broad-sleeved jacket); woven design of large peony scrolls on a green ground.<br>
<em><strong>Koshi-obi</strong></em>: (waist sash); embroidered with three temple-gong crests.<br>
<em><strong>Tsuchi</strong></em>: (smith’s hammer)
</p>
    <h4 id="Kokaji-Waki1">The waki in act one: The swordsmith Sanjō Munechika</h4>
    <p>In the first act the waki is dressed in “street clothes” The hemp jacket is reminiscent of samurai garb, as is the style of folding the lacquer hat.</p>
    {% include image-no-background.html src="/assets/images/Kokaji-Waki1.png" %}
    <p><em><strong>Samurai-eboshi</strong></em>: (also <em>ori-eboshi</em>), black lacquered hat that has been folded down with a small triangle at the front.<br>
<em><strong>Eri</strong></em>: (collar); blue.<br>
<em><strong>Atsuita</strong></em> : (brocaded <em>kosode</em>); with alternating blocks of large checks and of concentric flower-filled hexagons on a red ground.<br>
<em><strong>Ōkuchi</strong></em> : (divided skirts); white.<br>
<em><strong>Kake-hitatare</strong></em> : (broad-sleeved jacket of a matched hemp hitatare suit); paste-resist design of cranes and broken ice in a “pine-bark” area division.<br>
<em><strong>Koshi-obi</strong></em> :(waist sash); embroidered with three crests.<br>
<em><strong>Kokatana</strong></em>: (small sword)<br>
<em><strong>Otoko-ōgi</strong></em>, man’s fan<br>
</p>
    <h4 id="Kokaji-Waki2"> The waki in act two: The swordsmith Sanjō Munechika</h4>
    <p>The waki changes his jacket and hat for the second act. This gives him a more formal attire, more suitable for the encounter with the deity, though hardly suitable for smithing. When actually at work, he slips the right sleeve off so the right arm is unhampered by the broad sleeves when hammering. </p>
    {% include image-no-background.html src="/assets/images/Kokaji-Waki2.png" %}
    <p>The <em>Eri</em> (collar), <em>Atsuita</em> (brocaded <em>kosode</em>),<em>Ōkuchi:</em> (divided skirts), <em>Kokatana</em> (small sword), and <em>Otoko-ōgi</em>, man’s fan are all the same as in Act I.<br>
<em><strong>Kazaori-eboshi</strong></em>, (black lacquered hat that has been folded to the side and tied with cords).<br>
<em><strong>Chōken</strong></em>, (broad-sleeved gossamer cloak); purple gauze weave with gold design of facing cranes.  (alternative: kamishimo matched suit)<br>
<em><strong>Koshi-obi</strong></em> :(waist sash); embroidered with three crests.
</p>
    <h4 id="Kokaji-Wakizure"> Wakizure: retainer of the minister Ichijō-in, Tachibana no Michinari</h4>
    <p>The wakizure wears a courtier’s costume, indicated by his round-collared kariginu jacket and his tall courtier’s cap. </p>
    {% include image-no-background.html src="/assets/images/Kokaji-Wakizure.png" %}
    <p><em><strong>Eboshi</strong></em> : (lacquered tall hat, Kanze gold, Kongō black); shown here is a <em>Tate-eboshi</em>, a black lacquered tall courtier’s hat.<br>
<em><strong>Eri</strong></em> : (collar); light blue or navy.<br>
<em><strong>Atsuita</strong></em>: (brocaded <em>kosode</em>); not visible.<br>
<em><strong>Ōkuchi</strong></em>: (divided skirts); white.<br>
<em><strong>Awase kariginu</strong></em> : (lined broad-sleeve courtier’s jacket with round collar and cords at the cuffs); design of gold chrysanthemums over a wave pattern. (<em>seigaiha</em>)<br>
<em><strong>Koshi-obi</strong></em> :(waist sash); embroidered with three crests.<br>
<em><strong>Otoko-ōgi</strong></em>, man’s fan.<br>
</p>
    <h4 id="Kokaji-Ai">Kyōgen actor: Subsidiary Shrine Diety</h4>
    <p>Small shrines within a shrine complex, known as massha, each have their own deity. In Noh the massha deities, performed by the kyōgen actors, serve as messangers announcing the advent of the main deity and often perform a short dance. </p>
    {% include image-no-background.html src="/assets/images/Kokaji-Ai.png" %}
    <p>Mask: <em>Noborihige</em><br>
<em><strong>Massha zukin</strong></em>: (susidiary deity’s hat), a cloth hat folded to form a round crown-like top.<br>
<em><strong>Atsuita</strong></em> : (brocaded <em>kosode</em>); alternating blocks of large checks and hexagons on a red ground.<br>
<em><strong>Kukuri-bakama</strong></em>: (black pleated trousers with round crests bound at the calves).<br>
<em><strong>Mizugoromo</strong></em>: (broad-sleeved coat); monochrome green.<br>
<em><strong>Kyōgen ōgi</strong></em>: (<em>kyōgen</em> fan).
</p>

      <h3 id="Non-actors">Musicians, Chorus, and Stage Attendants</h3>
<P>The non-actor performers in nō are dressed in what corresponds to every-day formal garb.</P>
{% include image-no-background.html src="/assets/images/hayashi.png" %}
<p><em><strong>Monzuki</strong></em>: (silk kimono with family crests on the back at the center back and sleeves and on the front at the chest); black is standard, though other dark colors are acceptable on special occassions.
<br>
<em><strong>Hakama</strong></em>: (pleated trousers); for regular performances the musicians, chorus members and stage atendants wear ankle-length, for very formal performances, they wear <em>nagabakama</em> with trailing legs (see <a href="#Hashitomi-Ai"><em>kyōgen</em></a>).

      <h3 id="Comments">Comments:</h3>

    <p>Some of the costumes seen in Hashitomi and Kokaji are used for several roles, but draped differently. For instance, the <em>chōken</em> falls freely when draped on a woman who dances (Hashitomi act II). The cords are tied in a large bow knot over the chest. On the other hand, the <em>chōken</em> is belted when draped on a man, as for the costume of the waki in the second act (Kokaji act II). The cords run vertically and are securely knotted to the waist sash. </p>

    {% include image-no-background.html src="/assets/images/Choken-compare.png" %}

    <p>The <em>mizugoromo</em> is worn over a <em>kosode</em> for the waki monk in Hashitomi and by the shite in act I of Kokaji, though the type of <em>kosode</em> differs, as do the hair and hat, creating different impressions overall. For the kyōgen in Kokaji, however, the <em>mizugoromo</em> is draped over the pantaloon-like <em>kukuri-bakama</em>.</p>


    {% include image-no-background.html src="/assets/images/Mizugoromo-compare.png" %}

    <p>Brocaded <em>kosode</em> come in two forms: <em>karaori</em> and <em>atsuita</em>. While the karaori can be worn either as an outer (i.e. the shite in act I of Hashitomi) or an inner garment under a broad-sleeved garment, the <em>atsuita</em> is generally an undergarment worn by male characters under various types of broad-sleeved over garments. When one of the sleeves of the over garment is slipped off, the <em>atsuita</em> pattern is exposed more fully. The waki in Kokaji act II removes the right sleeve of the <em>chōken</em> in preparation for working on the sword. </p>

    {% include image-no-background.html src="/assets/images/Karaori-compare.png" %}

    <p>The shite, likewise, has prepared for work by slipping off the right sleeve of his <em>happi</em> ourter garment. </p>

    {% include image-no-background.html src="/assets/images/Kokaji-Shite2.png" %}

    <p>The broad sleeves of the <em>ōsode</em> outer garments provide for dynamic stage effect. During the <em>jō-no-mai</em>  dance (Hashitomi act II), the sleeves of the <em>chōken</em> are flipped over the arms to intensify given moments <a id="flipping" href="#0" onclick="window.open('/popout/hashitomi/#t=01:12:10,01:12:16&autoplay&autoclose', 'new', 'width=640,height=360');">(right arm)</a><a href="#0" onclick="window.open('/popout/hashitomi/#t=01:15:24,01:15:29&autoplay&autoclose', 'new', 'width=640,height=360');">(left arm)</a>. In Kokaji act II, the Fox deity <a href="#0" onclick="window.open('/popout/kokaji/#t=55:54,55:59&autoplay&autoclose', 'new', 'width=640,height=360');">twirls his sleeve </a> raising the arm to half veil the face. </p>

    {% include image-no-background.html src="/assets/images/Osode-compare.png" %}


</div>
</section>
</div>

</main>
