---
layout: website
menu-active: elements
second-level-menu-active: staging
third-level-menu-active: masks
---

{% include second-menu-elements.html %}
{% include menu-staging-small.html %}

<main class="page-content">
<div class="wrapper sidebar-contents">
  <aside class="sidebar-contents__table">
    {% include menu-masks.html %}
  </aside>
  <section class="sidebar-contents__section">
  <div class="text-container">
    <h2 id="Masks">Masks</h2>
    <p><em>By Diego Pellecchia</em></p>
    <h3 id="Intro">Introduction</h3>
<p>
There are over 200 types of noh masks, grouped in categories, types, and variant types. One of the most common subdivisions conceives of five groups: god masks, female masks, male masks, spirit masks, and demon masks. Masks used in the ritual performance <em>Okina</em> constitute an additional category. Kyōgen masks are categorized separately.</p>
<p>
  Most noh masks are associated with a character type (e.g. young woman, middle-aged woman, warrior, demon, etc.) and each shite school may prescribe a certain character in a specific play to be performed with different types of mask. There are only a few masks that are used exclusively to portray one character (e.g. <em>Yamamba</em>, <em>Shunkan</em>, <em>Semimaru</em>). Also, while most mask types are employed across schools, some others are specific to certain schools. For example, the same role of young woman may be portrayed with a woman mask called Waka-onna (Kanze school), Fushiki-zō (Hōshō school), Magojirō or Ko-omote (Kongō school), or Ko-omote (Konparu and Kita schools).</p>

  <p>
  Masks developed throughout the Muromachi period (1338-1573), and their use was canonized at the beginning of the 17th century. In the late 16th century, certain masks from each type were seen as superior and became standards (<em>honmen</em>) that were then copied using techniques that are still used today. Each of these <em>honmen</em> has a name (e.g. Kojō, Chūjō, Tobide), which is retained as the name of the copy (<em>utsushi</em>), thus establishing identifiable iconography for each name-type. Excellent <em>utsushi</em> masks made according to the dimensions and expression of the <em>honmen</em> became viable theatrical tools and are seen as having their own intrinsic identity. As <em>honmen</em> are used as reference masks, the process of creating <em>utsushi</em> naturally results in the creation of a great number of spin-off masks, expanding the range of choice in the portrayal of a character.</p>

  <p>
  Noh masks are carved using only natural materials and hand tools. A single block of <em>hinoki</em> (Japanese cypress) is carved into the shape of the mask, then it is covered with a white primer made with crushed shell and animal glue. The mask is then painted with natural pigments and, depending on the type, is covered with thin layers of brownish paint which create a patina of age while giving depth and highlighting details. Finally, the carver may deliberately scratch or scar parts of the mask to give it an ‘older’ look. No fixing agent or varnish is added on top of the mask, making it prone to further damage.</p>

  <p>
  Today both ancient masks and copies are used in performance. Regardless of age, actors treat masks with the utmost care, bowing to them before using them in performance to express respect for the tradition they represent. It is thanks to this carefulness that ancient masks can still be used on stage today, after centuries of use.
</p>

<h3 id="Hashitomi">Hashitomi</h3>
{% include image-no-background.html src="/assets/images/Ko-omote3.png" %}
<h4>Mask: ‘Ko-omote’</h4>
<p>The name of this type of mask means ‘small face’. The use varies depending on the shite school. Kongō school uses Ko-omote to portray any kind of young female character: from a country girl to a court lady, from a flower spirit to a goddess.</p>

<p>Ko-omote represents the idealized face of an aristocratic young woman from the Heian period (794-1185), which was considered as the standard of elegance in medieval Japan. Ko-omote masks feature a fair complexion, with three thick hairlines neatly combed along the sides and fuzzy eyebrows painted high on the forehead. The teeth are dyed black. This make-up and hairstyle follow Heian-period aesthetics, though the mask may be used to portray any kind of female character, even from later eras. The mask’s plump cheeks and small lips, and the proportions of the small triangle formed between the eyes, nose and mouth give the mask a youthful look.</p>

{% include image-no-background.html src="/assets/images/Ko-omote2.png" %}

<p>The mask is used in combination with a, long black wig (<em>kazura</em>) which, in the case of Hashitomi, is kept bound behind the neck, and hidden under the upper garment. The hair wig is parted in the middle and combed along the sides of the face, in correspondence with the painted hair. The ears of the actor are hidden under the hair.</p>

<p>In the case of Hashitomi, Ko-omote is the standard choice in the Kongō school to represent the face of Yūgao, a young aristocratic lady from the Heian period. The Kanze school uses Waka-onna, offering the alternatives of Ko-omote and Fukai, the mask of a middle-aged woman. The Hōshō school uses its standard young woman mask, Fushikizō.</p>
{% include image-no-background.html src="/assets/images/Ko-omote1.png" %}
<p>Shimo-gakari shite schools (Konparu, Kongō, and Kita) schools use Ko-omote for both shite and tsure (companion) roles, though they often distinguish between specific Ko-omote masks reserving certain ones for shite roles and assigning others with less complex expressions for tsure roles. The Kongō school treasures one of the most famous Ko-omote masks, called Yuki-no-Ko-omote (snow Ko-omote), which is said to have been created by the renown mask carver Tatsuemon in the Muromachi period (1338-1573).</p>

<h3 id="Kokaji">Kokaji</h3>
{% include image-no-background.html src="/assets/images/Doji2.png" %}

<h4>First Act Mask: ‘Dōji’</h4>

<p>The name of this mask means ‘boy’. The mask is used invariably for either a deity or a spirit in disguise in the first half of a play (e.g. <em>Tamura</em>, <em>Kokaji</em>, <em>Shakkyō</em>) or for roles of Chinese immortal (<em>Makura-jidō</em>, <em>Hōsō</em>, etc.). According to nō conventions, masks are not used for roles of adult males, unless the character is the personification of a supernatural creature or some other kind of special character.</p>
{% include image-no-background.html src="/assets/images/Doji3.png" %}
<p>The mask represents the face of a boy, with natural eyebrows, elongated eyes, and a natural smile. The expression is devoid of any wrinkle or furrows, contributing to a youthful look. The painted uncombed hair suggests a young age and is matched with the large black <em>kashira</em> wig used in combination with this mask.</p>
{% include image-no-background.html src="/assets/images/Doji1.png" %}

<h4 id="Kokaji2">Second Act Mask: ‘Kotobide’</h4>

<p>The mask used in the second half of the play may depend on the shite school and on the performance variant. The typical choice for the standard version of the play is Kotobide. The name of this mask means ‘small jump/pop-out’ and it describes its eyes, which appear as if they were popping out of the eye-sockets. ‘Small’ refers to the fact that there is a ‘large’ version of the mask (Ōtobide), used in other contexts. Kotobide is used for roles such as the deity of Mt. Inari in the form of a fox-god ‘(<em>Kokaji</em>) or the evil fox-spirit Tamamo no mae (<em>Sesshōseki</em>).</p>
{% include image-no-background.html src="/assets/images/O-tobide1.png" %}
<p>While the standard Kotobide has a reddish complexion, in the Kongō school performance analyzed in this website a variant type of the same mask, called Dei-kotobide (‘golden kotobide’) was used instead. Dei-kotobide is entirely covered with gold paint and features golden metal inserts for the eyes. According to noh conventions, gold symbolizes the supernatural nature of a character. The arched eyebrows, open wide round eyes, open mouth, and pointed mustache give the impression of an outburst of energy. Depending on the school and performance variant, the mask is used in combination with red or white kashira wig.</p>

{% include image-no-background.html src="/assets/images/O-tobide2.png" %}

<p>The sculptural features of a mask differ from item to item. The one used in the performance filmed for this project is essentially the same as the standard Kotobide, except that its surface is painted gold instead of red. However, other Dei-kotobide are closer to the larger Ōtobide, which is used for the rain and thunder deity Wake-ikazuchi in <em>Kamo</em>, or for performance variants of <em>Kokaji</em>.</p>
<p>The mask used in the performance filmed is a Dei-kotobide carved by Iseki Bitchū no jō (Momoyama period)</p>

<h4 id="Kokaji3">Ai-kyōgen Mask: ‘Noborihige’</h4>

{% include image-no-background.html src="/assets/images/Kyogen-mask2.png" %}
<p>Kyōgen masks tend to have exaggerated features and are often used to portray supernatural characters. Noborihige mask represents the face of a smiling rustic old man. Its name means ‘raising beard’, referring to its bristling-up sideburns. Other features are deep wrinkles, a toothless smile, and eyes carved in the shape of circumflex accents. <em>Noborihige</em> is mostly used in ai-kyōgen interludes for roles of <em>massha</em> (subsidiary deity) but may also be used for other kyōgen roles. </p>
{% include image-no-background.html src="/assets/images/Kyogen-mask1.png" %}

</div>
</section>
</div>

</main>
