{% assign player_id = include.src | append: "_player" %}
{% assign controls_id = include.src | append: "_controls" %}

<li class="mini-cards__element">
  <audio id="{{ player_id }}">
    <source src="{{ include.src }}" type="audio/mpeg">
    No browser audio support.
  </audio>
  <div id="{{ controls_id }}">{{include.text}}</div> 
</li>
<script>
  var controls = document.getElementById("{{ controls_id }}");
  var player = document.getElementById("{{ player_id }}");

  player.onended = function() {
    controls.classList.remove('audio_playing');
  }

  controls.onclick = function() {
    if (controls.classList.contains('audio_playing')) {
      controls.classList.remove('audio_playing');
      player.pause();
    } else {
      controls.classList.add('audio_playing');
      player.play();
    }
  }
</script>