<footer class="footer">

  <div class="wrapper">

    <div class="footer__content">
      <div class="row row--center-x">
        <div class="col col-3">
          <div class="footer__logo">
            <a href="/" class="logo">{% include icons/isotype-large.svg %}</a>
          </div>
        </div>

        <div class="col col-3">
          <ul class="footer__nav">
            <li class="footer__nav-title">Elements</li>
            <li class="footer__nav-link"><a href="/form/">Form</a></li>
            <li class="footer__nav-link"><a href="/actors/">Actors</a></li>
            <li class="footer__nav-link"><a href="/music/">Music</a></li>
            <li class="footer__nav-link"><a href="/about-movement/">Movement</a></li>
            <li class="footer__nav-link"><a href="/text/">Text</a></li>
            <li class="footer__nav-link"><a href="/staging/">Staging</a></li>
            <li class="footer__nav-link"><a href="/catalog-of-shodan/">* Catalog of Shōdan</a></li>
            <li class="footer__nav-link"><a href="/movement/">* Catalog of Kata</a></li>
          </ul>
        </div>

        <div class="col col-3">
          <ul class="footer__nav">
            <li class="footer__nav-title"><a href="/plays/">Plays</a></li>
            <li class="footer__nav-link"><a href="/plays/">Why These Two Plays? </a></li>
            <li class="footer__nav-link"><a href="/hashitomi/">Hashitomi </a> <a href="/hashitomi/oshirabe/">| Sections</a></li>
            <li class="footer__nav-link"><a href="/kokaji/">Kokaji </a><a href="/kokaji/oshirabe/">| Sections</a></li>
          </ul>
          <ul class="footer__nav">
            <li class="footer__nav-title"><a href="/about-intermedia/">Intermedia</a></li>
            <li class="footer__nav-link"><a href="/about-intermedia/#intermedia-intro">À propos</a></li>
            <li class="footer__nav-link"><a href="/about-intermedia/#noh-as-intermedia">Noh as Intermedia</a></li>
          </ul>


        </div>


        <div class="col col-3">

          <ul class="footer__nav">
            <li class="footer__nav-title"><a href="/">ABOUT</a></li>
          </ul>
          <ul class="footer__nav">
            <li class="footer__nav-link"><a href="/guide/">Guide</a></li>
            <li class="footer__nav-link"><a href="/credits/">Credits</a></li>
            <li class="footer__nav-link"><a href="/terms-of-use/">Terms of Use</a></li>
            <li class="footer__nav-link"><a href="mailto:contact-noh@lists.stanford.edu?subject=Noh as Intermedia">Contact us</a></li>

          </ul>

        </div>
      </div>
    </div>

    <div class="footer__copyright">
      <p>© Fujita/Kapuscinski/Rose 2019, All rights reserved.</p>
    </div>
  </div>

</footer>
