<div class="header__content">
  <a href="/" class="logo">
    <span class="logo--standard">
        {% include icons/logo.svg %}
    </span>
    <span class="logo--isotype">
      {% include icons/isotype-small.svg %}
    </span>
  </a>
  
  
  <nav class="header__nav">
    <ul>
      <li class="{% if page.menu-active == 'intermedia' or page.menu-active == 'intermedia' %}active{% endif %}">
        <a class="header__main-link" href="/about-intermedia/">About intermedia</a>
      </li>
      <li class="{% if page.menu-active == 'plays' or page.menu-active == 'plays' %}active{% endif %}">
        <a class="header__main-link" href="/plays/">Plays</a>
      </li>
      <li class="dropdown-menu{% if page.menu-active == 'elements' %} active{% endif %}">
        <a href="#" class="header__main-link dropdown-menu__trigger">Elements of Noh</a>
        <ul class="dropdown-menu__list">
          <li class="dropdown-menu__title">Elements of Noh</li>
          <li class="#"><a href="/music/">Music</a></li>
          <li class="#"><a href="/movement/">Movement</a></li>
          <li class="#"><a href="/libretti/">Libretti</a></li>
          <li class="#"><a href="/staging/">Staging</a></li>
          <li class="#"><a href="/catalog-of-shodan/">Catalog of Shōdan</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>