<div class="header__content">
  <a href="/" class="logo">
    <span class="logo--standard">
      {% include icons/logo.svg %}
    </span>
    <span class="logo--isotype">
      {% include icons/isotype-small.svg %}
    </span>
  </a>

  <nav class="header__nav">
    <ul>
      <li class="dropdown-menu">
        <span class="header__main-link dropdown-menu__trigger">Elements</span>
        <ul class="dropdown-menu__list">
          <li><a href="/form/">Form</a></li>
          <li><a href="/actors/">Actors</a></li>
          <li><a href="/music/">Music</a></li>
          <li><a href="/about-movement/">Movement</a></li>
          <li><a href="/text/">Text</a></li>
          <li><a href="/staging/">Staging</a></li>
        </ul>
      </li>
      {% if page.layout == 'play' or page.layout == 'section' %}
      <li>
        <a class="header__main-link" onClick="{introJs().start();}">Guide</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
