<div class="home-play">
  <div
    class="home-play__image"
    style="background-image: url({{ include.image }})"
  ></div>
  <div class="home-play__content">
    <h3 class="home-play__title">{{ include.title }}</h3>
    <p class="home-play__description">{{ include.description }}</p>
    <ul>
      <li>
        <a href="{{ include.link }}" class="home-button--regular"
          >{{ include.link-text | default: "Intermedia analysis" }}</a
        >
        {% if include.link-catalog %}
        <a href="{{ include.link-catalog }}" class="home-button--catalog"
          >See the {{ include.name-catalog }}</a
        >
        {% endif %}
      </li>
    </ul>
  </div>
</div>
