<div
  class="home-element {% if include.reverse %} home-element--reverse {% endif %}"
>
  <div
    class="home-element__image"
    style="background-image: url({{ include.image }})"
  ></div>
  <div class="home-element__content">
    <div class="home-element__text">
      <h3 class="home-element__title">{{ include.title }}</h3>
      <p class="home-element__description">{{ include.description }}</p>
    </div>
    <div class="home-element__actions">
      <ul>
        {% if include.link-catalog %}
        <li>
          <a href="{{ include.link-catalog }}" class="home-button--catalog"
            >See the {{ include.name-catalog }}</a
          >
        </li>
        {% endif %}
        <li>
          <a href="{{ include.link }}" class="home-button--regular"
            >Go to {{ include.title }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
