<ul class="mini-cards__container">
{% include audio-clip.html src="kotsuzumi-yo-noncongruent_01.m4a" text="yo (flexible)" %}
{% include audio-clip.html src="kotsuzumi-yo.m4a" text="yo (strict)" %}
{% include audio-clip.html src="kotsuzumi-ho.m4a" text="ho (flexible)" %}
{% include audio-clip.html src="kotsuzumi-ho-noncongruent_01.m4a" text="ho (strict)" %}

{% include audio-clip.html src="kotsuzumi-iya_01.m4a" text="iya (flexible)" %}
{% include audio-clip.html src="kotsuzumi-iyo.m4a" text="iyo (strict)" %}
</ul>
