<div class="tabs-container">
  <div class="tabs-container__links">
    <div class="wrapper">
      <div id="tabs"></div>
    </div>
  </div>
  <div class="tabs-container__content">
    <div class="wrapper">
      <section id='Po' title='Po' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Kotsuzumi-Pon.mp4"
        link=""
        title="Low, strong and resonant"
      %}
      </section>
      <section id='Pu' title='Pu' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Kotsuzumi-Pu.mp4"
        link=""
        title="Lower, strong and resonant"
      %}
      </section>
      <section id='Ta' title='Ta' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Kotsuzumi-Ta.mp4"
      link=""
      title="High, strong and dampened"
      %}
      </section>
      <section id='Chi' title='Chi' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Kotsuzumi-Chi.mp4"
        link=""
        title="High, weak and dampened"
      %}
      </section>
    </div>
  </div>
</div>
