<h4>Intermedia</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#intermedia-intro">Introduction</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'sound' %}active{% endif %}">
    <a href="#intermedia-tools">Tools of Analysis</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'sound' %}active{% endif %}">
    <a href="#noh-as-intermedia">Noh as Intermedia</a>
  </li>
</ul>
