<h4>Kokaji</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Act1">Act 1</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="#Waki-enters">Waki Enters</a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="#Nanori">Nanori</a></li>
          <li class="anchor-menu__element"><a href="#Mondo-1">Mondō 1</a></li>
          <li class="anchor-menu__element"><a href="#Ageuta-1">Ageuta 1</a></li>
      </ul>
      <li class="anchor-menu__element"><a href="#Shite-enters">Shite Enters</a>
        <ul class="anchor-menu">
            <li class="anchor-menu__element"><a href="#Dialogue">Dialogue</a></li>
            <li class="anchor-menu__element"><a href="#Monologue">Monologue</a></li>
        </ul>
      </li>
      <li class="anchor-menu__element"><a href="#Dialogue">Dialogue</a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="#Mondo-2">Mondō 2</a></li>
          <li class="anchor-menu__element"><a href="#Ageuta-2">Ageuta 2</a></li>
      </ul>
      <li class="anchor-menu__element"><a href="#Shite-performs">Shite Performs</a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="#Kuri">Kuri</a></li>
          <li class="anchor-menu__element"><a href="#Sashi">Sashi</a></li>
          <li class="anchor-menu__element"><a href="#Kuse">Kuse</a></li>
      </ul>
      <li class="anchor-menu__element"><a href="#Shite-exits">Shite Exits</a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="#Kakeai-1">Kakeai 1</a></li>
          <li class="anchor-menu__element"><a href="#Ageuta-3">Ageuta 3</a></li>
          <li class="anchor-menu__element"><a href="#Raijo">Raijo</a></li>
      </ul>
    </ul>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Aikyogen">Aikyogen</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Act2">Act 2</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="#Waki-waits">Waki Waits</a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="#Notto">Notto</a></li>
          <li class="anchor-menu__element"><a href="#Noriji-1">Noriji 1</a></li>
      </ul>
      <li class="anchor-menu__element"><a href="#Shite-performs2">Shite Performs</a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="#Noriji-2">Noriji 2</a></li>
          <li class="anchor-menu__element"><a href="#Maibataraki">Maibataraki</a></li>
          <li class="anchor-menu__element"><a href="#Noriji-3">Noriji 3</a></li>
      </ul>
      <li class="anchor-menu__element"><a href="#Shite-exits2">Shite Exits</a></li><ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="#Kakeai-2">Kakeai 2</a></li>
          <li class="anchor-menu__element"><a href="#Kiri">Kiri</a></li>
      </ul>
    </ul>
  </li>
</ul>
