<h4>Movement</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Formal">Formal Kata</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
      <a href="#Mimetic">Mimetic Kata</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Shimai">Shimai and Maibayashi</a>
  </li>
</ul>
