<ul class="card-menu card-menu--large">
  <li>
    <a href="/staging/stage/" class="card-menu__element" style="background-image: url('/assets/images/Kongo_Stage_lg.jpg');">
      <span>Stage</span>
    </a>
  </li>
  <li>
    <a href="/staging/masks/" class="card-menu__element" style="background-image: url('/assets/images/Kokaji-mask1.png');">
      <span>Masks</span>
    </a>
  </li>
  <li>
    <a href="/staging/costumes/" class="card-menu__element" style="background-image: url('/assets/images/Kokaji-costume-fg.png');">
      <span>Costumes</span>
    </a>
  </li>
  <li>
    <a href="/staging/props/" class="card-menu__element" style="background-image: url('/assets/images/wand.png');">
      <span>Properties</span>
    </a>
  </li>
</ul>
