<h4>Hashitomi</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Act1">ACT 1</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="#Waki-enters"><strong>Waki Enters</strong></a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="#Nanori">Nanori</a></li>
          <li class="anchor-menu__element"><a href="#Kakaru-1">Kakaru 1</a></li>
      </ul>
      <li class="anchor-menu__element"><a href="#Shite-enters"><strong>Shite Enters</strong></a>
        <ul class="anchor-menu">
            <li class="anchor-menu__element"><a href="#next">Song</a></li>
        </ul>
      </li>
      <li class="anchor-menu__element"><a href="#Dialogue"><strong>Dialogue</strong></a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="#Kakeai">Kakeai</a></li>
          <li class="anchor-menu__element"><a href="#Kakaru-2">Kakaru 2</a></li>
      </ul>
      <li class="anchor-menu__element"><a href="#Shite-exits"><strong>Shite Exits</strong></a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="#Ageuta-1">Ageuta 1</a></li>
      </ul>
    </ul>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Aikyogen">AIKYOGEN</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Act2">ACT 2</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="#Waki-waits">Waki Waits</a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="#Kakaru-3">Kakaru 3</a></li>
      </ul>
      <li class="anchor-menu__element"><a href="#Shite-re-enters">Shite Re-nters</a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="#Issei">Issei</a></li>
          <li class="anchor-menu__element"><a href="#Sageuta">Sageuta 2</a></li>
          <li class="anchor-menu__element"><a href="#Ageuta-2">Ageuta 2</a></li>
      </ul>
      <li class="anchor-menu__element"><a href="#Dialogue2">Dialogue</a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="#Rongi">Rongi</a></li>
      </ul>
      <li class="anchor-menu__element"><a href="#Shite-performs2">Shite Performs</a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="#Kuse">Kuse</a></li>
      </ul>
      <li class="anchor-menu__element"><a href="#Shite-exits2">Shite Exits</a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="#Waka">Waka</a></li>
          <li class="anchor-menu__element"><a href="#Kiri">Kiri</a></li>
      </ul>
    </ul>
  </li>
</ul>
