<h4>Voices</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="/music/voices/">Actors</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'sound' %}active{% endif %}">
    <a href="/music/vocal-sounds/">Vocal Sounds</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="takane.html">Spoken</a></li>
        <ul class="anchor-menu">
            <li class="anchor-menu__element"><a href="takane.html">Hashitomi-Nanori-Inflection</a></li>
            <li class="anchor-menu__element"><a href="takane-hane.html">Kokaji-Nanori-Inflection</a></li>
            <li class="anchor-menu__element"><a href="takanemikusari.html">Kokaji-Mondō-Inflection</a></li>
        </ul>
      </li>
      <li class="anchor-menu__element"><a href="hishigi-takane.html">Chanted</a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="takane.html">Yowagin</a></li>
          <li class="anchor-menu__element"><a href="takane-hane.html">Tsuyogin</a></li>
      </ul>
    </ul>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'rhythm' %}active{% endif %}">
    <a href="/music/vocal-rhythms">Vocal Rhythms</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="takane.html">Congruent</a></li>
        <ul class="anchor-menu">
            <li class="anchor-menu__element"><a href="takane.html">Hiranori</a></li>
            <ul class="anchor-menu">
                <li class="anchor-menu__element"><a href="takane.html">Tsuzuke utai </a></li>
                <li class="anchor-menu__element"><a href="takane-hane.html">Mitsuji utai</a></li>
                <li class="anchor-menu__element"><a href="takanemikusari.html">Examples in context</a></li>
            </ul>
            <li class="anchor-menu__element"><a href="takane-hane.html">Onori</a></li>
            <li class="anchor-menu__element"><a href="takanemikusari.html">Chunori</a></li>
        </ul>
      </li>
      <li class="anchor-menu__element"><a href="hishigi-takane.html">Non-conruent</a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="takane.html">Sashinori</a></li>
          <li class="anchor-menu__element"><a href="takane-hane.html">Einori</a></li>
      </ul>
    </ul>
  </li>
</ul>
