<div class="card-menu card-menu--large">
  <div class="row row--center-x">
    <div class="col col-2">
      <a href="/text-hashitomi/" class="card-menu__element" style="background-image: url('/assets/images/Hashitomi-Shite2.png');">
        <span>Hashitomi<br>Text</span>
      </a>
    </div>
    <div class="col col-2">
      <a href="/text-kokaji/" class="card-menu__element" style="background-image: url('/assets/images/Kokaji-Shite2.png');">
        <span>Kokaji<br>Text</span>
      </a>
    </div>
  </div>
</div>
