<h4>Text</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Poetry">Poetry</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="#Rhythmic-R">Regular Rhythm</a></li>
      <li class="anchor-menu__element"><a href="#Rhythmic-I">Irregular Rhythm</a></li>
      <li class="anchor-menu__element"><a href="#Arhythmic">Arhythmic</a></li>
      </ul>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
      <a href="#Prose">Prose</a>
  </li>
</ul>
