<h4>Form</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element">
    <a href="#Intro">Introduction</a>
  </li>
  <li class="anchor-menu__element">
      <a href="#Dan">Dan</a></li>
  <li class="anchor-menu__element">
      <a href="#shodan">Shōdan</a></li>
  <li class="anchor-menu__element">
          <a href="#modularity">Modularity</a></li>

  <li class="anchor-menu__element">
          <a href="#Both">Form of the Plays</a>
      <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="#Hashitomi">Hashitomi</a></li>
      <li class="anchor-menu__element"><a href="#Kokaji">Kokaji</a></li>
      </ul>
      </li>
  <li class="anchor-menu__element">
                      <a href="#ITI">Intermedia Texture Index</a></li>
  <li class="anchor-menu__element"><a href="/catalog-of-shodan/" target="_blank"><strong>Catalog of Shōdan</strong></a>
        </li>

</ul>
