<ul class="card-menu card-menu--large">
  <li>
    <a
      href="/form-of-plays/"
      class="card-menu__element"
      style="background-image: url('/assets/images/Hashi2.jpg');"
    >
      <span>Form of the Plays</span>
    </a>
  </li>
  <li>
    <a
      href="/IoI/"
      class="card-menu__element"
      style="background-image: url('/assets/images/IoI.png');"
    >
      <span>Index of Intermedia</span>
    </a>
  </li>
  <li>
    <a
      href="/catalog-of-shodan/"
      class="card-menu__element"
      style="background-image: url('/assets/images/Kongo_Stage_sm.png');"
    >
      <span>Catalog of Shōdan</span>
    </a>
  </li>
</ul>
