<h4>Intermedia</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#intermedia-intro">À propos</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'sound' %}active{% endif %}">
    <a href="#noh-as-intermedia">Noh as Intermedia</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="#breath">The Breath of Yin and Yang</a></li>

      <li class="anchor-menu__element"><a href="#fluidity">Fluidity of Time, Space and Identity</a></li>
      <li class="anchor-menu__element"><a href="#abstraction">Engaging Abstraction</a></li>
      <li class="anchor-menu__element"><a href="#Kurai"><em>Kurai</em></a></li>
    </ul>
  </li><br>
  <li class="anchor-menu__element"><a href="/form/#ITI" target="_blank"><strong>Intermedia Texture Index</strong></a></li>
</ul>
