<nav class="third-level-menu__container">
  <div class="wrapper">
    <ul class="card-menu card-menu--small">
      <li class="{% if page.third-level-menu-active == 'introduction' %}active{% endif %}"><a href="/music/" class="card-menu__element" style="background-image: url('/assets/images/curtain.png');"><span>Introduction</span></a></li>
      <li class="{% if page.third-level-menu-active == 'voices' %}active{% endif %}"><a href="/music/voices/" class="card-menu__element" style="background-image: url('/assets/images/voices2.png');"><span>Voices</span></a></li>
      <li class="{% if page.third-level-menu-active == 'taiko' %}active{% endif %}"><a href="/music/taiko/" class="card-menu__element" style="background-image: url('/assets/images/taiko1.png');"><span>Taiko</span></a></li>
      <li class="{% if page.third-level-menu-active == 'otsuzumi' %}active{% endif %}"><a href="/music/otsuzumi-kotsuzumi/" class="card-menu__element" style="background-image: url('/assets/images/otsu-kotsu.png');"><span>Ōtsuzumi & Kotsuzumi</span></a></li>
      <li class="{% if page.third-level-menu-active == 'nohkan' %}active{% endif %}"><a href="/music/nohkan/" class="card-menu__element" style="background-image: url('/assets/images/nohkan2.png');"><span>Nohkan</span></a></li>
      <li class="{% if page.third-level-menu-active == 'notation' %}active{% endif %}"><a href="/music/notation/" class="card-menu__element" style="background-image: url('/assets/images/utaibon.png');"><span>Notation</span></a></li>
    </ul>
  </div>
</nav>
