<h4>Shimai Dances</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Intro">Introduction</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Hashitomi-Kuse-Front">Hashitomi</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
      <a href="#Kokaji-Kuse-Front">Kokaji</a>
  </li>
</ul>
