<nav class="third-level-menu__container">
  <div class="wrapper">
    <ul class="card-menu card-menu--small">
      <li class="{% if page.third-level-menu-active == 'introduction' %}active{% endif %}"><a href="/about-movement/" class="card-menu__element" style="background-image: url('/assets/images/utaibon.png');"><span>Introduction</span></a></li>
      <li class="{% if page.third-level-menu-active == 'kata' %}active{% endif %}"><a href="/movement/" class="card-menu__element" style="background-image: url('/assets/images/movement/figure-eight-fan.jpg');"><span>Catalog of Kata</span></a></li>
      <li class="{% if page.third-level-menu-active == 'dances' %}active{% endif %}"><a href="/shimai-dances/" class="card-menu__element" style="background-image: url('/assets/images/movement/shimai.png');"><span>Shimai Dances</span></a></li>
    </ul>
  </div>
</nav>
