<h4>Taiko</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Strokes">Strokes</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Kakegoe">Kakegoe</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'rhythm' %}active{% endif %}">
    <a href="#Patterns">Rhythmic Organization</a>
  </li>
</ul>
