<h4>Taiko</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Sounds">Sounds</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="#Kakegoe">Kakegoe</a></li>
    </ul>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'rhythm' %}active{% endif %}">
    <a href="#Patterns">Rhythmic Organization</a>
  </li>
</ul>
