<h4>Hashitomi</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Act1">Act 1</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="#Waki-enters">Waki Enters</a></li>
      <ul class="anchor-menu">
          <li class="anchor-menu__element"><a href="#Nanori">Nanori</a></li>
          <li class="anchor-menu__element"><a href="#Kakaru-1">Kakaru 1</a></li>
      </ul>
      <li class="anchor-menu__element"><a href="#Shite-enters">Shite Enters</a>
        <ul class="anchor-menu">
            <li class="anchor-menu__element"><a href="#Ashirai">Ashirai</a></li>
            <li class="anchor-menu__element"><a href="#next">next</a></li>
        </ul>
      </li>
      <li class="anchor-menu__element"><a href="#Dialog">Dialog</a></li>
      <li class="anchor-menu__element"><a href="#Shite-performs">Shite Performs</a></li>
      <li class="anchor-menu__element"><a href="#Shite-exits">Shite Exits</a></li>
    </ul>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Aikyogen">Aikyogen</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Act2">Act 2</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="#Waki-waits">Waki Enters</a></li>
      <li class="anchor-menu__element"><a href="#Shite-re-enters">Shite Enters</a></li>
      <li class="anchor-menu__element"><a href="#Dialog2">Dialog</a></li>
      <li class="anchor-menu__element"><a href="#Shite-performs2">Shite Performs</a></li>
      <li class="anchor-menu__element"><a href="#Shite-exits2">Shite Exits</a></li>
    </ul>
  </li>
</ul>
