<ul class="card-menu card-menu--large">
  <li>
    <a
      href="/form-of-plays/"
      class="card-menu__element"
      style="background-image: url(&quot;/assets/images/Hashi2.jpg&quot;)"
    >
      <span>Form of the Plays</span>
    </a>
  </li>
  <li>
    <a
      href="/IoI/"
      class="card-menu__element"
      style="background-image: url(&quot;/assets/images/IoI.png&quot;)"
    >
      <span>Index of Intermedia</span>
    </a>
  </li>
  <li>
    <a
      href="/shodan-in-okina/"
      class="card-menu__element"
      style="background-image: url(&quot;/assets/images/Okina_sm.png&quot;)"
    >
      <span>Shōdan in Okina</span>
    </a>
  </li>
  <li>
    <a
      href="/catalog-of-shodan/"
      class="card-menu__element"
      style="
        background-image: url(&quot;/assets/images/Kongo_Stage_sm.png&quot;);
      "
    >
      <span>Catalog of Shōdan</span>
    </a>
  </li>
</ul>
