<h4>Kokaji</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Act1">ACT 1</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="#Waki-enters">Waki Enters</a></li>

      <li class="anchor-menu__element"><a href="#Dialogue">Dialogue</a></li>
      <li class="anchor-menu__element"><a href="#Shite-performs">Shite Performs</a></li>
      <li class="anchor-menu__element"><a href="#Shite-exits">Shite Exits</a></li>
    </ul>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Aikyogen">AIKYŌGEN</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Act2">ACT 2</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="#Waki-waits">Waki Waits</a></li>
      <li class="anchor-menu__element"><a href="#Shite-performs2">Shite Performs</a></li>
      <li class="anchor-menu__element"><a href="#Shite-exits2">Shite Exits</a></li>
    </ul>
  </li>
</ul>
