<ul class="card-menu card-menu--large">
  <li>
    <a
      href="/text-takasago/"
      class="card-menu__element"
      style="background-image: url(&quot;/assets/images/Takasago3.png&quot;)"
    >
      <span>Takasago<br />Text</span>
    </a>
  </li>
  <li>
    <a
      href="/text-hashitomi/"
      class="card-menu__element"
      style="
        background-image: url(&quot;/assets/images/Hashitomi-Shite2.png&quot;);
      "
    >
      <span>Hashitomi<br />Text</span>
    </a>
  </li>
  <li>
    <a
      href="/text-kokaji/"
      class="card-menu__element"
      style="
        background-image: url(&quot;/assets/images/Kokaji-Shite2.png&quot;);
      "
    >
      <span>Kokaji<br />Text</span>
    </a>
  </li>
  <li>
    <a
      href="/text-okina/"
      class="card-menu__element"
      style="background-image: url(&quot;/assets/images/Okina3.png&quot;)"
    >
      <span>Okina<br />Text</span>
    </a>
  </li>
</ul>
