<h4>Takasago</h4>
<ul class="anchor-menu">
  <li
    class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}"
  >
    <a href="#act1">ACT 1</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element">
        <a href="#waki-enters">Waki Enters</a>
      </li>
      <li class="anchor-menu__element">
        <a href="#shite-enters">Shite Enters</a>
      </li>
      <li class="anchor-menu__element"><a href="#dialogue">Dialogue</a></li>
      <li class="anchor-menu__element">
        <a href="#shite-performs">Shite Performs</a>
      </li>
      <li class="anchor-menu__element">
        <a href="#shite-exits">Shite Exits</a>
      </li>
    </ul>
  </li>
  <li
    class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}"
  >
    <a href="#aikyogen">AIKYŌGEN</a>
  </li>
  <li
    class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}"
  >
    <a href="#act2">ACT 2</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element">
        <a href="#waki-waits">Waki Waits</a>
      </li>
      <li class="anchor-menu__element">
        <a href="#shite-re-enters">Shite Re-enters</a>
      </li>
      <li class="anchor-menu__element">
        <a href="#shite-performs-2">Shite Performs</a>
      </li>
      <li class="anchor-menu__element">
        <a href="#shite-exits-2">Shite Exits</a>
      </li>
    </ul>
  </li>
</ul>
