<h4>Movement</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element"><a href="#Intro" target="_top">Introduction</a></li>
  <li class="anchor-menu__element"><a href="#Kata">Kata</a>
    <ul class="anchor-menu">
    <li class="anchor-menu__element"><a href="#Formal">Formal</a></li>
    <li class="anchor-menu__element"><a href="#Mimetic">Mimetic</a></li>

    </ul>
  </li>

  <li class="anchor-menu__element"><a href="#Modes">Modes</a></li>
  <li class="anchor-menu__element"><a href="#Dances">Dances</a></li>
  <li class="anchor-menu__element"><a href="#Shimai">Shimai and Maibayashi</a>  </li>
<br>  <li class="anchor-menu__element"><a href="/shimai-dances/" target="_blank"><strong>Shimai Dances</strong></a></li>

  <li class="anchor-menu__element"><a href="/movement/" target="_blank"><strong>Catalog of Kata</strong></a></li>



</ul>
