<div class="card-menu card-menu--large">
  <div class="row row--center-x">

      <div class="col col-2">
        <a href="/form-of-plays/" class="card-menu__element" style="background-image: url('/assets/images/Hashi2.jpg');">
          <span>Form of the Plays</span>
        </a></div>
        <div class="col col-2">
        <a href="/IoI/" class="card-menu__element" style="background-image: url('/assets/images/IoI.png');">
          <span>Index of Intermedia</span>
        </a></div>
        <div class="col col-2">
        <a href="/catalog-of-shodan/" class="card-menu__element" style="background-image: url('/assets/images/Kongo_Stage_sm.png');">
          <span>Catalog of Shōdan</span>
        </a>
      </div>
  </div>
</div>
