<nav class="third-level-menu__container">
  <div class="wrapper">
    <ul class="card-menu card-menu--small">
      <li class="{% if page.third-level-menu-active == 'introduction' %}active{% endif %}"><a href="/staging/" class="card-menu__element" style="background-image: url('/assets/images/curtain.png');"><span>Introduction</span></a></li>
      <li class="{% if page.third-level-menu-active == 'stage' %}active{% endif %}"><a href="/staging/stage/" class="card-menu__element" style="background-image: url('/assets/images/Kongo_Stage_sm.png');"><span>Stage</span></a></li>
      <li class="{% if page.third-level-menu-active == 'masks' %}active{% endif %}"><a href="/staging/masks/" class="card-menu__element" style="background-image: url('/assets/images/Kokaji-mask1.png');"><span>Masks</span></a></li>
      <li class="{% if page.third-level-menu-active == 'costumes' %}active{% endif %}"><a href="/staging/costumes/" class="card-menu__element" style="background-image: url('/assets/images/Kokaji-costume-fg.png');"><span>Costumes</span></a></li>
      <li class="{% if page.third-level-menu-active == 'props' %}active{% endif %}"><a href="/staging/props/" class="card-menu__element" style="background-image: url('/assets/images/wand.png');"><span>Properties</span></a></li>
    </ul>
  </div>
</nav>
