<div class="card-menu card-menu--large">
  <div class="row row--center-x">
    <div class="col col-2">
      <a href="/staging/stage/" class="card-menu__element" style="background-image: url('/assets/images/Kongo_Stage_lg.jpg');">
        <span>Stage</span>
      </a>
    </div>

    <div class="col col-2">
      <a href="/staging/masks/" class="card-menu__element" style="background-image: url('/assets/images/Kokaji-mask1.png');">
        <span>Masks</span>
      </a>
    </div>
    <div class="col col-2">
      <a href="/staging/costumes/" class="card-menu__element" style="background-image: url('/assets/images/Kokaji-costume-fg.png');">
        <span>Costumes</span>
      </a>
    </div>
    <div class="col col-2">
      <a href="/staging/props/" class="card-menu__element" style="background-image: url('/assets/images/wand.png');">
        <span>Properties</span>
      </a>
    </div>

  </div>
</div>
