<h4>Costumes</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Intro">Introduction</a>
  </li>

  <li class="anchor-menu__element"><a href="#Hashitomi">Hashitomi</a>
  </li>
  <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="#Hashitomi-Shite1">Shite in Act I</a></li>
      <li class="anchor-menu__element"><a href="#Hashitomi-Shite2">Shite in Act II</a></li>
      <li class="anchor-menu__element"><a href="#Hashitomi-Waki">Waki</a></li>
      <li class="anchor-menu__element"><a href="#Hashitomi-Ai">Kyōgen</a></li>
  </ul>
  <li class="anchor-menu__element">
      <a href="#Kokaji">Kokaji</a>
  </li>
  <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="#Kokaji-Shite1">Shite in Act I</a></li>
      <li class="anchor-menu__element"><a href="#Kokaji-Shite2">Shite in Act II</a></li>
      <li class="anchor-menu__element"><a href="#Kokaji-Waki1">Waki in Act I</a></li>
      <li class="anchor-menu__element"><a href="#Kokaji-Waki2">Waki in Act II</a></li>
      <li class="anchor-menu__element"><a href="#Kokaji-Wakizure">Wakizure</a></li>
      <li class="anchor-menu__element"><a href="#Kokaji-Ai">Kyōgen</a></li>
  </ul>
  <li class="anchor-menu__element"><a href="#Non-actors">Musicians, Chorus<br>and Stage Attendants</a>
  </li>
  <li class="anchor-menu__element"><a href="#Comments">Comments</a>
  </li>
</ul>
