<h4>ABOUT THE PLAYS</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#plays-intro">Introduction</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'sound' %}active{% endif %}">
    <a href="#plays-Hashitomi">About Hashitomi</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'sound' %}active{% endif %}">
    <a href="#plays-Kokaji">About Kokaji</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'sound' %}active{% endif %}">
    <a href="#plays-stars">*****</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'sound' %}active{% endif %}">
    <a href="#plays-footnotes">footnotes</a>
  </li>
</ul>
