<div class="card-menu card-menu--large">
  <div class="row row--center-x">
    <div class="col col-2">
      <a href="/shimai-dances/" class="card-menu__element" style="background-image: url('/assets/images/movement/shimai.png');">
        <span>Shimai Dances</span>
      </a>
    </div>
    <div class="col col-2">
      <a href="/movement/" class="card-menu__element" style="background-image: url('/assets/images/movement/figure-eight-fan.jpg');">
        <span>Catalog of Kata</span>
      </a>
    </div>

  </div>
</div>
