<nav class="third-level-menu__container">
  <div class="wrapper">
    <ul class="card-menu card-menu--small">
      <li class="{% if page.third-level-menu-active == 'form' %}active{% endif %}"><a href="/form/" class="card-menu__element" style="background-image: url('/assets/images/nohkan-big.jpg');"><span>Introduction</span></a></li>
      <li class="{% if page.third-level-menu-active == 'form-of-plays' %}active{% endif %}"><a href="/form-of-plays/" class="card-menu__element" style="background-image: url('/assets/images/Hashi2.jpg');"><span>Form of the Plays</span></a></li>
      <li class="{% if page.third-level-menu-active == 'IoI' %}active{% endif %}"><a href="/IoI/" class="card-menu__element" style="background-image: url('/assets/images/IoI.png');"><span>Index of Intermedia</span></a></li>
      <li class="{% if page.third-level-menu-active == 'catalog-of-shodan' %}active{% endif %}"><a href="/catalog-of-shodan/" class="card-menu__element" style="background-image: url('/assets/images/Kongo_Stage_sm.png');"><span>Catalog of Shōdan</span></a></li>
    </ul>
  </div>
</nav>
