<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="/music/voices/">Actors</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="takane.html">Takane</a></li>
      <li class="anchor-menu__element"><a href="nakanotakane.html">Naka no takane</a></li>
      <li class="anchor-menu__element"><a href="takane-hane.html">Takane hane</a></li>
      <li class="anchor-menu__element">
        <a href="takanemikusari.html">Takane mi kusari</a>
        <ul class="anchor-menu">
            <li class="anchor-menu__element"><a href="takane.html">Takane</a></li>
            <li class="anchor-menu__element"><a href="takane-hane.html">Takane hane</a></li>
            <li class="anchor-menu__element"><a href="takanemikusari.html">Takane mi kusari</a></li>
        </ul>      
      </li>
      <li class="anchor-menu__element"><a href="hishigi-takane.html">Hishigi takane</a></li>
      <li class="anchor-menu__element"><a href="hishigi.html">Hishigi</a></li>
      <li class="anchor-menu__element"><a href="rokunoge.html">Roku no ge</a></li>
      <li class="anchor-menu__element"><a href="mirokunoge.html">Miroku no ge</a></li>
      <li class="anchor-menu__element"><a href="tomenote.html">Tome no te</a></li>
    </ul>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'sound' %}active{% endif %}">
    <a href="/music/vocal-sounds/">Vocal Sounds</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'rhythm' %}active{% endif %}">
    <a href="/music/vocal-rhythms">Vocal Rhythms</a>
  </li>
</ul>
