<h4>Okina</h4>
<ul class="anchor-menu">
  <li
    class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}"
  >
    <a href="#act1-okina">ACT 1 - OKINA</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element">
        <a href="#introductory-song">Introductory Song</a>
      </li>
      <li class="anchor-menu__element">
        <a href="#senzai-performs">Senzai Performs</a>
      </li>
      <li class="anchor-menu__element"><a href="#encounter-act1">Encounter</a></li>
      <li class="anchor-menu__element"><a href="#okina-prays">Okina Prays</a></li>
      <li class="anchor-menu__element">
        <a href="#okina-performs">Okina Performs</a>
      </li>
    </ul>
  </li>
  <li
    class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}"
  >
    <a href="#furyu">FURYŪ</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element">
        <a href="#furyusenzai-enters">Furyūsenzai Enters</a>
      </li>
      <li class="anchor-menu__element">
        <a href="#furyu-enters">Furyū Enters</a>
      </li>
      <li class="anchor-menu__element">
        <a href="#furyu-performs">Furyū Performs</a>
      </li>
    </ul>
  </li>
  <li
    class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}"
  >
    <a href="#sanbaso">ACT 2 - SANBASŌ</a>
    <ul class="anchor-menu">
      <li class="anchor-menu__element">
        <a href="#kyogen-performs">Kyōgen Performs</a>
      </li>
      <li class="anchor-menu__element"><a href="#encounter-act2">Encounter</a></li>
    </ul>
  </li>
</ul>
