<ul class="anchor-menu">
  <ul class="anchor-menu">
    <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}"><a href="/music/voices/">Actors</a></li>
    <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'sound' %}active{% endif %}"><a href="/music/vocal-sounds/">Vocal Sounds</a></li>
    <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'rhythm' %}active{% endif %}"><a href="/music/vocal-rhythms">Vocal Rhythms</a></li>
  </ul>
</ul>
