<h4>Masks</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Intro">Introduction</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Hashitomi">Hashitomi</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
      <a href="#Kokaji">Kokaji</a>
  </li>
  <ul class="anchor-menu">
      <li class="anchor-menu__element"><a href="#Kokaji">Act I</a></li>
      <li class="anchor-menu__element"><a href="#Kokaji2">Act II</a></li>
      <li class="anchor-menu__element"><a href="#Kokaji3">Ai-kyōgen</a></li>
  </ul>
</ul>
