<nav class="third-level-menu__container">
  <div class="wrapper">
    <ul class="card-menu card-menu--small">
      <li class="{% if page.third-level-menu-active == 'introduction' %}active{% endif %}"><a href="/text/" class="card-menu__element" style="background-image: url('/assets/images/utaibon.png');"><span>Introduction</span></a></li>
      <li class="{% if page.third-level-menu-active == 'hashitomi' %}active{% endif %}"><a href="/text-hashitomi/" class="card-menu__element" style="background-image: url('/assets/images/Hashitomi-Shite2.png');"><span>Hashitomi<br>Text</span></a></li>
      <li class="{% if page.third-level-menu-active == 'kokaji' %}active{% endif %}"><a href="/text-kokaji/" class="card-menu__element" style="background-image: url('/assets/images/Kokaji-Shite2.png');"><span>Kokaji<br>Text</span></a></li>
    </ul>
  </div>
</nav>
