<div class="card-menu card-menu--large">
  <div class="row row--center-x">
    <div class="col col-2">
      <a href="/music/voices/" class="card-menu__element" style="background-image: url('/assets/images/voices-small.jpg');">
        <span>Stage</span>
      </a>
    </div>
    <div class="col col-2">
      <a href="/music/taiko/" class="card-menu__element" style="background-image: url('/assets/images/taiko-small.jpg');">
        <span>Props</span>
      </a>
    </div>
    <div class="col col-2">
      <a href="/music/otsuzumi-kotsuzumi/" class="card-menu__element" style="background-image: url('/assets/images/otsuzumi-kotsuzumi-small.jpg');">
        <span>Costumes</span>
      </a>
    </div>
    <div class="col col-2">
      <a href="/music/nohkan/" class="card-menu__element" style="background-image: url('/assets/images/nohkan-small.jpg');">
        <span>Masks</span>
      </a>
    </div>
  </div>
</div>
