<h4>Ōtsuzumi & Kotsuzumi</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Otsu-strokes">Ōtsuzumi Strokes</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Kotsu-strokes">Kotsuzumi Strokes</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'roles' %}active{% endif %}">
    <a href="#Kakegoe">Kakegoe</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'rhythm' %}active{% endif %}">
    <a href="#Patterns">Rhythmic Organization</a>
  </li>
  <li class="anchor-menu__element {% if page.fourth-level-menu-active == 'rhythm' %}active{% endif %}">
    <a href="#Notation">Notation</a>
  </li>
</ul>
