
  <h4>Selected Nohkan Patterns</h4>
  <ul class="anchor-menu">

  <li class="anchor-menu__element"><a href="/music/nohkan/takane">Takane</a></li>
  <li class="anchor-menu__element"><a href="/music/nohkan/nakanotakane">Naka no takane</a> *</li>
  <li class="anchor-menu__element"><a href="/music/nohkan/takane-hane">Takane hane</a></li>
  <li class="anchor-menu__element"><a href="/music/nohkan/takanemikusari">Takane mi kusari</a> *</li>
  <li class="anchor-menu__element"><a href="/music/nohkan/hishigi-takane">Hishigi takane mi kusari</a></li>
  <li class="anchor-menu__element"><a href="/music/nohkan/hishigi">Hishigi</a></li>
  <li class="anchor-menu__element"><a href="/music/nohkan/rokunoge">Roku no ge</a></li>
  <li class="anchor-menu__element"><a href="/music/nohkan/mirokunoge">Miroku no ge</a></li>
  <li class="anchor-menu__element"><a href="/music/nohkan/tomenote">Tome no te</a></li>
  <li> </li>
  <li>* with variants from plays</li>
</ul>
