<ul class="mini-cards__container">
  {% if page.nohkan-pattern != 'takane' %}<li class="mini-cards__element"><a href="./takane">Takane</a></li>{% endif %}
  {% if page.nohkan-pattern != 'nakanotakane' %}<li class="mini-cards__element"><a href="./nakanotakane">Naka no takane</a></li>{% endif %}
  {% if page.nohkan-pattern != 'takane-hane' %}<li class="mini-cards__element"><a href="./takane-hane">Takane hane</a></li>{% endif %}
  {% if page.nohkan-pattern != 'takanemikusari' %}<li class="mini-cards__element"><a href="./takanemikusari">Takane mi kusari</a></li>{% endif %}
  {% if page.nohkan-pattern != 'hishigi-takane' %}<li class="mini-cards__element"><a href="./hishigi-takane">Hishigi takane</a></li>{% endif %}
  {% if page.nohkan-pattern != 'hishigi' %}<li class="mini-cards__element"><a href="./hishigi">Hishigi</a></li>{% endif %}
  {% if page.nohkan-pattern != 'rokunoge' %}<li class="mini-cards__element"><a href="./rokunoge">Roku no ge</a></li>{% endif %}
  {% if page.nohkan-pattern != 'mirokunoge' %}<li class="mini-cards__element"><a href="./mirokunoge">Miroku no ge</a></li>{% endif %}
  {% if page.nohkan-pattern != 'tomenote' %}<li class="mini-cards__element"><a href="./tomenote">Tome no te</a></li>{% endif %}
</ul>
