<ul class="anchor-menu">
  <li class="anchor-menu__element"><a href="#takane">Takane</a></li>
  <li class="anchor-menu__element">
    <a href="#naka-no-takane">Naka no takane</a>
  </li>
  <li class="anchor-menu__element"><a href="#takane-hane">Takane hane</a></li>
  <li class="anchor-menu__element">
    <a href="#takane-mi-kusari">Takane mi kusari</a>
  </li>
  <li class="anchor-menu__element">
    <a href="#hishigi-takane">Hishigi takane mi kusari</a>
  </li>
  <li class="anchor-menu__element"><a href="#hishigi">Hishigi</a></li>
  <li class="anchor-menu__element"><a href="#roku-no-ge">Roku no ge</a></li>
  <li class="anchor-menu__element"><a href="#miroku-no-ge">Miroku no ge</a></li>
  <li class="anchor-menu__element"><a href="#tome-no-te">Tome no te</a></li>
</ul>
