
<ul class="mini-cards__container">
  {% if page.nohkan-pattern != 'takane' %}<li class="mini-cards__element"><a href="/music/nohkan/takane" target="_blank">Takane</a></li>{% endif %}
  {% if page.nohkan-pattern != 'nakanotakane' %}<li class="mini-cards__element"><a href="/music/nohkan/nakanotakane" target="_blank">Naka no takane</a></li>{% endif %}
  {% if page.nohkan-pattern != 'takane-hane' %}<li class="mini-cards__element"><a href="/music/nohkan/takane-hane" target="_blank">Takane hane</a></li>{% endif %}
  {% if page.nohkan-pattern != 'takanemikusari' %}<li class="mini-cards__element"><a href="/music/nohkan/takanemikusari" target="_blank">Takane mi kusari</a></li>{% endif %}
  {% if page.nohkan-pattern != 'hishigi-takane' %}<li class="mini-cards__element"><a href="/music/nohkan/hishigi-takane" target="_blank">Hishigi takane <br>mi kusari</a></li>{% endif %}
  {% if page.nohkan-pattern != 'hishigi' %}<li class="mini-cards__element"><a href="/music/nohkan/hishigi" target="_blank">Hishigi</a></li>{% endif %}
  {% if page.nohkan-pattern != 'rokunoge' %}<li class="mini-cards__element"><a href="/music/nohkan/rokunoge" target="_blank">Roku no ge</a></li>{% endif %}
  {% if page.nohkan-pattern != 'mirokunoge' %}<li class="mini-cards__element"><a href="/music/nohkan/mirokunoge" target="_blank">Miroku no ge</a></li>{% endif %}
  {% if page.nohkan-pattern != 'tomenote' %}<li class="mini-cards__element"><a href="/music/nohkan/tomenote" target="_blank">Tome no te</a></li>{% endif %}
</ul>
