<ul class="mini-cards__container">
  {% if page.nohkan-pattern != 'takane' %}<li class="mini-cards__element"><a href="takane.html">Takane</a></li>{% endif %}    
  {% if page.nohkan-pattern != 'nakanotakane' %}<li class="mini-cards__element"><a href="nakanotakane.html">Naka no takane</a></li>{% endif %}    
  {% if page.nohkan-pattern != 'takane-hane' %}<li class="mini-cards__element"><a href="takane-hane.html">Takane hane</a></li>{% endif %}    
  {% if page.nohkan-pattern != 'takanemikusari' %}<li class="mini-cards__element"><a href="takanemikusari.html">Takane mi kusari</a></li>{% endif %}    
  {% if page.nohkan-pattern != 'hishigi-takane' %}<li class="mini-cards__element"><a href="hishigi-takane.html">Hishigi takane</a></li>{% endif %}    
  {% if page.nohkan-pattern != 'hishigi' %}<li class="mini-cards__element"><a href="hishigi.html">Hishigi</a></li>{% endif %}    
  {% if page.nohkan-pattern != 'rokunoge' %}<li class="mini-cards__element"><a href="rokunoge.html">Roku no ge</a></li>{% endif %}    
  {% if page.nohkan-pattern != 'mirokunoge' %}<li class="mini-cards__element"><a href="mirokunoge.html">Miroku no ge</a></li>{% endif %}    
  {% if page.nohkan-pattern != 'tomenote' %}<li class="mini-cards__element"><a href="tomenote.html">Tome no te</a></li>{% endif %}    
</ul>  