<ul class="anchor-menu">
  <li class="anchor-menu__element">
    <h4>Nohkan Patterns</h4>
  </li>
<ul class="mini-cards__container">
  {% if page.nohkan-pattern != 'takane' %}<li class="mini-cards__element"><a href="/music/nohkan/takane">Takane</a></li>{% endif %}
  {% if page.nohkan-pattern != 'nakanotakane' %}<li class="mini-cards__element"><a href="/music/nohkan/nakanotakane">Naka no takane</a></li>{% endif %}
  {% if page.nohkan-pattern != 'takane-hane' %}<li class="mini-cards__element"><a href="/music/nohkan/takane-hane">Takane hane</a></li>{% endif %}
  {% if page.nohkan-pattern != 'takanemikusari' %}<li class="mini-cards__element"><a href="/music/nohkan/takanemikusari">Takane mi kusari</a></li>{% endif %}
  {% if page.nohkan-pattern != 'hishigi-takane' %}<li class="mini-cards__element"><a href="/music/nohkan/hishigi-takane">Hishigi takane <br>mi kusari</a></li>{% endif %}
  {% if page.nohkan-pattern != 'hishigi' %}<li class="mini-cards__element"><a href="/music/nohkan/hishigi">Hishigi</a></li>{% endif %}
  {% if page.nohkan-pattern != 'rokunoge' %}<li class="mini-cards__element"><a href="/music/nohkan/rokunoge">Roku no ge</a></li>{% endif %}
  {% if page.nohkan-pattern != 'mirokunoge' %}<li class="mini-cards__element"><a href="/music/nohkan/mirokunoge">Miroku no ge</a></li>{% endif %}
  {% if page.nohkan-pattern != 'tomenote' %}<li class="mini-cards__element"><a href="/music/nohkan/tomenote">Tome no te</a></li>{% endif %}
</ul>
</ul>
