<div class="tabs-container">
  <div class="tabs-container__links">
    <div class="wrapper">
      <div id="tabs"></div>
    </div>
  </div>
  <div class="tabs-container__content">
    <div class="wrapper">
      <section id='Chon' title='Chon' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Otsuzumi-Chon.mp4"
        link=""
        title="Strong and resonant"
      %}
      </section>
      <section id='Chin' title='Chin' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Otsuzumi-Chin.mp4"
        link=""
        title="Weak and resonant"
      %}
      </section>
      <section id='Don' title='Don' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Otsuzumi-Don.mp4"
        link=""
        title="Weak and damped"
      %}
      </section>
    </div>
  </div>
</div>
