
<ul class="mini-cards__container">
  {% if page.nohkan-pattern != 'takane' %}<li class="mini-cards__element"><a href="/music/nohkan/takane" target="_blank">yo flexible</a></li>{% endif %}
  {% if page.nohkan-pattern != 'nakanotakane' %}<li class="mini-cards__element"><a href="/music/nohkan/nakanotakane" target="_blank">yo strict</a></li>{% endif %}
  {% if page.nohkan-pattern != 'takane-hane' %}<li class="mini-cards__element"><a href="/music/nohkan/takane-hane" target="_blank">ho flexible</a></li>{% endif %}
  {% if page.nohkan-pattern != 'takanemikusari' %}<li class="mini-cards__element"><a href="/music/nohkan/takanemikusari" target="_blank">ho strict</a></li>{% endif %}
  {% if page.nohkan-pattern != 'takane' %}<li class="mini-cards__element"><a href="/music/nohkan/takane" target="_blank">iya</a></li>{% endif %}
  {% if page.nohkan-pattern != 'nakanotakane' %}<li class="mini-cards__element"><a href="/music/nohkan/nakanotakane" target="_blank">yo-i</a></li>{% endif %}
  {% if page.nohkan-pattern != 'takane-hane' %}<li class="mini-cards__element"><a href="/music/nohkan/takane-hane" target="_blank">hon-yo</a></li>{% endif %}
</ul>
