<ul class="mini-cards__container">
  {% include audio-clip.html src="http://d7rcwrflqckpu.cloudfront.net/soundfiles/otsuzumi-ho-noncongruent_01.m4a" text="ho (flexible)" %}
  {% include audio-clip.html src="http://d7rcwrflqckpu.cloudfront.net/soundfiles/otsuzumi-ho.m4a" text="ho (strict)" %}
  {% include audio-clip.html src="http://d7rcwrflqckpu.cloudfront.net/soundfiles/otsuzumi-honyo.m4a" text="honyo" %}
  {% include audio-clip.html src="http://d7rcwrflqckpu.cloudfront.net/soundfiles/otsuzumi-iya.m4a" text="iya" %}
  {% include audio-clip.html src="http://d7rcwrflqckpu.cloudfront.net/soundfiles/otsuzumi-yo-noncongruent_01.m4a" text="yo (flexible)" %}
  {% include audio-clip.html src="http://d7rcwrflqckpu.cloudfront.net/soundfiles/otsuzumi-yo.m4a" text="yo (strict)" %}
  {% include audio-clip.html src="http://d7rcwrflqckpu.cloudfront.net/soundfiles/otsuzumi-yoi_01.m4a" text="yoi" %}
</ul>
