<nav class="second-level-menu__container">
  <div class="wrapper">
    <ul class="second-level-menu">
      <li class="{% if page.second-level-menu-active == 'form' %}active{% endif %}"><a href="/form/">Form</a></li>
      <li class="{% if page.second-level-menu-active == 'actors' %}active{% endif %}"><a href="/actors/">Actors</a></li>
      <li class="{% if page.second-level-menu-active == 'music' %}active{% endif %}"><a href="/music/">Music</a></li>
      <li class="{% if page.second-level-menu-active == 'movement' %}active{% endif %}"><a href="/about-movement/">Movement</a></li>
      <li class="{% if page.second-level-menu-active == 'libretti' %}active{% endif %}"><a href="/text/">Text</a></li>
      <li class="{% if page.second-level-menu-active == 'staging' %}active{% endif %}"><a href="/staging/">Staging</a></li>

    </ul>
  </div>
</nav>
