
<ul class="mini-cards__container">
  {% if page.taiko-pattern != 'head' %}<li class="mini-cards__element"><a href="/music/taiko-head" target="_blank">Head</a></li>{% endif %}
  {% if page.taiko-pattern != 'firsttransition' %}<li class="mini-cards__element"><a href="/music/taiko-firsttransition" target="_blank">First transition</a></li>{% endif %}
  {% if page.taiko-pattern != 'ground' %}<li class="mini-cards__element"><a href="/music/taiko-ground" target="_blank">Ground</a></li>{% endif %}
  {% if page.taiko-pattern != 'secondtransition' %}<li class="mini-cards__element"><a href="/music/taiko-secondtransition" target="_blank">Second transition</a></li>{% endif %}
  {% if page.taiko-pattern != 'closing' %}<li class="mini-cards__element"><a href="/music/taiko-closing" target="_blank">Closing</a></li>{% endif %}
</ul>
