<h4>Selected Taiko Patterns</h4>
<ul class="anchor-menu">
  <li class="anchor-menu__element"><a href="/music/taiko-head">Head</a></li>

<li class="anchor-menu__element"><a href="/music/taiko-firsttransition">First transition</a></li>
<li class="anchor-menu__element"><a href="/music/taiko-ground">Ground</a></li>
<li class="anchor-menu__element"><a href="/music/taiko-secondtransition">Second transition</a></li>
<li class="anchor-menu__element"><a href="/music/taiko-closing">Closing</a></li>

</ul>
