<div class="tabs-container">
  <div class="tabs-container__links">
    <div class="wrapper">
      <div id="tabs"></div>
    </div>
  </div>
  <div class="tabs-container__content">
    <div class="wrapper">
      <section id='Osaeurbachi' title='Osaerubachi' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Taiko-Osaerubachi.mp4"
      %}
      </section>
      <section id='Katanobachi' title='Katanobachi' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Taiko-Katanobachi.mp4"
      %}
      </section>
      <section id='Dainobachi' title='Dainobachi' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Taiko-Dainobachi.mp4"
      %}
      </section>
      <section id='Chunobachi' title='Chunobachi' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Taiko-Chunobachi.mp4"
      %}
      </section>
      <section id='Shonobachi' title='Shonobachi' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Taiko-Shonobachi.mp4"
      %}
      </section>
      <section id='Kesubachi' title='Kesubachi' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Taiko-Kashira.mp4"
      %}
      </section>
    </div>
  </div>
</div>
