<div class="tabs-container">
  <div class="tabs-container__links">
    <div class="wrapper">
      <div id="tabs"></div>
    </div>
  </div>
  <div class="tabs-container__content">
    <div class="wrapper">
      <section id='Katanobachi' title='Katanobachi' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Taiko-Katanobachi.mp4"
        link=""
        title="Very strong and resonant, with a lifted left arm motion"
      %}
      </section>
      <section id='Dainobachi' title='Dainobachi' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Taiko-Dainobachi.mp4"
        link=""
        title="Strong and resonant"
      %}
      </section>
      <section id='Chunobachi' title='Chūnobachi' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Taiko-Chunobachi.mp4"
        link=""
        title="Medium and resonant"
      %}
      </section>
      <section id='Shonobachi' title='Shonobachi' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Taiko-Shonobachi.mp4"
        link=""
        title="Weak and resonant"
      %}
      </section>
      <section id='Osaeurbachi' title='Osaerubachi' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Taiko-Osaerubachi.mp4"
        link=""
        title="Weak and damped"
      %}
      </section>
      <section id='Kesubachi' title='Kesubachi' class='tabbed-narrative'>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Academic_sl/Taiko-Kashira.mp4"
        link=""
        title="Soundless motion"
        paragraph1="The taiko player lifts very slightly the sticks, only to bring them back on the instrument’s membrane without creating a sound. It can be performed one stick at a time or both sticks together. The motion helps the player keep the count. It is notated with a black-nothead in parenthesis."
      %}
      </section>
    </div>
  </div>
</div>
