<ul class="anchor-menu">
  <li class="anchor-menu__element">
    <h4>Selected Taiko Patterns</h4>
  </li>
<ul class="mini-cards__container">
  {% if page.taiko-pattern != 'head' %}<li class="mini-cards__element"><a href="/music/taiko-head">Head</a></li>{% endif %}

  {% if page.taiko-pattern != 'firsttransition' %}<li class="mini-cards__element"><a href="/music/taiko-firsttranssition">Firsst transition</a></li>{% endif %}

  {% if page.taiko-pattern != 'ground' %}<li class="mini-cards__element"><a href="/music/taiko-ground">Ground</a></li>{% endif %}

  {% if page.taiko-pattern != 'secondtransition' %}<li class="mini-cards__element"><a href="/music/taiko-secondtransition">Second transition</a></li>{% endif %}

  {% if page.taiko-pattern != 'closing' %}<li class="mini-cards__element"><a href="/music/taiko-closing">Closing</a></li>{% endif %}

</ul>
</ul>
