<div class="video-website">
  <a class="video-website__toggle" href=""><strong>Shite and waki (Roll over for info)</strong></a>
  <div class="video-website__container">
    <div class="video-website__tooltip">
      <div class="video-website__description">
        <h6>Kokaji – Mondō</h6>
        <p> The mondō from Kokaji is a spoken dialogue between the shite (a divine being) and waki (sword maker). The former sits on the left, and the latter on the right. This example offers two points of comparison between the kotoba styles of shite and waki.</p><p></p><p>
The first point relates to the gradual rising tone. While they both use a rising line to get to a peak-tone, the overall ascent of the shite’s line is more subdued compared with the waki’s. The second point relates to the rhythm of delivery, the shite’s being much slower than the waki.
These are not to be understood as universal stylistic characteristics, but rather as performance differences, the shite’s less flamboyant style being well suited for a deity rather than a mere human played by the waki.
</p>
      </div>
    </div>
    <video id="player" controls="" controlslist="nodownload">
      <source src="{{ include.src }}" type="video/mp4">
    </video>
  </div>
</div>
