<div class="video-website">
  <div class="video-website__container">
    {% if include.link %}
      <a class="video-website__toggle" href="">
        <strong>{{ include.link }}</strong>
        <i class="fas fa-info-circle"></i>
      </a>
    {% endif %}
    <div class="video-website__tooltip">
      <div class="video-website__description">
        <h6>Title</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit excepturi iure explicabo magni dolorum laudantium dicta ad hic nulla obcaecati maxime modi quia minima, libero et nihil, asperiores commodi.</p>
      </div>
    </div>
    <video id="player" controls="" controlslist="nodownload">
      <source src="{{ include.src }}" type="video/mp4">
    </video>
  </div>
</div>