<div class="video-website">
  <a class="video-website__toggle" href="">{{ include.link }}</a>
  <div class="video-website__container">
    <div class="video-website__tooltip">
      <div class="video-website__description">
        <h6>{{ include.title }}</h6>
        <p>{{ include.paragraph1 }}</p>
        <p>{{ include.paragraph2 }}</p>
        <p>{{ include.paragraph3 }}</p>
      </div>
    </div>
    <video id="player" controls="" controlslist="nodownload">
      <source src="{{ include.src }}" type="video/mp4">
    </video>
  </div>
</div>