<div class="video-website--no-background">
  <a class="video-website__toggle" href="">Video info</a>
  <div class="video-website__container">
    <div class="video-website__tooltip">
      <div class="video-website__description">
        <h6>Kokaji – Kuri</h6>
        <p> The module’s name refers to the high pitch Kuri, hence the module’s melody is set in the higher register. Kokaji’s kuri includes four melodic motions towards the Kuri. They appear as for the kuri’s signature closing melisma called hon-yuri, the pitch module’s pitch material focuses on the Medium/High tone.part of embellishments in several words highlighted in the video with colored syllables.  

</p>
      </div>
    </div>
    <video id="player" controls="" controlslist="nodownload">
      <source src="{{ include.src }}" type="video/mp4">
    </video>
  </div>
</div>
