<div class="video-website--no-background">
  <a class="video-website__toggle" href=""><strong>Waki-tsure (Roll over for more info)</strong></a>
  <div class="video-website__container">
    <div class="video-website__tooltip">
      <div class="video-website__description">
        <h6>Kokaji – Nanori </h6>
        <p> The fast speed and use of the higher register is well suited for delivering an urgent order.</p>
      </div>
    </div>
    <video id="player" controls="" controlslist="nodownload">
      <source src="{{ include.src }}" type="video/mp4">
    </video>
  </div>
</div>
