<div class="video-website--no-background">
  <a class="video-website__toggle" href="">Video info</a>
  <div class="video-website__container">
    <div class="video-website__tooltip">
      <div class="video-website__description">
        <h6>Kokaji – Nanori </h6>
        <p>Kotoba performed by a waki tsure, hastening to deliver an important order. The fast delivery speed and use of the higher register is well suited.</p>
      </div>
    </div>
    <video id="player" controls="" controlslist="nodownload">
      <source src="{{ include.src }}" type="video/mp4">
    </video>
  </div>
</div>
