{
    "useTabs": false,
    "printWidth": 80,
    "tabWidth": 2,
    "singleQuote": false,
    "trailingComma": "none",
    "jsxBracketSameLine": false,
    "parser": "babel",
    "semi": true,
    "overrides": [
    {
        "files": "*.json",
        "options": { "parser": "json" }
    },
    {
        "files": ["*.html", "*.md"],
        "options": { "parser": "html" }
    },
    {
        "files": ["*.css", "*.scss"],
        "options": { "parser": "scss" }
    }
  ]
}
