.custom-checkbox {
  display: flex;
  position: relative;

  input[type='checkbox'] {
    display: none;
  }

  label {
    font-size: $fs-display-xs;
    line-height: 1.25;
    padding-left: 1.375rem;
    color: $brown;

    span {
      display: inline-block;
    }

    &::before,
    &::after {
      display: inline-block;
      height: 1rem;
      left: 0;
      position: absolute;
      width: 1rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    &::before {
      background-color: $beige-dark;
      border-color: $brown80;
      border-radius: 0.125rem;
      border-style: solid;
      border-width: 0.0625rem;
      content: '';
      top: 0;
    }

    &::after {
      @include text(xxs);

      align-items: center;
      display: flex;
      font-family: $font-icon;
      font-style: normal;
      font-weight: normal;
      justify-content: center;
      top: 0.0625rem;
    }

    .custom-checkbox__text {
      color: $brown;
    }
  }

  input[type="checkbox"]:focus + label,
  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:indeterminate + label {
    color: $brown;

    .custom-checkbox__text {
      color: $brown;
    }
  }

  input[type="checkbox"]:focus + label::before,
  input[type="checkbox"]:checked + label::before,
  input[type="checkbox"]:indeterminate + label::before {
    background-color: $green;
    border-color: $brown80;
  }

  input[type="checkbox"]:checked + label::after {
    color: $white;
    content: $fa-var-check;
  }

  input[type="checkbox"]:indeterminate + label::after {
    color: $white;
    content: '';
  }
}

.custom-checkbox__text,
.custom-checkbox__amount {
  position: relative;
  top: 0rem;
}

.custom-checkbox__text {
  display: inline-block;
}

.custom-checkbox__amount {
  color: $brown40;
  margin-left: 0.25rem;
}
