.header {
  background-color: $green;

  .logo--isotype { display: none; }
}

.header--transparent {
  background-color: rgba($green, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__content {
  min-height: $header-small-height;
  padding: 0 1rem;

  @include flex-container();

  .wrapper & {
    padding: 1rem 0;
  }
}

.header--small {
  .logo--standard { display: none; }
  .logo--isotype { display: block; }
}

.logo {
  display: block;
  
  span {
    display: block;
  }
}

.header__nav {
  ul {
    @include flex-container();
  }

  li {
    a {
      color: $white80;
      display: inline-block;
      padding: 0 0.75rem;
      transition: color $transition;
      text-decoration: none;
 
      @include text(xs);
      @include uppercase();

      &:hover {
        color: $white;
      }
    }

    &.active {
      a {
        color: $white;
        font-weight: $fw-semibold;
      }
    }
  }
}