.header {
  background-color: $green;

  .logo--isotype { display: none; }
}

.header--transparent {
  background-color: rgba($green, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__content {
  min-height: $header-small-height;
  padding: 0 2.5rem 0 1.25rem;

  @include flex-container();

  .wrapper & {
    padding: 1rem 0;
  }
}

.header--small {
  .logo--standard { display: none; }
  .logo--isotype { display: block; }
}

.logo {
  display: block;

  span {
    display: block;
  }
}

.header__nav {
  > ul {
    @include flex-container();

    > li {

      &.active {
        .header__main-link {
          border-bottom-color: $white;
          color: $white;
          font-weight: $fw-semibold;
        }
      }
    }
  }
}

.header__main-link {
  border-bottom-style: solid;
  border-bottom-width: 0.0625rem;
  border-bottom-color: rgba($green, 0);
  color: $white80;
  display: inline-block;
  padding: 0.0625rem 0;
  transition: color $transition;
  text-decoration: none;

  @include text(xs);
  @include uppercase();

  &:hover {
    color: $white;
  }
}

.dropdown-menu__trigger {
  align-items: center;
  display: flex;

  @include text(xs);
  @include uppercase();

  &::after {
    border-color: $white80 transparent transparent transparent;
    border-style: solid;
    border-width: 0.1875rem 0.1875rem 0 0.1875rem;
    content: '';
    display: inline-block;
    height: 0;
    margin-left: 0.25rem;
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
  }

}

.dropdown-menu {
  position: relative;
  padding: 0 0.75rem 0 2rem;

  &:hover .dropdown-menu__list {
      display: block;
  }

}

.dropdown-menu__trigger {
  align-items: center;
  display: flex;

  @include text(xs);
  @include uppercase();

  &::after {
    border-color: $white80 transparent transparent transparent;
    border-style: solid;
    border-width: 0.1875rem 0.1875rem 0 0.1875rem;
    content: '';
    display: inline-block;
    height: 0;
    width: 0;
    margin-left: 0.25rem;
  }
}

.dropdown-menu__list {
  background-color: $white;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.625rem $black32;
  display: none;
  left: 1.125rem;
  padding: 0.875rem;
  position: absolute;
  top: -0.8125rem;
  white-space: nowrap;
  z-index: 10;

  li {
    font-weight: $fw-semibold;
    margin-bottom: 0.625rem;

    @include uppercase();

    a {
      color: $brown;
      text-decoration: none;

      @include text(xxs);
    }
  }

  .dropdown-menu__title {
    font-weight: $fw-regular;
    cursor: default;

    a {
      align-items: center;
      display: flex;
      padding-right: 1rem;
      position: relative;

      @include text(xs);

      &::after {
        border-color: $brown transparent transparent transparent;
        border-style: solid;
        border-width: 0.1875rem 0.1875rem 0 0.1875rem;
        content: '';
        display: block;
        height: 0;
        margin-left: 0.25rem;
        position: absolute;
        top: 50%;
        right: 0;
        width: 0;
      }
    }
  }
}
