.highlighted-text__container {
  background-color: $grey-lighter;
}

.transcription {}

.transcription__title {
  padding: 0.5rem 1rem;

  @include flex-container($justify:space-between, $align:baseline);

  p {
    @include text(md);

    span {
      font-weight: $fw-bold;

      @include uppercase();
    }
  }
}

.transcription__text {
  max-height: 0;
  overflow-y: auto;
  padding: 0 1rem;

  @include flex-container($justify:flex-start, $align:baseline);

  .highlighted-text__container.is-open & {
    max-height: $transcription-text-height;
  }
}

.transcription__original,
.transcription__translation {
  flex: 1;

  p {
    font-family: $font-serif;
    padding: 0.25rem;

    @include text(lg);
  }
  p.active {
    background-color: $grey-medium;
  }
}

.transcription__original {
  padding-right: 0.5rem;
}
.transcription__translation {
  padding-left: 0.5rem;
}
