.transcription__title {
  @include flex-container($justify:space-between, $align:baseline);
}

.transcription__text {
  @include flex-container($justify:flex-start, $align:baseline);
}

.transcription__original,
.transcription__translation {
  width: 50%;

  p {
    display: inline-block;
    padding: 0.25rem;
    margin: 0;
  }
  p.active {
    background-color: $grey-light;
  }
}
