$intermedia-cell: 1.75rem;

.intermedia-table {
  flex-shrink: 0;
}

.intermedia__element {
  border-bottom: 0.0625rem solid $grey-2;

  @include flex-container($justify: flex-start);
}

.intermedia__element--title {
  border-top: 0.0625rem solid $grey-2;

  .intermedia__label,
  .intermedia__value {
    font-weight: 700;
    font-size: 1rem;
    height: $timeline-acts-height + $timeline-marks-height;
    padding: 0 0.5rem;
  }
}

.intermedia__label,
.intermedia__value {
  font-size: 0.875rem;
  height: $intermedia-cell;
  padding: 0 0.5rem;
  width: 50%;

  @include flex-container($justify: flex-start);
}

.intermedia__label {
  border-right: 0.0625rem solid $grey-2;
}
