section.interweave {
  padding: 1rem 0;

  p {
    font-family: $font-serif;
    margin-bottom: 0.5rem;

    @include text(lg);

    * {
      font-family: $font-serif;
    }
  }

  h2 {
    font-weight: $fw-bold;
    margin-bottom: 0.5rem;

    @include text(2xl);
  }

  h3 {
    font-weight: $fw-bold;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;

    @include text(lg);
  }

  time {
    text-decoration: underline;
    cursor: pointer;
  }
}
