$tooltip-height: 2rem;

@mixin character-overlay($color, $character) {
  border-top-color: $color;

  &::before {
    border-color: $color transparent transparent transparent;
  }

  &::after {
    border-color: transparent $color transparent transparent;
  }

  & + .cell__tooltip {
    border: 0.0625rem solid $color;
  }
}

.cell__character {
  border-top-style: solid;
  border-top-width: 0.1875rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &::before,
  &::after {
    border-style: solid;
    position: absolute;
    top: 0;
  }

  &::before {
    border-width: 0.375rem 0.375rem 0 0;
    left: 0;
  }

  &::after {
    border-width: 0 0.375rem 0.375rem 0;
    right: 0;
  }
}

.cell__character--begin {
  &::before {
    content: '';
  }
}

.cell__character--end {
  &::after {
    content: '';
  }
}

.cell__tooltip {
  background-color: $white;
  border: $tl-separator;
  bottom: 100%;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  transition: height 50ms ease-in-out;
  width: 100%;
  @include flex-container($justify: center);
}

.cell__character--jiutai     { @include character-overlay($color-character-jiutai, 'jiutai'); }
.cell__character--aikyogen   { @include character-overlay($color-character-aikyogen, 'aikyogen'); }
.cell__character--shite      { @include character-overlay($color-character-shite, 'shite'); }
.cell__character--waki       { @include character-overlay($color-character-waki, 'waki'); }
.cell__character--waki-tsure { @include character-overlay($color-character-waki-tsure, 'waki-tsure'); }

.cell--text:hover {
  .cell__tooltip {
    height: $tooltip-height;
  }
}
