$score-controls-height: 2.5rem;

.score-controls {
  height: $score-controls-height;
  padding: 0 0.625rem;
  width: 100%;
  @include flex-container();
}

.channel-toggles,
.measure-toggles {
  margin: 0;

  @include flex-container($justify:flex-start, $align:baseline);

  li {

    label {
      background-color: $grey-lighter;
      font-size: 0.625rem;
      font-weight: $fw-medium;
      letter-spacing: 0.05em;
      padding: 0.375rem 0.5rem;
      text-transform: uppercase;

      input[type="checkbox"] {}
      span {
        margin-left: 0.25rem;
      }
    }
  }
}

.channel-toggles {
  li {
    margin-right: 0.625rem;
  }
}
.measure-toggles {
  li {
    margin-left: 0.625rem;
  }
}
