$score-controls-height: 2.5rem;
$score-checkbox-height: 1.5rem;

.score-controls {
  background-color: $blue-dark;
  height: $score-controls-height;
  padding: 0 0.625rem;
  width: 100%;
  @include flex-container();
}

.channel-toggles,
.measure-toggles {
  flex-shrink: 0;
  margin: 0;

  @include flex-container($justify:flex-start, $align:center);

  li {
    position: relative;

    input[type="checkbox"] {
      display: none;

      &:checked {
        & + label {
          background-color: $white;
          color: $blue-dark;

          g {
            fill: $blue-dark;
          }
        }
      }
    }

    label {
      background-color: rgba($white, 0.25);
      border-radius: 0.125rem;
      color: $white;
      font-weight: $fw-medium;
      height: $score-checkbox-height;
      padding: 0.25rem 0.5rem;

      @include flex-container($justify:flex-start, $align:center);
      @include text(xs);
      @include uppercase();

      g {
        fill: $white;
      }

      svg {
        margin-right: 0.25rem;
      }

      span {
        margin-left: 0.25rem;
      }
    }
  }
}

.channel-toggles {
  li {
    margin-right: 0.625rem;
  }
}

.measure-toggles {
  li {
    margin-left: 0.625rem;
  }
}

