@import "components/score-layout";
@import "components/score-character";

.cell--beat {
  border-top: $tl-separator;
  font-size: $fs-sans-lg;
  font-weight: $fw-bold;
  justify-content: center;
}

.cell--text {
  justify-content: center;
  position: relative;
}

.cell__range--low,
.cell__range--medium,
.cell__range--high {
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.measure__cell--range-low::before {
  background-image: url('../images/vocal-range-low.svg');
  height: 0.5rem;
}

.measure__cell--range-medium::before {
  background-image: url('../images/vocal-range-medium.svg');
  height: 0.75rem;
}

.measure__cell--range-high::before {
  background-image: url('../images/vocal-range-high.svg');
  height: 1rem;
}

.measure__cell--character-jiutai,
.measure__cell--character-aikyogen,
.measure__cell--character-shite,
.measure__cell--character-waki,
.measure__cell--character-waki-tsure {
  &::after {
    border-style: solid;
    border-width: 0 0.75rem 0.75rem 0;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    &::after {
      background-color: $white;
      border: none;
      top: -1rem;
      right: 0;
      text-align: center;
      border: $tl-separator;
      box-shadow: 0 1px 3px rgba(0,0,0,0.5);
      width: 5rem;
    }
  }
}

.measure__cell--character-jiutai     { @include character-overlay($color-character-jiutai, 'jiutai'); }
.measure__cell--character-aikyogen   { @include character-overlay($color-character-aikyogen, 'aikyogen'); }
.measure__cell--character-shite      { @include character-overlay($color-character-shite, 'shite'); }
.measure__cell--character-waki       { @include character-overlay($color-character-waki, 'waki'); }
.measure__cell--character-waki-tsure { @include character-overlay($color-character-waki-tsure, 'waki-tsure'); }

.measure__cell--nohkan {}
.measure__cell--dance {}

.measure--next,
.measure--prev {
  color: $black;

  .measure__label-container {
    background-color: $grey-lighter;
    border-bottom: $tl-separator;
    font-size: $fs-sans-2xs;
    font-weight: $fw-bold;
    height: $score-channel-height * 4 + $score-channel-large-height;
    padding: 0 0.5rem;
    text-transform: uppercase;

    @include flex-container();
  }
  .measure__grid-cell {
    background-color: $grey-lighter;
  }
}
