.acts-container {
  border-bottom: $tl-separator;
  height: $timeline-acts-height;
  position: relative;
  width: 100%;

  @include flex-container($justify: center);
}

.act {
  @include flex-container($justify: center);
  @include text(md);

  .transcription {

  }

  .translation {
    color: $grey-dark;
    font-style: italic;
    margin-left: 0.25rem;
  }
}

.act__first-end {
  background-color: $grey-medium;
  position: absolute;
  height: $shodan-map-height-play + $timeline-acts-height;
  top: 0;
  width: 0.0625rem;
}
