$svg-big: 9;
$svg-small: 1;

.tl__channels-container {
  position: relative;
}

.tl__channel-label {
  border-bottom: $tl-separator;
  flex-shrink: 0;
  height: $timeline-channel-height;
  padding-left: 1rem;
  width: $timeline-labels-width;

  @include flex-container($justify: flex-start);
}

.tl__channel {
  border-bottom: $tl-separator;
  height: $timeline-channel-height;

  @include flex-container($justify: flex-start, $align: center);
}

.tl__channel-group-container {
  width: 100%;

  @include flex-container($justify: flex-start, $align: stretch);
}

.tl__channel-group-title {
  border-bottom: $tl-separator;
  border-right: $tl-separator;
  width: $timeline-label-group-width;

  @include flex-container($justify: center);

  h4 {
    font-size: 0.75rem;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
}

.tl__channel-group {
  flex-grow: 1;

  .tl__channel-label {
    width: $timeline-labels-width - $timeline-label-group-width;
  }
}

.tl__channel-events {
  position: relative;
  height: $timeline-channel-height;
  flex-grow: 1;
}

.tl__channel--shodan {
  height: $timeline-channel-shodan-height;

  .tl__channel-label,
  .tl__channel-events {
    height: $timeline-channel-shodan-height;
  }
}

@import "timeline-layout";
@import "timeline-actions";
@import "timeline-acts";
@import "timeline-marks";
@import "timeline-current-position";
@import "timeline-events";
@import "timeline-shodan";
