.tl__acts {
  border-bottom: $tl-separator;
  height: $timeline-acts-height;
  width: 100%;

  @include flex-container($justify: center);
}

.tl__act {
  font-size: 0.75rem;

  @include flex-container($justify: center);
}
