.shodan-map__container {
  position: relative;
}

.shodan-map {
  position: relative;
  height: $shodan-map-height-play;
  width: 100%;
}

.shodan-timeline__container {
  .shodan-map {
    height: 0;
    width: 100%;
  }

  &.is-open {
    .shodan-map {
      height: $shodan-map-height-section;
      margin-top: 0.5rem;
    }
  }
}

.shodan-map__item {
  background-color: $grey-lighter;
  border: 0.0625rem solid $grey-medium;
  height: 0.5rem;
  position: absolute;
  bottom: 0;

  @include tooltip();

  &:hover {
    background-color: $grey-medium;
    border-color: $grey-dark;
  }
}

.shodan-map__item--active {
  border: 0.0625rem solid $black;
  background-color: $grey-light;
  height: 0.625rem;
}
