.time-marks {
  border-top: $tl-separator;
  border-bottom: $tl-separator;
  height: $timeline-marks-height;
  width: 100%;

  @include flex-container($justify: flex-start, $align: flex-end);
}

.time {
  border-left: $tl-separator;
  flex-grow: 1;
  height: 100%;
  padding-left: 0.25rem;

  @include flex-container($justify: flex-start);
  @include text(md);
  @include truncate($display:flex);

  &:first-child {
    border-left: none;
  }
}
