.shodan-map__container {
  position: relative;
}

.shodan-map {
  position: relative;
  height: $shodan-map-height-play;
  width: 100%;
}

.shodan-timeline__container {
  > .shodan-map {
    display: none;
  }

  .sidebar__collapsable-title--map {
    .shodan-map {
      display: block;
      height: 2rem;
    }
  }

  &.is-open {
    > .shodan-map {
      display: block;
      height: $shodan-map-height-section;
      margin-top: 0.5rem;
    }

    .sidebar__collapsable-title--map {
      padding: 1rem;

      .shodan-map {
        display: none;
      }
    }
  }
}

.shodan-map__item {
  background-color: $grey-lighter;
  border: 0.0625rem solid $grey-medium;
  min-height: 0.5rem;
  position: absolute;
  bottom: 0;

  @include tooltip();

  &:hover {
    background-color: $grey-light;
    border-color: $grey-medium;
  }
}

.shodan-map__item--active {
  border: 0.0625rem solid $black;
  background-color: $grey-light;
}
