---
layout: website
name: okina-dance-to-text
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Okina Song</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Voice</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Nohkan</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
    </div>

    <p>
      The arhythmic text, set in <em>sashinori</em> and sung in the
      <em>tsuyogin</em> style by Okina and the jiutai, is supported by three
      kotsuzumi in a strict rhythmic setting and a non-congruent nohkan part
      that includes two patterns: <em>Sō-no-ryo</em> and
      <em>Sō-no-roku-no-ge</em>.
    </p>

    <p>
      Okina’s two Songs are dance-to-text sections that frame his instrumental
      dance, Okina-no-mai. The choreography of the first Okina Song opens the
      stage space, preparing for Okina-no-mai, while the choreography of the
      second Okina Song functions as a cadence and is therefore mainly confined
      upstage to Square 8.
    </p>

    <p>
      The texts sung in the two Okina Song sections differ. In the first, Okina
      acts as a narrator and, referencing both Okina and Sanbasō, raises the
      question—subsequently amplified by the jiutai—“Who are those old men?” In
      the second Song, Okina repeats the word <em>manzai-raku</em>, meaning “Ten
      Thousand Year blessing.”
    </p>

    <p>
      The first Okina Song opens with a quiet and slower five-measure
      introduction that supports Okina’s singing. It leads the three kotsuzumi
      players into a dynamic and faster repetitive pattern emphasizing beats 1,
      3, 5, and 7, and occurs as the singing part shifts from Okina to the
      jiutai. Beats 1, 3, and 5 are preceded by a <em>kakegoe</em>, while beat 7
      is anticipated with an anacrusis.
    </p>

    {% include image-no-background.html
    src="/assets/images/Okina-Dance-Perc-1.png" %}

    <p>
      The nohkan’s <em>Sō-no-ryo</em> pattern, performed over Okina’s quiet
      part, consists of four continuous phrases centered on lower notes. The
      opening motives of these four phrases—'Ho ro ru ra' (measure 1), 'Fu'
      (measure 3), 'Hya' (measure 4), and 'Ho-hya' (measure 5)—are all
      low-register notes on the instrument.
    </p>

    <p>
      Following the lively singing of the jiutai and percussion, the nohkan
      player introduces its second pattern, the
      <em>Sō-no-roku-no-ge</em> pattern, in measure 8. Notably, the first
      <em>shōga</em> of this section, ‘Hi-u,’ falls in the instrument’s higher
      register, lending a livelier tone to the second section.
    </p>

    <p>
      The cadential character of the second Okina Song is enhanced by the fact
      that the kotsuzumi players perform a single, repetitive pattern—a
      variation on the previous one—in which the 'iya–ta' on the third beat is
      replaced by 'ho–po'.
    </p>

    {% include image-no-background.html
    src="/assets/images/Okina-Dance-Perc-2.png" %}

    <p>
      The reduced instrumental density of the second Okina Song, with the nohkan
      part absent, further underlines its cadential function.
    </p>

    <p>
      <a href="/okina/okina-dance-1/" class="link__level-2" target="_blank"
        >Okina Song 1</a
      >
    </p>

    <p>
      <a href="/okina/okina-dance-3/" class="link__level-2" target="_blank"
        >Okina Song 2</a
      >
    </p>
  </div>
</main>
