---
layout: website
name: okina-song
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Shiku-no-kamiuta</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Voice</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Nohkan</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
    </div>

    <p>
      Okina’s song <em>shiku-no-kamiuta</em> features a regular text set in
      <em>sashinori</em>, sung in the <em>tsuyogin</em> style, accompanied by a
      non-congruent nohkan part and a steady beat established by three kotsuzumi
      drums in a strict rhythmic setting.
    </p>

    <p>
      The text is divided into three sections. The first and third sections
      appear to be based on a lost language—one seemingly derived from
      <em>shōga</em>, the onomatopoeic syllables used to mimic the sounds of
      percussion and wind instruments. In contrast, the text of the second
      section, which consists of four phrases of seven plus five syllables,
      reflects the style of <em>imayō</em>—a song form popular during the Heian
      (794–1185) and Kamakura (1185–1333) periods. Notably, closer inspection
      reveals that the first and third sections also adhere to the
      <em>imayō</em> structure, despite certain irregularities in phrasing. For
      this reason, some researchers have referred to this shōdan as
      <em>shiku no kami-uta</em>—literally, a “divine song composed of four
      phrases.”
    </p>

    <p>
      In the first section, the three kotsuzumi introduce two distinct
      eight-beat patterns. The first pattern is built on two sounds: the
      '<em>ta</em>' and '<em>po</em>' strokes, with '<em>ta</em>' consistently
      used in the first half and '<em>po</em>' in the second. Strokes occur on
      beats 1, 3, 5, and 7, each preceded by a <em>kakegoe</em>, except beat 7,
      which follows an anacrusis on beat 6.5.
    </p>

    {% include image-no-background.html src="/assets/images/Okina-Song-1.png" %}

    <p>
      The second pattern appears briefly in the sixth and seventh
      <em>honji</em>, foreshadowing the beginning of the song's second part by
      two <em>honji</em>. It is identifiable by the lead kotsuzumi player
      performing a variation on the primary pattern, diverging from the two
      accompanying players. This variation includes combined strokes on beats 1,
      3, 4, 5, 6, 6.5, and 7, for a total of seven strokes compared to five in
      the first pattern:
    </p>

    {% include image-no-background.html src="/assets/images/Okina-Song-2.png" %}

    <p>
      Following the initial instrumental section, the second section is marked
      by the entrance of the vocal part and the nohkan’s
      <em>Hacchō-no-yuri</em> pattern. The text draws on an archaic origin,
      resembling onomatopoeic representations of flute and percussion, and the
      singing alternates between Okina and the jiutai.
    </p>

    <p>
      The nohkan’s <em>Hacchō-no-yuri</em> comprises four continuous phrases,
      whose opening motives descend in register: the first phrase ‘O-hya’ begins
      in the high register; the second ‘Hi-ya’ is in the middle; the third
      ‘Hi-u’ is in the lower; and the fourth ‘Ho-hya’ concludes in the lowest
      register.
    </p>

    <p>
      In the third section, with the nohkan <em>tacet</em> and the text
      returning to onomatopoeia, the three kotsuzumi introduce a new four-beat
      pattern, which is rhythmically faster, alternating '<em>chi</em>' and
      '<em>po</em>' sounds. The symmetrical sequence of strokes and
      <em>kakegoe</em> divides the <em>honji</em> into two four-beat segments.
    </p>

    {% include image-no-background.html src="/assets/images/Okina-Song-3.png" %}

    <p>
      Across the six <em>honji</em> of this third section, the tempo accelerates
      from MM = 50 to MM = 112 by the fifth <em>honji</em>; a deceleration to MM
      = 66 in the sixth and final <em>honji</em> marks the cadence. The nohkan,
      silent since the beginning of the section, concludes the song with its
      <em>Hishigi</em> pattern.
    </p>

    <p>
      <a href="/okina/okina-song/" class="link__level-2" target="_blank"
        >Shiku-no-kamiuta</a
      >
    </p>
  </div>
</main>
