---
layout: website
name: okina-suzunodan
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Suzunodan</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Nohkan</div>
        <div class="introductory-table__definition">Congruent</div>
      </div>
    </div>

    <p>
      Suzunodan is an instrumental dance comprising six instrumental sections,
      each articulated by nohkan patterns. The table below presents these
      musical sections and their corresponding dance sections.
    </p>

    <table class="content-table" width="100%">
      <tr class="content-table__row--header">
        <td
          class="content-table__column greentext"
          colspan="4"
          style="vertical-align: top !important"
        >
          Six Music Sections of <em>Suzunodan</em>
        </td>
      </tr>
      <tr class="content-table__row--header">
        <td
          class="content-table__column greentext"
          width="18%"
          style="vertical-align: top !important"
        >
          Music Section
        </td>
        <td
          class="content-table__column"
          width="12%"
          style="vertical-align: top !important"
        >
          Measure
        </td>
        <td
          class="content-table__column"
          width="20%"
          style="vertical-align: top !important"
        >
          Nohkan Pattern
        </td>
        <td
          class="content-table__column"
          width="50%"
          style="vertical-align: top !important"
        >
          Dance Sections (Measures)
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column beige"
          style="vertical-align: top !important"
        >
          Introduction (6)
        </td>
        <td
          class="content-table__column white greentext"
          style="vertical-align: top !important"
        >
          1-6
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Jo
        </td>
        <td
          class="content-table__column beige"
          style="vertical-align: top !important"
        >
          Introductory Section (1-6)
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column beige"
          rowspan="5"
          style="vertical-align: top !important"
        >
          I (33)
        </td>
        <td
          class="content-table__column white greentext"
          style="vertical-align: top !important"
        >
          7-11
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Ji-1
        </td>
        <td
          class="content-table__column beige"
          style="vertical-align: top !important"
        >
          Section I (7-11)
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column white greentext"
          style="vertical-align: top !important"
        >
          12-16
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Ji-2
        </td>
        <td
          class="content-table__column beige"
          rowspan="2"
          style="vertical-align: top !important"
        >
          Section II (12-20)
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column white greentext"
          style="vertical-align: top !important"
        >
          17-21
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Ji-3
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column white greentext"
          style="vertical-align: top !important"
        >
          22-26
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Ji-4
        </td>
        <td
          class="content-table__column beige"
          style="vertical-align: top !important"
        >
          Section III (21-26)
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column white greentext"
          style="vertical-align: top !important"
        >
          27-39
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Te-1
        </td>
        <td
          class="content-table__column beige"
          style="vertical-align: top !important"
        >
          Section IV (27-39)
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column beige"
          rowspan="2"
          style="vertical-align: top !important"
        >
          II (18)
        </td>
        <td
          class="content-table__column white greentext"
          style="vertical-align: top !important"
        >
          40-44
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Ji-5
        </td>
        <td
          class="content-table__column beige"
          rowspan="2"
          style="vertical-align: top !important"
        >
          Section V (40-57)
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column white greentext"
          style="vertical-align: top !important"
        >
          45-57
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Te-2
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column beige"
          rowspan="3"
          style="vertical-align: top !important"
        >
          III (15)
        </td>
        <td
          class="content-table__column white greentext"
          style="vertical-align: top !important"
        >
          58-62
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Ji-6
        </td>
        <td
          class="content-table__column beige"
          rowspan="2"
          style="vertical-align: top !important"
        >
          Section VI (58-67)
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column white greentext"
          style="vertical-align: top !important"
        >
          63-67
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Ji-7
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column white greentext"
          style="vertical-align: top !important"
        >
          68-72
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Ji-8
        </td>
        <td
          class="content-table__column beige"
          rowspan="3"
          style="vertical-align: top !important"
        >
          Section VII (68-85)
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column beige"
          rowspan="2"
          style="vertical-align: top !important"
        >
          IV (12)
        </td>
        <td
          class="content-table__column white greentext"
          style="vertical-align: top !important"
        >
          73-76
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Suzu-kudaki
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column white greentext"
          style="vertical-align: top !important"
        >
          77-85
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Tome-no-te
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column beige"
          style="vertical-align: top !important"
        >
          Tome (2)
        </td>
        <td
          class="content-table__column white greentext"
          style="vertical-align: top !important"
        >
          86-87
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Tome
        </td>
        <td
          class="content-table__column beige"
          style="vertical-align: top !important"
        >
          Closing Section (86-87)
        </td>
      </tr>
    </table>

    <p>
      The nohkan phrases in the introductory section (measures 1–6) are the same
      as those played in the introduction to Kagura, an instrumental piece
      depicting divine possession. The nohkan concludes these introductory
      phrases with the <em>hishigi</em> tone, which signals the transition to
      Suzunodan’s first main section. It consists of four repetitions of the Ji
      pattern, followed by a Te pattern.
    </p>

    <p>
      In Okina’s Suzunodan, nohkan patterns are reused across various sections,
      creating a web of interconnections. The <em>Ji</em> section itself
      consists of five <em>honji</em>, with an “aabcd” structure—the second
      <em>honji</em> repeating the first. The first three <em>honji</em> of the
      <em>Ji</em> correspond directly to the first three <em>honji</em> of the
      <em>Te</em>. The first two align with the initial pair in
      <em>Suzu-kudaki</em>, and the very first <em>honji</em> recurs in the
      opening five <em>honji</em> of the <em>Tome-no-te</em>. Through this
      intricate reworking of musical phrases, the nohkan part acquires a notably
      cyclical character.
    </p>

    <p>
      As in the <em>Mominodan</em>, the three kotsuzumi players introduce a
      one-<em>honji</em>
      pattern—repeated throughout the dance—that features strokes on beats 1, 3,
      5, and 7. The ōtsuzumi, meanwhile, repeats its own pattern, predominantly
      emphasizing the even beats: 1, 2, 4, and 6.
    </p>

    {% include image-no-background.html src="/assets/images/Suzunodan-1.png" %}

    <p>
      During stamping sequences, the ōtsuzumi switches to a three-<em>honji</em>
      pattern that nearly aligns with the kotsuzumi’s strokes on the odd beats,
      except for a stroke on the sixth beat. This sparser but dynamically
      stronger percussive texture complements well the dynamic stamping.
    </p>

    {% include image-no-background.html src="/assets/images/Suzunodan-2.png" %}

    <p>
      The choreography of <em>Suzunodan</em> consists primarily of three
      elements: Sanbasō ringing the suzu bell in his right hand, stamping, and
      circling the stage. From the start of Section I’s first <em>Ji</em> until
      near the conclusion, Sanbasō strikes the suzu bell on beats 1, 3, 5, and
      7, synchronized with the kotsuzumi’s <em>po</em> strokes.
    </p>

    {% include image-no-background.html src="/assets/images/Suzunodan-3.png" %}

    <p>
      Sanbasō rings the bell in four distinct positions: knee level (low), hip
      level (middle), arm’s length (middle), and a raised, full extension of the
      arm (high)—each position successively intensifying the dance’s mood from
      subdued to dynamic.
    </p>

    <p>
      Dividing the dance sequence into discrete sections is challenging. Here,
      however, we have chosen to use the recurring stamp patterns as markers for
      smaller dance sequences. Following this approach, the choreography of the
      main part of the dance—excluding the introduction and closing—can be
      described as comprising seven sections.
    </p>

    <p>
      Each section has its own positioning, movement, and mimicry. The chart
      below illustrates the overall shape of the dance sequences. From this
      analysis we may speculate that the first half (Sections 1 to 4) focuses on
      purification by Sanbasō, and the latter (Sections 5 and 6) on his
      possession.
    </p>

    <table class="content-table" width="100%">
      <tr class="content-table__row--header">
        <td
          class="content-table__column greentext"
          width="20%"
          style="vertical-align: top !important"
        >
          Sections
        </td>
        <td
          class="content-table__column"
          width="18%"
          style="vertical-align: top !important"
        >
          Holding Position of Bell (high middle low)
        </td>
        <td
          class="content-table__column"
          width="18%"
          style="vertical-align: top !important"
        >
          Main position the Sanbasō occupies on stage
        </td>
        <td
          class="content-table__column"
          width="14%"
          style="vertical-align: top !important"
        >
          Circling
        </td>
        <td
          class="content-table__column"
          width="20%"
          style="vertical-align: top !important"
        >
          Mimetic choreography
        </td>
        <td
          class="content-table__column"
          width="10%"
          style="vertical-align: top !important"
        ></td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column beige"
          style="vertical-align: top !important"
        >
          Introductory Section (1-6)
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        ></td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Square 9
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Circling Left
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Tappai (Ritualistic Prayer)
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        ></td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column beige"
          style="vertical-align: top !important"
        >
          Section I (7-11)
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          high to low
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Square 9
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        ></td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Purify Square 9
        </td>
        <td
          class="content-table__column beige greentext"
          rowspan="4"
          style="vertical-align: top !important"
        >
          Purification
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column beige"
          style="vertical-align: top !important"
        >
          Section II (12-20)
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          low, middle and to high
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Square 3
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        ></td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Purify Square 3
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column beige"
          style="vertical-align: top !important"
        >
          Section III (21-26)
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          high
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Square 5
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        ></td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Purify Square 5
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column beige"
          style="vertical-align: top !important"
        >
          Section IV (27-39)
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          high to low
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Square 1
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Circling Left
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Purify Square 1
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column beige"
          style="vertical-align: top !important"
        >
          Section V (40-57)
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          low to middle
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Square 1 and 8
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          2 Right Circlings
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        ></td>
        <td
          class="content-table__column beige greentext"
          rowspan="3"
          style="vertical-align: top !important"
        >
          Possession
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column beige"
          style="vertical-align: top !important"
        >
          Section VI (58-67)
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          low to high
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Square 9
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        ></td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          <em>Omo-gaeri</em> (“turn back the face”)
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column beige"
          style="vertical-align: top !important"
        >
          Section VII (68-85)
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          high
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Circling and Square 9
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          2 Left circlings
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          <em>Suzu kudaki</em> (“Shatter and Splash the bell”)
        </td>
      </tr>
      <tr class="content-table__row">
        <td
          class="content-table__column beige"
          style="vertical-align: top !important"
        >
          Closing Section (86-87)
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        ></td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Square 9
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        ></td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        >
          Tappai (Ritualistic Prayer)
        </td>
        <td
          class="content-table__column white"
          style="vertical-align: top !important"
        ></td>
      </tr>
    </table>

    <p>
      <a
        href="/okina/sanbaso-suzu-no-dan/"
        class="link__level-2"
        target="_blank"
        >Suzunodan</a
      >
    </p>
  </div>
</main>
