---
layout: website
name: okina-gaeri
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Gaeri</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
    </div>

    <p>
      Gaeri refers to the end of a specific ritual or the exit of a character.
      There are two occasions in the play when an actor exits after removing his
      mask. In Okina’s case, he proceeds to Square 4, where he performs a
      reversed <em>sayū</em> kata, raising and pivoting three times—left, right,
      left—rather than the standard—right, left, right—. He then steps back to
      Square 9, where he kneels and bows.
    </p>

    <p>
      Finally, Okina exits the stage, the three kotsuzumi players perform a
      single eight-beat pattern, focusing like many preceding patterns on beats:
      1, 3, 5, and 7:
    </p>

    {% include image-no-background.html src="/assets/images/Gaeri-1.png" %}

    <p>
      To assist his departure, the rhythmic pattern is accelerated to a
      four-beat pattern, with each stroke on an odd beat preceded by an
      anacrusis:
    </p>

    {% include image-no-background.html src="/assets/images/Gaeri-2.png" %}

    <p>
      In contrast, Sanbasō removes his mask and leaves the stage in complete
      silence. The removal of his mask is performed without ceremony, mirroring
      the unadorned manner in which it was originally donned. Seated at Square 7
      with his back to the audience, Sanbasō removes his mask and bows to it. He
      then performs a <em>sa-yū</em> kata, sliding three times—once to the left,
      then to the right, and finally once more to the left—before standing and
      exiting the stage.
    </p>

    <p>
      <a href="/okina/okina-exit/" class="link__level-2" target="_blank"
        >Okina gaeri</a
      >
    </p>
  </div>
</main>
