---
layout: website
name: mominodan
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Mominodan</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Nohkan</div>
        <div class="introductory-table__definition">Congruent</div>
      </div>
    </div>

    <p>
      This instrumental dance comprises six sections, each demarcated by the
      nohkan’s patterns. The duration of each section, measured in
      <em>honji</em>, is indicated in parentheses following the section and
      pattern names:
    </p>

    <table class="content-table" width="100%">
      <tr class="content-table__row--header">
        <td class="content-table__column beige greentext" colspan="4">
          Six Sections of Mominodan
        </td>
      </tr>
      <tr class="content-table__row--header">
        <td class="content-table__column beige greentext" width="20%">
          Section
        </td>
        <td class="content-table__column beige greentext" width="20%">
          Measure (Honji)
        </td>
        <td class="content-table__column beige greentext" width="25%">
          Nohkan Pattern
        </td>
        <td class="content-table__column beige greentext" width="35%">
          Dance Sections (measures)
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">Kakari (2)</td>
        <td class="content-table__column white">1-2</td>
        <td class="content-table__column white">Kakari (2)</td>
        <td class="content-table__column beige" rowspan="4">Round 1 (1-14)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige" rowspan="8">I (30)</td>
        <td class="content-table__column white">3-7</td>
        <td class="content-table__column white">Ji-a (5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">8-12</td>
        <td class="content-table__column white">Ji-b (5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">13-14</td>
        <td class="content-table__column white" rowspan="2">Ji-c (5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">15-17</td>
        <td class="content-table__column beige" rowspan="4">Round 2 (15-27)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">18-22</td>
        <td class="content-table__column white">Ji-d (5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">23-25</td>
        <td class="content-table__column white">Sho-te (3)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">26-27</td>
        <td class="content-table__column white" rowspan="2">Te-a (7)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">28-32</td>
        <td class="content-table__column beige" rowspan="4">Round 3 (28-43)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige" rowspan="4">II (16)</td>
        <td class="content-table__column white">33-37</td>
        <td class="content-table__column white">Ji-e (5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">38-40</td>
        <td class="content-table__column white">Ni-no-te (3)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">41-43</td>
        <td class="content-table__column white" rowspan="2">Te-b (8)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">44-48</td>
        <td class="content-table__column beige" rowspan="4">Round 4 (44-58)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige" rowspan="4">III (14)</td>
        <td class="content-table__column white">49-53</td>
        <td class="content-table__column white">Ji-f (5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">54-56</td>
        <td class="content-table__column white">San-no-te (3)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">57-58</td>
        <td class="content-table__column white" rowspan="2">Te-c (6)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">59-62</td>
        <td class="content-table__column beige" rowspan="3">Round 5 (59-72)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige" rowspan="3">IV (15)</td>
        <td class="content-table__column white">63-67</td>
        <td class="content-table__column white">Ji-g (5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">68-72</td>
        <td class="content-table__column white">Ji-h (5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">73-77</td>
        <td class="content-table__column white">Ji-i (5)</td>
        <td class="content-table__column beige" rowspan="2">Round 6 (73-85)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">Tome (8)</td>
        <td class="content-table__column white">78-85</td>
        <td class="content-table__column white">Tome (8)</td>
      </tr>
    </table>

    <p>
      Apart from the <em>Kakari</em> and <em>Tome</em>, the nohkan signals the
      beginning of each of the other four sections with a <em>ji</em> pattern
      composed of five phrases, labelled A, B, C, D, and E. The first three are
      each followed by an <em>X-no-te</em> pattern, which is identical to the
      <em>Ji</em>’s first three phrases (A, B, and C), as illustrated below:
    </p>

    <table class="content-table" width="100%">
      <tr class="content-table__row">
        <td class="content-table__column beige greentext" width="30%">Ji</td>
        <td class="content-table__column white" width="14%">A</td>
        <td class="content-table__column white" width="14%">B</td>
        <td class="content-table__column white" width="14%">C</td>
        <td class="content-table__column white" width="14%">D</td>
        <td class="content-table__column white" width="14%">E</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige greentext">
          Sho-, Ni-, and San-no-te
        </td>
        <td class="content-table__column white">A</td>
        <td class="content-table__column white">B</td>
        <td class="content-table__column white">C</td>
        <td class="content-table__column white">&#8211;</td>
        <td class="content-table__column white">&#8211;</td>
      </tr>
    </table>

    <p>
      The register of the opening motives of each phrase outlines an arch-shaped
      melodic contour: the line moves from the instrument’s high register to
      medium-low, before returning to the high register.
    </p>

    <table class="content-table" width="100%">
      <tr class="content-table__row">
        <td class="content-table__column beige greentext" width="20%">A</td>
        <td class="content-table__column beige greentext" width="20%">B</td>
        <td class="content-table__column beige greentext" width="20%">C</td>
        <td class="content-table__column beige greentext" width="20%">D</td>
        <td class="content-table__column beige greentext" width="20%">E</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">high</td>
        <td class="content-table__column white">high low</td>
        <td class="content-table__column white">medium low</td>
        <td class="content-table__column white">medium high</td>
        <td class="content-table__column white">high</td>
      </tr>
    </table>

    <p>
      The final part of each of the first three sections is called
      <em>Te</em>. The <em>Te</em> phrases differ in content from those of the
      <em>Ji</em>. The register of the opening motive of each <em>Te</em> phrase
      (labelled F, G, H, I, J, K, L, and M) follows a distinct trajectory: it
      begins in the medium-low register, descends to low, and finally rises to
      the high register:
    </p>

    <table class="content-table" width="100%">
      <tr class="content-table__row">
        <td class="content-table__column beige greentext" width="14%">F</td>
        <td class="content-table__column beige greentext" width="14%">G</td>
        <td class="content-table__column beige greentext" width="14%">H</td>
        <td class="content-table__column beige greentext" width="14%">I</td>
        <td class="content-table__column beige greentext" width="14%">
          J and K
        </td>
        <td class="content-table__column beige greentext" width="14%">L</td>
        <td class="content-table__column beige greentext" width="14%">M</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">medium low</td>
        <td class="content-table__column white">low medium</td>
        <td class="content-table__column white">low</td>
        <td class="content-table__column white">low high</td>
        <td class="content-table__column white">medium low</td>
        <td class="content-table__column white">medium high</td>
        <td class="content-table__column white">high</td>
      </tr>
    </table>

    <p>
      The three <em>Te</em> sections differ in duration. <em>Te-b</em> is the
      longest, using all eight phrases in the order illustrated above. By
      contrast, <em>Te-a</em> and <em>Te-c</em> omit some phrases, as detailed
      below:
    </p>

    <table class="content-table" width="100%">
      <tr class="content-table__row">
        <td class="content-table__column beige greentext" width="20%">Te-a</td>
        <td class="content-table__column white" width="10%">F</td>
        <td class="content-table__column white" width="10%">G</td>
        <td class="content-table__column white" width="10%">&#8213;</td>
        <td class="content-table__column white" width="10%">I</td>
        <td class="content-table__column white" width="10%">J</td>
        <td class="content-table__column white" width="10%">K</td>
        <td class="content-table__column white" width="10%">L</td>
        <td class="content-table__column white" width="10%">M</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige greentext">Te-b</td>
        <td class="content-table__column white">F</td>
        <td class="content-table__column white">G</td>
        <td class="content-table__column white">H</td>
        <td class="content-table__column white">I</td>
        <td class="content-table__column white">J</td>
        <td class="content-table__column white">K</td>
        <td class="content-table__column white">L</td>
        <td class="content-table__column white">M</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige greentext">Te-c</td>
        <td class="content-table__column white">F</td>
        <td class="content-table__column white">G</td>
        <td class="content-table__column white">&#8213;</td>
        <td class="content-table__column white">&#8213;</td>
        <td class="content-table__column white">J</td>
        <td class="content-table__column white">K</td>
        <td class="content-table__column white">L</td>
        <td class="content-table__column white">M</td>
      </tr>
    </table>

    <p>
      Percussion support centers on the kotsuzumi’s one-<em>honji</em> pattern,
      first introduced in Okina’s <em>Shiku-no-kamiuta</em>. This pattern
      includes a stroke every second beat, with each of the first three strokes
      preceded by a <em>kakegoe</em>: “iya” for the first, and “ho” for the
      second and third. The stroke on the seventh beat, however, is preceded by
      a pick-up “po” stroke rather than a <em>kakegoe</em>.
    </p>

    <p>
      As for the ōtsuzumi, while its function in the
      <em>Momidashi</em> was to interact with the kotsuzumi’s steady pattern,
      here the emphasis is on supporting the dance. Accordingly, its pattern is
      steady, featuring “chon” strokes on most even beats—1, 2, 4, and 6—which
      complement the kotsuzumi’s strokes on the odd beats:
    </p>

    {% include image-no-background.html src="/assets/images/Mominodan.png" %}

    <p>
      Throughout these six sections, Sanbasō’s dance unfolds in a sequence of
      six distinct rounds across the stage. Each round features a variation on
      three fundamental movements: sleeve swirling or turning (emphasizing the
      upper body), stamping steps (shifting energy toward the lower body), and
      circling to the left or right. Each round is composed of up to three
      elements in a fixed order: hand movement, stampings, and circling;
      however, some rounds do not include all three elements.
    </p>

    <p>The dance sequence is illustrated in the chart below.</p>

    <table class="content-table" width="100%">
      <tr class="content-table__row--header">
        <td class="content-table__column beige greentext" width="10%">Round</td>
        <td class="content-table__column beige greentext" width="18%">
          Measure
        </td>
        <td class="content-table__column beige greentext" width="34%">
          Arm position
        </td>
        <td class="content-table__column beige greentext" width="20%">
          Stamping
        </td>
        <td class="content-table__column beige greentext" width="18%">
          Circles
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">1</td>
        <td class="content-table__column white">Measure 1-14</td>
        <td class="content-table__column white">Held in front, then open</td>
        <td class="content-table__column white">In the first half</td>
        <td class="content-table__column white">1 to the left</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">2</td>
        <td class="content-table__column white">Measure 15-27</td>
        <td class="content-table__column white">Held in front, then open</td>
        <td class="content-table__column white">No</td>
        <td class="content-table__column white">3 to the left</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">3</td>
        <td class="content-table__column white">Measure 28-43</td>
        <td class="content-table__column white">
          Right on the right shoulder, left outstretched with occasional swirls
        </td>
        <td class="content-table__column white">In the first half</td>
        <td class="content-table__column white">2 to the right</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">4</td>
        <td class="content-table__column white">Measure 44-58</td>
        <td class="content-table__column white">Both on the shoulders</td>
        <td class="content-table__column white">In the first half</td>
        <td class="content-table__column white">2 to the left</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">5</td>
        <td class="content-table__column white">Measure 59-72</td>
        <td class="content-table__column white">
          Both on the shoulders, then left outstretched after a swirl
        </td>
        <td class="content-table__column white">Throughout</td>
        <td class="content-table__column white">2 to the right</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">6</td>
        <td class="content-table__column white">Measure 73-85</td>
        <td class="content-table__column white">
          In motion, then held in front
        </td>
        <td class="content-table__column white">
          Jumps and then stamps after the circles
        </td>
        <td class="content-table__column white">2 to the left</td>
      </tr>
    </table>

    <p>
      Most rounds conclude with a walked circle, with Sanbasō alternating
      between left and right directions. Each circle begins at Square 8. For a
      left circle, he first moves to the right, tracing a path through Squares
      8, 5, and 3. For a right circle, he moves left, following a trajectory
      that includes Squares 8, 3, and 5.
    </p>

    <p>
      These circlings vary in size. The larger circles are roughly triangular in
      shape; some begin with stamping, but all include two turns at the front of
      the stage—Squares 5 and 3. Smaller circles include either a single turn
      or, in some cases, none at all.
    </p>

    <p>
      In Noh performance, as in Shinto practice, sequences of dance movements
      traditionally give priority to the left direction. This custom is
      symbolized by the word <em>sayū</em>, meaning “left and right.” The same
      rule applies to the Sanbasō dance sequence: the dance begins with four
      consecutive left circles in rounds one and two, followed by two right
      circles in round three. This alternation continues throughout the
      performance.
    </p>

    <p>
      It is notable that the Kyōgen actor, while dancing Sanbasō, shouts
      <em>kakegoe</em> such as ‘iya’, ‘ya’, and ‘ha’—a highly exceptional
      practice for a Noh actor, who would not typically make such vocal calls.
      These <em>kakegoe</em> add liveliness and a dynamic atmosphere to the
      Sanbasō dance. The energetic stamping sequences are often accompanied by
      Sanbasō’s <em>kakegoe</em>, with ‘iya’ on beat 8.5 and ‘ho’ on beat 4.5.
      Conversely, the quieter walking motions are usually performed without any
      <em>kakegoe</em>.
    </p>

    <p>
      Thus, the movements and postures of the Sanbasō dancer are highly
      distinctive, aligning closely with those found in the later
      <em>Suzunodan</em>.
    </p>

    <p>
      <a href="/okina/momi-no-dan/" class="link__level-2" target="_blank"
        >Mominodan</a
      >
    </p>
  </div>
</main>
