---
layout: website
name: okina-noriji
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Noriji</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Voice</div>
        <div class="introductory-table__definition">Congruent</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
    </div>

    <p>
      The name refers to a text set in
      <a href="/music/voices#Onori" target="_blank"><em>ōnori</em></a>
      style, wherein lines begin on the second beat or the latter half of the
      second beat, typically with one syllable per beat. When performed by a
      Kyōgen actor, the accompaniment is rendered in a lighter, more playful
      manner, as is the case in <em>Okina</em>. Further details about
      <em>noriji</em> in the context of Noh can be found
      <a href="/catalog-of-shodan/noriji/" target="_blank">here</a>.
    </p>

    <p>
      There are two <em>Noriji</em> in the Furyū part of <em>Okina</em>. In both
      cases, the percussion is provided by the lead kotsuzumi, ōtsuzumi, and
      taiko players. In the <em>Noriji-1</em>, the percussion pattern matches
      the one found in <em>Watari-byōshi</em>: the ōtsuzumi and kotsuzumi
      players introduce a <em>mitsu-ji</em> pattern over the taiko’s
      <em>koi-ai</em>
      pattern, as shown in the next figure.
    </p>

    {% include image-no-background.html src="/assets/images/Noriji-1.png" %}

    <p>
      At the beginning of the <em>Noriji-2</em>, the text sung by Bamboo and
      Pine is supported by the ōtsuzumi and kotsuzumi playing the
      <em>mitsu-ji</em> pattern, while the taiko follows its standard
      <a href="/music/taiko/" target="_blank">cycles</a>
      of patterns. At the seventh <em>honji</em>, as the singing of the text
      switches to the jiutai, the taiko part transitions to an abridged cycle
      limited to a head pattern followed by a ground pattern, the latter shown
      in the figure above.
    </p>

    <p>
      <a href="/okina/furyu-noriji-1/" class="link__level-2" target="_blank"
        >Noriji-1</a
      >
    </p>

    <p>
      <a href="/okina/furyu-noriji-2/" class="link__level-2" target="_blank"
        >Noriji-2</a
      >
    </p>
  </div>
</main>
