---
layout: website
name: momidashi
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Momidashi</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Voice</div>
        <div class="introductory-table__definition">Unmetered</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Nohkan</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
    </div>

    <p>
      This is a dance-to-text, the first <em>shōdan</em> of Okina’s second act.
      It is consists of three parts, the first two being exclusively
      instrumental, the third one involving singing and movement:
    </p>

    <p>
      Part I&emsp;Sanbasō enters the stage as the nohkan is performing its
      <em>Momidashi</em> pattern. It lasts seven <em>honji</em>.
    </p>

    <p>
      Part II&emsp;Sanbasō sits at Square 1. It lasts fifteen <em>honji</em>.
    </p>

    <p>
      Part III&emsp;Sanbasō stands and goes to Square 3 to deliver its text. It
      lasts twelve <em>honji</em>
    </p>

    <p>
      The nohkan opens the <em>shōdan</em> with its <em>hishigi</em> pattern,
      followed by the <em>momidashi</em> pattern, which consists of a single
      phrase that begins in the high register with the pattern
      <em>"O-hya."</em> This phrase is performed as Sanbasō sits at Square 1,
      framing Part I and marking the beginning of Part II, which is played
      exclusively by percussion.
    </p>

    <p>
      Throughout the <em>shōdan</em>, the three <em>kotsuzumi</em> players
      perform the four-beat pattern shown below, while the <em>ōtsuzumi</em>
      interjects strokes, often off the beat, creating an engaging rhythmic
      texture. This pattern was heard before in Senzai Song 2 and Senzai-no-mai
      2.
    </p>

    {% include image-no-background.html src="/assets/images/momidashi.png" %}

    <p>
      <a href="/okina/momidashi/" class="link__level-2" target="_blank"
        >Momidashi</a
      >
    </p>
  </div>
</main>
