---
layout: website
name: okina-watari-byoshi
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Watari byōshi</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Nohkan</div>
        <div class="introductory-table__definition">Congruent</div>
      </div>
    </div>

    <p>
      <em>Watari-byōshi</em> is a concise entrance music consisting of only
      seven honji. The taiko, ōtsuzumi, and lead kotsuzumi players perform a
      rhythmic pattern known as watari-byōshi, which emphasizes beats 1, 3, 5,
      7, and 8. This pattern is essentially a variation on the
      <a href="/music/otsuzumi-kotsuzumi/" id="Mitsuji"><em>mitsu-ji</em></a>
      and remains static throughout the shōdan, as illustrated in the figure
      below:
    </p>

    {% include image-no-background.html src="/assets/images/Wataribyoshi.png" %}

    <p>
      The nohkan’s congruent pattern comprises four phrases, exhibiting an
      A–B–A–C formal structure. Each phrase, made up of three patterns, begins
      with the same shōga: <em>Hiu-ya-ra</em>.
    </p>

    <p>
      <a href="/okina/watari-byoshi/" class="link__level-2" target="_blank"
        >Watari byōshi</a
      >
    </p>
  </div>
</main>
