---
layout: website
name: okina-gaeri
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Okina-gaeri</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
    </div>

    <p>
      In the final dan, known as “Exit,” the Okina actor removes his mask and
      proceeds along the bridge in a ritualistic manner. He is accompanied by
      the three kotsuzumi players, who perform a single eight-beat pattern—
      focusing, as in many preceding patterns, on beats 1, 3, 5, and 7, and
      notably omitting any <em>kakegoe</em> (vocal calls), as shown below:
    </p>

    {% include image-no-background.html src="/assets/images/Gaeri-1.png" %}

    <p>
      At Square 4, Okina performs a reversed <em>sayū kata</em>, raising and
      pivoting three times—right, left, right—rather than the standard left,
      right, left sequence. He then retreats to Square 9, where he kneels and
      bows. Next, he stands and leaves the stage. As he approaches the first
      pine, the nohkan player performs a short pattern named
      <em>yorokobi-no-te</em> (“pattern of joy”), which cues the percussion to
      shift to a faster four-beat pattern, shown below:
    </p>

    {% include image-no-background.html src="/assets/images/Gaeri-2.png" %}

    <p>
      This doubling of the tempo initiates an accelerando that drives the
      actor’s final, brisk steps offstage.
    </p>

    <p>
      The absence of vocal interjections from the two steady percussion patterns
      imparts a distinctive, mystical atmosphere to the scene. Accordingly, this
      concluding passage is referred to as Okina-gaeri.
    </p>

    <p>
      <a href="/okina/okina-exit/" class="link__level-2" target="_blank"
        >Okina-gaeri</a
      >
    </p>
  </div>
</main>
