---
layout: website
name: okina-issei-chant
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Issei Chant</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Voice</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
    </div>

    <p>
      The text of this short <em>einori</em> chant, sung in the high register,
      follows a syllabic pattern of 5, 7–5, 7–5, befitting the
      <a href="/text/#Rhythmic-R" class="link__level-2" target="_blank"
        >regular category</a
      >. It is accompanied by the <em>ōtsuzumi</em> and <em>kotsuzumi</em>,
      performing the standard <em>mitsu-ji</em> pattern, shown below, already
      introduced in the preceding <em>Watari-byōshi</em>, <em>Noriji-1</em>, and
      <em>Issei</em> music sections.
    </p>

    {% include image-no-background.html src="/assets/images/Issei-Chant.png" %}

    <p>
      Details about Issei chant in the context of Noh can be found
      <a
        href="/catalog-of-shodan/issei-chant/"
        class="link__level-2"
        target="_blank"
        >here</a
      >.
    </p>

    <p>
      <a href="/okina/furyu-issei-chant/" class="link__level-2" target="_blank"
        >Issei chant</a
      >
    </p>
  </div>
</main>
