---
layout: website
name: okina-watari-byoshi
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Watari-byōshi</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Nohkan</div>
        <div class="introductory-table__definition">Congruent</div>
      </div>
    </div>

    <p>
      The <em>Watari-byōshi</em> shōdan introduces entrance music commonly used
      in Noh plays, most often for the entrance of non-human characters. There
      is also a Kyōgen version, which is much shorter than the Noh version. In
      this recording, it consists of only seven <em>honji</em> and is performed
      in a lighthearted, playful manner suited for a Kyōgen interlude. The taiko
      repeats a commonly used basic pattern called <em>koi-ai</em>, while the
      ōtsuzumi and lead kotsuzumi perform the
      <a href="/music/otsuzumi-kotsuzumi/" id="Mitsuji"><em>mitsu-ji</em></a>
      pattern in strict mode, as illustrated in the figure below.
    </p>

    {% include image-no-background.html src="/assets/images/Wataribyoshi.png" %}

    <p>
      The nohkan’s congruent pattern comprises four phrases, exhibiting an
      A–B–A–C formal structure. Each phrase, itself composed of three patterns
      spanning the length of an <em>honji</em> and a half, begins with the same
      shōga: <em>Hiu-ya ra</em>.
    </p>

    <p>
      <a href="/okina/watari-byoshi/" class="link__level-2" target="_blank"
        >Watari-byōshi</a
      >
    </p>
  </div>
</main>
