---
layout: website
name: okina-gaeri
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Okina-gaeri</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
    </div>

    <p>
      In the final dan, Exit, the Okina actor removes his mask and walks the
      bridge in a ritualistic mode, with a percussion accompaniment of mystical
      resonance. This special quality and importance of the character is why
      this exit section has traditionally been given a special name,
      Okina-gaeri. The Okina actor proceeds to Square 4, where he performs a
      reversed <em>sayū</em> kata, raising and pivoting three times—left, right,
      left—rather than in the standard order of right, left, right. He then
      steps back to Square 9, where he kneels and bows.
    </p>

    <p>
      Finally, Okina exits the stage while the three kotsuzumi players perform a
      single eight-beat pattern, focusing like many preceding patterns on beats:
      1, 3, 5, and 7:
    </p>

    {% include image-no-background.html src="/assets/images/Gaeri-1.png" %}

    <p>
      As this eight-beat pattern repeats and the Okina actor almost reaches the
      first pine on the bridge, the nohkan plays a short passage named
      <em>yorokobi-no-te</em>, namely “pattern of joy.” This passage works as a
      releaser for the kotsuzumi players to move on to the next pattern, and for
      the Okina actor to quicken his gait.
    </p>

    <p>
      Together with the rising tempo of the actor’s steps, the rhythmic pattern
      is accelerated to a four-beat pattern, with each stroke on an odd beat
      preceded by an anacrusis:
    </p>

    {% include image-no-background.html src="/assets/images/Gaeri-2.png" %}

    <p>
      <a href="/okina/okina-exit/" class="link__level-2" target="_blank"
        >Okina-gaeri</a
      >
    </p>
  </div>
</main>
