---
layout: website
name: issei-entrance-music
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Issei Entrance Music</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
    </div>

    <p>
      This <em>Issei</em> entrance music is highly unusual, as all it retains
      from the actual <em>shōdan</em> is the fact that it leads into an
      <em>Issei</em> chant. Further details about <em>Issei</em> music in the
      context of Noh can be found
      <a href="/catalog-of-shodan/issei-music/">here</a>.
    </p>

    <p>
      The standard <em>Issei</em> entrance music opens with the nohkan’s
      <em>hishigi</em> pattern: <em>Hi, pi-u hi</em>. In this case, however, the
      nohkan’s contribution is limited to only the first <em>shōga</em>:
      <em>Hi</em>.
    </p>

    <p>
      It is also noteworthy that the closing sentences of the preceding
      <em>Nanori</em> overlap with the beginning of this instrumental entrance
      music. Finally, the percussion pattern remains static, consisting solely
      of repeated statements of the standard <em>mitsu-ji</em> pattern, shown
      below, already introduced in the <em>Watari-byōshi</em> and
      <em>Noriji-1</em> sections:
    </p>

    {% include image-no-background.html src="/assets/images/Issei-Music.png" %}

    <p>
      <a
        href="/okina/furyu-entrance-music/"
        class="link__level-2"
        target="_blank"
        >Issei music</a
      >
    </p>
  </div>
</main>
