---
layout: website
name: okina-senzai-dance
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Senzai-no-mai</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Nohkan</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
    </div>

    <p>
      The performance of Senzai’s two dances features the three kotsuzumi drums
      in strict rhythmic setting and a non-congruent nohkan part. These short,
      dynamic dances incorporate upper-body movements accentuated by swirling
      sleeves and pointing gestures, combined with lower-body motions
      characterized by stamping.
    </p>

    <p>
      The kotsuzumi part supports the first dance with a three-beat pattern,
      introduced in the <em>Senzai Song 1</em>.
    </p>

    {% include image-no-background.html src="/assets/images/Senzai-Dance-1.png"
    %}

    <p>
      It supports the second dance, with a two-beat pattern “ta – po”, set over
      a four-beat <em>kakegoe</em> pattern–the same pattern found in
      <em>Senzai Song 2</em>. It is also used in <em>Momidashi</em>:
    </p>

    {% include image-no-background.html src="/assets/images/Senzai-Dance-2.png"
    %}

    <p>
      The nohkan supports both dances with its <em>Senzai-no-mai</em> pattern,
      which comprises four phrases. All four phrases are performed in the first
      dance, while only the first two are used in the second. The register of
      the opening motives of each phrase outlines a descending shape: the first
      phrase ‘O-hya’ begins in the high register; the second ‘Hi-ya’ is in the
      middle; the third ‘Hi-u’ is in the lower; and the fourth ‘Ho-hya’
      concludes in the lowest register.
    </p>

    <p>
      <a href="/okina/senzai-dance-1/" class="link__level-2" target="_blank"
        ><em>Senzai-no-mai</em> 1</a
      >
    </p>

    <p>
      <a href="/okina/senzai-dance-2/" class="link__level-2" target="_blank"
        ><em>Senzai-no-mai</em> 2</a
      >
    </p>
  </div>
</main>
