---
layout: website
name: okina-senzai-song
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Senzai Song</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Voice</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
    </div>

    <p>
      The performance of Senzai’s dance-to-text song features an arhythmic text
      set in <em>sashinori</em>, sung in the <em>tsuyogin</em> style, supported
      by a three-beat pattern established by the three kotsuzumi drums in strict
      rhythmic setting.
    </p>

    <p>
      This recurring three-beat pattern, used in Senzai’s First song and for the
      opening of his Second song, consists of two strokes: a one-beat 'chi'
      sound preceded by the <em>kakegoe</em> ‘yo’, and a two-beat 'po' sound,
      preceded by the <em>kakegoe</em> ‘ho’:
    </p>

    {% include image-no-background.html src="/assets/images/Senzai-Song-1.png"
    %}

    <p>
      In Senzai’s second song, the percussion pattern is faster. It is a
      two-beat pattern ‘ta – po’, superimposed with a four-beat
      <em>kakegoe</em> pattern. This pattern is also used in Senzai’s second
      dance and in <em>Momidashi</em>.
    </p>

    {% include image-no-background.html src="/assets/images/Senzai-Song-2.png"
    %}

    <p>
      <a href="/okina/senzai-song-1/" class="link__level-2" target="_blank"
        >Senzai’s Song-1</a
      >
    </p>

    <p>
      <a href="/okina/senzai-song-2/" class="link__level-2" target="_blank"
        >Senzai’s Song-2</a
      >
    </p>
  </div>
</main>
