---
layout: website
name: okina-instrumental-dance
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Okina-no-mai</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Nohkan</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
    </div>

    <p>
      The dance is divided in three parts, each articulated by a cadential
      sequence of three stamps: left-right-left. The sequences are respectively
      named: Heaven, Earth, and Man reflecting the Eastern concept of a trinity
      that symbolizes the completeness of the universe. This fundamental trinity
      was first referenced in Prayer-2, and similarly named appeared in Okina’s
      second Dance-to-text.
    </p>

    <p>
      The percussion part is based on essentially four patterns, while the
      nohkan’s “Okina no mai” pattern comprises thirteen phrases. The form of
      the dance is outlined in the chart below, which presents the number of
      <em>honji</em> that corresponds to the nohkan phrases, percussion pattern,
      and the title for each sequence of stamps.
    </p>

    <p>
      Each phrase of the nohkan begins in a distinct register, forming
      “registral waves”: Part I ascends from low to high; Part II moves from
      middle to low before ascending to high; and Part III, beginning in the low
      register, rises to high, then shifts through the middle and low,
      ultimately concluding in the very low register.
    </p>

    <table class="content-table" width="100%">
      <tr class="content-table__row--header">
        <td class="content-table__column greentext" width="12%">
          <em>Honji</em>
        </td>
        <td class="content-table__column" width="30%">Nohkan’s phrase</td>
        <td class="content-table__column" width="28%">Percussion pattern</td>
        <td class="content-table__column" width="30%">
          Named sequence of three stamps: L-R-L
        </td>
      </tr>
      <tr class="content-table__row--header">
        <td class="content-table__column greentext" colspan="4">Part I</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white greentext">1-4</td>
        <td class="content-table__column white">1 – Low</td>
        <td class="content-table__column white">Pattern 1</td>
        <td class="content-table__column white"></td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige greentext">4-5</td>
        <td class="content-table__column beige">2- Low</td>
        <td class="content-table__column beige">Pattern 1</td>
        <td class="content-table__column beige"></td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white greentext">6-7</td>
        <td class="content-table__column white">3 - High</td>
        <td class="content-table__column white">Pattern 1</td>
        <td class="content-table__column white"></td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige greentext">8</td>
        <td class="content-table__column beige">-</td>
        <td class="content-table__column beige">Pattern 2</td>
        <td class="content-table__column beige">
          First sequence is named Heaven
        </td>
      </tr>
      <tr class="content-table__row--header">
        <td class="content-table__column greentext" colspan="4">Part II</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white greentext">9-10</td>
        <td class="content-table__column white">4 - Middle</td>
        <td class="content-table__column white">Pattern 1</td>
        <td class="content-table__column white"></td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige greentext">10-11</td>
        <td class="content-table__column beige">5 - Middle</td>
        <td class="content-table__column beige">Pattern 1</td>
        <td class="content-table__column beige"></td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white greentext">12-13</td>
        <td class="content-table__column white">6 - Low</td>
        <td class="content-table__column white">Pattern 1</td>
        <td class="content-table__column white"></td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige greentext">13</td>
        <td class="content-table__column beige">7 - High</td>
        <td class="content-table__column beige">Pattern 1</td>
        <td class="content-table__column beige"></td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white greentext">14</td>
        <td class="content-table__column white">-</td>
        <td class="content-table__column white">Pattern 2</td>
        <td class="content-table__column white">
          Second sequence is named Earth
        </td>
      </tr>
      <tr class="content-table__row--header">
        <td class="content-table__column greentext" colspan="4">Part III</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white greentext">15-20</td>
        <td class="content-table__column white">8 - Low</td>
        <td class="content-table__column white">Pattern 1- variation</td>
        <td class="content-table__column white"></td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige greentext">20-25</td>
        <td class="content-table__column beige">9 – High</td>
        <td class="content-table__column beige">Pattern 1- variation</td>
        <td class="content-table__column beige"></td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white greentext">25-32</td>
        <td class="content-table__column white">10 – Middle</td>
        <td class="content-table__column white">Pattern 3</td>
        <td class="content-table__column white"></td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige greentext">33-34</td>
        <td class="content-table__column beige">11 – Low</td>
        <td class="content-table__column beige">Pattern 1- 2nd variation</td>
        <td class="content-table__column beige"></td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white greentext">35-38</td>
        <td class="content-table__column white">12 – Low</td>
        <td class="content-table__column white">Pattern 1- 2nd variation</td>
        <td class="content-table__column white"></td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige greentext">39-41</td>
        <td class="content-table__column beige">13 – Very low</td>
        <td class="content-table__column beige">Pattern 4</td>
        <td class="content-table__column beige">Third sequence is named Man</td>
      </tr>
    </table>

    <p>
      Part I is very slow with Okina’s steps on beats 1, 3, 5, and 7, in
      rhythmic synchrony with the percussion pattern, as shown in the following
      figure:
    </p>

    {% include image-no-background.html src="/assets/images/Dance-1.png" %}

    <p>
      The tempo of Part II is much faster, though both Parts I and II are
      concluded with the same percussion pattern shown below. It is clearly
      audible, as the lead kotsuzumi’s part is different from that of the two
      accompanying players.
    </p>

    {% include image-no-background.html src="/assets/images/Dance-2.png" %}

    <p>
      Part III is slower, with the dance-space focused mainly upstage on Square
      8. The percussion part introduces two variations on the first pattern
      shown above; the first variation concludes with the two-<em>honji</em>
      pattern shown below with the three kotsuzumi parts rhythmically
      synchronized.
    </p>

    {% include image-no-background.html src="/assets/images/Dance-3.png" %}

    <p>
      The second variation concludes with a different two-<em>honji</em>
      pattern, also shown below, in which the lead kotsuzumi player’s part
      differs from the two accompanying parts.
    </p>

    {% include image-no-background.html src="/assets/images/Dance-4.png" %}

    <p>
      <a href="/okina/okina-dance-2/" class="link__level-2" target="_blank"
        >Okina Instrumental Dance</a
      >
    </p>
  </div>
</main>
