---
layout: website
name: momidashi
filter-act:
filter-type:
second-level-menu-active: elements
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/shodan-in-okina/">Shōdan in Okina</a></h4>

    <h2>Momidashi</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Voice</div>
        <div class="introductory-table__definition">Unmetered</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Nohkan</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
    </div>

    <p>
      This dance-to-text shōdan, the first of Okina’s second act (named Sanbasō
      - Black Mask), is structured in three parts. The first two are exclusively
      instrumental, with the vocal part confined to the final, third part:
    </p>

    <table class="content-table" width="100%">
      <tr class="content-table__row--header">
        <td class="content-table__column beige greentext" width="10%">Part</td>
        <td class="content-table__column beige greentext" width="65%">
          Sanbasō's Action
        </td>
        <td class="content-table__column beige greentext" width="25%">
          Duration in honji
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">I</td>
        <td class="content-table__column white">
          Enters the stage as the nohkan performs its
          <em>Momidashi</em> pattern.
        </td>
        <td class="content-table__column white">7</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">II</td>
        <td class="content-table__column white">Sits at Square 1.</td>
        <td class="content-table__column white">15</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">III</td>
        <td class="content-table__column white">
          Stands and moves to Square 3 to deliver his text.
        </td>
        <td class="content-table__column white">12</td>
      </tr>
    </table>

    <p>Part I</p>

    <p>
      The shōdan opens with a three-measure introduction. In the middle of the
      second measure, the nohkan introduces its energetic
      <em>hishigi</em> pattern, followed in the subsequent measure by the
      <em>momidashi</em>
      pattern, which calls Sanbasō-to-be to the main stage and triggers the
      three kotsuzumi to begin an eight-beat pattern that they repeat throughout
      the shōdan:
    </p>

    {% include image-no-background.html src="/assets/images/momidashi.png" %}

    <p>
      While the three kotsuzumi play a steady, on-the-beat pattern, the ōtsuzumi
      adds density and momentum by interjecting off-beat strokes. After a
      sequence of these strokes, Sanbasō-to-be, who has advanced to Square 3,
      returns to Square 1, kneels, ending this part in a position that he will
      retain for the whole next part.
    </p>

    <p>Part II</p>

    <p>
      This section features the motionless Sanbasō-to-be with the four
      percussionists. The ōtsuzumi leads, performing what amounts to a solo with
      a series of mainly off-beat strokes against the kotsuzumi’s steady beat.
      As the tempo gradually accelerates, Part II reaches a climax at the
      twenty-first <em>honji</em> with a sequence of intense ‘iya’ kakegoe,
      shouted by the ōtsuzumi player, which spurs Sanbasō-to-be to rise to his
      knee in prepartion for the following part.
    </p>

    <p>Part III</p>

    <p>
      After standing up, Sanbasō-to-be, goes to the strong Square 3, where he
      begins delivering a text that promotes joy, supported by the ōtsuzumi with
      a two-measure sequence of off-beat strokes. Over the still-driving
      percussion he performs a sequence of very rapid <em>kata</em> while
      chanting emphatically. The momentum is maintained as he carries his
      message of hope to the powerful, front-of-stage, Square 4.
    </p>

    <p>
      Then, just before the shōdan’s final two words, Sanbasō-to-be walks to
      Square 2 and freezes, while the driving pattern cuts to sudden silence. He
      chants the last two words unaccompanied and with minimal movement, with
      his voice rising dramatically on the final syllable. This is followed by
      four sharp, sparse strokes from the ōtsuzumi alone that close the part and
      the <em>shōdan</em>.
    </p>

    {% include image-no-background.html src="/assets/images/momidashi.png" %}

    <p>
      <a href="/okina/momidashi/" class="link__level-2" target="_blank"
        >Momidashi</a
      >
    </p>
  </div>
</main>
