.cards-container {
  margin: 0 auto;
  padding-top: 3.5rem;
  width: $wrapper-medium;
  
  @include flex-container($wrap:wrap, $justify:center, $align: flex-start);
  
  .list-plays & {
    padding-top: 0;
  }
}

.cards-container--not-centered {
  justify-content: flex-start;
}

.card {
  background-color: $white;
  border: $border;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem $black16;
  color: $brown;
  display: block;
  height: 25rem;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  top: 0;
  transition: top $transition, box-shadow $transition;
  width: 18.75rem;

  &:hover {
    box-shadow: 0 0.375rem 0.75rem $black16;
    top: -0.25rem;

    .card__image {
      &::before {
        background-color: $brown16;
      }
    }
  }

  span {
    display: block;
  }
}

.card__container {
  padding: 0.5rem;
}

.card__header {
  @include flex-container($justify: center);
  position: relative;
}

.card__image {
  background-size: cover;
  background-position: 50% 50%;
  height: 9.5rem;
  position: relative;
  width: 100%;

  &::before {
    background-color: $brown40;
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    transition: background-color $transition;
    top: 0;
    height: 100%;
    z-index: 1;
  }
}

.card__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.card__content {
  padding: 1.25rem 1.5rem;
}

.card__title {
  color: $green;
  font-weight: $fw-bold;
  margin-bottom: 0.5rem;

  @include text(lg);
}

.card__description {
  @include text(sm,'text');
}

.list-plays {
  background-color: $beige-light;
  border-bottom: $border;
  border-top: $border;
  margin: 4rem 0;
  padding: 2rem 0;
}

