.anchor-menu {
  margin-left: auto;
  margin-right: auto;
  max-width: $wrapper-small;
  padding: 0.5rem;
}
.anchor-menu__element {
  margin-bottom: 0.25rem;

  a {
    color: $green;
    @include text(sm, 'text');
  }

  &.active {
    a {
      font-weight: $fw-bold;
      text-decoration: none;
    }
  }
}