$card-menu-small-element-size: 5.5rem;
$card-menu-large-element-size: 8.75rem;

.card-menu {
  padding: 2rem 0;
}

.card-menu--small {
  background-color: $beige-light;

  @include flex-container($justify: center, $align: center);

  .card-menu__element {
    height: $card-menu-small-element-size;
    width: $card-menu-small-element-size;
    
    span {
      @include text(xs);
      padding: 0 .2rem;
    }
  }
  
  li {
    padding: 0 1rem;
    position: relative;

    &.active {
      .card-menu__element {
        box-shadow: 0 0.375rem 0.75rem $black16;

        &::before {
          background-color: rgba($black, 0);
        }    
      }

      &::after {
        border-color: $beige-light transparent transparent transparent;
        border-style: solid;
        border-width: 0.625rem 0.625rem 0 0.625rem;
        bottom: -2.625rem;
        content: '';
        display: inline-block;
        height: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 0;
      }    
    }
  }
}

.card-menu--large {
  padding: 2rem 0 1rem 0;

  .card-menu__element {
    height: $card-menu-large-element-size;
    width: $card-menu-large-element-size;

    span {
      @include text(sm);
    }
  }
}

.card-menu__element {
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem $black16;
  display: block;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  top: 0;
  transition: box-shadow $transition;

  &::before {
    background-color: $black48;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color $transition;
    width: 100%;
    z-index: 1;
  }

  &:hover {
    box-shadow: 0 0.375rem 0.75rem $black16;

    &::before {
      background-color: rgba($black, 0);
    }
  }

  span {
    color: $white;
    display: block;
    font-weight: $fw-semibold;
    left: 50%;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
  }
}

