.content-table {
  border-top: $border;
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 100%;
  @include wrapper();
}

.content-table--libretto {
  border-top: $border;
  margin-bottom: 4rem;
  margin-top: 0;
}

.content-table--iti {
  border-top: $border;
  margin-bottom: 4rem;
  margin-top: 4rem;

  thead {
    display: block;
    overflow-y: scroll;
    width: 100%;
  }

  tr {
    display: table;
    width: 100%;
  }

  tbody {
    max-height: 400px;
    display: block;
    overflow-y: auto;
  }

  .content-table__column {
    min-width: auto;
    padding: 0.5rem;
  }

  td:nth-of-type(1) {
    width: 6%;
  }
  td:nth-of-type(2) {
    width: 19%;
  }
  td:nth-of-type(3) {
    width: 9%;
  }
  td:nth-of-type(4) {
    width: 19%;
  }
  td:nth-of-type(5) {
    width: 9%;
  }
  td:nth-of-type(6) {
    width: 19%;
  }
  td:nth-of-type(7) {
    width: 19%;
  }
}

#content-table--iti__show-all {
  display: none;

  ~ label {
    float: right;
    text-transform: uppercase;

    &::before {
      content: "show all";
    }
  }

  &:checked {
    ~ label::before {
      content: "collapse";
    }

    ~ .content-table--iti {
      &::after {
        display: none;
      }

      tbody {
        max-height: none;
      }
    }
  }
}

.content-table__row {
  border-bottom: $border;

  &:nth-child(2n + 1) {
    background-color: rgba($beige-light, 0.5);
  }

  &.beige {
    background-color: rgba($beige-light, 0.5);
  }
  &.white {
    background-color: $white;
  }
}

.content-table__column {
  padding: 0.5rem 1rem;
  vertical-align: top;

  @include text(sm, "text");

  p {
    @include text(sm, "text");
  }

  &.greentext {
    color: $green;
    font-weight: $fw-semibold;
    vertical-align: middle;
    @include text(xxs);
    @include uppercase();
  }

  &.beige {
    background-color: rgba($beige-light, 0.5);
  }
  &.white {
    background-color: $white;
  }
}

.content-table__row--header {
  .content-table__column {
    background-color: $beige-light;
    color: $green;
    font-weight: $fw-semibold;
    vertical-align: middle;

    @include text(xxs);
    @include uppercase();
    text-align: left;
  }
}
