.content-table {
  border-top: $border;
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 100%;
  @include wrapper();
}

.content-table--not-expanded {
  width: auto;
}

.content-table--libretto {
  border-top: $border;
  margin-bottom: 4rem;
  margin-top: 0;
}

.content-table--iti-wrapper {
  margin-bottom: 4rem;
  margin-top: 1rem;
  max-height: 400px;
  overflow: auto;
}

.content-table--iti {
  border-top: $border;
  width: 100%;

  .content-table__row--header .content-table__column {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .content-table__column {
    min-width: auto;
    padding: 0.5rem;
    white-space: nowrap;
  }
}

.content-table--iti-label {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}

#content-table--iti__show-all {
  display: none;

  ~ .content-table--iti-label label {
    border: 0.0625rem solid $green;
    border-radius: 0.125rem;
    color: $green;
    cursor: pointer;
    font-weight: $fw-semibold;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.25rem 0.75rem;
    text-transform: uppercase;

    @include text(xxs);
    @include uppercase();

    &::before {
      content: "show all";
    }
  }

  &:checked {
    ~ .content-table--iti-label label::before {
      content: "collapse";
    }

    ~ .content-table--iti-wrapper {
      max-height: none;
      overflow: visible;

      .content-table--iti::after {
        display: none;
      }
    }
  }
}

.content-table__row {
  border-bottom: $border;

  &:nth-child(2n + 1) {
    background-color: rgba($beige-light, 0.5);
  }

  &.beige {
    background-color: rgba($beige-light, 0.5);
  }
  &.white {
    background-color: $white;
  }
}

.content-table__column {
  color: $brown;
  padding: 0.5rem 1rem;
  vertical-align: top;

  @include text(sm, "text");

  p {
    @include text(sm, "text");
  }

  &.greentext {
    color: $green;
    font-weight: $fw-semibold;
    vertical-align: middle;
    @include text(xxs);
    @include uppercase();
  }

  &.beige {
    background-color: rgba($beige-light, 0.5);
  }
  &.white {
    background-color: $white;
  }
}

.content-table__row--header {
  .content-table__column {
    background-color: $beige-light;
    color: $green;
    font-weight: $fw-semibold;
    vertical-align: middle;

    @include text(xxs);
    @include uppercase();
    text-align: left;
  }
}
