.content-table {
  border-top: $border;
  margin-bottom: 4rem;
  margin-top: 4rem;
  @extend .wrapper;
}

.content-table__row {
  border-bottom: $border;

  &:nth-child(2n+1) {
    background-color: rgba($beige-light,0.5);
  }

  &.beige {
    background-color: rgba($beige-light,0.5);
  }
  &.white {
    background-color: $white;
  }
}

.content-table__column {
  padding: 0.5rem 1rem;
  min-width: 9rem;
  vertical-align: top;

  @include text(md, 'text');

  p {
    @include text(md, 'text');
  }

  &.greentext {
    color: $green;
    font-weight: $fw-semibold;
    vertical-align: middle;
    @include text(xxs);
    @include uppercase();
  }

  &.beige {
    background-color: rgba($beige-light,0.5);
  }
  &.white {
    background-color: $white;
  }
}

.content-table__row--header {
  .content-table__column {
    background-color: $beige-light;
    color: $green;
    font-weight: $fw-semibold;
    vertical-align: middle;
  
    @include text(xxs);
    @include uppercase();
  }
}
