$card-menu-small-element-size: 5.5rem;
$card-menu-large-element-size-mobile: 7rem;
$card-menu-large-element-size-desktop: 8.75rem;

.home-play {
  margin-bottom: 5rem;
  overflow: hidden;

  @include card($color: $beige-light);
  @include flex-container(
    $direction: column,
    $justify: flex-start,
    $align: stretch
  );

  @media #{$tablet-up} {
    flex-direction: row;
  }
}

.home-play__image {
  background-position: 50% 50%;
  background-size: cover;
  flex-shrink: 0;
  width: 100%;
  padding-top: 33%;

  @media #{$tablet-up} {
    width: 40%;
  }
  @media #{$desktop-up} {
    padding-top: 0;
  }
}

.home-play__content {
  padding: 2rem;
  width: 100%;

  @media #{$tablet-up} {
    width: 60%;
  }

  @media #{$desktop-up} {
    padding: 4rem;
  }

  li {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.home-play__title {
  color: $brown;
  margin-bottom: 1rem;

  @include text(xxl);
}

.home-play__description {
  margin-bottom: 2rem;

  @include text(lg, "text");
}
