$card-menu-small-element-size: 5.5rem;
$card-menu-large-element-size-mobile: 7rem;
$card-menu-large-element-size-desktop: 8.75rem;

.home-elements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 4rem;
}

.home-element {
  flex-shrink: 0;
  overflow: hidden;
  text-decoration: none;

  @include card($color: $beige-dark);
  @include flex-container(
    $direction: column,
    $justify: flex-start,
    $align: center
  );
}

.home-element__image {
  background-position: 50% 50%;
  background-size: cover;
  flex-shrink: 0;
  padding-top: 55%;
  width: 100%;
}

.home-element__content {
  height: 100%;
  margin: 2rem;

  @include flex-container(
    $direction: column,
    $justify: space-between,
    $align: flex-start
  );

  li {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.home-element__title {
  color: $brown;
  margin-bottom: 0.5rem;
  font-weight: $fw-semibold;

  @include text(xl);
}

.home-element__description {
  margin-bottom: 2rem;

  @include text(lg, "text");
}
