$card-menu-small-element-size: 5.5rem;
$card-menu-large-element-size-mobile: 7rem;
$card-menu-large-element-size-desktop: 8.75rem;

.home-element {
  margin-bottom: 10rem;
  text-decoration: none;

  @include card($color: $beige-dark);
  @include flex-container($justify: center, $align: center);

  &:last-child {
    margin-bottom: 5rem;
  }
}

.home-element--reverse {
  flex-direction: row-reverse;
}

.home-element__image {
  background-position: 50% 50%;
  background-size: cover;
  flex-shrink: 0;
  padding-top: 33%;
  width: 50%;
}

.home-element__content {
  margin-left: 4rem;
  margin-right: 2rem;
  width: 23.75rem;

  li {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.home-element__title {
  color: $brown;
  margin-bottom: 0.5rem;
  font-weight: $fw-semibold;

  @include text(xl);
}

.home-element__description {
  margin-bottom: 1rem;

  @include text(lg, "text");
}
