.mini-cards__container {
  padding: 0 2rem;

  @include flex-container($wrap:wrap, $justify:flex-start, $align:flex-start);
}

.mini-cards__element {
  background-color: $beige-light;
  border: $border;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem $black16;
  color: $brown;
  display: block;
  font-size: $fs-display-md;
  font-weight: $fw-regular;
  height: 5rem;
  margin: 0.5rem;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  top: 0;
  transition: top $transition, box-shadow $transition;
  width: 10rem;

  @include flex-container($justify:center);

  &:hover {
    box-shadow: 0 0.375rem 0.75rem $black16;
    top: -0.125rem;
  }

  a {
    color: $green;
    text-decoration: none;
  }
}
