.mini-cards__container {
  padding: 0 2rem;

  @include flex-container($wrap:wrap, $justify:flex-start, $align:flex-start);
}

.mini-cards__element {
  background-color: $beige-light;
  border: $border;
  color: $brown;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem $black16;
  font-size: $fs-display-md;
  font-weight: $fw-regular;
  margin: 0.5rem;
  position: relative;
  transition: top $transition, box-shadow $transition;

  &:hover {
    box-shadow: 0 0.375rem 0.75rem $black16;
    top: -0.125rem;
  }

  a, div {
    color: $green;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    text-align: center;
    height: 5rem;
    width: 10rem;
    @include flex-container($justify:center);
  }

  .audio_playing {
    background-color: $beige-dark;
  }
}
