.mini-cards__container {
  margin: 0 -0.5rem;
  padding: 0 1rem;

  @include flex-container(
    $wrap: wrap,
    $justify: flex-start,
    $align: flex-start
  );
}

.mini-cards__element {
  background-color: $beige-light;
  border-radius: 0.25rem;
  border: $border;
  box-shadow: 0 0.125rem 0.25rem $black16;
  color: $brown;
  cursor: pointer;
  display: flex;
  font-size: $fs-display-md;
  font-weight: $fw-regular;
  height: 5rem;
  margin: 0.5rem;
  position: relative;
  text-align: center;
  transition: top $transition, box-shadow $transition;
  width: 10rem;

  @include flex-container($justify: center);

  &:hover {
    box-shadow: 0 0.375rem 0.75rem $black16;
    top: -0.125rem;
  }

  a,
  .audio-label {
    color: $green;
    text-decoration: none;
    height: 5rem;
    width: 10rem;
    @include flex-container($justify: center);
    z-index: 1;
  }

  .audio-player::after,
  .audio-playing::after {
    font-family: "FontAwesome";
    font-size: 1.5rem;
    color: $green64;
    position: absolute;
    z-index: -1;
    right: 0.25rem;
    bottom: 0.1rem;
  }
  .audio-player::after {
    content: $fa-var-play;
  }
  .audio-playing::after {
    content: $fa-var-pause;
  }
}
