.mini-cards__container {
  padding: 0 2rem;

  @include flex-container($wrap:wrap, $justify:flex-start, $align:flex-start);
}

.mini-cards__element {
  background-color: $beige-light;
  border: $border;
  color: $brown;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem $black16;
  font-size: $fs-display-md;
  font-weight: $fw-regular;
  margin: 0.5rem;
  height: 5rem;
  width: 10rem;
  position: relative;
  cursor: pointer;
  display: flex;
  text-align: center;
  @include flex-container($justify:center);
  transition: top $transition, box-shadow $transition;

  &:hover {
    box-shadow: 0 0.375rem 0.75rem $black16;
    top: -0.125rem;
  }

  a, .audio-label {
    color: $green;
    text-decoration: none;
    height: 5rem;
    width: 10rem;
    @include flex-container($justify:center);
    z-index: 1;
  }

  .audio-player::after, .audio-playing::after {
    font-family: 'FontAwesome';
    font-size: 1.5rem;
    color: $green64;
    position: absolute;
    z-index: -1;
    right: .25rem;
    bottom: .1rem;
  }
  .audio-player::after {
    content: $fa-var-play;
  }
  .audio-playing::after {
    content: $fa-var-pause;
  }

}