.pis-card-container {
  margin-bottom: 2rem;
}

.pis-card-container--horizontal-cards {
  .pi-card {
    margin-bottom: 2rem;

    @include flex-container($justify: flex-start, $align: stretch);
  }

  .pi-card__info {
    padding: 1.5rem 2rem;
  }
}

.pis-card-container--vertical-cards {
  @include flex-container($justify: flex-start, $align: stretch);

  .pi-card {
    margin: 0 1rem;

    @include flex-container(
      $direction: column,
      $justify: flex-start,
      $align: stretch
    );

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .pi-card__info {
    padding: 1.5rem 1rem;
  }
}

.pi-card {
  color: $brown;
  display: block;
  overflow: hidden;
  text-decoration: none;

  @include card($color: $beige-light, $hover: false);

  span {
    display: block;
  }
}

.pi-card__image {
  background-size: cover;
  background-position: 50% 50%;
  min-height: 15rem;
  min-width: 12rem;
}

.pi-card__name {
  color: $brown;
  font-weight: $fw-bold;
  margin-bottom: 0.25rem;

  @include text(lg, "text");
}

.pi-card__position {
  margin-bottom: 0.5rem;

  @include text(lg, "text");
}

.pi-card__description {
  margin-bottom: 0.5rem;

  @include text(md, "text");
}

.pi-card__link {
  @include text(md, "text");
}
