.section-introduction {
  margin-bottom: 1rem;

  // @include flex-container($justify: flex-start, $align: baseline);
}

.section-introduction__term {
  color: $green;
  flex-basis: 5rem;
  flex-shrink: 0;
  font-weight: $fw-bold;

  @include text(xs);
  @include uppercase();
  }

.section-introduction__definition {
  flex-grow: 1;
  font-family: $font-text;
  margin-bottom: 0.5rem;

  @include text(sm, 'text');

  ul {
    list-style: disc;
    margin-left: 1rem;
  }
}