$shimai-dark-border: 0.0625rem solid #ddd8d5;
$shimai-border: 0.0625rem solid $beige-dark;

.shimai-table {
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 100%;
  @include wrapper();
}

.shimai-table__row {
}

.shimai-table__column {
  background-color: $white;
  border-right: $shimai-border;
  border-bottom: $shimai-border;
  color: $brown;
  padding: 0.5rem;
  vertical-align: top;

  &:last-child {
    border-right: none;
  }

  @include text(xs, "text");

  p {
    @include text(xs, "text");
  }

  strong {
    font-family: $font-text;
  }

  &.greentext {
    color: $green;
    font-weight: $fw-semibold;
    @include text(xxs);
    @include uppercase();
  }

  &.beige {
    background-color: rgba($beige-light, 1);
  }
  &.beige-dark {
    background-color: rgba($beige-dark, 0.6);
  }
  &.green {
    background-color: rgba($green, 0.1);
  }
  &.red {
    background-color: rgba($red, 0.1);
  }
  &.white {
    background-color: $white;
  }
}

.shimai-table__row--header {
  .shimai-table__column {
    background-color: $beige-dark;
    border-bottom: $shimai-dark-border;
    border-right: $shimai-dark-border;
    color: $green;
    font-weight: $fw-bold;
    text-align: center;
    vertical-align: middle;

    @include text(xxs);
    @include uppercase();

    &:last-child {
      border-right: none;
    }
  }
}
