.video-website {
}

.video-website__toggle {
  background-color: $black48;
  color: $white;
  display: inline-block;
  margin: 0 auto 0.5rem auto;
  max-width: $wrapper-media;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  z-index: 11;

  .fas {
    margin-left: 0.5rem;
  }

  &:hover {
    & + .video-website__tooltip {
      display: block;
    }
  }
}

.video-website__container {
  margin: 0 auto;
  max-width: $wrapper-media;
  position: relative;
  width: 100%;
}

.video-website__tooltip {
  background-color: $black80;
  display: none;
  height: 100%;
  left: 0;
  padding: 1.5rem 1rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.video-website__description {

  h6,
  p {
    color: $white;
    margin-bottom: 0.75rem;
  }

  h6 {
    @include text(lg);
  }
}

