---
layout: website
name: ageuta
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Main Chants</h4>

    <h2>Ageuta</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Congruent</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Flute</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
  </div>
<p>The <em>Ageuta</em> chant starts in the higher range and finishes in either the medium or low range. It is sung by an actor, jiutai, or both an actor and jiutai. Based on poetic text with <a href="/text/#Rhythmic-R" target="_blank">regular</a> rhythm, it is set in <a href="/music/voices#Hiranori" target="_blank"><em>hiranori</em></a>. Also, it is customary for the first line of text to be repeated.</p>

  <p>The <em>Ageuta</em> is often composed of two parts clearly discernable by the nohkan’s material. In the first part, the nohkan player performs the <a href="/music/nohkan/takane" target="_blank"><em>takane</em></a> pattern during the <a href="/music/otsuzumi-kotsuzumi/#Uchikiri" target="_blank"><em>uchikiri</em></a>, which separate the two iterations of the first line of text. In the second part, the nohkan player performs two patterns: <a href="/music/nohkan/nakanotakane" target="_blank"><em>naka no takane</em></a> or a variation of it, and <a href="/music/nohkan/mirokunoge" target="_blank"><em>mi roku no ge</em></a>. The first pattern is in the high register of the instrument whereas the second and last one starts in the medium range and finishes in the low range, mirroring the overall registral descent of the vocal line.</p>

  <p>The <em>Ageuta</em> is often used as the closing <em>shōdan</em> in the first act's "Waki- and Shite-enters" parts, as well as the first act itself.</p>

  <p>Between the two plays there are five <em>Ageuta</em>.</p>


    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hashitomi-Ageuta_Score_sl.mp4"
      title="Hashitomi – Ageuta 1"
      link=""
      paragraph1="The first <em>ageuta</em> in Hashitomi is sung in yowagin mode by jiutai accompanied by hayashi. It closes the first act."
    %}

<p>Hashitomi’s first <em>Ageuta</em> featured on this video is sung by the jiutai accompanied by the <em>hayashi</em>. It closes the first act. It is short enough that the nohkan's part does not include a <em>naka no takane</em>. Its second one is also set for jiutai and <em>hayashi</em>. It closes the "Shite re-enters" part. It is shorter than the first one, thus the nohkan’s part  includes only the <em>takane</em> pattern.
This being said, in this production of Hashitomi, the <em>takane</em> is not performed in the second <em>Ageuta</em>. This is because it coincides with the removal of the drape around the <em>tsukurimono</em> that hides the shite. The nohkan's pattern has been left out to keep the focus on the appearance of the shite.</p>

<p>Kokaji’s first <em>Ageuta</em> is set for an actor (waki), jiutai, and <em>hayashi</em>. It closes the first act’s "Waki enters" part.
Its second one set for jiutai and hayashi, closes the first act’s "Dialogue" part. Since it is the second <em>Ageuta</em> in the play, a <em>hishigi takane</em> pattern replaces the <em>takane</em>. Finally, Kokaji’s third <em>Ageuta</em> set for jiutai and <em>hayashi</em>, closes the first act’s "Shite exits" part. There is no <em>uchiriki</em> separating the first line from its repetition, so the nohkan player does not play the <em>takane</em> pattern. Although the <em>Ageuta's</em> second part usually includes nohkan music, it is not played when the first act closes with the exit music <em>raijo</em>, as it is the case with this production.</p>

<h3>Examples in the Plays:</h3>
<p>
<a href="/hashitomi/ageuta-1/" target="_blank">Hashitomi - Ageuta 1</a><br>
<a href="/hashitomi/ageuta-2/" target="_blank">Hashitomi - Ageuta 2</a><br><br>
<a href="/kokaji/ageuta-1/" target="_blank">Kokaji - Ageuta 1</a><br>
<a href="/kokaji/ageuta-2/" target="_blank">Kokaji - Ageuta 2</a><br>
<a href="/kokaji/ageuta-3/" target="_blank">Kokaji - Ageuta 3</a>
</p>
</div>

</main>
