---
layout: website
name: ageuta
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Main Chants</h4>

    <h2>Ageuta</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Congruent</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Flute</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
  </div>

<p>The ageuta chant set in <a href="/music/voices#Hiranori" target="_blank"><em>hiranori</em></a>, starts in the higher range and finishes in either the medium or low range. It is sung by an actor, jiutai, or alternatively, by an actor and jiutai.</p>

  <p> It is often composed of two parts clearly discernable by the nohkan’s material. In the first part, the nohkan player performs the <a href="/music/nohkan/takane" target="_blank"><em>takane</em></a> pattern during the <a href="/music/otsuzumi-kotsuzumi/#Uchikiri" target="_blank"><em>uchikiri</em></a>, which separate the two iterations of the first line of text. In the second section, the nohkan player performs two patterns: <a href="/music/nohkan/nakanotakane" target="_blank"><em>naka no takane</em></a> or a variation of it, and <a href="/music/nohkan/mirokunoge" target="_blank"><em>mi roku no ge</em></a>. The first pattern is in the high register of the instrument whereas the third and last one starts in the medium range and finishes in the low range, mirroring the overall vocal line's descent of register.</p>

  <p>The <em>ageuta</em> is often used to close First act's ‘Waki- and Shite-enters’ parts, as well as the First act itself.</p>

  <p>Between the two plays there are five <em>ageuta</em> modules.</p>


    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hashitomi-Ageuta_Score.mp4"
      title="Hashitomi – Ageuta 1"
      link=""
      paragraph1="The first <em>ageuta</em> in Hashitomi is sung in yowagin mode by jiutai accompanied by hayashi. It closes the first act."
    %}

<p>Hashitomi’s first <em>ageuta</em> featured on this video is sung by the jiutai accompanied by the <em>hayashi</em>. It closes the First act. It is short enough that the nohkan's part does not include its <em>naka no takane</em> pattern.
Its second one is also written for jiutai and hayashi. It closes the ‘Shite re-enters’ part. It is shorter than the first one, thus the nohkan’s part  includes only the <em>takane</em> pattern. Yet, it is not performed in this production since it coincides more or less with the removal of the drape around the <em>tsukurimono</em> that hides the shite. The nohkan’s part has been left out to avoid competing with the main focus: the shite's apperance.</p>

<p>Kokaji’s first <em>ageuta</em> is written for an actor (waki), jiutai, and hayashi. It closes the first act’s ‘Waki enters’ part.
Its second one written for jiutai and hayashi, closes the First act’s ‘Dialogue’ part. Being the second <em>ageuta</em> in the play, the nohkan’s pattern <em>takane</em> is replaced with <em>hishigi takane</em>.
Finally, Kokaji’s third <em>ageuta</em> written for jiutai and hayashi, closes the First act’s ‘Shite exits’ part. There is no <em>uchiriki</em> separating the first line from its repetition, thus the nohkan player does not play the <em>takane</em> pattern. Although its second part usually includes nohkan music, it is not played when the First act closes with the exit music <em>raijo</em> as it is the case with this production.</p>

</div>

</main>
