---
layout: website
name: ashirai
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Entrance and Exit Music</h4>

    <h2>Ashirai</h2>

    <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Flexible</div>
    </div>s
    <div class="introductory-table__element">
      <div class="introductory-table__term">Flute</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
  </div>

  <p>The <em>ashirai</em> is used as an entrance or exit music for the shite, as well as for on-stage change of costume. It is usually followed by a <a href="/catalog-of-shodan/sashi" target="_blank"><em>sashi</em></a> or <a href="/catalog-of-shodan/kakaru" target="_blank"><em>kakaru</em></a>. In Hashitomi’s case, it is followed by an a capella song set in <a href="/music/voices#Sashinori" target="_blank"><em>sashinori</em></a>.
  </p>
  <p>The nohkan’s part is a variation on the four-line <a href="/music/nohkan/rokunoge" target="_blank"><em>roku no ge</em></a> pattern. After performing the standard first three lines followed with a variation on the fourth one, the nohkan player repeats the second and third lines followed with the standard fourth one.
  </p>
  <p>The concert version presented here is shorter, the nohkan part limited to the <em>roku no ge's</em> four lines.
</p>

    </div>

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hashitomi-Ashirai_Score.mp4"
    %}

</main>
