---
layout: website
name: issei-chant
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Introduction Chants</h4>

    <h2>Issei-chant</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
    </div>

    <p>The introductory <em>Issei</em>-chant is usually but not exclusively sung by the shite. It is usually preceded by an entrance music, also called <em>Issei</em>, which we refer to as <a href="/catalog-of-shodan/issei-music" target="_blank"><em>Issei</em>-music</a> to avoid confusion.</p>

    <p>This <a href="/music/voices#Einori" target="_blank"><em>einori</em></a> chant is sung in the high register. In contrast with the recitative style of <a href="/music/voices#Sashinori" target="_blank"><em>sashinori</em></a> chant, <em>einori</em> chant is characterized by the prolongation of certain syllables and a vocal line whose contour is more dynamically shaped.</p>

    <p>Usually based on Japanese poetry, the text of the chant belongs to the <a href="/text/#Rhythmic-R" target="_blank">regular</a> category, with its syllabic structure of 5-7, 5-7, 5 or some combination of 7 and 5. The text for Hashitomi’s <em>Issei</em>-chant though, comes from a Chinese poem by Emperor Saga (786-842), so its syllabic structure does not conform to this format. In fact, it is categorized under the <a href="/text/#Arhythmic" target="_blank">arhythmic</a> poetic text.

</p>



    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hashitomi-Issei_chant_Score_sl.mp4"
      title=""
      link="Hashitomi – <em>Issei</em> chant"
      paragraph1="Sung in yowagin mode by the shite and jiutai."
    %}
    <h3>Example in the Play:</h3>
    <p>
    <a href="/hashitomi/issei/" target="_blank">Hashitomi - Issei</a>
    </p>
        </div>
</main>
