---
layout: website
name: issei-music
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Entrance and Exit Music</h4>

    <h2>Issei-music</h2>

    <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Flute</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
  </div>

  <p>Standard entrance music for the shite, often followed by an <a href="/catalog-of-shodan/issei-chant" target="_blank"><em>Issei</em>-chant</a> or a <a href="/catalog-of-shodan/sashi" target="_blank"><em>Sashi</em></a>.
  </p>
  <p>Kokaji does not include an <em>Issei</em>. Although Hashitomi does include one, it is unusually short since the shite is already on stage, hidden in the <em>tsukurimono</em>, so there is no need for extended entrance music.</p>

  <p>As a point of comparison, we included a concert version of Hagoromo’s <em>Issei</em>-music, which is used for the entrance of the waki and wakizure. The nohkan player opens the <em>shōdan</em> with the <a href="/music/nohkan/hishigi" target="_blank"><em>hishigi</em></a> pattern followed by the <a href="/music/nohkan/nakanotakane" target="_blank"><em>naka no takane</em></a> and a variation on the <a href="/music/nohkan/rokunoge" target="_blank"><em>roku no ge</em></a> pattern, where he repeats the last three lines after having performed the initial four-line pattern.
  As a point of comparison, the nohkan player only plays the two-line  <a href="/music/nohkan/mirokunoge" target="_blank"><em>mi roku no ge</em></a> pattern in the short Hashitomi’s <em>Issei</em>-music.
</p>
    </div>

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hagoromo-Issei_Score_sl.mp4"
    %}

</main>
