---
layout: website
name: jo-no-mai
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Dance </h4>

    <h2>Jo no mai</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Nohkan</div>
      <div class="introductory-table__definition">Congruent</div>
    </div>
  </div>

  <p>
  This refined and calm dance is usually presented by a shite impersonating an old man or a lady, as it is the case with Hashitomi. The complete dance includes five sections, while the abbreviated version has three. The version performed in the play Hashitomi as it appears on this website, includes all five. </p>
  <p>
  The <em>jo no mai</em>  has a three-layered structure articulated by the nohkan, percussion instruments and the choreography of the dance.
  The nohkan provides a cyclical melodic background, and through its recurring patterns it articulates the dance’s five parts: <em>jo, kakari</em>, and three sections.</p>
  <p>
  The beginning of Hashitomi's <em>jo no mai</em> is preceded by a one-<em>honji</em> bridge from the preceding <em>shōdan</em>, the <em>kuse</em>. The non-congruent jiutai, accompanied by the two percussion instruments in flexible setting, introduces the first line of the poem Genji wrote in response to Lady Yūgao’s poem. The jiutai extends the poem’s last vowel over the next <em>honji</em> overlapping with the beginning of the <em>jo no mai</em>.</p>
  <p>

  The name <em>jo-no-mai</em> stems from its introductory section called <em>jo</em>, which can be translated as introduction. The section stands apart from the rest of the dance as well as from other instrumental dances as the only part that includes a non-congruent nohkan, percussion in flexible rhythm. The short, only three <em>honji</em>-long section, is also clearly concluded by a very characteristic Left Stamp of the dancer on the seventh beat of the last <em>honji</em>.</p>
  <p>
  <em>Kakari</em> is the noun derived from the verb <em>kakaru</em>, which means to initiate or to get into something. In the context of the <em>jo no mai</em> it could be understood as getting into the congruent-mode phase of the dance, thus being its second introduction after <em>jo</em>.</p>
  <p>
  It is in the <em>kakari</em> that the nohkan introduces the dance’s core sequence of patterns called <em>Ji</em> or "ground". It is composed of four eight-beat patterns, each one beginning on a second-and-a-half beat of its corresponding honji. They are respectively labelled: <em>Chū, Kan, Kan no Chū,</em> and <em>Ryo,</em> where <em>Kan no Chū</em> is either a variation or repetition of <em>Chū</em>. The melodic shape produced by their sequencing is a four-<em>honji</em>  long sine wave with the <em>Chū</em> pattern in medium range, <em>Kan</em> in the higher range, then back to the medium range with the <em>Kan no Chū</em>, before reaching the lower range with the <em>Ryo</em>. The <em>Ji</em> pattern is played four times in this <em>kakari</em>.</p>
  <p>
  Each of the three sections that follows includes two parts. Part-I introduces a phrase composed of a short sequence of new and recurring nohkan patterns. For instance, Part-I of the First section introduces a sequence of five patterns: <em>Dan</em>, <em>Kan no Chū</em>, <em>Oroshi</em>, <em>Kan no Chū</em>, and <em>Ryo</em>. The structure of Part-I of the Second section is almost identical except that the <em>Oroshi</em> is preceded by a <em>Ryo</em>: <em>Dan</em>, <em>Kan no Chū</em>, <em>Ryo</em>, <em>Oroshi</em>, <em>Kan no Chū</em>, and <em>Ryo</em>. They are all eight-beat long except for the <em>Oroshi</em> which lasts sixteen beats. The structure of the Third section’s Part-I is slightly different, its sequence of patterns being: <em>Dan</em>, <em>Chū</em>, <em>Ryo</em>, where all patterns are eight-beat long except for the <em>Dan</em> which lasts sixteen beats.</p>
  <p>
  All Part-II are compriosed of two <em>Ji</em> plus one or two additional patterns. The structure of the <em>jo no mai</em> as performed by the Kongō school can be summarized as:</p>
  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Jo</div>
      <div class="introductory-table__term">Kakari</div>
      <div class="introductory-table__term">First section</div>
      <div class="introductory-table__term">Second section</div>
      <div class="introductory-table__term">Third section</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__definition">3 honji</div>
      <div class="introductory-table__definition">4 Ji</div>
      <div class="introductory-table__definition">Part-I</div>
      <div class="introductory-table__definition">Part-I</div>
      <div class="introductory-table__definition">Part-I</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__definition"> </div>
      <div class="introductory-table__definition"> </div>
      <div class="introductory-table__definition">Part-II (2Ji + Chū)</div>
      <div class="introductory-table__definition">Part-II (2Ji + Chū & Kan)</div>
      <div class="introductory-table__definition">Part-II (2Ji + Tome)</div>
    </div>
  </div>


  <p>The instrumental version of the <em>jo no mai</em> included in this Catalog of <em>shōdan</em> starts with the Bridge from the <em>kuse</em>, followed by the <em>jo's</em> three <em>honji</em>, labelled Intro: 1, 2, 3, respectively, which leads to four presentations of the <em>Ji</em> pattern.</p>

    </div>

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hashitomi-Jo_no_mai_Score_sl.mp4"
    %}

</main>
