---
layout: website
name: jonomai
title: jonomai
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---



{% include second-menu-elements.html %}



<main class="page-content">
  <div class="text-container">



    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Dance </h4>

    <h2>Jonomai</h2>


  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Nohkan</div>
      <div class="introductory-table__definition">Congruent</div>
    </div>
  </div>
  <p>
This refined and calm dance, which can be performed by an old man character, is typically presented by female characters, as is the case with Hashitomi. Like all instrumental dances, the <em>Jonomai</em> has three layers: the dance, the nohkan, and the percussion instruments. The nohkan provides a cyclical melodic background, and through its recurring patterns articulates the dance’s five sections: <em>jo</em>, <em>kakari</em>, and three <em>dan</em>. The complete dance, as presented in the <a href="/hashitomi/jonomai/" target="_blank">full play recording</a>, includes five sections. However, some <em>Jonomai</em> include only two or even one <em>dan</em>. The name <em>jonomai</em> derives from the introductory section <em>jo</em>, which can be translated as “an introduction.” </p>


<h3>
Jo</h3>
<p>
The three <em>honji</em>-long section stands apart from the rest of the dance, as well as from most instrumental dances, as a section that includes a non-congruent nohkan part and percussion in flexible rhythm.</p>

<h3>
Kakari</h3>
<p>
<em>Kakari</em> is the noun derived from the verb <em>kakaru</em>, which means “to initiate” or “to get into something.” In the context of the <em>Jonomai</em>, <em>kakari</em> could be understood as getting into the congruent-mode phase of the dance, which makes it the introduction's second step after <em>jo</em>. </p>

<p>In this section, the nohkan introduces the dance’s core sequence of patterns called <em>Ji</em> or 'ground.' The <em>Ji</em> will be used repeatedly in this and the remaining sections of the dance. It is composed of four eight-beat segments: <em>Chū, Kan, Kannochū,</em> and <em>Ryo,</em> where <em>Kannochū</em> is either a variation or repetition of <em>Chū</em>. Each segment begins on the second-and-a-half beat of its <em>honji</em>. The sequenced four patterns produce a melodic line whose shape is a four-<em>honji</em> long wave with the <em>Chū</em> pattern in medium range, <em>Kan</em> raising into higher range, then back to the medium range in the <em>Kannochū</em>, before reaching the lower range in the <em>Ryo</em>. The <em>Ji</em> pattern is played four times in this <em>kakari</em>.</p>

<h3>
Dan</h3>
<p>
The section's name comes from the nohkan's opening pattern called <em>dan</em>. The beginning of each <em>dan</em> can be recognized by an extended <em>’iya’ kakegoe</em> by the ōtsuzumi player.</p>

<p>A <em>dan</em> includes two parts. Part I consists of a short sequence of new and recurring nohkan segments:
</p>
<p> <strong><em>Dan</em> I - Part I </strong>has five segments: <em>Dan</em>, <em>Kannochū</em>, <em>Oroshi</em>, <em>Kannochū</em>, and <em>Ryo</em>. </p>

<p><strong><em>Dan</em> II - Part I </strong>has an almost identical sequence of patterns except that the <em>Oroshi</em> is preceded by a <em>Ryo</em>. This results in the following sequence: <em>Dan</em>, <em>Kannochū</em>, <em>Ryo</em>, <em>Oroshi</em>, <em>Kannochū</em>, and <em>Ryo</em>. </p>

<p> In the first two <em>dan</em>, all patterns are eight-beats long except for the <em>Oroshi</em>, which lasts sixteen beats. <em>Oroshi</em> is also a unique moment of significant slowdown. </p>

<p> <strong><em>Dan</em> III - Part I </strong>is slightly different, and is composed of the following: <em>Dan</em>, <em>Chū</em>, <em>Ryo</em>, where all segments are eight-beat long except for the <em>Dan</em>, which lasts sixteen.</p>

<p>
All <strong><em>Dan</em> - Part II</strong> sections are comprised of two <em>Ji</em> as heard in <em>kakari</em>, plus unique combinations of one or two additional segments. </p>

<p id="structure">The structure of the <em>jonomai</em> as performed by the Kongō school can be summarized as follows:</p>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Jo</div>
      <div class="introductory-table__term">Kakari</div>
      <div class="introductory-table__term">First dan</div>
      <div class="introductory-table__term">Second dan</div>
      <div class="introductory-table__term">Third dan</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__definition">3 * <em> honji</em></div>
      <div class="introductory-table__definition">4 *Ji (Chū, Kan, Kannochū, Ryō)</div>
      <div class="introductory-table__definition">Dan, Kannochū, Oroshi, Kannochū, Ryō</div>
      <div class="introductory-table__definition">Dan, Kannochū, Ryō, Oroshi, Kannochū, Ryō</div>
      <div class="introductory-table__definition">Dan, Kannochū, Ryō</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__definition"> </div>
      <div class="introductory-table__definition"> </div>
      <div class="introductory-table__definition">2Ji + Chū</div>
      <div class="introductory-table__definition">2Ji + Chū, Kan</div>
      <div class="introductory-table__definition">2Ji + Tome</div>
    </div>
  </div>

  <p id="Oroshi">There is a special note on the <em>oroshi</em> pattern: it is not only the longest but also the slowest, since <em>oroshi</em> means “to slow down.” The <em>Jonomai’s</em> five sections are spread over sixty-four <em>honji</em>, as shown in this figure, where the Y-axis gives duration in seconds (the higher the peak the slower the tempo): </p>

  {% include image-no-background.html src="/assets/images/jonomai-tempo.png" %}

  <p>The figure shows that the five sections are merged into an overall accelerando that is relaxed in the first and second <em>dan</em>, where the highest peaks correspond to the two-<em>honji</em> long <em>Oroshi</em>.</p>

<p>
The beginning of Hashitomi's <em>Jonomai</em> is preceded by a one-<em>honji</em> bridge from the preceding <em>shōdan</em>, the <em>Kuse</em>. The jiutai, accompanied by the two percussion instruments, introduces the first line of the poem Genji wrote in response to Lady Yūgao’s. The jiutai extends the poem’s last vowel over the next <em>honji</em>, overlapping with the beginning of the <em>Jonomai</em>.</p>

<p>The instrumental version of the <em>Jonomai</em> included in this Catalog of <em>Shōdan</em> is abridged. It starts with the bridge from the <em>Kuse</em>, followed by the <em>Jo's</em> three <em>honji</em>, which leads to <em>Kakari</em> with four presentations of the <em>Ji</em> pattern.</p>

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hashitomi-Jo_no_mai_Score_sl.mp4"
    %}

<h3>Example in the Play:</h3>

<p><a href="/hashitomi/jonomai/" target="_blank">Hashitomi - <em>Jonomai</em></a></p>
        </div>
</main>
