  ---
layout: website
name: kakaru
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Recitative Chants</h4>

    <h2>Kakaru</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Voice</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Flexible</div>
      </div>
      </div>

      <p>
    <em>Kakaru</em> means to initiate or to get into something, which in this case refers to a transition from a spoken narrative to singning and music. It can mix kotoba and singing in non-congruent mode.
    Text in <a href="/text/#Prose/" target="_blank">prose</a> either alternated with or is followed by <a href="/text/#Arhythmic/" target="_blank">arhythmic</a> text set in <a href="/music/voices#Sashinori" target="_blank"><em>sashinori</em></a>. When switching from speaking to singing, a subtle expressive emphasis results for the first few sung words. <em>Kakaru</em> can be accompanied by the two drums in flexible mode but never by the nohkan.</p>

    <p><em>Kakaru</em> typically follows a spoken dialogue like a <em>mondō</em> or <em>kakeai</em> and leads to a congruent song such as an <em>ageuta</em>. Serving as a bridge from a conversation, it is often also sung antiphonally. The following shōdan is frequently sung by the jiutai, who takes over from shite and waki, and can speak for them merged into one voice. </p>

    <p>There are three <em>kakaru</em> in Hashitomi presented below. The example of second <em>kakaru</em> is a typical one. Kakaru 1 and 3 are monologues. However, all three share the function of preparing for a dramatic shift, the arrival of the shite or his prominent role. They are all the last shōdan leading to the new sections: Shite Enters, Shite Performs and Shite Re-enters, respectively.</p>


    <p>Delivery in <a href="/music/voices#Spoken" target="_blank"><em>kotoba</em></a> is recognizable by the declamation's rising tone, identified in the video with bold syllables. On the other hand, the vibrato associated with the singing mode helps identify the switching point between the two modes.</p>
<p>Although the name <em>kakaru</em> appears in the chanting books of most schools, the term is not normally adopted as a name of shōdan in Japanese academic context. Instead of <em>kakaru</em>, the relevant segments are referred to as <em>kakeai</em> (dialogue), <em>sashi</em> or are given no name.</p>

  <div class="tabs-container">
    <div class="tabs-container__links">
      <div class="wrapper">
        <div id="tabs"></div>
      </div>
    </div>
    <div class="tabs-container__content">
      <div class="wrapper">
      <section id="tab-1" title="Hashitomi-Kakaru-1" class="tabbed-narrative">
      <p>Hashitomi’s first <em>kakaru</em> is the last <em>shōdan</em> of the First act’s ‘Waki enters’ part. It is set for one actor accompanied by the two hand-percussion instruments.</p>
      <p>This is a monologue presented by the waki, a monk living in <em>Unrin-in</em> Temple, who is performing a service for flowers as an offering to Buddha. After having made a factual statement about the flowers in <em>kotoba</em>, the waki switches to singing in <a href="/music/voices#Yowagin" target="_blank"><em>yowagin</em></a> style, as he emotionally reflects on the lotus plant, since according to esoteric Buddhism, the heart of beings is like an unopened lotus.</p>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hashitomi-Kakaru1_Score_sl.mp4"
      %}
      </section>

      <section id="tab-2" title="Hashitomi-Kakaru-2" class="tabbed-narrative">
      <p>Hashitomi’s second <em>kakaru</em> is the last <em>shōdan</em> of the First act’s ‘Dialogue’ part, it leads to an <em>ageuta</em>. It starts in chanting mode, switches to <em>kotoba</em> before concluding in singing mode.</p>
      <p>This is a dialogue between the waki and shite while the latter's identity is still unknown. (The waki is sitting further right, the shite between the waki and kotsuzumi player). Both singing parts are in the higher range, sung in <em>yowagin</em>.  The only spoken line in the dialogue is delivered by the shite's character who cleverly evades answering the waki’s question about her name. The change of timbre let us understand that the shite's character is not yet ready to reveal her identity.</p>
      <p>The ambiguity about the shite's character identity is underlined by the two percussion instruments whose material spread over five eight-beat units heavily features the <a href="/music/otsuzumi-kotsuzumi/#Mitsuji" target="_blank"><em>mitsuji</em></a> patterns whose sporadic strokes prevent the emergence of a definite pulse, creating a rhytmic ambiguity that suits well with the ambiguity of the shite's identity.</p>
        {% include video-no-background.html
          src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hashitomi-Kakaru2_Score_sl.mp4"
        %}
        </section>

        <section id="tab-3" title="Hashitomi-Kakaru-3" class="tabbed-narrative">
        <p>Hashitomi’s third <em>kakaru</em> is the sole <em>shōdan</em> of the Second act’s ‘Waki waits’ part. It is entirely sung, meaning it does not include any spoken part, and as such it compares very well with a <a href="/catalog-of-shodan/sashi" target="_blank"><em>sashi</em></a>, the main difference between them is that the <em>kakaru</em> does not include a nohkan’s part.</p>
      </section>

      </div>
    </div>
  </div>
  <h3>Examples in the Play:</h3>
  <p>
  <a href="/hashitomi/kakaru-1/" target="_blank">Hashitomi - Kakaru 1</a><br>
  <a href="/hashitomi/kakaru-2/" target="_blank">Hashitomi - Kakaru 2</a><br>
  <a href="/hashitomi/kakaru-3/" target="_blank">Hashitomi - Kakaru 3</a>
  </p>

    </div>
</main>
