---
layout: website
name: kakaru
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Recitative Chants</h4>

    <h2>Kakaru</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Voice</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Flexible</div>
      </div>
      </div>

      <p>
    <em>Kakaru</em> means "to initiate" or "to get into something", which in this case refers to a transition from a spoken narrative to singing and music. It can mix <em>kotoba</em> and singing in non-congruent mode.
    Text in <a href="/text/#Prose" target="_blank">prose</a> either alternated with or is followed by <a href="/text/#Arhythmic" target="_blank">arhythmic</a> text set in <a href="/music/voices#Sashinori" target="_blank"><em>sashinori</em></a>. When switching from speaking to singing, a subtle expressive emphasis takes place in the first few sung words. <em>Kakaru</em> can be accompanied by the two drums in flexible mode but never by the nohkan.</p>

    <p><em>Kakaru</em> typically follows a spoken dialogue like a <em>Mondō</em> or <em>Kakeai</em> and often leads to a congruent song such as an <em>Ageuta</em>. Also, serving as a bridge from a conversation, it is often sung antiphonally. The <em>shōdan</em> that follows is frequently sung by the jiutai, who takes over from shite and waki, and speak for them in one merged voice. </p>

    <p>There are three <em>Kakaru</em> in Hashitomi presented below. The second is a typical one, whereas <em>Kakaru</em> one and three are monologues. However, all three share the function of preparing for a dramatic shift, such as the arrival of the shite. They are all either leading to or opening a new section: Shite Enters, Shite Performs and Shite Re-enters, respectively. The transitional quality of the <em>Kakaru</em> is also reflected in its percussion accompaniment, which is articulated with sparse <a href="/music/otsuzumi-kotsuzumi/#Mitsuji" target="_blank"><em>mitsuji</em></a> pattern, with an increase of momentum towards the end, evidence in a switch to the pulsated <a href="/music/otsuzumi-kotsuzumi/#Tsuzuke" target="_blank"><em>tsuzuke</em></a> pattern.</p>

    <p>Delivery in <a href="/music/voices#Spoken" target="_blank"><em>kotoba</em></a> is recognizable by the declamation's rising tone, identified in the video with bold syllables. On the other hand, the vibrato associated with the singing mode helps identify the switching point between the two modes.</p>

    <p>Although the name <em>Kakaru</em> appears in the chanting books of most schools, the term is not normally adopted as a name of <em>shōdan</em> in Japanese academic context. Instead of <em>Kakaru</em>, the relevant segments are referred to as <em>Kakeai</em> (dialogue), <em>Sashi</em> or are given no name.</p>

  <div class="tabs-container">
    <div class="tabs-container__links">
      <div class="wrapper">
        <div id="tabs"></div>
      </div>
    </div>
    <div class="tabs-container__content">
      <div class="wrapper">
      <section id="tab-1" title="Hashitomi-Kakaru-1" class="tabbed-narrative">
      <p>Hashitomi’s first <em>Kakaru</em> is the last <em>shōdan</em> of the first act’s ‘Waki enters’ part. It is set for one actor accompanied by the two hand-percussion instruments.</p>
      <p>This is a monologue presented by the waki, a monk living in <em>Unrin-in</em> Temple, who is performing a service for flowers as an offering to Buddha. After having made a factual statement about the flowers in <em>kotoba</em>, the waki switches to singing in <a href="/music/voices#Yowagin" target="_blank"><em>yowagin</em></a> style, as he emotionally reflects on the lotus plant, since according to Buddhism, the heart of beings is like an unopened lotus.</p>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hashitomi-Kakaru1_Score_sl.mp4"
      %}
      </section>

      <section id="tab-2" title="Hashitomi-Kakaru-2" class="tabbed-narrative">
      <p>Hashitomi’s second <em>Kakaru</em> is the last <em>shōdan</em> of the first act’s ‘Dialogue’ part, leading to an <em>Ageuta</em>. It starts in chanting mode, switches to <em>kotoba</em>, and concludes in singing mode.</p>
      <p>This is a dialogue between the waki and shite while the latter's identity is still unknown. (The waki is sitting further right, the shite between the waki and kotsuzumi player.) Both singing parts are in the higher range, sung in <em>yowagin</em>.  The only spoken line in the dialogue is delivered by the shite's character, who cleverly evades answering the waki’s question about her name. The change of timbre let us understand that the shite's character is not yet ready to reveal her identity.</p>
      <p>The ambiguity about the shite's character identity is underlined by the two percussion instruments whose material spread over five eight-beat units heavily features the <a href="/music/otsuzumi-kotsuzumi/#Mitsuji" target="_blank"><em>mitsuji</em></a> patterns whose sporadic strokes prevent the emergence of a definite pulse, creating a rhythmic ambiguity that matches the ambiguity of the shite's identity.</p>
        {% include video-no-background.html
          src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hashitomi-Kakaru2_Score_sl.mp4"
        %}
        </section>

        <section id="tab-3" title="Hashitomi-Kakaru-3" class="tabbed-narrative">
        <p>Hashitomi’s third <em>Kakaru</em> is the sole <em>shōdan</em> of the second act’s ‘Waki waits’ part. It is entirely sung, so it compares well with a <a href="/catalog-of-shodan/sashi" target="_blank"><em>Sashi</em></a>, the main difference between them is that the <em>Kakaru</em> does not include a nohkan’s part.</p>
      </section>

      </div>
    </div>
  </div>
  <h3>Examples in the Play:</h3>
  <p>
  <a href="/hashitomi/kakaru-1/" target="_blank">Hashitomi - Kakaru 1</a><br>
  <a href="/hashitomi/kakaru-2/" target="_blank">Hashitomi - Kakaru 2</a><br>
  <a href="/hashitomi/kakaru-3/" target="_blank">Hashitomi - Kakaru 3</a>
  </p>

    </div>
</main>
