---
layout: website
name: kiri
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Closing Chants</h4>

    <h2>Kiri</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Congruent</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Nohkan</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
  </div>

  <p>Popular term used by performers to refer to the final <em>shōdan</em> of a play. It is usually the second dance-to-text <em>shōdan</em> of a play, the <em>kuse</em> being potentially the first one. In scholarly circles, this module is usually differentiated on the basis of its rhythmic organization: it is called <em>noriji</em> when set in <a href="/music/voices#Onori" target="_blank"><em>ōnori</em></a>, and <em>chūnoriji</em> when set in <a href="/music/voices#Chunori" target="_blank"><em>chūnori</em></a>, but there is no specific name when set in <a href="/music/voices#Hiranori" target="_blank"><em>hiranori</em></a>.</p>

  <p>We have used the generic term <em>kiri</em> for the last module of both plays.</p>

  <div class="tabs-container">
    <div class="tabs-container__links">
      <div class="wrapper">
        <div id="tabs"></div>
      </div>
    </div>
    <div class="tabs-container__content">
      <div class="wrapper">
      <section id="tab-1" title="Hashitomi-Kiri" class="tabbed-narrative">
      <p>Hashitomi’s <em>kiri</em> set in <a href="/music/voice/#Onori" target="_blank"><em>ōnori</em></a>, is sung in <a href="/music/voices#Yowagin" target="_blank"><em>yowagin</em></a> style by the jiutai and shite, who sings three verses. It is accompanied by the two hand-percussion instruments and the nohkan, who closes the play with its <a href="/music/nohkan/Tomenote" target="_blank"><em>tome no te</em></a> pattern.</p>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hashitomi-Kiri_Score.mp4"
      %}

      </section>
      <section id="tab-2" title="Kokaji-Kiri" class="tabbed-narrative">
        <p>Kokaji’s <em>kiri</em> set in <a href="/music/voice/#Chunori" target="_blank"><em>chūnori</em></a> and <a href="/music/voice/#Hiranori" target="_blank"><em>hiranori</em></a>, is sung in <a href="/music/voices#Tsuyogin" target="_blank"><em>tsuyogin</em></a> style by the jiutai and shite, who sings one verse. It is accompanied by the two hand-percussion instruments and the nohkan, who closes the play with its <a href="/music/nohkan/Tomenote" target="_blank"><em>tome no te</em></a> pattern.</p>
        {% include video-no-background.html
          src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Kiri_Score.mp4"
        %}
      </section>
      </div>
    </div>
  </div>

</div>
</main>
