---
layout: website
name: kiri
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Closing Chants</h4>

    <h2>Kiri</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Congruent</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Nohkan</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
  </div>

  <p>A popular term used by performers to refer to the final <em>shōdan</em> of a play. It is usually the second dance-to-text <em>shōdan</em> of a play, while the <em>Kuse</em> is potentially the first. Although its poetic text is commonly <a href="/text/#Rhythmic-I" target="_blank">irregular</a>, <a href="/text/#Rhythmic-R" target="_blank">regular</a> text is also possible. Scholarly circles usually differentiate this module on the basis of the rhythmic organization of its text: it is called <em>Noriji</em> when set in <a href="/music/voices#Onori" target="_blank"><em>ōnori</em></a>, and <em>Chūnoriji</em> when set in <a href="/music/voices#Chunori" target="_blank"><em>chūnori</em></a>, but there is no specific name when set in <a href="/music/voices#Hiranori" target="_blank"><em>hiranori</em></a>.</p>

  <p>The <em>Kiri</em> and <em>Kuse</em> are the two <em>shōdan</em> that can also be performed as a <a href="/shimai-dances/" target="_blank"><em>shimai</em></a>.</p>

  <div class="tabs-container">
    <div class="tabs-container__links">
      <div class="wrapper">
        <div id="tabs"></div>
      </div>
    </div>
    <div class="tabs-container__content">
      <div class="wrapper">
      <section id="tab-1" title="Hashitomi-Kiri" class="tabbed-narrative">
      <p>The jiutai and shite share singing the three verses of Hashitomi’s <em>Kiri</em>. The text set in <em>ōnori</em> is sung in <a href="/music/voices#Yowagin" target="_blank"><em>yowagin</em></a> style. The two hand-percussion instruments accompany them. It is near the end that the nohkan joins in and closes the play with the <a href="/music/nohkan/tomenote" target="_blank"><em>tome no te</em></a> pattern.</p>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hashitomi-Kiri_Score_sl.mp4"
      %}

      </section>
      <section id="tab-2" title="Kokaji-Kiri" class="tabbed-narrative">
        <p>The jiutai and shite share singing Kokaji’s <em>Kiri</em>. The text set in <em>chūnori</em> and <em>hiranori</em> is sung in <a href="/music/voices#Tsuyogin" target="_blank"><em>tsuyogin</em></a> style. The two hand-percussion instruments accompany them. It is near the end that the nohkan joins in and closes the play with the <a href="/music/nohkan/tomenote" target="_blank"><em>tome no te</em></a> pattern.</p>

        {% include video-no-background.html
          src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Kiri_Score.mp4"
        %}
      </section>
      </div>
    </div>
  </div>
  <h3>Examples in the Plays:</h3>
  <p>
  <a href="/hashitomi/kiri/" target="_blank">Hashitomi - Kiri</a><br>
  <a href="/kokaji/kiri/" target="_blank">Kokaji - Kiri</a>
  </p>

</div>
</main>
