---
layout: website
name: kuri
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Introduction Chants</h4>

    <h2>Kuri</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Nohkan</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
  </div>


  <p>A high-pitched melodious and short <a href="/music/voices#Einori" target="_blank"><em>einori</em></a>  chant sung by the shite, or the jiutai, or alternatively by both. Kokaji’s <em>kuri</em> is set for jiutai accompanied by ōtsuzumi, kotsuzumi and nohkan.</p>

  <p><em>Kuri's</em> text is based on a sequence of 7 + 5 syllables and yet, it classified as an <a href="/text/#Arhythmic/" target="_blank">arhythmic</a> text. This comes from the fact, that one must be able to hear the subdivision of a text into two hemistiches for it to be considered a rhythmic text. The overall complex rhythmic organization of the <em>kuri</em> makes it impossible to hear the text as being organized into two groups.</p>

  <p><em>Kuri</em> is classified among the Introduction chants, so an explanation about its 'introduction' nature must be addressed since it is rather ambiguous. <em>Kuri's</em> narrative serves as a lead into the following <em>shōdan</em>, the <a href="/catalog-of-shodan/sashi" target="_blank"><em>sashi</em></a>,
  whose narrative is then fully developed in the next <a href="/catalog-of-shodan/kuse" target="_blank"><em>kuse</em></a>. Thus, it is because it leads to the <em>kuse</em> that it is classified as an 'Introduction' chant.</p>

  <p>Often the <em>kuri</em> follows a <a href="/catalog-of-shodan/shidai-chant" target="_blank"><em>shidai-chant</em></a> or <a href="/catalog-of-shodan/issei-chant" target="_blank"><em>issei-chant</em></a> when sung by an actor, and precedes a <em>sashi</em> when sung by the jiutai, as it is the case in Kokaji. It always closes with its signature melisma called <em>hon-yuri</em>.</p>

  <p>The nohkan performs two patterns during the <em>kuri</em>. The first one, also called <em>kuri</em> is short. It is followed by the longer pattern called <em>yuri</em>.</p>

  <p> Kokaji's <em>kuri</em> is sung in <a href="/music/voices#Tsuyogin" target="_blank"><em>tsuyogin</em></a> style. For the most part, its melody is sung on the Medium/High tone. Yet, the module's name refers to the high pitch <em>kuri</em>; thus, the melody of Kokaji's <em>kuri</em> includes four melodic motions towards the <em>kuri</em> tone. They appear as part of embellishments, and are highlighted in bold in the video's text. Finally, the signature closing melisma <em>hon-yuri</em> closes the chant on the Low tone.</p>




    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Kuri_Score_sl.mp4"

    %}

    <h3>Example in the Play:</h3>
    <p>
    <a href="/kokaji/kuri/" target="_blank">Kokaji - Kuri</a>
    </p>
    </div>
</main>
