---
layout: website
name: kuri
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Introduction Chants</h4>

    <h2>Kuri</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Nohkan</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
  </div>


  <p>A high-pitched melodious and short <a href="/music/voices#Einori" target="_blank"><em>einori</em></a> chant sung by the shite, the jiutai, or both. Kokaji’s <em>Kuri</em> is set for jiutai accompanied by ōtsuzumi, kotsuzumi and nohkan.</p>

  <p><em>Kuri's</em> text is based on a sequence of 7 + 5 syllables but is classified as an <a href="/text/#Arhythmic" target="_blank">arhythmic</a> text. This is because one must be able to hear the subdivision of a text into two hemistiches for it to be considered a rhythmic text. The overall complex rhythmic organization of the <em>Kuri</em> makes it impossible to hear that the text is organized into two groups.</p>

  <p><em>Kuri</em> is one of the Introduction chants, although its introductory nature is rather ambiguous. <em>Kuri's</em> narrative introduces the story presented in the next <em>shōdan</em>, the <a href="/catalog-of-shodan/sashi" target="_blank"><em>Sashi</em></a>,
  whose narrative is then fully developed in the next <em>shōdan</em>, the <a href="/catalog-of-shodan/kuse" target="_blank"><em>Kuse</em></a>. Because the <em>Kuri</em> leads to the <em>Kuse</em>, it is classified as an 'Introduction' chant.</p>

  <p>When sung by an actor, the <em>Kuri</em> often follows a <a href="/catalog-of-shodan/shidai-chant" target="_blank"><em>Shidai</em>-chant</a> or <a href="/catalog-of-shodan/issei-chant" target="_blank"><em>Issei</em>-chant</a>. On the other hand, it precedes a <em>Sashi</em> when sung by the jiutai, as it is the case in Kokaji. It always concludes with its signature melisma called <em>hon-yuri</em>.</p>

  <p>The nohkan performs two patterns during the <em>Kuri</em>. The first one, also called <em>kuri</em>, is short. The longer pattern, called <em>yuri</em>, follows.</p>

  <p> Kokaji's <em>Kuri</em> is sung in <a href="/music/voices#Tsuyogin" target="_blank"><em>tsuyogin</em></a> style. For the most part, its melody is sung on the Medium/High tone. However, the module's name refers to the high pitch <em>kuri</em>; thus, the melody of Kokaji's <em>Kuri</em> includes four melodic motions towards the <em>kuri</em> tone. They appear as part of embellishments, and are highlighted in bold in the video's text. Finally, the signature closing melisma <em>hon-yuri</em> closes the chant on the Low tone.</p>


    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Kuri_Score_sl.mp4"

    %}

    <h3>Example in the Play:</h3>
    <p>
    <a href="/kokaji/kuri/" target="_blank">Kokaji - Kuri</a>
    </p>
    </div>
</main>
