---
layout: website
name: mondo
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Spoken</h4>

    <h2>Mondō</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Unmetered</div>
    </div>
  </div>

  <p><a href="/text/#Prose" target="_blank">Prosaic</a> conversation between the shite and waki in <a href="/music/voices/#Spoken" target="_blank"><em>kotoba</em></a>, usually used to reveal some information about the shite’s past and/or identity.</p>

  <p>Between the two plays there are two <em>Mondō</em>, and both are in Kokaji. They provide examples of the declamation style, in which words are first delivered on a pulse that accelerates, as the pitch gradually glisses up. Towards the end of sentence, the pitch raises suddenly followed with a short descent, creating a melodic contour that embodies the <a href="/form/#Intro/" target="_blank"><em>jo-ha-kyū</em></a> principle. These 'melodic curves' follow the grammatical structure of the text, the peak being reached just before the end of the sentence.
  We bolded syllables in the excerpt to identify the higher pitch that triggers the following descent.</p>

  <p>Kokaji’s first <em>Mondō</em> is part of the ‘Waki enters’ section in the first act. Preceded by a <em>Nanori</em>, it maintains the <em>kotoba</em> style of delivery but the texture moves from one to two speaking voices. The dialogue is between a wakizure impersonating an authoritative emperor’s envoy, and a waki, the humble swordsmith Munechika Kokaji.</p>

  <p>Kokaji’s second <em>Mondō</em> occurs during the ‘Dialogue’ section in the first act, and it starts with a <em>yobikake</em>, a call from the distance. Although the curtain is lifted, the shite remains out of sight as he is heard calling out to the waki from the anteroom.</p>

  <p>This <em>Mondō</em> offers two points of comparison between a shite and waki’s <em>kotoba</em> styles.
  The first relates to the gradual rising tone. While they both use a rising line to get to a peak-tone, the overall ascent of the shite’s line is more subdued compared with the waki’s. The second point relates to the shite’s slower pace of delivery compared with the waki's. These two points are not to be understood as universal stylistic characteristics, but rather as play-related differences. The shite’s more stately style is better suited to a deity. The difference between the two styles helps set apart the divine being (shite) from the human (waki).</p>

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Mondō_Score_sl.mp4"

    %}
    <h3>Examples in the Play:</h3>
    <p>
    <a href="/kokaji/mondo-1/" target="_blank">Kokaji - Mondō 1</a><br>
    <a href="/kokaji/mondo-2/" target="_blank">Kokaji - Mondō 2</a>
    </p>
</div>
</main>
