---
layout: website
name: nanori
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Spoken</h4>

    <h2>Nanori</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Unmetered</div>
    </div>
  </div>

  <p><a href="/text/#Prose" target="_blank">Prose</a> speech in which the character, usually the waki, identifies himself and explains the reason for his presence at the location.
  There are two <em>Nanori</em> between the two plays. They provide examples of the declamation style, in which words are first delivered on a pulse that accelerates, as the pitch gradually glisses up. Towards the end of sentence, the pitch raises suddenly followed with a short descent, creating a melodic contour that embodies the <a href="/form/#Intro/" target="_blank"><em>jo-ha-kyū</em></a> principle. These 'melodic curves' follow the grammatical structure of the text, the peak being reached just before the end of the sentence. We used bold syllables in the examples to identify the higher pitch that triggers the following descent.</p>

  <div class="tabs-container">
    <div class="tabs-container__links">
      <div class="wrapper">
        <div id="tabs"></div>
      </div>
    </div>
    <div class="tabs-container__content">
      <div class="wrapper">
      <section id="tab-1" title="Hashitomi-Nanori" class="tabbed-narrative">
      <p>Hashitomi’s <em>Nanori</em> is delivered by a waki impersonating a traveling monk. Although the declamation style is customary, the way it is set to text varies. For instance, in Hashitomi's <em>Nanori</em>, the overall slower delivery and use of the lower register is well suited for a calm traveling monk. This is in clear contrast with the <em>Nanori</em> from Kokaji.</p>
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hashitomi-Nanori_Score_sl.mp4"
      %}

      </section>
      <section id="tab-2" title="Kokaji-Nanori" class="tabbed-narrative">
        <p>Kokaji’s <em>Nanori</em> is delivered by a wakizure in the role of an Emperor’s envoy hastening to deliver an important order. It differs from Hashitomi’s <em>Nanori</em> in at least two ways: its delivery is much faster and the pitch higher, two distinctions well-suited for a messenger who is in a hurry to deliver an important missive.</p>
        {% include video-no-background.html
          src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Nanori_Score_sl.mp4"
        %}
      </section>
      </div>
    </div>
  </div>
  <h3>Examples in the Plays:</h3>
  <p>
  <a href="/hashitomi/nanori/" target="_blank">Hashitomi - Nanori</a><br>
  <a href="/kokaji/nanori/" target="_blank">Kokaji - Nanori</a>
  </p>
</div>
</main>
