---
layout: website
name: nanoribue
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4>
      <a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Entrance music
    </h4>

    <h2>Nanoribue</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Nohkan</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
    </div>
    <p>
      This is a quiet, lyrical entrance music for a male character, often used
      for a waki impersonating a traveling monk. It is usually followed by a
      prose speech: the

      <a href="/catalog-of-shodan/nanori"><em>Nanori</em></a
      >. Unlike other entrance music, it is the actor who signals the beginning
      of the music by asking the curtain-attendant to rise it, giving the cue to
      the nohkan player to start the <em>Nanoribue</em>.
    </p>

    <p>
      The <em>Nanoribue</em> is composed of a sequence of three patterns. While
      the first two are standard patterns

      <a href="/music/nohkan-examples/#naka-no-takane">naka no takane</a>, and

      <a href="/music/nohkan-examples/#roku-no-ge">roku no ge</a>, the third one
      is specific to the <em>Nanoribue</em>, and its <em>shoga</em> is:
      <em>hyu ro ra hya u,ro ra ho</em>.
    </p>

    {% include video-no-background.html
    src="https://d3msn78fivoryj.cloudfront.net/Shodan_sl/Hashitomi-Nanoribue_Score.mp4"
    %}
    <h3>Examples in the Play:</h3>
    <p>
      <a href="/hashitomi/nanoribue/" class="link__level-2" target="_blank"
        >Hashitomi - Nanoribue</a
      >
    </p>
  </div>
</main>
