---
layout: website
name: noriji
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Closing Chants</h4>

    <h2>Noriji</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Congruent</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Nohkan</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
  </div>

  <p>The name refers to a text set in <a href="/music/voices#Onori" target="_blank"><em>ōnori</em></a> style. As such, any <em>shōdan</em> set in <em>ōnori</em> can be classified as <em>noriji</em> as well, Hashitomi's <em>Kiri</em> being a good example. Laden with energy and often accompanied by taiko, <em>Noriji</em> appears in the second act, near the conclusion, often after the main dance. </p>

  <p> A text setting in <em>ōnori</em> has one syllable per beat. The first syllable of each line of text comes on the second or second beat-and-half. The text is commonly divided into two asymmetric hemistiches of  5 + 3, or 3 + 5 syllables, although it is sometimes symmetrically divided in two hemesitiches of 4 + 4 syllables.</p>
  <p>Here is the example from Kokaji's <em>Noriji 1</em>:
    <table class="content-table"><tr class="content-table__row">

                  <td class="content-table__column">
  Ne ga wa + ku wa<br>
  Mu ne chi ka + wa ta ku shi no<br>
  Ko o myo o ni + a ra zu<br>
  Fu te n + so o to no<br>
  Cho ku me i ni + yo re ri<br>
  Sa a ra ba + ji i po o<br>
  Go o sha no + sho ji n<br>
  Ta da i ma no + mu ne chi ka ni<br>
  Chi ka ra wo + a wa se te<br>
  Ta bi ta ma + e to te</td>
  <td class="content-table__column">
  3 + 2<br>
  4 + 5<br>
  5 + 3<br>
  3 + 4<br>
  5 + 3<br>
  4 + 4<br>
  4 + 3<br>
  5 + 5<br>
  4 + 4<br>
  4 + 3</td></tr>
  </table>

  <p>There are three <em>Noriji</em> in Kokaji. Since the main character is so energetic the first <em>Noriji</em> can be heard fairly early, leading to the entrance music <a href="/catalog-of-shodan/hayafue" target="_blank"><em>Hayafue</em></a>. The second <em>Noriji</em> leads into the instrumental dance <a href="/catalog-of-shodan/maibataraki" target="_blank"><em>Maibataraki</em></a>, which is then followed by the third <em>Noriji</em>. As it is often the case with the <em>Noriji</em>, all three include a taiko part, whose <a href="/music/taiko/#Patterns" target="_blank">cycles</a> of rhythmic patterns help articulate the <em>shōdan's</em> structure.</p>

  <p>Kokaji's first <em>Noriji</em> starts with the waki delivering a transition phrase, bridging it with the preceding <em>Notto</em>. Then, the jiutai sings the chant accompanied by the three percussion instruments. The third <em>Noriji</em> is also accompanied by the three percussion instruments but sung by the jiutai with two utterances delivered by the shite.</p>

  <p>Kokaji's second <em>Noriji</em> featured in this video, is sung by the jiutai accompanied by the three percussion instruments.  It is the only one that includes a nohkan’s part, as if the <a href="/music/nohkan/takane-hane" target="_blank"><em>takane hane</em></a> pattern was anticipating the dance to come. To help appreciate the complexity between the <em>hayashi's</em> four parts, the second <em>Noriji</em> is presented at three different speeds: the original, at 75%, and at 50% of the original speed. </p>

<div class="tabs-container">
  <div class="tabs-container__links">
    <div class="wrapper">
      <div id="tabs"></div>
    </div>
  </div>
  <div class="tabs-container__content">
    <div class="wrapper">
    <section id="tab-1" title="Original speed" class="tabbed-narrative">

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Noriji2_Score.mp4"
    %}

    </section>
    <section id="tab-2" title="75%" class="tabbed-narrative">

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Noriji2_Slowdown-75_sl.mp4"
    %}
    </section>

      <section id="tab-3" title="50%" class="tabbed-narrative">
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Noriji2_Slowdown-50_sl.mp4"
      %}
    </section>

    </div>
  </div>
</div>
<h3>Examples in the Play:</h3>
<p>
<a href="/kokaji/noriji-1/" target="_blank">Kokaji - Noriji 1</a><br>
<a href="/kokaji/noriji-2/" target="_blank">Kokaji - Noriji 2</a><br>
<a href="/kokaji/noriji-3/" target="_blank">Kokaji - Noriji 3</a>
</p>
    </div>
</main>
