---
layout: website
name: noriji
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Closing Chants</h4>

    <h2>Noriji</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Congruent</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Nohkan</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
  </div>

  <p>Set in <a href="/music/voice/#Onori" target="_blank"><em>ōnori</em></a>, it typically appears in a concluding part of a play. It normally follows but can also lead to the main dance. There are three <em>noriji</em> in Kokaji and they are all related to the main dance: <a href="/catalog-of-shodan/Maibataraki" target="_blank"><em>maibataraki</em></a>. The first one leads to the entrance music <a href="/catalog-of-shodan/Hayafue" target="_blank"><em>hayafue</em></a> which is followed by the second <em>noriji</em> leading into the <em>maibataraki</em> followed by the third <em>noriji</em>.
  As it is often the case with the <em>noriji</em>, all three include a taiko part whose cycles of rhythmic patterns help articulate the <em>shōdan's</em> structure.</p>

  <p>Kokaji's first <em>noriji</em> starts with a transition phrase delivered by the waki bridging it with the preceding <em>notto</em>. It is sung by the jiutai accompanied by the three percussion instruments.</p>

  <p>Kokaji's third <em>noriji</em> is accompanied by the three percussion instruments and it is sung by the jiutai with two interventions by the shite.</p>

  <p>Kokaji's second <em>noriji</em> is sung by the jiutai accompanied by the three percussion instruments.  It is the only one that includes a nohkan’s part, as if the <a href="/music/nohkan/Takanehane" target="_blank"><em>takane hane</em></a> pattern was anticipating the dance to come.</p>

  <p>To help appreciate the complexity between the <em>hayashi's</em> four parts, the second <em>noriji</em> is presented at three different speeds: The original, and at 75% and at 50% of the original speed.
</p>

<div class="tabs-container">
  <div class="tabs-container__links">
    <div class="wrapper">
      <div id="tabs"></div>
    </div>
  </div>
  <div class="tabs-container__content">
    <div class="wrapper">
    <section id="tab-1" title="Origianl speed" class="tabbed-narrative">

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Noriji2_Score.mp4"

    %}

    </section>
    <section id="tab-2" title="75%" class="tabbed-narrative">

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Noriji2_Slowdown-75.mp4"
    %}

      <section id="tab-3" title="50%" class="tabbed-narrative">
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Noriji2_Slowdown-50.mp4"
      %}
      </section>
    </section>
    </div>
  </div>
</div>

    </div>
</main>
