---
layout: website
name: noriji
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Closing Chants</h4>

    <h2>Noriji</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Congruent</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Nohkan</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
  </div>

  <p>The name refers to a text set in <a href="/music/voices#Onori" target="_blank"><em>ōnori</em></a> style. As such, any shōdan set in <em>ōnori</em> can be termed as <em>noriji</em> as well. <em>Kiri</em> in Hashitomi is a good example. Laden with energy and often accompanied by taiko <em>noriji</em> appears in the second act, in the concluding part of a play, often after the main dance. </p>

  <p> The classification of its poetic text under <a href="/text/#Rhythmic-R/" target="_blank">regular</a> rhythm suggests that its structure is divided in two hemistiches of 7 + 5 syllables. Yet, its <em>ōnori</em> setting indicates that it has in average eight syllables per <em>honji</em>. The issue of fitting twelve syllables in eight slots requires an explanation. The fact is that the standard syllabic structure of the <em>ōnori</em> is either 4 + 4 syllables spread over one <em>honji</em>, or 7 + 5 syllables spread over two.</p>
  <p>Here is the example from Kokaji's <em>noriji 1</em>:
Ne ga wa + ku wa (3+2)
Mu ne chi ka + wa ta ku shi no (4+5)
Ko o myo o ni + a ra zu (5+3)
Fu te n + so o to no (3+4)
Cho ku me i ni + yo re ri (5+3)
Sa a ra ba + ji i po o (4+4)
Go o sha no + sho ji n (4+3)
Ta da i ma no + mu ne chi ka ni (5+5)
Chi ka ra wo + a wa se te (4+4)
Ta bi ta ma + e to te (4+3)

  <p>There are three <em>noriji</em> in Kokaji. Since the main character is highly energetic the first <em>noriji</em> can be heard rather early as it leads to the entrance music <a href="/catalog-of-shodan/hayafue" target="_blank"><em>hayafue</em></a>. Second <em>noriji</em> leads into the <em>maibataraki</em>, which is then followed by the third.
  As it is often the case with the <em>noriji</em>, all three include a taiko part whose <a href="/music/taiko/#Patterns" target="_blank"><em>cycles</em></a> of rhythmic patterns help articulate the <em>shōdan's</em> structure.</p>

  <p>Kokaji's first <em>noriji</em> starts with a transition phrase delivered by the waki bridging it with the preceding <em>notto</em>. It is sung by the jiutai accompanied by the three percussion instruments. The third one is also accompanied by the three percussion instruments but sung by the jiutai with two interventions by the shite.</p>

  <p>Kokaji's second <em>noriji</em> featured in this video, is sung by the jiutai accompanied by the three percussion instruments.  It is the only one that includes a nohkan’s part, as if the <a href="/music/nohkan/takane-hane"target="_blank"><em>takane hane</em></a> pattern was anticipating the dance to come.
  To help appreciate the complexity between the <em>hayashi's</em> four parts, the second <em>noriji</em> is presented at three different speeds: The original, and at 75% and 50% of the original speed. </p>

<div class="tabs-container">
  <div class="tabs-container__links">
    <div class="wrapper">
      <div id="tabs"></div>
    </div>
  </div>
  <div class="tabs-container__content">
    <div class="wrapper">
    <section id="tab-1" title="Original speed" class="tabbed-narrative">

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Noriji2_Score.mp4"
    %}

    </section>
    <section id="tab-2" title="75%" class="tabbed-narrative">

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Noriji2_Slowdown-75_sl.mp4"
    %}
    </section>

      <section id="tab-3" title="50%" class="tabbed-narrative">
      {% include video-no-background.html
        src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Noriji2_Slowdown-50_sl.mp4"
      %}
    </section>

    </div>
  </div>
</div>
<h3>Examples in the Play:</h3>
<p>
<a href="/kokaji/noriji-1/" target="_blank">Kokaji - Noriji 1</a><br>
<a href="/kokaji/noriji-2/" target="_blank">Kokaji - Noriji 2</a><br>
<a href="/kokaji/noriji-3/" target="_blank">Kokaji - Noriji 3</a>
</p>
    </div>
</main>
