---
layout: website
name: notto-chant
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Recitative Chants</h4>

    <h2>Notto-chant</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
  </div>

  <p><a href="/text/#Arhythmic" target="_blank">Arhythmic</a> poetic text sung in <a href="/music/voices#Sashinori" target="_blank"><em>sashinori</em></a> style, it usually depicts scenes of prayer. Instrumental music also called <em>Notto</em>, precedes it, so we refer to it as <a href="/catalog-of-shodan/notto-music" target="_blank"><em>Notto</em>-music</a> to avoid confusion. The <em>Notto</em>-chant is sung in <a href="/music/voices#Tsuyogin" target="_blank"><em>tsuyogin</em></a> style, over a steady beat provided by the kotsuzumi.</p>

  <p>Although the vocal part is non-congruent, it is not entirely detached from the strict percussion accompaniment. The waki uses the ōtsuzumi’s <a href="/music/otsuzumi-kotsuzumi/#Otsu-strokes" target="_blank"><em>chon</em></a> stroke on the third beat to position his declamation, so musicians often perform a rallentando controlled by the ōtsuzumi shortly before the third beat.</p>

  <p>For the most part, a complete sentence fits in the eight beats that separate two consecutive <em>chon</em> strokes. Longer sentences are spread over three or four consecutive <em>honji</em>. In this case, there is no rallentendo on the intermediate third beats, and instead the ōtsuzumi fills the intermediate <em>honji</em> with a sequence of five or six <em>chon</em> strokes.</p>

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Notto_Song_Score.mp4"
    %}
    <h3>Example in the Play:</h3>
    <p>
    <a href="/kokaji/notto/" target="_blank">Kokaji - Notto</a>
    </p>
</div>
</main>
