---
layout: website
name: okina-noriji
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> OKINA</h4>

    <h2>Okina / Noriji</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Voice</div>
        <div class="introductory-table__definition">Congruent</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
    </div>

    <p>
      The name refers to a text set in
      <a href="/music/voices#Onori" class="link__level-2" target="_blank"
        ><em>ōnori</em></a
      >
      style, wherein lines begin on the second beat or the latter half of the
      second beat, predominantly with one syllable per beat. Further details
      about <em>noriji</em> in the context of Noh can be found
      <a href="/catalog-of-shodan/noriji/" class="link__level-2" target="_blank"
        >here</a
      >.
    </p>

    <p>
      There are two <em>Noriji</em> in Okina, in both of which the percussion
      support is provided by the lead kotsuzumi, ōtsuzumi, and taiko players.
      The pattern introduced in the <em>Noriji-1</em> is the same as that used
      in <em>Watari byōshi</em>. It is essentially a variation on the
      <em>mitsu-ji</em> pattern and remains largely static throughout the
      <em>shōdan</em>. It is shown in the next figure:
    </p>

    {% include image-no-background.html src="/assets/images/Noriji-1.png" %}

    <p>
      In the <em>Noriji-2</em> the kotsuzumi and ōtsuzumi part is the same as
      shown above, but the taiko’s part diverges from its standard
      <a href="/music/taiko/" class="link__level-2" target="_blank">cycles</a>
      of patterns. For instance, from the eighth to the eighteenth
      <em>honji</em>, the taiko presents one eight-beat pattern with
      <em>kakegoe</em> ‘ho’ preceding strokes on beats, 1, 3, 5, 7, and 8, and
      with a <em>chūnobachi</em> stroke on beats 1 and 3, and potential
      <em>osaerubachi</em> strokes on beat 5 and/or 8.
    </p>

    {% include image-no-background.html src="/assets/images/Noriji-2.png" %}

    <p>
      <a href="/okina/furyu-noriji-1/" class="link__level-2" target="_blank"
        >Noriji-1</a
      >
    </p>

    <p>
      <a href="/okina/furyu-noriji-2/" class="link__level-2" target="_blank"
        >Noriji-2</a
      >
    </p>
  </div>
</main>
