---
layout: website
name: okina-song
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> OKINA</h4>

    <h2>Okina’s Song</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Voice</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Nohkan</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
    </div>

    <p>
      The performance of Okina’s song features a regular text set in
      <em>sashinori</em>, sung in the <em>tsuyogin</em> style, accompanied by a
      non-congruent nohkan part, against a steady beat established by the three
      kotsuzumi drums in a strict rhythmic setting.
    </p>

    <p>
      The text is divided into three sections. The first and third sections
      appear to be based on a lost language, presenting as if derived from a
      form of <em>shōga</em>, or onomatopoeia that imitates percussion or wind
      instrument sounds. In contrast, the text in the second section consists of
      four phrases and represents a style associated with <em>imayō</em>
      chanting, the popular songs of the Heian (794 - 1185) and Kamakura (1185 –
      1333) periods.
    </p>

    <p>
      The first section, scored for three kotsuzumi, introduces two distinct
      eight-beat patterns. The primary pattern is built from two sounds: the
      '<em>ta</em>' and '<em>po</em>' strokes, with '<em>ta</em>' consistently
      used in the first half of the pattern and the '<em>po</em>' in the second.
      This pattern consists of strokes on beats 1, 3, 5, and 7, each preceded by
      a <em>kakegoe</em>, except for beat 7, which is preceded by an anacrusis
      stroke on beat 6.5.
    </p>

    {% include image-no-background.html src="/assets/images/Okina-Song-1.png" %}

    <p>
      The second pattern is briefly introduced in the sixth and seventh
      <em>honji</em>, anticipating the start of the song's second part by two
      <em>honji</em>. It is identifiable by the lead kotsuzumi player performing
      a variation on the primary pattern played by the other two musicians. This
      variation features combined strokes on beats 1, 3, and 4, 5, 6, 6.5, and
      7, for a total of seven strokes compared to five in the first pattern:
    </p>

    {% include image-no-background.html src="/assets/images/Okina-Song-2.png" %}

    <p>
      After a first section for percussion instruments alone, the second section
      is marked by the entrance of the vocal part and the nohkan's
      <em>Hacchō no yuri</em> pattern. This section, like the first, draws on a
      text of archaic origin, resembling onomatopoeic representations of flute
      and percussion sounds. The singing is alternated between Okina and the
      jiutai.
    </p>

    <p>
      The nohkan's <em>Hacchō no yuri</em> comprises four continuous phrases,
      with each one starting in a different register, creating a motion from
      high to middle, low, and finally to very low. The first phrase's opening,
      'O-hya', is in the high register; the second, 'Hi-ya', is in the middle;
      the third, 'Hi-u', is in the lower; and the fourth, 'Ho-hya', concludes
      the section in the very low register.
    </p>

    <p>
      In the third section, the nohkan part is <em>tacet</em>, and the chanted
      text returns to onomatopoeia. The three kotsuzumi players introduce a new,
      rhythmically dynamic four-beat pattern, alternating '<em>chi</em>' and
      '<em>po</em>' sounds. The symmetrical sequence of strokes and
      <em>kakegoe</em> divides the <em>honji</em> into two four-beat segments:
    </p>

    {% include image-no-background.html src="/assets/images/Okina-Song-3.png" %}

    <p>
      Over the course of the third section's six <em>honji</em>, the tempo
      accelerates from MM = 50 to MM = 112 by the fifth <em>honji</em>. A
      deceleration to MM = 66 at the sixth and final <em>honji</em> signals the
      cadence. The nohkan, silent since the beginning of the section, concludes
      the song with its <em>Hishigi</em> pattern.
    </p>

    <p>
      <a href="/okina/okina-song/" class="link__level-2" target="_blank"
        >Okina’s song</a
      >
    </p>
  </div>
</main>
