---
layout: website
name: mominodan
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> OKINA</h4>

    <h2>Mominodan</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Nohkan</div>
        <div class="introductory-table__definition">Congruent</div>
      </div>
    </div>

    <p>
      This instrumental dance comprises six sections, each demarcated by the
      nohkan’s patterns. The duration of each section, measured in
      <em>honji</em>, is indicated in parentheses following the section and
      pattern names:
    </p>

    <p>
      Kakari (2)<br />
      Section I (30): 4 x Ji (5) &#8211; Shote (3) &#8211; Te (7)<br />
      Section II (16): Ji (5) &#8211; Ninote (3) &#8211; Te (8)<br />
      Section III (14): Ji (5) &#8211; Sanote (3) &#8211; Te (8)<br />
      Section IV (15): 3 x Ji (5)<br />
      Tome (8)
    </p>

    <p>
      Apart from the <em>Kakari</em> and <em>Tome</em>, the
      <em>nohkan</em> initiates the other four sections with a
      <em>ji</em> pattern comprised of five phrases (A, B, C, D, and E). The
      opening motif’s sound register for each phrase is illustrated below,
      outlining an arch-shaped melodic Contour: the line moves from the
      instrument’s high register to medium-low, before returning to the high
      register.
    </p>

    <table class="content-table" width="100%">
      <tr class="content-table__row">
        <td class="content-table__column beige greentext" width="20%">A</td>
        <td class="content-table__column beige greentext" width="20%">B</td>
        <td class="content-table__column beige greentext" width="20%">C</td>
        <td class="content-table__column beige greentext" width="20%">D</td>
        <td class="content-table__column beige greentext" width="20%">E</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">high</td>
        <td class="content-table__column white">high low</td>
        <td class="content-table__column white">medium low</td>
        <td class="content-table__column white">medium high</td>
        <td class="content-table__column white">high</td>
      </tr>
    </table>

    <p>
      The sequence of the sound registers of the opening motif for the eight
      <em>Te</em> phrases (F, G, H, I, J, K, L, and M) follows a different
      trajectory: it begins in the medium-low register, descends to low, and
      finally rises to the high register:
    </p>

    <table class="content-table" width="100%">
      <tr class="content-table__row">
        <td class="content-table__column beige greentext" width="14%">F</td>
        <td class="content-table__column beige greentext" width="14%">G</td>
        <td class="content-table__column beige greentext" width="14%">H</td>
        <td class="content-table__column beige greentext" width="14%">I</td>
        <td class="content-table__column beige greentext" width="14%">
          J and K
        </td>
        <td class="content-table__column beige greentext" width="14%">L</td>
        <td class="content-table__column beige greentext" width="14%">M</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">medium low</td>
        <td class="content-table__column white">low medium</td>
        <td class="content-table__column white">low</td>
        <td class="content-table__column white">low high</td>
        <td class="content-table__column white">medium low</td>
        <td class="content-table__column white">medium high</td>
        <td class="content-table__column white">high</td>
      </tr>
    </table>

    <p>
      Throughout these six sections, Sanbasō progresses through a sequence of
      eleven distinct rounds across the stage. Each round features a variation
      on two fundamental movements: stamping steps, focusing energy on the lower
      body, and sleeve swirling, which shifts energy towards the upper body.
      Some rounds combine both movements, while others consist solely of
      walking. The dynamic stamping sequences are often supported by Sanbasō’s
      <em>kakegoe</em> ‘iya’ on beat 8.5 and ‘ho’ on beat 4.5. Conversely, the
      quieter walking motions are usually performed without any
      <em>kakegoe</em>.
    </p>

    <p>
      These rounds traverse Squares 8, 3, and 5, and vary in duration: some
      extend to approximately 13 <em>honji</em>, others to around 8, and some to
      roughly 4 <em>honji</em>. The chart below summarizes the nohkan’s sequence
      of patterns in relation to each round, detailing the path in terms of
      visited squares, featured <em>kata</em>, and duration in <em>honji</em>.
      The duration of each pattern or round appears in parenthesis besides its
      number.
    </p>

    <table class="content-table" width="100%">
      <tr class="content-table__row">
        <td class="content-table__column beige greentext" colspan="3">
          Nohkan
        </td>
        <td class="content-table__column beige greentext" colspan="4">Dance</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige greentext">Honji</td>
        <td class="content-table__column beige greentext">Section</td>
        <td class="content-table__column beige greentext">Pattern</td>
        <td class="content-table__column beige greentext">Honji</td>
        <td class="content-table__column beige greentext">Round</td>
        <td class="content-table__column beige greentext">Squares</td>
        <td class="content-table__column beige greentext">Kata</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">1-2</td>
        <td class="content-table__column white">Kakari (2</td>
        <td class="content-table__column white">-</td>
        <td class="content-table__column white" rowspan="4">1-13</td>
        <td class="content-table__column white" rowspan="4">1 (13)</td>
        <td class="content-table__column white" rowspan="4">8-3-5</td>
        <td class="content-table__column white" rowspan="4">Stamping & Step</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">3-7</td>
        <td class="content-table__column beige" rowspan="10">I (30)</td>
        <td class="content-table__column beige">Ji-a (5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">8-12</td>
        <td class="content-table__column white">Ji-b (5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">13-17</td>
        <td class="content-table__column beige" rowspan="2">Ji-c (5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">-</td>
        <td class="content-table__column white" rowspan="2">14-19</td>
        <td class="content-table__column white" rowspan="2">2 (6)</td>
        <td class="content-table__column white" rowspan="2">8-3-5</td>
        <td class="content-table__column white" rowspan="2">
          Walking & Swirling both sleeves
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">18-22</td>
        <td class="content-table__column beige" rowspan="2">Ji-d (5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">-</td>
        <td class="content-table__column white" rowspan="2">20-23.5</td>
        <td class="content-table__column white" rowspan="2">3 (3.5)</td>
        <td class="content-table__column white" rowspan="2">8-3-5</td>
        <td class="content-table__column white" rowspan="2">
          Walking & Swirling both sleeves
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">23-25</td>
        <td class="content-table__column beige" rowspan="2">Shote(3)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">-</td>
        <td class="content-table__column white" rowspan="2">23.5-26</td>
        <td class="content-table__column white" rowspan="2">4 (3.5)</td>
        <td class="content-table__column white" rowspan="2">8-5</td>
        <td class="content-table__column white" rowspan="2">Walking</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">26-32</td>
        <td class="content-table__column beige" rowspan="2">
          Te-a (7)<br />(25, 26, 27, 28, <strong>29</strong>)
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">-</td>
        <td class="content-table__column white" rowspan="3">
          27-38.5<br />(27,28,<strong>29</strong>)
        </td>
        <td class="content-table__column white" rowspan="3">5 (11.5)</td>
        <td class="content-table__column white" rowspan="3">8-3-5</td>
        <td class="content-table__column white" rowspan="3">
          Stamping, Step & Swirling both sleeves
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">33-37</td>
        <td class="content-table__column beige" rowspan="5">II (16)</td>
        <td class="content-table__column beige">Ji-e (5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">38-40</td>
        <td class="content-table__column white" rowspan="2">Ninote(3)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">-</td>
        <td class="content-table__column beige" rowspan="2">38.5-42</td>
        <td class="content-table__column beige" rowspan="2">6 (4.5)</td>
        <td class="content-table__column beige" rowspan="2">8-3</td>
        <td class="content-table__column beige" rowspan="2">
          Walking & Left sleeve reset
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">41-48</td>
        <td class="content-table__column white" rowspan="2">
          Te-b (8) (41,42,43,44,<strong>45</strong>)
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">-</td>
        <td class="content-table__column beige" rowspan="3">
          43-53<br />(43-44-<strong>45</strong>)
        </td>
        <td class="content-table__column beige" rowspan="3">7 (11)</td>
        <td class="content-table__column beige" rowspan="3">8-3-5</td>
        <td class="content-table__column beige" rowspan="3">
          Stamping, Step & Swirling both sleeves
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">49-53</td>
        <td class="content-table__column white" rowspan="5">III (14)</td>
        <td class="content-table__column white">Ji-f( 5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">54-56</td>
        <td class="content-table__column beige" rowspan="2">Nanote(3)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">-</td>
        <td class="content-table__column white" rowspan="2">54-57.5</td>
        <td class="content-table__column white" rowspan="2">8 (4.5)</td>
        <td class="content-table__column white" rowspan="2">8-5</td>
        <td class="content-table__column white" rowspan="2">
          Walking & Swirling both sleeves
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">57-62</td>
        <td class="content-table__column beige" rowspan="2">
          Te-c (6)<br />(57,58,<strong>59</strong>)
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">-</td>
        <td class="content-table__column white" rowspan="3">
          57.5 -69<br />(57,58,<strong>59</strong>)
        </td>
        <td class="content-table__column white" rowspan="3">9 (12.5)</td>
        <td class="content-table__column white" rowspan="3">8 - 3 - 5</td>
        <td class="content-table__column white" rowspan="3">
          Stamping, Step & Swirling both sleeves
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">63-67</td>
        <td class="content-table__column beige" rowspan="6">
          IV (15)<br /><br />Tome (8)
        </td>
        <td class="content-table__column beige">Ji-g (5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">68-72</td>
        <td class="content-table__column white" rowspan="2">Ji-h (5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">-</td>
        <td class="content-table__column beige" rowspan="2">70-76</td>
        <td class="content-table__column beige" rowspan="2">10 (7)</td>
        <td class="content-table__column beige" rowspan="2">8-3-5</td>
        <td class="content-table__column beige" rowspan="2">Walking</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">73-77</td>
        <td class="content-table__column white" rowspan="2">Ji-i (5)</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column beige">-</td>
        <td class="content-table__column beige" rowspan="2">77-85</td>
        <td class="content-table__column beige" rowspan="2">11 (9)</td>
        <td class="content-table__column beige" rowspan="2">8-9</td>
        <td class="content-table__column beige" rowspan="2">
          Stamping, Step & Swirling both sleeves
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column white">78-85</td>
        <td class="content-table__column white">-</td>
      </tr>
    </table>

    <p>
      As the chart demonstrates, most rounds involve a path linking Squares 8,
      3, and 5. The three shorter rounds that do not—rounds 4, 6, and 8—can be
      interpreted as cadential markers, which help to divide the choreography
      into four groups, as indicated by the thicker lines in the chart.
      Furthermore, the first round of each group is of longer duration than its
      companion rounds. In addition, the third <em>honji of the</em> first round
      of each group involves stamping in synchronization with the
      <em>nohkan’s</em> , <em>Te</em> phrase that starts with the
      <em>shōga -Ohya-</em> . The corresponding <em>honji</em> number for to
      these synchronized moments are shown in <strong>bold</strong> in the
      chart.
    </p>

    <p>
      The performed <em>kata</em> also helps articulate the dance’s form. The
      first round of each part is typically characterized by stamping, with or
      without sleeve swirling, while walking, again with or without sleeve
      swirling, characterizes the companion rounds. The closing eleventh round
      constitutes an exception, concluding the dance at center stage (Square 9)
      with maintained momentum, featuring both stamping and sleeve swirling.
    </p>

    <p>
      Percussion support is centered around the <em>kotsuzumi</em>’s one-<em
        >honji</em
      >
      pattern, first introduced in Okina’s second Dance-to-text. The pattern
      includes a stroke every second beat, with each one preceded by a kakegoe:
      “iya” for the first, and “ho” for the second and third. The stroke on the
      seventh beat, however, is preceded by a pick-up “po” stroke, rather than a
      <em>kakegoe</em>. As for the <em>ōtsuzumi</em>, while its function in the
      <em>Momidashi</em> was to interact with the <em>kotsuzumi</em>’s steady
      pattern, here the emphasis is on supporting the dance. Therefore, its
      pattern is steady, with “chon” strokes on most even beats -1, 2, 4, and 6-
      complementing the <em>kotsuzumi</em>’s strokes on odd beats:
    </p>

    {% include image-no-background.html src="/assets/images/Mominodan.png" %}

    <p>
      <a href="/okina/momi-no-dan/" class="link__level-2" target="_blank"
        >Mominodan</a
      >
    </p>
  </div>
</main>
