---
layout: website
name: encounter
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> OKINA</h4>

    <h2>Encounter</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Voice</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Nohkan</div>
        <div class="introductory-table__definition">Non-congruent</div>
      </div>
    </div>

    <p>
      The performance of Okina’s Encounter features an arhythmic text set in
      sashinori, sung in the <em>tsuyogin</em> style. This is accompanied by a
      non-congruent nohkan part and three kotsuzumi drums played in a strict
      rhythmic setting.
    </p>

    <p>
      Although Okina and the Sanbasō-to-be establish eye contact, they do not
      directly exchange words. Instead, the text is sung by Okina in alternation
      with the jiutai, who speaks on behalf of Sanbasō.
    </p>

    <p>
      The nohkan supports the encounter with two patterns. The first, the
      <em>Notare no ryō</em> pattern, consists of five short motifs, each
      composed of two or three shōga:
      <em>Ho-ro, Tsu-ro i-ya, Ro-ru-ra,</em> Ho-hya, and Cho-u. This pattern is
      performed as the two characters remain seated. The second pattern, the
      <em>Shingon no te</em> ("mantra pattern"), possesses a melodic shape that
      descends from high to low and is introduced as the two characters stand.
    </p>

    <p>
      After a two-honji introduction, the percussion section presents a
      one-honji pattern with strokes on every beat. The parts performed by the
      leader and the two other players are distinct, thereby creating a combined
      one-honji pattern that is rich in timbre. These two parts are identified
      as A and B in the figure below and alternate with each measure, as
      depicted:
    </p>

    {% include image-no-background.html src="/assets/images/Okina-Encounter.png"
    %}

    <p>
      Finally, when the two characters rise, the ōtsuzumi player introduces
      sparse strokes that disrupt the steadiness of the kotsuzumi’s pattern,
      ultimately leading to its dissolution. This procedure, performed by the
      ōtsuzumi, is called oshirabe, in reference to the unmetered strokes played
      during tuning prior to the beginning of a play.
    </p>

    <p>
      <a href="/okina/okina-encounter/" class="link__level-2" target="_blank"
        >Encounter</a
      >
    </p>
  </div>
</main>
