---
layout: website
name: raijo
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Entrance and Exit Music</h4>

    <h2>Raijo</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Flexible and Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Nohkan</div>
      <div class="introductory-table__definition">Non-congruent and Congruent</div>
    </div>
  </div>
  <p><em>Raijo</em> is an instrumental piece. The featured instrument is the nohkan, accompanied by
    the three percussion instruments whose respective rhythmic patterns merge into a single macro-pattern.
    In this performance, it is after a full <em>honji</em> that the percussion patterns get settled. </p>
<p><em>Raijo</em> is composed of two sections: The first one called <em>nakairi-raijo</em>, is slow and
  non-congruent, creating a stately mood for the exit of one or two characters. Its macro-rhythm shows
  that its beginning is strongly articulated with a taiko <a href="/music/taiko/#Strokes" target="_blank"><em>dainobachi</em></a>
  stroke on the first beat followed immediately with a <a href="/music/otsuzumi-kotsuzumi/#Kotsu-strokes" target="_blank"><em>ta</em></a>
  stroke on the kotsuzumi.</p>


  {% include image.html
    src="/assets/images/shodan/Figure-1-NOBckgr.png"
  %}

  <p>The tempo picks up at the beginning of the second section which is congruent.
    This one called <em>kyōgen-raijo</em> accompanies the entrance of the ai-kyōgen.</p>
  <p>The <em>kyōgen-raijo</em> tempo is faster and being congruent, the <em>kakegoe</em> are shorter.
    Its lighter tone differs from the <em>kyōgen-raijo’s</em> solemn feel, and its macro-rhythm with its
    equidistant eight beats is less complex and steadier, its second half being an almost repetition
    of the first, if it was not for the kotsuzumi’s <a href="/music/otsuzumi-kotsuzumi/#Kotsu-strokes" target="_blank"><em>chi</em></a>
    stroke on the 6th beat.</p>

  {% include image.html
    src="/assets/images/shodan/Figure-2-NOBckgr.png"
  %}

  <p>It is against the percussion’s static macro-rhythm that the nohkan performs its melody.
    The non-congruent first part, which accompanies the exiting shite and waki, covers five <em>honji</em>,
    with each segment starting around the second beat, using the even beats as reference time point for
    his sub-segments, in contrast with the percussion strokes on odd beats.</p>
<p>The congruent second part, that support the ai-kyōgen’s entrance, it is spread over four <em>honji</em>
  and a half.</p>


    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Raijo_Score_sl.mp4"

    %}
    <h3>Example in the Play:</h3>
    <p>
    <a href="/kokaji/raijo/" target="_blank">Kokaji - Raijo</a>
    </p>
        </div>
</main>
