---
layout: website
name: raijo
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Entrance and Exit Music</h4>

    <h2>Raijo</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Flexible and Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Nohkan</div>
      <div class="introductory-table__definition">Non-congruent and Congruent</div>
    </div>
  </div>
  <p><em>Raijo</em> is solemn music played by the nohkan and three percussion instruments. It sometimes accompanies the exit of a deity at the end of the first act, as it is the case in Kokaji.</p>

<p><em>Raijo</em> is composed of two sections: The first one, called <em>nakairi-raijo</em>, is slow and
  non-congruent, creating a stately mood for the exit of one or two characters. The beginning of each eight-beat unit is articulated with a taiko <a href="/music/taiko/#Strokes" target="_blank"><em>dainobachi</em></a> stroke on the first beat, followed immediately with a <a href="/music/otsuzumi-kotsuzumi/#Kotsu-strokes" target="_blank"><em>ta</em></a> stroke on the kotsuzumi.</p>

<p></p>
<table class="content-table" width="100%">
   <tr class="content-table__row--header beige">
  <td class="content-table__column beige">{% include image-scalable.html src="/assets/images/shodan/Raijo-1.png" scale="68%" align="center" column_size="medium" %}</td>
</tr>
</table>

  <p>The tempo picks up at the beginning of the second section, which is congruent. This one, called <em>kyōgen-raijo</em> accompanies the entrance of the ai-kyōgen.</p>

  <p>The <em>kyōgen-raijo</em> tempo is faster, and the <em>kakegoe</em> shorter. Its lighter tone differs from the <em>nakairi-raijo’s</em> solemn feel. The structure of its steady eight-beats rhythmic pattern is divided into two equal parts, its second half repeating the first except for the kotsuzumi’s <a href="/music/otsuzumi-kotsuzumi/#Kotsu-strokes" target="_blank"><em>chi</em></a> stroke on the 6th beat.</p>

    <table class="content-table" width="100%">
       <tr class="content-table__row--header beige">
      <td class="content-table__column beige">

    {% include image-scalable.html src="/assets/images/shodan/Raijo-2.png" scale="78%" align="center" column_size="medium" %}
</td></tr></table>

  <p>The non-congruent first part, which accompanies the exiting shite and waki, covers five <em>honji</em>. It is against the percussion’s static rhythm that the nohkan performs its eight-beat melodic pattterns, starting each one around the <em>honji's</em> second beat, playing mainly on even beats in contrast with the percussion strokes positioned largely on odd beats. The congruent second part, that support the ai-kyōgen’s entrance, is spread over four <em>honji</em> and a half.</p>


    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Raijo_Score_sl.mp4"

    %}
    <h3>Example in the Play:</h3>
    <p>
    <a href="/kokaji/raijo/" target="_blank">Kokaji - Raijo</a>
    </p>
        </div>
</main>
