---
layout: website
name: rongi
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Main Chants</h4>

    <h2>Rongi</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Congruent</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Nohkan</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
  </div>

  <p>Poetic text with <a href="/text/#Rhythmic-R" target="_blank">regular</a> rhythm set in <a href="/music/voices#Hiranori" target="_blank"><em>hiranori</em></a>, the <em>Rongi</em> is typically composed of two parts: a sung dialogue between two actors, or between an actor, usually the shite, and the jiutai followed by a chant similar to an <a href="/catalog-of-shodan/ageuta" target="_blank"><em>Ageuta</em></a>, which starts in the higher range and gradually moves to the lower range. In Hashitomi's case, the first few pitches in the low range lead to the higher range.</p>

  <p>Although positioned in the second act, Hashitomi’s <em>Rongi</em> is comparable to the one that commonly closes the first act when the shite alludes to or reveals his identity. When it  closes the first act, the <em>Rongi</em> does not include a nohkan part. In the case of Hashitomi, the <em>Rongi</em> leads to the <a href="/catalog-of-shodan/kuse" target="_blank"><em>Kuse</em></a>, so the nohkan player links the two by performing the <a href="/music/nohkan/mirokunoge" target="_blank"><em>mi roku no ge</em></a> pattern.</p>

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hashitomi-Rongi_Score_sl.mp4"
    %}
    <h3>Example in the Play:</h3>
    <p>
    <a href="/hashitomi/rongi/" target="_blank">Hashitomi - Rongi</a>
    </p>
</div>
</main>
