---
layout: website
name: sageuta
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Main Chants</h4>

    <h2>Sageuta</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Congruent</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
  </div>

  <p>A short song with a melody centered on <a href="/music/voices#Yowagin" target="_blank"> Medium and Low tones </a>. Based on poetic text with <a href="/text/#Rhythmic-R" target="_blank">regular</a> rhythm set in <a href="/music/voices#Hiranori" target="_blank"><em>hiranori</em></a>, it is often preceded by a <a href="/catalog-of-shodan/sashi" target="_blank"><em>Sashi</em></a>, and leads to an <a href="/catalog-of-shodan/ageuta" target="_blank"><em>Ageuta</em></a>. In Hashitomi’s case, it leads to an <em>Ageuta</em> but it is not preceded by a <em>Sashi</em>.

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hashitomi-Sageuta-Score_sl.mp4"
    %}

    <h3>Example in the Play:</h3>
    <p>
    <a href="/hashitomi/sageuta/" target="_blank">Hashitomi - Sageuta</a>
    </p>
        </div>
</main>
