---
layout: website
name: sashi
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Recitative Chants</h4>

    <h2>Sashi</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Flexible</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Flute</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
  </div>

  <p>Besides the <a href="/catalog-of-shodan/kakaru" target="_blank"><em>kakaru</em></a>, there are three types of <em>sashi</em>: the one that the shite sings first after his entry, the <em>sashi</em> that he sings after the <a href="/catalog-of-shodan/issei-chant" target="_blank"><em>issei</em></a>, and the <em>sashi</em> from the three-part <em>kuse</em>: <a href="/catalog-of-shodan/kuri" target="_blank"><em>kuri</em></a>, <em>sashi</em>, <a href="/catalog-of-shodan/kuse" target="_blank"><em>kuse</em></a>.
  Kokaji’s <em>sashi</em> is an example from the latter.  All <em>sashi</em> are sung in recitative <a href="/music/voices#Sashinori" target="_blank"><em>sashinori</em></a> style by actor(s), jiutai, or alternatively, by actor(s) and jiutai. In contrast to <a href="/music/voices#Einori" target="_blank"><em>einori.</em></a> chant and its prolongation of certain syllables and use of the rise and fall of the vocal line, a <em>sashinori</em> chant is akin to a recitative.
  Verses of seven and five syllables alternate. The non-congruent vocal line and percussion part in flexible rhythm suggest that the text is still in the descriptive rather than poetic part of the play.</p>

  <p>The <em>sashi</em> from Kokaji is sung in <a href="/music/voices#Tsuyogin" target="_blank"><em>tsuyogin</em></a> style. It is written for one actor (shite) and the jiutai accompanied by the two hand-percussion instruments and the nohkan. The shite’s two verses divide the shōdan in two parts. His first verse is followed by six lines delivered by the jiutai, each one sung on a single accelerating pitch that comes to a concluding sustained-tone. Accompanied by the nohkan’s <em>kuse no ryō</em> pattern, the jiutai’s reply to the shite’s second verse has a definite melodic quality that contrasts with the recitative quality of its preceding six lines.</p>

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Kokaji-Sashi_Score_sl.mp4"

    %}

</div>
</main>
