---
layout: website

name: sashi

filter-act:

filter-type:

second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4>
      <a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Recitative
      Chants
    </h4>

    <h2>Sashi</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Voice</div>

        <div class="introductory-table__definition">Non-congruent</div>
      </div>

      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>

        <div class="introductory-table__definition">Flexible</div>
      </div>

      <div class="introductory-table__element">
        <div class="introductory-table__term">Flute</div>

        <div class="introductory-table__definition">Non-congruent</div>
      </div>
    </div>

    <p>
      There are three types of <em>Sashi</em> : the first is the type that sits
      between the

      <a href="/catalog-of-shodan/issei-music"><em>Issei</em>-music</a>
      and

      <a href="/catalog-of-shodan/issei-chant"><em>Issei</em>-chant</a>, sung by
      the shite after his entry; the second is the type that leads into a
      <a href="/music/voices#Hiranori"><em>hiranori</em></a>

      chant, and is sung in the middle range, often leading to a

      <a href="/catalog-of-shodan/sageuta"><em>Sageuta</em></a
      >; finally the third type is found among the three-part <em>Kuse</em>:

      <a href="/catalog-of-shodan/kuri"><em>Kuri</em></a
      >,

      <em>Sashi</em>,

      <a href="/catalog-of-shodan/kuse"><em>Kuse</em></a
      >. Takasago contains three <em>Sashi</em>, one of each type, whereas the
      <em>Sashi</em> in Kokaji is an example of the third type.
    </p>

    <p>
      Based on

      <a href="/text/#Arhythmic">arhythmic</a>

      poetic text, all <em>Sashi</em> are sung in recitative

      <a href="/music/voices#Sashinori"><em>sashinori</em></a>

      style by actor(s), jiutai, or by both actor(s) and jiutai. In contrast to

      <a href="/music/voices#Einori"><em>einori</em></a>

      chant and its prolongation of certain syllables and the rise and fall of
      the vocal line, a <em>sashinori</em> chant is akin to a recitative. The
      non-congruent vocal line, with alternating verses of seven and five
      syllables and the percussion part in flexible rhythm, suggest that the
      text is still in the descriptive rather than poetic part of the play. The
      addition of the non-congruent nohkan part contributes to create a rather
      complex texture. In this context, it is the percussionists’ responsibility
      to adapt their sparse

      <a href="/music/otsuzumi-kotsuzumi/#Mitsuji"><em>mitsuji</em></a>

      patterns to the chant, whose tempo is in constant flux.
    </p>

    <p>
      Singing in

      <a href="/music/voices#Tsuyogin"><em>tsuyogin</em></a>

      style, the shite and jiutai, accompanied by the two hand-percussion
      instruments and the nohkan, perform Kokaji's <em>Sashi</em>. The shite’s
      two verses divide the <em>shōdan</em> in two parts. His first verse is
      followed by six lines delivered by the jiutai, each one sung on a single
      accelerating pitch that comes to a concluding sustained-tone. Accompanied
      by the nohkan’s <em>kuse no ryō</em> pattern, the jiutai’s reply to the
      shite’s second verse has a definite melodic attribute that contrasts with
      the recitative quality of the first six lines.
    </p>

    <p>
      <em>Takasago</em>’s first <em>Sashi</em> is of the second type, situated
      between an <em>Issei</em> chant and a Sageuta. It is sung by the shite and
      shitezure, celebrating their long-lasting togetherness.
    </p>

    <p>
      The second <em>Sashi</em> is of the third type, positioned between a
      <em>Kuri</em> and a Kuse, it is performed by the shite and jiutai,
      praising the impressive appearance of the Pine of Takasago.
    </p>

    <p>
      Sung by the shite describing the noble Pine at Sumiyoshi, Takasago’s third
      <em>Sashi</em> exemplifies the first type, or rather, a variation of it.
      It is preceded by a deha, a variation of <em>Issei</em> music that
      includes a taiko part, and is followed by a <em>Jo nō</em> ei, a variation
      of an <em>Issei</em> chant with a syllabic structure closer to that of a
      waka. Because of the presence of the taiko drum in this Sashi, all three
      percussion instruments are performed in a strict setting, which is
      exceptional since in a <em>Sashi</em> the two drums (kotsuzumi and
      ōtsuzumi) are usually performed in a flexible setting.
    </p>

    {% include video-no-background.html
    src="https://d3msn78fivoryj.cloudfront.net/Shodan_sl/Kokaji-Sashi_Score_sl.mp4"
    %}

    <h3>Examples in the Plays:</h3>

    <p>
      <a href="/kokaji/sashi/" class="link__level-2" target="_blank"
        >Kokaji - <em>Sashi</em></a
      >
    </p>

    <p>
      <a href="/takasago/sashi-1/" class="link__level-2" target="_blank"
        >Takasago – Sashi 1</a
      >
    </p>

    <p>
      <a href="/takasago/sashi-2/" class="link__level-2" target="_blank"
        >Takasago – Sashi 2</a
      >
    </p>

    <p>
      <a href="/takasago/sashi-3/" class="link__level-2" target="_blank"
        >Takasago – Sashi 3</a
      >
    </p>
  </div>
</main>
