---
layout: website
name: Shidai-music
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Entrance music</h4>

    <h2>Shidai-music</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Flute</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
  </div>

  <p>Standard entrance music for the waki. Yet, in some plays, such as in Atsumori, the <em>Shidai</em>-music is used to introduce the shite. It is usually followed by a chant also called <em>Shidai</em>, therefore we refer to it as <a href="/catalog-of-shodan/shidai-chant" target="_blank"><em>Shidai</em>-chant</a>. The pair usually leads to a <a href="/catalog-of-shodan/nanori" target="_blank"><em>Nanori</em></a> or a <a href="/catalog-of-shodan/sashi" target="_blank"><em>Sashi</em></a>.</p>

  <p>The percussion part of the <em>Shidai</em>-music is flexible, whereas it is strict in the <em>Shidai</em>-chant. It is the function of the <a href="/music/otsuzumi-kotsuzumi/#Uchikiri" target="_blank"><em>uchikiri</em></a> pattern to conclude the <em>Shidai</em>-music and initiate a move from flexible to strict setting.</p>

  <p>There is no <em>Shidai</em> in the two plays featured on this website, so we are using version of Atsumori’s <em>Shidai</em> to illustrate the concept. The nohkan player opens the <em>shōdan</em> with the <a href="/music/nohkan/hishigi" target="_blank"><em>hishigi</em></a> pattern. At the fourth <em>honji</em>, as the percussionists are moving from <a href="/music/otsuzumi-kotsuzumi/#Mitsuji" target="_blank"><em>mitsuji</em></a> to <em>tsuzuke</em> patterns, the nohkan player introduces the <a href="/music/nohkan/takanemikusari" target="_blank"><em>takane mi kusari</em></a> pattern. After a second round round of <em>mitusji</em> patterns moving to <em>tsuzuke</em>, he introduces a sequence of unnamed patterns, concluding with the <em>takane-roku no ge</em>, a pattern exclusive to the <em>Shidai</em>.</p>

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Atsumori-Shidai_Score_sl.mp4"
    %}

</div>
</main>
