---
layout: website
name: shidai-chant
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Introduction Chants</h4>

    <h2>Shidai-chant</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Congruent</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
  </div>

  <p>The introductory <em>Shidai</em>-chant is usually sung by the waki. It is often followed by a <a href="/catalog-of-shodan/nanori" target="_blank"><em>Nanori</em></a> or a <a href="/catalog-of-shodan/sashi" target="_blank"><em>Sashi</em></a>. Entrance music, also called <em>Shidai</em> usually precedes it, so we refer to it as <a href="/catalog-of-shodan/shidai-music" target="_blank"><em>Shidai</em>-music</a> to avoid confusion.  In contrast with the congruent <em>Shidai</em>-chant, the <em>Shidai</em>-music is non-congruent.</p>

  <p>Its <a href="/text/#Rhythmic-R" target="_blank">regular</a> poetic text is composed of three lines, the second one being a repetition of the first. The syllable pattern is 7-5, 7-5, 7-4, or occasionally, 7-5, 7-5, 7-5. The first two lines are sung on high pitch, the third start on the medium and concludes on the low pitch.</p>

  <p>There is no <em>Shidai</em> in the two plays featured on this website, so we represent it with a concert version of Atsumori’s <em>Shidai</em>. Sung by the shite, the <em>Shidai</em> closes with a <em>jitori</em> performed by the jiutai. When included, a <em>jitori</em> concludes the <em>Shidai</em>, repeating its second and third lines on a very low, quiet tone in a non-congruent fashion.</p>

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Atsumori-Shidai_Chant_Score_sl.mp4"
    %}

</div>
</main>
