---
layout: website
name: shidai-chant
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    <h4>
      <a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Introduction
      Chants
    </h4>

    <h2>Shidai-chant</h2>

    <div class="introductory-table">
      <div class="introductory-table__element">
        <div class="introductory-table__term">Voice</div>
        <div class="introductory-table__definition">Congruent</div>
      </div>
      <div class="introductory-table__element">
        <div class="introductory-table__term">Percussion</div>
        <div class="introductory-table__definition">Strict</div>
      </div>
    </div>

    <p>
      The introductory <em>Shidai</em> chant is usually sung by the waki. It is
      often followed by a

      <a href="/catalog-of-shodan/nanori"><em>Nanori</em></a>

      or a <a href="/catalog-of-shodan/sashi"><em>Sashi</em></a
      >. Entrance music, also called <em>Shidai</em> usually precedes it, so we
      refer to it as

      <a href="/catalog-of-shodan/shidai-music"><em>Shidai</em> music</a>

      to avoid confusion. In contrast with the congruent <em>Shidai</em> chant,
      the <em>Shidai</em> music is non-congruent.
    </p>

    <p>
      Its <a href="/text/#Rhythmic-R">regular</a> poetic text is composed of
      three lines, the second one being a repetition of the first. The syllable
      pattern is 7-5, 7-5, 7-4, or occasionally, 7-5, 7-5, 7-5. The first two
      lines are sung on high pitch, the third start on the medium and concludes
      on the low pitch.
    </p>

    <p>
      The chant consists of the text being sung two or three times: first by the soloists, then very softly, omitting the repetition of the first line, by the jiutai (this repetition is called a <em>jitori</em>), and optinally, when in First Category plays, once again by the soloists. There are two versions of <em>Shidai</em> featured on this website. The first is a concert version of Atsumori’s <em>Shidai</em> sung by the shite and the second in the play Takasago. 
    </p>

    {% include video-no-background.html
    src="https://d3msn78fivoryj.cloudfront.net/Shodan_sl/Atsumori-Shidai_Chant_Score_sl.mp4"
    %}

    <h3>Example in the Plays:</h3>
    <p>
      <a href="/takasago/shidai-chant/" class="link__level-2" target="_blank"
        >Takasago - Shidai chant</a
      >
    </p>
  </div>
</main>
