---
layout: website
name: Shidai-music
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Entrance music</h4>

    <h2>Shidai-music</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Flute</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
  </div>

  <p>Standard entrance music for the waki, yet in some plays such as in Atsumori, among others, the <em>shidai-music</em> is used to introduce the shite. It is usually followed by a chant also called <em>shidai</em>, thus we refer to it as <a href="/catalog-of-shodan/shidai-chant" target="_blank"><em>shidai</em></a>-chant to avoid confusion. The pair usually leads to a <a href="/catalog-of-shodan/nanori" target="_blank"><em>nanori</em></a> or a <a href="/catalog-of-shodan/sashi" target="_blank"><em>sashi</em></a>.</p>

  <p>The percussion part in the <em>shidai-music</em> is flexible, whereas it is strict in the <em>shidai-chant</em>. It is the function of the <a href="/music/otsuzumi-kotsuzumi/#Uchikiri" target="_blank"><em>uchikiri</em></a> pattern to conclude the <em>shidai-music</em> and initiate a move from flexible to strict setting.</p>

  <p>There is no <em>shidai</em> in the two plays featured on this website, thus we present a concert version of Atsumori’s <em>shidai</em>.
  The nohkan player opens the shōdan with the <a href="/music/nohkan/hishigi"target="_blank"><em>hishigi</em></a> pattern. At the fourth <em>honji</em>, as the percussionists are moving from <a href="/music/otsuzumi-kotsuzumi/#Mitsuji" target="_blank"><em>mitsuji</em></a> to <em>tsuzuke</em> patterns, the nohkan player introduces the <a href="/music/nohkan/takanemikusari" target="_blank"><em>takane mi kusari</em></a> pattern.
  It is after another round of <em>mitusji</em> patterns moving to <em>tsuzuke</em>, that he introduces a sequence of unnamed patterns, concluding with the <em>takane-roku no ge</em>, a pattern exclusive the to <em>shidai</em>.</p>

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Atsumori-Shidai_Score_sl.mp4"
    %}

</div>
</main>
