---
layout: website
name: waka
filter-act:
filter-type:
second-level-menu-active: catalog-shodan
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">

    <h4><a href="/catalog-of-shodan#catalog">Catalog of Shōdan:</a> Closing Chants</h4>

    <h2>Waka</h2>

  <div class="introductory-table">
    <div class="introductory-table__element">
      <div class="introductory-table__term">Voice</div>
      <div class="introductory-table__definition">Non-congruent</div>
    </div>
    <div class="introductory-table__element">
      <div class="introductory-table__term">Percussion</div>
      <div class="introductory-table__definition">Strict</div>
    </div>
  </div>

  <p>High pitch song with <a href="/text/#Rhythmic-R" target="_blank">regular</a> poetic text set in <a href="/music/voices#Einori" target="_blank"><em>einori</em></a> characterized by use of melisma. It often follows a slow dance such as the <a href="/catalog-of-shodan/jonomai" target="_blank"><em>Jonomai</em></a>, as it is the case in Hashitomi.
  It conforms to the traditional Japanese <em>waka</em> poetry composed of thirty-one syllables, spread over two verses: the first one, 5 + 7 + 5 syllables and the second one, 7 + 7 syllables. In Hashitomi the first verse is delivered during the <em>Waka</em>, while the second one opens the following <em>shōdan</em>, the <a href="/catalog-of-shodan/kiri" target="_blank"><em>Kiri</em></a> with its last line of seven syllables repeated three times.</p>

<p>Waka:</p>
<p>Orite koso</p>
<p>Sore ka tomo mime</p>
<p>Tasokare ni</p>

<p>Kiri:</p>
<p>Honobono mieshi</p>
<p>Hana no iugao</p>

    {% include video-no-background.html
      src="http://d7rcwrflqckpu.cloudfront.net/Shodan_sl/Hashitomi-Waka_Score_sl.mp4"
    %}
    <h3>Example in the Play:</h3>
    <p>
    <a href="/hashitomi/waka/" target="_blank">Hashitomi - Waka</a>
    </p>


</div>
</main>
