.intermedia-table {
  flex-shrink: 0;
  flex-basis: 20rem;
  border-left: $border;
}

.intermedia__element {
  border-bottom: $border;
  height: $intermedia-table-cell;

  @include flex-container($justify: flex-start);
}

.intermedia__element--title {
  border-top: $border;
  height: $timeline-acts-height + $timeline-marks-height;

  .intermedia__label,
  .intermedia__value {
    font-weight: 700;
    height: $timeline-acts-height + $timeline-marks-height;
    padding: 0 0.5rem;

  }
  .intermedia__label {
    @include text(xxs);
  }

  .intermedia__value {
    @include text(sm);
  }
}

.intermedia__label,
.intermedia__value {
  height: $intermedia-table-cell;
  padding: 0 0.5rem;

  @include flex-container($justify: flex-start);

 .intermedia__value__none {
    font-style: italic;
    color: $brown32;
  }
}

.intermedia__label {
  border-right: $border;
  font-weight: 700;
  width: 40%;

  @include text(tn);
  @include uppercase();
}

.intermedia__value {
  flex-grow: 1;

  @include text(xs);
}
