
// Note: this (obviously) only works with webkit-based browsers.
//  At present, there is no solution for FF or Edge that replicates
//  this behaviour.
#section video::-webkit-media-controls-timeline {
  display: none;
}
