$score-controls-height: 2.5rem;
$score-checkbox-height: 1.5rem;

.score-controls {
  background-color: $green;
  height: $score-controls-height;
  padding: 0 0.625rem;
  width: 100%;
  @include flex-container();
}

.channel-toggles,
.measure-toggles {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0;
 
  li {
    margin-bottom: 0.75rem;
    position: relative;
  }
}

.channel-toggles {
  margin-right: 0.5rem;
}

.measure-toggles {
  margin-left: 0.5rem;
}

.score-controls__filters {
  position: relative;
}

.score-controls__filters-button {
  padding: 0.125rem 0.5rem;
}

.score-controls__filters-popup {
  background-color: $white;
  border-radius: 0.125rem;
  bottom: 2.5rem;
  box-shadow: 0 0.125rem 0.75rem $black32;
  padding: 1rem;
  position: absolute;
  right: 0;
  width: 18rem;
  z-index: 10;

  @include flex-container($justify:flex-start, $align:flex-start);

  &::before {
    
  }
}