@keyframes bgBlink {
  0% {
    background-color: rgba($beige-dark,1);
  }

  100% {
    background-color: rgba($beige-dark,0);
  }
}


@mixin grid-column($n) {
  .cell--#{$n} {
    min-width: $score-cell-width * $n;
    width: 100% / $score-grid-columns * $n;
  }
}

@mixin empty-channels($n) {
  .measure__channel--#{$n} {
    height: $score-channel-height * $n;
    justify-content: center;
  }
}

@for $i from 1 through $score-grid-columns {
  @include grid-column($i);
}

// Styles

.score {
  background-color: $white;
  border-top: $border;
  width: 100%;
}

.score-no-phrases {
  background-color: $beige-light;
  color: $brown;
  font-style: italic;
  min-height: $timeline-empty-score-height;
  
  @include flex-container($justify:center);
}

.measure {
  @include flex-container($justify:flex-start, $align:stretch);
}

.measure__channel {
  height: $score-channel-height;
  
  @include flex-container($justify:flex-start);
}

@for $i from 0 through 5 {
  @include empty-channels($i);
}

.measure__channel-empty {
  color: $brown64;
  font-size: $fs-text-sm;
  font-style: italic;
}

.measure__channel--large {
  height: $score-channel-large-height;
}

.measure__label-container {
  border-right: $border;
  flex-basis: $score-label-width;
  flex-shrink: 0;
  
  .measure__channel {
    border-bottom: $border;
    font-weight: $fw-semibold;
    padding: 0 0.5rem;
    
    @include text(tn);
    @include uppercase();
  }
}

.measure__grid-container {
  flex-grow: 1;
  
  .measure__channel {
    @include text(md);
  }
}

.cell {
  border-bottom: $border;
  border-right: $border;
  color: $brown;
  height: $score-channel-height;
  padding: 0 0.25rem;
  
  @include flex-container($justify: flex-start);
  @include text(xs);
  
  .measure__channel--large & {
    height: $score-channel-large-height;
  }

  .truncate {
    position: absolute;
    max-width: calc(100% - 0.5rem);
    left: 0.25rem;
  }
}

.cell--tooltip {
  @include tooltip();
}

.measure--next,
.measure--previous {
  background-color: $beige-light;
  color: $brown;

  .measure__label-container {
    border-bottom: $border;
    font-weight: $fw-semibold;
    padding: 0 0.5rem;

    @include flex-container($justify: center);
    @include text(xxs);
    @include uppercase();
  }
}

.measure--current {
  background-color: $white;
}

.measure--undefined {
  animation-timing-function: ease-in-out;
  animation-duration: 600ms;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transform-style: preserve-3d;
  animation-name: bgBlink;
}