$score-controls-height: 2.5rem;
$score-checkbox-height: 1.5rem;

.score-controls {
  background-color: $green;
  height: $score-controls-height;
  padding: 0 0.625rem;
  width: 100%;
  @include flex-container();
}

.sentence-control {
  @include flex-container($justify:flex-start);
}

.sentence-control__prev,
.sentence-control__next,
.sentence-control__status {
  color: $white;
}

.sentence-control__prev,
.sentence-control__next {
  @include text(md);
}

.sentence-control__prev {
  margin-right: 0.5rem;
}

.sentence-control__next {
  margin-left: 0.5rem;
}

.sentence-control__status {
  @include flex-container($justify:flex-start, $align:baseline);
}

.sentence-control__title {
  font-weight: $fw-regular;
  font-size: $fs-display-xs;
  margin-right: 0.25rem;
}

.sentence-control__current {
  font-weight: $fw-semibold;
  font-size: $fs-display-md;
}

.channel-toggles,
.measure-toggles {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0;
  
  li {
    margin-bottom: 0.75rem;
    position: relative;
  }
}

.toggles__title {
  font-weight: $fw-semibold;

  @include text(tn);
  @include uppercase();
}

.channel-toggles {
  margin-right: 0.5rem;
}

.measure-toggles {
  margin-left: 0.5rem;
}

.score-controls__filters {
  position: relative;
}

.score-controls__filters-button-container {
  position: relative;
  z-index: 1;
}

.score-controls__filters-button {
  color: $green;
  border-radius: 0.125rem;
  font-weight: $fw-semibold;
  padding: 0.25rem 0.75rem;

  @include text(xxs);
  @include uppercase();
}

.score-controls__filters-popup {
  background-color: $white;
  border-radius: 0.125rem;
  bottom: 2.5rem;
  box-shadow: 0 0.125rem 0.75rem $black32;
  padding: 1rem;
  position: absolute;
  right: 0;
  width: 18rem;
  z-index: 11;

  @include flex-container($justify:flex-start, $align:flex-start);

  &::before {
    background-color: $white;
    box-shadow: 0.1875rem 0.1875rem 0.375rem $black32;
    bottom: -0.375rem;
    content: '';
    height: 0.75rem;
    position: absolute;
    right: 1.5rem;
    transform: rotate(45deg);
    width: 0.75rem;
    z-index: 0;
  }
}