@mixin character-overlay($color, $character) {
  border-left-color: $color;
  
  & + .cell__tooltip {
    border-left-color: $color;
    border-top-color: $border-color;
  }
}

.cell__character {
  border-left-style: solid;
  border-left-width: 0.0625rem;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 0.25rem;
}

.cell__tooltip {
  background-color: $white;
  border-left-style: solid;
  border-left-width: 0.0625rem;
  border-right: $border;
  border-top-style: solid;
  border-top-width: 0;
  bottom: calc(100% - 0.0625rem);
  font-weight: $fw-semibold;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  transition: height 50ms ease-in-out;
  width: 100%;
  @include flex-container($justify: center);
  @include text(tn);
  @include uppercase();

  .measure--previous &,
  .measure--next & {
    background-color: $beige-light;
  }
}

.cell__character--jiutai     { @include character-overlay($color-character-jiutai, 'jiutai'); }
.cell__character--aikyogen   { @include character-overlay($color-character-aikyogen, 'aikyogen'); }
.cell__character--shite      { @include character-overlay($color-character-shite, 'shite'); }
.cell__character--waki       { @include character-overlay($color-character-waki, 'waki'); }
.cell__character--wakizure { @include character-overlay($color-character-wakizure, 'wakizure'); }

.cell--text:hover {
  .cell__tooltip {
    border-top-width: 0.0625rem;
    height: $tooltip-height;
  }
}
