////////////////////////
// all percussion cells
////////////////////////
.cell--percussion {
  @include flex-container($justify: center);
  background-repeat: no-repeat;
  background-size: 16px;
  position: relative;
}


/////////////////////////////////
// single-image percussion cells
/////////////////////////////////
.cell--percussion-chun,
.cell--percussion-dain,
.cell--percussion-don,
.cell--percussion-kata,
.cell--percussion-kbci,
.cell--percussion-kesu,
.cell--percussion-kopu,
.cell--percussion-kwci,
.cell--percussion-kwtr,
.cell--percussion-obci,
.cell--percussion-obtr,
.cell--percussion-osae,
.cell--percussion-owtr,
.cell--percussion-shon { background-position: center; }

.cell--percussion-chun { background-image: url('./images/note-chun.svg'); }
.cell--percussion-dain { background-image: url('./images/note-dain.svg'); }
.cell--percussion-don  { background-image: url('./images/note-don.svg'); }
.cell--percussion-kata { background-image: url('./images/note-kata.svg'); }
.cell--percussion-kbci { background-image: url('./images/note-kbci.svg'); }
.cell--percussion-kesu { background-image: url('./images/note-kesu.svg'); }
.cell--percussion-kopu { background-image: url('./images/note-kopu.svg'); }
.cell--percussion-kwci { background-image: url('./images/note-kwci.svg'); }
.cell--percussion-kwtr { background-image: url('./images/note-kwtr.svg'); }
.cell--percussion-obci { background-image: url('./images/note-obci.svg'); }
.cell--percussion-obtr { background-image: url('./images/note-obtr.svg'); }
.cell--percussion-osae { background-image: url('./images/note-osae.svg'); }
.cell--percussion-owtr { background-image: url('./images/note-owtr.svg'); }
.cell--percussion-shon { background-image: url('./images/note-shon.svg'); }


///////////////////////////////////////////
// composed percussion cells -- two images
///////////////////////////////////////////
.cell--percussion-bcbc,
.cell--percussion-bcwc,
.cell--percussion-bcwt,
.cell--percussion-btbc,
.cell--percussion-btko,
.cell--percussion-btwc,
.cell--percussion-btwt,
.cell--percussion-wtbc,
.cell--percussion-wtko,
.cell--percussion-wtwc,
.cell--percussion-wtwt { background-position:  calc(50% - 9px) center, calc(50% + 9px) center; }

.cell--percussion-bcbc { background-image: url("./images/note-obci.svg"), url("./images/note-obci.svg");}
.cell--percussion-bcwc { background-image: url("./images/note-obci.svg"), url("./images/note-kwci.svg");}
.cell--percussion-bcwt { background-image: url("./images/note-obci.svg"), url("./images/note-owtr.svg"); }
.cell--percussion-btbc { background-image: url("./images/note-obtr.svg"), url("./images/note-obci.svg"); }
.cell--percussion-btko { background-image: url("./images/note-obtr.svg"), url("./images/note-kopu.svg"); }
.cell--percussion-btwc { background-image: url("./images/note-obtr.svg"), url("./images/note-kwci.svg"); }
.cell--percussion-btwt { background-image: url("./images/note-obtr.svg"), url("./images/note-owtr.svg"); }
.cell--percussion-wtbc { background-image: url("./images/note-owtr.svg"), url("./images/note-obci.svg"); }
.cell--percussion-wtko { background-image: url("./images/note-owtr.svg"), url("./images/note-kopu.svg"); }
.cell--percussion-wtwc { background-image: url("./images/note-owtr.svg"), url("./images/note-kwci.svg"); }
.cell--percussion-wtwt { background-image: url("./images/note-owtr.svg"), url("./images/note-owtr.svg"); }


/////////////////////////////////////////////
// composed percussion cells -- text + image
/////////////////////////////////////////////
.cell--percussion-hobc,
.cell--percussion-hoch,
.cell--percussion-howc,
.cell--percussion-ibc,
.cell--percussion-iyapu,
.cell--percussion-obc,
.cell--percussion-yobc,
.cell--percussion-yoch,
.cell--percussion-yoibc,
.cell--percussion-yopu,
.cell--percussion-yowi { background-position:  calc(50% + 10px) center; }

.cell--percussion-hobc {
  background-image: url("./images/note-obci.svg");

  &::before {
    content: "ho";
    left: calc(50% - 16px);
    position: absolute;
  }
}

.cell--percussion-hoch {
  background-image: url("./images/note-chun.svg");

  &::before {
    content: "ho";
    left: calc(50% - 16px);
    position: absolute;
  }
}

.cell--percussion-howc {
  background-image: url("./images/note-kwci.svg");

  &::before {
    content: "ho";
    left: calc(50% - 16px);
    position: absolute;
  }
}

.cell--percussion-ibc {
  background-image: url("./images/note-obci.svg");

  &::before {
    content: "o";
    left: calc(50% - 10px);
    position: absolute;
  }
}

.cell--percussion-iyapu {
  background-image: url("./images/note-kopu.svg");

  &::before {
    content: "iya";
    left: calc(50% - 18px);
    position: absolute;
  }
}

.cell--percussion-obc {
  background-image: url("./images/note-obci.svg");

  &::before {
    content: "o";
    left: calc(50% - 14px);
    position: absolute;
  }
}

.cell--percussion-yobc {
  background-image: url("./images/note-obci.svg");

  &::before {
    content: "yo";
    left: calc(50% - 16px);
    position: absolute;
  }
}

.cell--percussion-yoch {
  background-image: url("./images/note-chun.svg");

  &::before {
    content: "yo";
    left: calc(50% - 16px);
    position: absolute;
  }
}

.cell--percussion-yoibc {
  background-image: url("./images/note-obci.svg");

  &::before {
    content: "yoi";
    left: calc(50% - 18px);
    position: absolute;
  }
}

.cell--percussion-yopu {
  background-image: url("./images/note-kopu.svg");

  &::before {
    content: "yo";
    position: absolute;
    left: calc(50% - 16px);
  }
}

.cell--percussion-yowi {
  background-image: url("./images/note-kbci.svg");

  &::before {
    content: "yo";
    position: absolute;
    left: calc(50% - 16px);
  }
}
