$cell-range-height: 0.75rem;

.cell__range--low,
.cell__range--medium,
.cell__range--high {
  border-top: 0.0625rem solid $grey-medium;
  bottom: 0;
  display: none;
  height: $cell-range-height;
  left: 0;
  position: absolute;
  width: 100%;

  &::before {
    background-image: url('../assets/images/vocal-range-low.svg');
    position: absolute;
    content: '';
    height: $cell-range-height/3;
    width: 100%;
  }
}

.cell__range--low {
  &::before {
    bottom: 0;
  }
}

.cell__range--medium {
  &::before {
    top: 50%;
    transform: translateY(-50%);
  }
}

.cell__range--high {
  &::before {
    top: 0;
  }
}
