.cell--percussion {
  background-repeat: no-repeat;
  background-position: center;
}

.cell--percussion-blci {
  background-image: url('./images/note-chin.svg');
}

.cell--percussion-whtr {
  background-image: url('./images/note-chon.svg');
}

.cell--percussion-chun {
  background-image: url('./images/note-chuno.svg');
}

.cell--percussion-dain {
  background-image: url('./images/note-daino.svg');
}

.cell--percussion-don {
  background-image: url('./images/note-don.svg');
}

.cell--percussion-kata {
  background-image: url('./images/note-katano.svg');
}

.cell--percussion-kesu {
  background-image: url('./images/note-kesu.svg');
}

.cell--percussion-whci {
  background-image: url('./images/note-po.svg');
}

.cell--percussion-kopu {
  background-image: url('./images/note-pu.svg');
}
