$svg-big: 9;
$svg-small: 1;
$time-indicator-circle: 1rem;
$time-indicator-bar: 0.25rem;

.shodan-map__container {
  .time-indicator-container {
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .time-indicator {
    background-image: url('./images/current-position-indicator.svg');
    background-repeat: no-repeat;
    height: calc(100% + #{$timeline-acts-height});
    position: absolute;
    top: -$timeline-acts-height;
    width: 0.6875rem;
    z-index: 10;
    cursor: col-resize;
    left: -5px;
  }
}

.video-progress {
  height: $time-indicator-circle;
  position: relative;
  width: 100%;

  .time-indicator-container {
    &::before {
      border-radius: $time-indicator-bar;
      background-color: $white;
      content: '';
      height: $time-indicator-bar;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }

  .time-indicator {
    cursor: col-resize;
    height: $time-indicator-circle;
    width: $time-indicator-circle;

    &::after {
      background-color: $white;
      border-radius: $time-indicator-circle;
      content: '';
      height: $time-indicator-circle;
      position: absolute;
      top: 0;
      // left: -5px;
      // opacity: .5;
      width: $time-indicator-circle;
    }
  }
}
