.shodan-map__container {
  position: relative;
}

.shodan-map {
  position: relative;
  height: $shodan-map-height-play;
  width: 100%;
  z-index: 20;
}

.shodan-timeline__container {
  > .shodan-map {
    display: none;
  }

  .sidebar__collapsable-title--map {
    .shodan-map {
      display: block;
      height: 2rem;
    }
  }

  &.is-open {
    > .shodan-map {
      display: block;
      height: $shodan-map-height-section;
      margin-top: 0.5rem;
    }

    .sidebar__collapsable-title--map {
      padding: 0.5rem 1rem;

      svg {
        transform: rotate(90deg);
      }

      .shodan-map {
        display: none;
      }
    }
  }
}

.shodan-map__item {
  background-color: $beige-light;
  border: 0.0625rem solid $brown16;
  min-height: 0.5rem;
  position: absolute;
  bottom: 0;

  @include tooltip();

  &:hover {
    background-color: $beige-dark;
    border-color: $brown64;
  }

  &.pointer {
    cursor: pointer;
  }
}

.shodan-map__item--active {
  background-color: $brown64;
  border: 0.0625rem solid $brown;
}
