.shodan-map__container {
  position: relative;
}

.shodan-map {
  position: relative;
  height: $shodan-map-height-play;
  width: 100%;
  z-index: 20;

  @include flex-container($justify:flex-start, $align:flex-end);
}

.shodan-timeline__container {
  > .shodan-map {
    display: none;
  }

  .sidebar__collapsable-title--map {
    .shodan-map {
      display: flex;
      height: 2rem;
    }
  }

  &.is-open {
    > .shodan-map {
      display: flex;
      height: $shodan-map-height-section;
      margin-top: 0.5rem;
    }

    .sidebar__collapsable-title--map {
      padding: 0.5rem 1rem;

      svg {
        transform: rotate(90deg);
      }

      .shodan-map {
        display: none;
      }
    }
  }
}

.shodan-map__item {
  background-color: $beige-light;
  border: 0.0625rem solid $brown16;
  min-height: 0.5rem;
  position: relative;

  @include tooltip-center();

  &.pointer {
    cursor: pointer;
  }

  &.dan-1 {
    background-color: $dan_1_fill;
    border: 0.0625rem solid $dan_1_edge;
  }

  &.dan-2 {
    background-color: $dan_2_fill;
    border: 0.0625rem solid $dan_2_edge;
  }

  &.dan-3 {
    background-color: $dan_3_fill;
    border: 0.0625rem solid $dan_3_edge;
  }

  &.dan-4 {
    background-color: $dan_4_fill;
    border: 0.0625rem solid $dan_4_edge;
  }

  &.dan-5 {
    background-color: $dan_5_fill;
    border: 0.0625rem solid $dan_5_edge;
  }

  &.dan-6 {
    background-color: $dan_6_fill;
    border: 0.0625rem solid $dan_6_edge;
  }

  &.dan-7 {
    background-color: $dan_7_fill;
    border: 0.0625rem solid $dan_7_edge;
  }

  &.dan-8 {
    background-color: $dan_8_fill;
    border: 0.0625rem solid $dan_8_edge;
  }

  &:hover {
    background-color: $dan_hover;
    border-color: $brown64;
  }

  &.shodan-map__item--active {
    border: 0.125rem solid $red;
    border-bottom-style: none;
  }

  &.shodan-map__item--highlight::after {
    // This is more verbose than might be expected because the ::after pseudo-element
    //  on these divs is also used by the tooltip mixin, and some styles need to be
    //  reverted as a result.
    background-color: $red;
    border: none;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.4;
    position:absolute;
    right: 0;
    top: 0;
    transform: translateX(0);
    width: 100%;
  }
}
