$dan-5: #61394e;
$dan-4: #fccdab;
$dan-3: #ab3b3d;
$dan-2: #d59a2f;
$dan-1: #665e3b;
$alpha: 0.1;
$alpha-hover: 0.15;
$shodan-bg-color: hsl(240, 3%, 88%);
$shodan-bg-color-dan-hover: hsl(240, 3%, 77%);
$shodan-bg-color-hover: hsl(240, 3%, 66%);

@mixin separator() {
  &:not(:last-child) {
    &::before {
      background-color: $shodan-bg-color;
      content: "";
      position: absolute;
      height: 100%;
      right: 0;
      width: 0.0625rem;
    }
  }
}

@mixin hover($color, $alpha, $alpha-hover) {
  background-color: rgba($color, $alpha);

  &:hover {
    background-color: rgba($color, $alpha-hover);
    .shodan-map__item {
      background-color: $shodan-bg-color-dan-hover;
      &:hover {
        background-color: $shodan-bg-color-hover;
      }
    }
  }
}

.shodan-map__container {
  height: 100%;
  padding-top: 20px;
  position: relative;
  width: 100%;
}

.act-map {
  align-items: stretch;
  background-color: $white;
  display: flex;
  font-family: sans-serif;
  height: 100%;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.act {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  position: relative;
  text-align: center;

  @include separator();

  &:not(:last-child) {
    span {
      border-right: $border;
    }
  }

  span {
    align-items: center;
    border-bottom: $border;
    display: flex;
    font-size: 12px;
    height: 20px;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: -20px;
    width: 100%;
  }
}

.dan {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  padding-top: 1rem;
  position: relative;
  text-align: center;

  @include separator();

  &.dan-1 {
    @include hover($dan-1, $alpha, $alpha-hover);
  }
  &.dan-2 {
    @include hover($dan-2, $alpha, $alpha-hover);
  }
  &.dan-3 {
    @include hover($dan-3, $alpha, $alpha-hover);
  }
  &.dan-4 {
    @include hover($dan-4, $alpha, $alpha-hover);
  }
  &.dan-5 {
    @include hover($dan-5, $alpha, $alpha-hover);
  }
  &.dan-6,
  &.dan-7,
  &.dan-8 {
    @include hover($white, 0, 0.1);
  }
}

.shodan-map__item {
  background-color: $shodan-bg-color;
  border: 0.0625rem solid rgba($black, 0.15);
  min-height: 0.5rem;
  position: relative;

  &:hover {
    background-color: $shodan-bg-color-hover;
  }

  @include tooltip-center();

  &.pointer {
    cursor: pointer;
  }

  &.shodan-map__item--active {
    background-color: $shodan-bg-color-hover;
  }

  &.shodan-map__item--highlight {
    background-color: $shodan-bg-color-hover;
  }
}

.shodan-timeline__container {
  span {
    display: none;
  }

  > .act-map {
    display: none;
  }

  .act {
    border: none;
    &::before {
      content: none;
    }
  }

  .dan {
    background-color: $white;
    border: none;
    padding-top: 0;

    &::before {
      content: none;
    }

    &:hover {
      background-color: $white;
      .shodan-map__item {
        background-color: $shodan-bg-color;
      }
    }
  }

  .shodan-map__item {
    min-height: 0.375rem;
  }

  .sidebar__collapsable-title--map {
    .act-map {
      display: flex;
      height: 2rem;
    }
  }

  &.is-open {
    > .act-map {
      display: flex;
      height: $shodan-map-height-section;
      margin-top: 0.5rem;
    }

    .shodan-map__item {
      min-height: 0.375rem;
    }

    .sidebar__collapsable-title--map {
      padding: 0.5rem 1rem;

      svg {
        transform: rotate(90deg);
      }

      .act-map {
        display: none;
      }
    }
  }
}
