$time-indicator-circle: 1rem;
$time-indicator-bar: 0.25rem;
$time-indicator-offset: 1rem;

.video-progress {
  height: 100%;
  max-width: 25rem;
  position: relative;
  width: 100%;

  .timeline-scrubber {
    cursor: pointer;
    height: 100%;
    margin: 0 $time-indicator-circle / 2;
    padding: 0 $time-indicator-circle / 2;
    position: relative;

    &::after {
      background-color: $white;
      border-radius: $time-indicator-bar;
      content: '';
      height: $time-indicator-bar;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }

  .timeline-scrubber__handle {
    background-color: $white;
    border-radius: 100%;
    height: $time-indicator-circle;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $time-indicator-circle;
  }
}
