.home {
  h1 {
    font-weight: $fw-bold;
    margin-bottom: 2rem;
    text-align: center;

    @include text(hg);
  }

  p {
    @include text(xl,'text');
  }

  blockquote {
    background-color: $beige-light;
    margin: 3.5rem 0;
    overflow: hidden;
    padding: 2.5rem;
    position: relative;
  
    @include flex-container($direction:column, $justify: center);
    
    &::before,
    &::after {
      content: '';
      height: 6.25rem;
      position: absolute;
      width: 7.5rem;
      z-index: 0;
    }

    &::before {
      background-image: url('./images/quote-opening.svg');
      left: 2rem;
      top: -2rem;
    }
    
    &::after {
      bottom: -2rem;
      background-image: url('./images/quote-closing.svg');
      right: 2rem;
    }

    p {
      font-family: $font-display;
      font-style: italic;
      margin-bottom: 1rem;
      max-width: 45rem;
      text-align: center;
    }

    footer {
      text-align: right;
      width: 45rem;

      @include text(lg,'text');
    }
  }
}

.home__image {
  background-size: cover;
  background-position: 50% 50%;
  height: 30rem;
  position: relative;
  
  &::before {
    background-image: linear-gradient(180deg, $black64 0%, $black16 100%);
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
  }
}

.home__content {
  background-image: 
    url('https://www.toptal.com/designers/subtlepatterns/patterns/seigaiha.png'),
    linear-gradient(180deg, $beige-dark 0%, $beige-dark 100%);
  background-blend-mode: multiply;
  color: $brown;
  padding: 3.5rem 0 5.5rem 0;
}