.wrapper {
  margin: 0 auto;
  max-width: $wrapper-large;
}

.text-container,
.tabs-container {
  @extend .wrapper;
}

.tabs-container {
  background-color: $beige-light;

  .react-tabs__tab-list {
    padding: 0;
  }
}

.image-container {
  background-color: $beige-light;
  border-bottom: $border;
  border-top: $border;
  margin: 4rem 0;
  padding: 4rem 0;

  img {
    max-width: 100%;
  }
}