.page-content {
  padding-bottom: 1rem;

  h1 {
    color: $brown;
    font-weight: $fw-bold;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
    position: relative;
    text-align: center;

    @include text(xl);

    &::before {
      background-color: $red;
      bottom: 0;
      content: '';
      height: 0.125rem;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 4rem;
    }
  }

  h2 {
    color: $brown;
    font-weight: $fw-bold;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
    position: relative;
    text-align: center;

    @include text(xl);

    &::before {
      background-color: $red;
      bottom: 0;
      content: '';
      height: 0.125rem;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 4rem;
    }
  }

  h3,
  h4,
  h5 {
    margin-left: auto;
    margin-right: auto;
    max-width: $wrapper-small;
    padding: 1rem 0;
    position: relative;
  }

  h4,
  h5 {
    color: $brown80;
    text-transform: uppercase;
  }

  h3 {
    color: $brown;
    font-weight: $fw-semibold;
    margin-bottom: 0.5rem;

    @include text(lg);
  }

  h4 {
    font-weight: $fw-semibold;

    @include text(sm);
  }

  h5 {
    font-weight: $fw-bold;

    @include text(xs);
  }

  img,
  video {
    display: block;
    margin: 0 auto;
    max-width: $wrapper-media;
  }

  video {
    width: 100%;
  }

  p {
    color: $brown;

    @include text(lg,'text');

    * {
      font-family: $font-text;
    }

    strong {
      font-weight: $fw-bold;
    }

    em {
      font-style: italic;
    }
  }

  .sidebar-contents {
    align-items: flex-start;
    display: flex;
  }

  .sidebar-contents__table {
    background-color: $beige-light;
    border: $border;
    flex-basis: 14rem;
    flex-shrink: 0;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 0.5rem;
    position: sticky;
    top: 50px;
    overflow-y: auto;
    max-height: calc(100vh - 50px - 10px); // the extra 10px is to allow a little space at the bottom

    h4 {
      color: $brown;
      padding: 0.5rem;
    }
  }
}

.text-container {
  p {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: $wrapper-small;
  }
}

.footnote {
  font-size: small;
}

.footnotes {
  margin: 0 auto 2rem;
  max-width: 40rem;
  ol, ul {
    list-style: decimal;
  }
  p {
    color: $brown;
    @include text(md,'text');
    strong {
      font-weight: $fw-bold;
    }
    em {
      font-style: italic;
    }
    margin-bottom: 1rem;
  }
  ::marker {
    color: $brown;
    @include text(md,'text');
  }
}

img.scalable {
  &.image-left {
    display: inline;
  }
}

div.scalable {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;

  &.wrapper-small {
    max-width: $wrapper-small;
  }
  &.wrapper-medium {
    max-width: $wrapper-medium;
  }
  &.wrapper-large {
    max-width: $wrapper-large;
  }
}

#back-to-top {
  background-color: $green;
}
