.page-content {
  padding: 3rem 0 4rem 0;

  h2 {
    color: $brown;
    font-weight: $fw-bold;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
    position: relative;
    text-align: center;

    @include text(xl);

    &::before {
      background-color: $red;
      bottom: 0;
      content: '';
      height: 0.125rem;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 4rem;
    }
  }
  p {
    color: $brown;
  
    @include text(lg,'text');
  }
}

.text-container {
  p {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: $wrapper-small;
  }
}
