.page-content {
  padding: 3rem 0 4rem 0;

  h2 {
    color: $brown;
    font-weight: $fw-bold;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
    position: relative;
    text-align: center;

    @include text(xl);

    &::before {
      background-color: $red;
      bottom: 0;
      content: '';
      height: 0.125rem;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 4rem;
    }
  }

  h3 {
    color: $brown;
    font-weight: $fw-semibold;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: $wrapper-small;
    padding: 1rem 0;
    position: relative;

    @include text(lg);
  }

  img,
  video {
    display: block;
    margin: 0 auto;
    max-width: $wrapper-media;
    width: 100%;
  }

  p {
    color: $brown;
  
    @include text(lg,'text');

    * {
      font-family: $font-text;
    }
    
    strong {
      font-weight: $fw-bold;
    }

    em {
      font-style: italic;
    }
  }
}

.text-container {
  p {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: $wrapper-small;
  }
}

