.app-container {
  height: 100vh;

  @include flex-container($justify: flex-start, $align: stretch);

  main {
    flex-grow: 1;
  }
}

.sidebar {
  border-right: $tl-separator;
  min-width: 18rem;
  width: 30%;
}

.sidebar--section {
  @include flex-container($direction:column, $justify:flex-start, $align: flex-start);
}

.video-player {
  height: 100vh;

  @include flex-container($direction:column, $justify:flex-start, $align: flex-start);
}

.video-container {
  background-color: $black;
  flex-grow: 1;
  position: relative;
  width: 100%;

  video {
    left: 50%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.timeline {
  width: 100%;
}

.video {
  background-color: $grey-lighter;
}
