.app-container {
  background-color: $bg-color;
  height: 100vh;

  @include flex-container($justify: flex-start, $align: stretch);

  main {
    flex-grow: 1;
  }
}

.sidebar {
  background-color: $white;
  border-right: $tl-separator;
  min-width: 18rem;
  width: 30%;
  height: 100vh;
}

.sidebar__container {
  flex-grow: 1;
  overflow: hidden;
  position: relative;

  @include flex-container($direction:column);

  &::after {
    background-image: linear-gradient(rgba($white, 0) 0%, rgba($white, 1) 100%);
    bottom: 0;
    content: '';
    height: 2rem;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.sidebar__header {
  background-color: $blue-dark;
  color: $white;
  padding: 1rem;
  position: relative;
  width: 100%;

  h1 {
    text-align: center;
  }
}

.sidebar__back-link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @include text(sm);
  @include uppercase();

  svg {
    margin-right: 0.375rem;
    position: relative;
    top: 0.125rem;
  }
}

.sidebar__extras {
  flex-shrink: 0;
  width: 100%;

  h3 {
    cursor: pointer;
  }
}

.sidebar--section {
  @include flex-container($direction:column, $justify:flex-start, $align: flex-start);
}

.sidebar__collapsable-title {
  background-color: $white;
  border-top: $tl-separator;
  padding: 1rem;

  @include flex-container();

  h3 {
    font-weight: $fw-bold;
    flex-shrink: 0;
    margin-right: 1rem;

    @include text(sm);
    @include uppercase();
  }

  .timeline & {
    display: none;
  }
}

.sidebar__collapsable-title--map {
  padding: 0.5rem 1rem;
}

.video-player {
  height: 100vh;

  @include flex-container($direction:column, $justify:flex-start, $align: flex-start);
}

.video-container {
  background-color: $black;
  flex-grow: 1;
  position: relative;
  width: 100%;

  video {
    left: 50%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.timeline {
  width: 100%;
}

.video {
  background-color: $grey-lighter;
}

video::cue {
  white-space: pre;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background: rgba(0,0,0,0.5);
  font-size: 1em;
  line-height: 1;
  font-weight: lighter;
}

video::cue(.translation) {
  font-style: italic;
  font-size: 0.8em;
}
