---
layout: website
menu-active: elements
second-level-menu-active: music
third-level-menu-active: notation
---

{% include second-menu-elements.html %}
{% include menu-instrument-small.html %}

<main class="page-content">
<div class="wrapper sidebar-contents">
  <aside class="sidebar-contents__table">
    {% include menu-notation.html %}
  </aside>
  <section class="sidebar-contents__section">
  <div class="text-container">
    <h2 id="Props">Notation</h2>
    <p> Although chant, dance, and music are transmitted aurally and orally from teacher to student, notation has had an important role in supporting the accuracy and ensuring the authenticity of the transmission throughout Noh’s history. </p>
    <h3 id="Chant">Chant – <em>utaibon</em></h3>
    <p>
    The most popular and important notation for Noh drama is the <em>utaibon</em>, which means ‘chanting book.’ Compared to a libretto, a <em>utaibon</em> contains the dramatic text of a Noh play with the indication of roles including the shite, waki, and jiutai. However, it does not include Interlude section between two acts, performed mainly by ai-kyogen, because the <em>utaibon</em> functions more like a chanting notation rather than a play script. Sung text is annotated on the right side of the notation with dot-like signs indicating how each syllable or line is sung (Fig.1).</p>

    {% include image-no-background.html src="/assets/images/Notation-1.jpg" caption=" Fig.1 Kokaji. Edited by Kongō Ukyō. Published by Hinoki-shoten, Tokyo in 1898." %}

    <p>After 17th century, as the amateur population was growing, the <em>utaibon</em> was printed repeatedly, becoming one of bestsellers through the Japanese history. 20th century’s utaibon has been revised to include the synopsis, costumes, and masks used on stage rather than as a mere notation for chanting (Fig.2).</p>

    {% include image-no-background.html src="/assets/images/Notation-2.jpg" caption=" Fig.2 <em>Kongō ryū yōkyoku bon: Kokaji</em>. Published by Hinoki-shoten, Tokyo, published year unknown.  " %}

<h3 id="Dance">Dance – <em>katatsuke</em></h3>
<p>
Increasing numbers of amateurs through 20th century led the headmasters of the shite’s schools to publish the choreography of the climactic part, <em>shimai</em>, in Noh plays. Movement patterns called <em>kata</em>, mostly indicated by their particular names, are written down side-by-side with the sung text (Fig.3).  </p>

{% include image-no-background.html src="/assets/images/Notation-3.jpg" caption=" Fig.3 <em>Kongō ryū shimai katatsuke Vol.3</em>. Published by Hinoki-shoten, Tokyo, published year unknown." %}

<p>In early 20th century, some schools used diagrams to show students how to walk on stage in specific sections of a dance (Fig.4). </p>

{% include image-no-background.html src="/assets/images/Notation-4.jpg" caption=" Fig.4 The diagrams of steps in <em>Hashitomi’ Kuse’s shimai </em> for dance students of Kanze school. (Quoted from: Kanze Motomasa, 1973, Shimai kōza Hajitomi kuse, <em>Kanze</em>  40(7): 19-21.)" %}

<h3 id="Percussion">Percussion – <em>testuke</em></h3>
<p>
Compared to chant and dance, percussion performance, kotsuzumi, ōtsuzumi and taiko have not been practiced by many amateurs. Notation was not easy for beginners to understand. The original form of percussion notation consisted of names of patterns listed in the order they were to be performed (Fig. 5 & 6).</p>

{% include image-no-background.html src="/assets/images/Notation-5.jpg" caption=" Fig. 5 Kotsuzumi’s notation for <em>Jonomai</em>.  Patterns names of Kō school written down in the order they are performed. Manuscript. Author unknown." %}

{% include image-no-background.html src="/assets/images/Notation-6.jpg" caption=" Fig. 6 Kotsuzumi’s notation of Kokaji. Patterns names of Kō school written along the chanting text. (Quoted from: Kō Gorō, 1915, <em>Kō ryū kotsuzumi tetsuke chi no maki ge</em>. Published by Ejima Ihee, Tokyo." %}


<p>Following the increase of amateur players in the 20th century, some schools of drumming have published notation books with a clearer style that places all strokes and <em>kakegoe</em> vertically over eight beats frame, marked with lines (Fig.7). Chanted text or nohkan melody were then added, helping the percussion players synchronize their strokes and <em>kakegoe</em> to singing or nohkan melody. </p>

{% include image-no-background.html src="/assets/images/Notation-7.jpg" caption=" Fig. 7 Percussion notation of <em>Jonomai</em> with strokes and <em>kakegoe</em>. Kotsuzumi’ are in red, ōtsuzumi in black, and taiko in red, layered on nohkan notation, from right to left. (Quoted from: Morita Misao, 1914, <em>yōkyoku maibayashi taisei</em>. Published by Yoshida yōkyoku shoten, Osaka)." %}

<h3 id="Nohkan">Nohkan</h3>
<p>
Nohkan uses oral notation called <em>shōga</em>, widely used for learning  Japanese wind instruments. In Nohkan, <em>shōga</em> consists of fixed sets of Japanese syllables such as <em>o-hya-ra</em> or <em>hi-u-i-ya</em>, which remind players of particular basic melodies produced by fixed combinations of fingering patterns (Fig. 8 & 9). Having basic <em>shōga</em> melodies in mind, individual nohkan players create unique embellishments with fingerings added to the basic patterns.  </p>

{% include image-no-background.html src="/assets/images/Notation-8.jpg" caption=" Fig. 8  <em>Shōga</em> notation with appended fingerings shown with numbers in red.  Manuscript by Akai Fujio, the nōkan players in 1980." %}

{% include image-no-background.html src="/assets/images/Notation-9.jpg" caption=" Fig. 9 The diagram of fingering patterns shown along the <em>shōga</em> notation. (Quoted from: Morita ryū shokubunkai, 1951, Morita ryū fue jonomai. Tokyo: Hinoki-shoten)." %}


<h3 id="Score">Full Score</h3>
<p>
Having five schools for the shite’s chant and two to five schools for each instrument, the number of combinations of parts from all different schools are close to infinite. This is why full scores of Noh plays have rarely been created or published. In the history of transmission, however, some publications chose a single school for each part and notated chant and percussion patterns side-by-side, often using different colors (Fig.10).  It may not have been useful for students of individual parts but it is invaluable for those who are eager to analyze Noh music. The <a href="/music/#Notation">notation used on this website</a> is meant to serve a similar purpose.</p>

{% include image-no-background.html src="/assets/images/Notation-10.jpg" caption=" Fig. 10  Score-type notation of <em>Maibataraki</em> made by an amateur musician, Tazaki Enjirō. Ōtsuzumi in blue, kotsuzumi in red, taiko in green and red, and the chanting text and nohkan’s <em>shōga</em> in black from right to left in a column. (Quoted from: Tazaki Enjirō, 1927. Shibyoshi tetsuke taisei Maibataraki. Tokyo: Hinoki-taikadō shoten)." %}

</div>
</section>
</div>

</main>
