---
layout: website
menu-active: elements
second-level-menu-active: music
third-level-menu-active: notation
---

{% include second-menu-elements.html %}
{% include menu-instrument-small.html %}

<main class="page-content">
<div class="wrapper sidebar-contents">
  <aside class="sidebar-contents__table">
    {% include menu-notation.html %}
  </aside>
  <section class="sidebar-contents__section">
  <div class="text-container">
    <h2 id="Props">Notation</h2>
    <p> Although chant, dance and music are exclusively transmitted aurally and orally from teacher to student, notation has had important roles to support the accuracy as well as to ensure authenticity of the transmission through the long history of Noh. </p>
    <h3 id="Chant">Chant – <em>utaibon</em></h3>
    <p>
    The most popular and important notation for Noh drama is the utaibon which literally means ‘chanting book.’ Compared to a libtrtto, a utaibon writes the dramatic text of a Noh play with the indication of roles such as the shite, waki and the jiutai. However, Interlude section between two acts that is mainly performed by ai-kyogen is not included because the utaibon has functioned more as chanting notation rather than a play script. Sung text is presented with dot-like signs that indicate how each syllable or each line is sung. </p>
{% include image-no-background.html src="/assets/images/curtain.png" caption="text goes here" %}

    <p>On the course of the growth of the amateur population after 17th century, utaibon had been printed repeatedly up to being said it had been one of bestsellers through the Japanese history. 20th century’s utaibon has revised and grown up to carry information such as synopsis, costumes and masks to be used on stage rather than mere notation for chanting.</p>

{% include image-no-background.html src="/assets/images/curtain.png" caption="text goes here" %}
<h3 id="Dance">Dance – <em>katatsuke</em></h3>
<p>
Increasing number of amateur through 20th century pushed the headmasters of the shite’s schools to publish the choreography of the climactic part, shimai in Noh plays. Movement patterns called kata, mostly indicated by their particular names, are written down at the side of the sung text. </p>
<p>In early 20th century, some schools started to present diagrams for a student to know the way she/he walks on stage in a dance. </p>

{% include image-no-background.html src="/assets/images/curtain.png" caption="text goes here" %}
<h3 id="Percussion">Percussion – <em>testuke</em></h3>
<p>
Compared to chant and dance, percussion parts, kotsuzumi, ōtsuzumi and taiko, have not been practiced by many amateurs. Thus, notation had not been so kind as to be easily understood by beginners. The original form of their notation was the one that just put the names of patterns one by one in the order they are performed. According to the increase of amateur players in the 20th century, some schools of drumming have published notation books in a lucid style that configure all strokes and kakegoe vertically over eight beats’ frame shown by lines. Chanting text or nōkan melody is also added to same lines where the percussion players have to synchronize their strokes and kakegoe to singing or nohkan melody. </p>

{% include image-no-background.html src="/assets/images/curtain.png" caption="text goes here" %}
<h3 id="Nohkan">Nohkan</h3>
<p>
Nohkan uses oral notation called shōga, which is widely used for learning  Japanese wind instruments.  Shōga for nohkan consists of fixed sets of Japanese syllables such as o-hya-ra or hi-u-i-ya that remind players of particular basic melodies produced by fixed combinations of fingering patterns. Having shōga melodies in mind as basic melody types, individual nohkan players create and cherish uniquely embellished melody patterns created by decorative fingering added to the basic fingering. </p>

{% include image-no-background.html src="/assets/images/curtain.png" caption="text goes here" %}
<h3 id="Score">Full Score</h3>
<p>
Having 5 schools for the shite’s chant and 2 to 5 schools for each music part, the number of combinations of all different schools from all parts are close to infinite. This is why full scores of Noh plays have been rarely made and published. In the history of transmission however, there found some publications that picked up single school’s notation from each part and wrote chant and percussion patterns side by side often using different color.  It may not have been useful for students of each part. But it is indispensable for those who are eager to analyze Noh music and appreciate it as deeply as one can. Our new notation on this website would also be expected as such. Please refer to this page for description of <a href="/music/#Notation">notation used on this website</a>.</p>

{% include image-no-background.html src="/assets/images/curtain.png" caption="text goes here" %}

</div>
</section>
</div>

</main>
