---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "commons/variables";
@import "commons/mixins";
@import "commons/reset";
@import "commons/helpers";
@import "commons/grid";
@import "commons/video-links";
@import "layouts/layout-commons";
@import "layouts/home";
@import "layouts/page";
@import "layouts/video-player";
@import "components/header";
@import "components/footer";
@import "components/checkbox";
@import "components/filters";
@import "components/website/card";
@import "components/website/second-level-menu";
@import "components/website/third-level-menu";
@import "components/website/card-menu";
@import "components/website/mini-cards";
@import "components/website/anchor-menu";
@import "components/website/introductory-table";
@import "components/website/content-table";
@import "components/website/section-introduction";
@import "components/website/video-tooltip";
@import "components/videoplayer/narrative";
@import "components/videoplayer/intermedia-table";
@import "components/videoplayer/highlighted-text";
@import "components/videoplayer/score";
@import "components/videoplayer/section-controls";
@import "components/videoplayer/timeline";
@import "components/videoplayer/main-player";
@import "components/styleguide-colors";
@import "components/styleguide-typography";
