---
layout: website
title: Movement
menu-active: elements
second-level-menu-active: movement
permalink: /about-movement/
---

{% include second-menu-elements.html %}

<main class="page-content">
  <div class="text-container">
    {% include menu-dances-large.html %}

    <div class="wrapper sidebar-contents">
      <aside class="sidebar-contents__table">
        {% include menu-movement.html %}
      </aside>
      <section class="sidebar-contents__section">

        <div class="text-container">
          <h2 class="collapsible collapsible-closed" id="Intro">Movement</h2>

          <h3>Introduction</h3>
          <p>Despite its apparent minimalism, the movement in Noh is vital, sophisticated and performed with great precision. It serves structural, aesthetic, and narrative functions. It co-creates <a href="/about-intermedia/#Kurai" target=" _blank"><em>kurai</em></a>, the overarching expressive quality of the play.</p>

          <p>Its structure guides viewers through the play's form. For example, one can expect a play to start with the waki entering and walking to Square 1 for his introduction, before eventually moving to his standard resting position at Square 5. Or, during the instrumental dance, the viewers can follow the cues provided by the actor, who signals the opening of the dance's sections with its fan, which is first closed, then open, and then maybe reversed, before being closed again to announce the imminent end of the dance. Such large scale organization of stage movement helps create a familiar frame.</p>

          <p>On the smaller scale of time, Noh involves abstract movement patterns that are equally familiar to the viewers. Using them in different roles allows actors to add unique aesthetic beauty and depth to the characters by imbuing the movement with subtle expressive qualities. The abstract nature of the patterns in the instrumental dance in particular allows for evocation and profound contemplation.</p>

          <p>When movement is done in direct reference to the narrative it is often very sparse. It uses mimetic gestures that symbolize rather than literally depict. As such, it calls on the imagination of the viewer and deepens their engagement with the play, its narrative, and the protagonist.</p>

          <h3 id="Kata">Kata</h3>
          <p>The movements of actors in Noh are choreographed using an extensive vocabulary of basic patterns called <em>kata</em>. The patterns can be classified into two categories: formal and mimetic. The way they are sequenced creates more extended motions and dances. Our classification and English translation of <em>kata</em> names are based on the work of Monica Bethe and Karen Brazell. (<em>Dance in the Noh Theater</em>, Volumes 1, 2, and 3 published by Cornell University under the Cornell East Asia Series, number 29.) The core elements of all Noh movement are the basic posture (<a href="/movement/standing/" target="_blank"><em>kamae</em></a>) that serves as the start and end of all movement and a sliding walk (<a href="/movement/forward/" target="_blank"><em>hakobi</em></a>) that provides the essential flow. </p>

          <h4 id="Formal">Formal kata</h4>
          <p>Ubiquitous and essential, they can appear at any time and anywhere on the stage. Some are performed only at specific times and places, creating structure. They can involve coordination between feet and arms. Some have variants performed with a fan either open or closed. They recur throughout the play but especially early on and during instrumental dances (<em>mai</em>).
          </p>

          <h4 id="Mimetic">Mimetic kata</h4>
          <p>They add depth to the narrative rather than establish structure. Commonly used to illustrate meaning of sung text, they are often focused on one body part with a unique stipulation, such as, with a closed or open fan. They become more frequent as the play progresses and are normally found in such narrative <em>shōdan</em> like the <em>Kuse</em> and <em>Kiri</em>.</p>

          <h3></h3>
          <p>For more information and video examples of <em>kata</em>, please refer to the <a href="/movement/" target="_blank">Catalog of Kata</a>. The recordings feature KONGŌ Tatsunori.</p>

          <h3 id="Modes">Modes of Movement</h3>
          <p>In his theoretical works, Zeami (c.1363 - c.1443) has defined three basic modes of movement:<br>
            Aged Mode (<em>rōtai</em>): embodiment of tradition and the divine.<br>
            Feminine Mode (<em>nyotai</em>): suggesting sensitivity to beauty and emotion.<br>
            Martial Mode (<em>guntai</em>): representing supernatural, demonic quality as well as assertive masculinity.
          </p>

          <p>However, the modes are not strictly associated with gender or even specific characters. For instance, in one play a deceased soldier dances in the feminine mode over melodic and lyrical chanting, but switches to the martial mode when depicting the battle that led to his death.</p>

          <p>
          Most generally <em>kata</em> performed in feminine mode are characterized by a closed position of the feet, round gesture, slower tempo and a fluid rhythm, whereas <em>kata</em> performed in martial mode have the actor's feet positioned further apart, using a more angular motion, and faster tempo. For the sake of comparison, several <em>kata</em> included in the Catalog of Kata are presented both in feminine and martial modes. </p>


          <h3 id="Dances">Dances</h3>
          <p>All movement in Noh is highly formalized and bears a resemblance to dance. In Noh tradition though, there is a special term for dance, <em>mai</em>. It refers to the instrumental dance that typically appears in the second half of the play, when the movement of the shite is formal and the accompaniment is purely instrumental. These are considered the highlights of the plays. In some plays, all of the performance until then may be seen as the preparation for this special expressive climax when words cease and the audience gets to contemplate the protagonist's nature, essential emotion, or state of mind, expressed through dance and music only.</p>

          <p>There are two kinds of <em>mai</em>: <em>mai</em> proper and <em>hataraki</em>. Both share a basic structure. The actors typically start upstage, move forward, then to the stage-right corner, and after circling once or more, return to where they started. Depending on the character of the protagonist this movement can be slow or fast, the gestures can be more sharp or fluid, and the relationship to the beat strict or flexible. The difference between the two is that <em>mai</em> is longer in duration and has a larger number of subsections than <em>hataraki</em>. <em>Mai</em> is normally more of a stand-alone scene, while <em>hataraki</em>, provides a glimpse of the moment's mood, emotion, or dramatic action, it often depicts scenes of exorcisms or fight. <em>Jonomai</em> from Hashitomi is an example of <em>mai</em>, while <em>maibataraki</em>, represents a <em>hataraki</em></p>

          <H3 id="Shimai">Shimai and Maibayashi</H3>
          <p>Besides dance in the context of a Noh play, there are two other forms of dance. Dance-to-text <em>shōdan</em>, such as <em>Kuse</em> and <em>Kiri</em>, can be performed a stand-alone dances. This form of dance, called <em>shimai</em>, includes a jiutai usually composed of four members, but no <em>hayashi</em>.<br>
            Instrumental dances can also be performed as stand-alone dances. This form of dance called <em>maibayashi</em> includes a <em>hayashi</em> and a jiutai with a membership that can vary between three and eight singers.</p>

          <p>When performing a <em>shimai</em> or <em>maibayashi</em>, the actor is not masked and wears a crest-adorned <em>kimono</em> and <em>hakama</em> rather than a costume. Also, the fan is larger than the one used in a play, and it is handled differently by the members of the jiutai. They kneel with hands in their pockets, fans resting on the stage floor when inactive, and hold the fan upwards when singing in a play, or resting on their laps when singing in a <em>shimai</em> or <em>maibayashi</em>.</p>

          <h3></h3>
          <p>For video examples and analysis of shimai from Hashitomi and Kokaji please refer to <a
              href="/shimai-dances/" target="_blank">Shimai Dances</a>. The recordings feature KONGŌ Tatsunori
            accompanied by the chanting of brothers UDAKA Tatsushige and Norishige.</p>

          <h3></h3>
          <p> For more information about movement please see an extended chapter at the <a
              href="https://jparc.online/nogaku/performance/movement/"  target="_blank">JPARC Nōgaku Site</a>.</p>
        </div>
      </section>
    </div>
  </div>
</main>
