---
layout: website
title: Actors
menu-active: elements
second-level-menu-active: actors
third-level-menu-active:
fourth-level-menu-active:
permalink: /actors/
---

{% include second-menu-elements.html %}

<main class="page-content">

  <div class="wrapper sidebar-contents">
    <aside class="sidebar-contents__table">
      {% include menu-actors.html %}
    </aside>
    <section class="sidebar-contents__section">
      <div class="text-container">
        <h2 id="Roles">Actors</h2>
        <p>There are five performing types of actors in Noh, and one non-performing:</p>
      </div>
      <table class="content-table">
        <tr class="content-table__row--header">
          <td class="content-table__column">Type of Actor</td>
          <td class="content-table__column">Role</td>
          <td class="content-table__column">Schools</td>
        </tr>
        <tr class="content-table__row">
          <td id="Shite" class="content-table__column"><strong>Shite</strong></td>
          <td class="content-table__column">The primary actor and vocal soloist is usually masked. In some plays the shite has a companion actor called the <strong>shite-tsure</strong>, or just <strong>tsure</strong>, who can also be masked. Although the tsure can also dance, if only one actor dances it is the shite. The story revolves around him. At first, the audience knows very little or nothing about his true identity. Often, he is a character from another world, embodying, for example, a divine being or deceased person. In the latter case, and considering that most plays are composed of two acts, the first-act shite is often a spirit who has assumed the form of a person, while the second-act shite assumes the form of a the ghost or apparition of the same spirit.</td>
          <td class="content-table__column">Kanze<br>Hōshō<br>Komparu<br>Kongō<br>Kita</td>
        </tr>
        <tr class="content-table__row">
          <td id="Waki" class="content-table__column"><strong>Waki</strong></td>
          <td class="content-table__column">In traditional Noh repertoire the secondary actor is a realistic male character living in the narrative's present, therefore he is never masked. The audience usually knows who he is from the beginning since he typically introduces himself immediately after entering the stage. He engages the shite and provides him with a reason to appear and perform. Plays without a waki are exceptionally few. There are three major types of waki characters: a shrine official or retainer, a warrior, or, most commonly, a traveling monk. In some plays the waki has one or few unmasked companion actors called <strong>wakizure.</td>

          <td class="content-table__column">Hōshō<br>Fukuō<br>Takayasu</td>
        </tr>
        <tr class="content-table__row">
          <td id="Jiutai" class="content-table__column"><strong>Jiutai</strong></td>
          <td class="content-table__column">It is in the early 17th century, that the chorus, called jiutai, became a permanent stage member. Originally, the shite and waki sang in unison what constitutes today's jiutai's part. The members of this group are not masked. Today's standard membership varies between six and ten performers. For selected academic examples found on this website, we have included a two-person jiutai. The role of the jiutai is to keep the story going, setting the scene, and describing the characters and actions.  It does not have an identity of its own within the story. Singing in unison only, it can either act as a narrator or ‘speak’ for the shite or waki. Its first singing moment in a play, called <em>shodō</em>, always marks an important point in the play's development. The members of the jiutai are always from the same school as the shite.</td>

          <td class="content-table__column">Same as shite</td>
        </tr>

        <tr id="Kokata" class="content-table__row">
          <td class="content-table__column"><strong>Kokata</strong></td>
          <td class="content-table__column">A role performed by a child actor. In a play, the kokata is always from the same school as the shite.</td>
          <td class="content-table__column">Same as shite</td>
        </tr>
        <tr class="content-table__row">
          <td id="Koken" class="content-table__column"><strong>Kōken</strong></td>
          <td class="content-table__column">Often perceived as ‘assistant’, the kōken is in fact an important non-performing actor. The shite’s kōken is typically his senior and always from the same school. His active function is to oversee all stage activity, help with on stage costume changes when necessary, prompting in a normal voice if the shite forgets a line, and handling props. He also has the responsibility to take over should the shite be unable to complete the performance. Sitting in the back stage-right, the kōken provides the shite with an important anchoring presence on stage.</td>
          <td class="content-table__column">Same as shite</td>
        </tr>
        <tr class="content-table__row">
          <td id="Ai" class="content-table__column"><strong>Kyōgen (Ai or Ai-kyōgen)</strong></td>
          <td class="content-table__column">Most plays are composed of two acts. The first one is usually concluded with the exit of the <em>mae-</em>shite (first-act shite). As he changes costume to transform into the <em>nochi</em>-shite (second-act shite) an ai-kyōgen performs an interlude between the two acts. Most often performing as an unmasked, realistic character, he often provides a summary of the first act and context for the second by engaging in a discussion with the waki. When an ai-kyōgen plays the role of a diety, he can be masked, as it is the case in Kokaji. </td>
          <td class="content-table__column">Ōkura<br>Izumi</td>
        </tr>
      </table>

    </section>
  </div>

</main>
