---
layout: website
title: Form
menu-active: elements
second-level-menu-active: form
permalink: /form/
---

{% include second-menu-elements.html %}



<main class="page-content">
  <div class="text-container">

        <div class="wrapper sidebar-contents">
          <aside class="sidebar-contents__table">
            {% include menu-form.html %}
          </aside>
          <section class="sidebar-contents__section">
            <h2 id="Intro">Form</h2>

        <p>Zeami (c.1363- c.1443) is credited with having perfected Noh as it exists today, thus most formal analyses of Noh plays refer to his adaptation of the Gagaku concept of modulation and movement called <em>Jo-ha-kyū</em>. The tripartite can be summarized as: <em>Jo</em> - slow, <em>Ha</em> - development / acceleration, and <em>kyū</em> - fast conclusion, suggesting that most efforts should start slowly, speed up, before rapidly ending. Zeami went on and expanded the model from three to five parts by incorporating the <em>Jo-ha-kyū</em> concept into the <em>Ha</em>, the tripartite’s longest section. Thus, his adaptation can be summarized as: <em>Jo, Ha-jo, Ha-ha, Ha-kyū, Kyū</em>.</p>

        <p>Eventually, the principle of <em>Jo-ha-kyū</em> was applied to various levels of organization. For instance, its basic idea of acceleration has shaped <a href="/catalog-of-shodan/nanori" target="_blank">declamation</a> and <a href="/movement/forward/" target="_blank">movements</a>, among others. Moreover, during the Edo period (1603-1868) plays ended up being  classified  into five categories, each one determined first and foremost by the type of shite but also by elements such as the type of dance performed in the play, the subject matter, and the dramatic construction, among others:
        <p>Category 1 (± 16% of the repertoire):  The shite is often a deity and these plays have a religious and ceremonial undertone.<br>
        Category 2 (± 7% of the repertoire):    The shite is often the ghost of a warrior who died in battle. <br>
        Category 3 (± 17% of the repertoire):  The shite is usually a young and beautiful woman. <br>
        Category 4 (± 38% of the repertoire):  The shite is a mad or revengeful character, among several other options. <br>
        Category 5 (± 22% of the repertoire):  The shite is often a dragon or demon.</p>
        <p>Consequently, a full Noh performance used to include five plays, one of each categories, performed in the order corresponding to its category's number.</p>

        <p>Although there are few one-act plays, Zeami’s contribution includes defining the basic formal structure of the two-act play. Based on his five-part adaptation of the <em>Jo-ha-kyū</em> concept, he proposed two acts, each one divided up into five parts (<em>dan</em>), according to the following sequence of actions:<br>

          First act (<em>mae ba</em>): Waki enters, Shite enters, Dialogue, Shite performs, and Shite exits<br>
          Second act (<em>nochi ba</em>): Waki waits, Shite re-enters, Dialogue, Shite performs, and Shite exits</p>


        <p>A <em>nakairi</em> is often performed between the two acts, yet there are no <em>shōdan</em> associated with it. Usually, an <a href="/music/voices/#Ai" target="_blank">ai-kyōgen</a> enters at that moment and engages with the waki. Acting as a local who is well informed about the place’s history, he introduces information that connects the first and second acts.</p>

        <h3 id="shodan">Shōdan</h3>
        <p>The music of Noh can be seen as modular not only because of the prescribed vocabulary of melodic and rhythmic patterns that are reused in multiple plays, but also because these patterns form larger standard modules (<em>shōdan</em>) that are found in various plays, where they serve similar structural and dramatic functions. There are about one hundred different types of <em>shōdan</em> that can be categorized into four types: Spoken, Chanted, Entrance and Exit music, and Dance music. For more information and video examples please refer to the <a href="/catalog-of-shodan/" target="_blank">Catalog of Shōdan</a>.</p>

        <p>Here is a list of the most common <em>shōdan</em> associated with the five parts of each act. Provided links lead to general descriptions, which were illustrated by examples from Hashitomi and Kokaji, when available.</p>



        <table class="content-table">

  <tr class="content-table__row--header">
            <td id="zeami-first-act" class="content-table__column">First act<br> (<em>mae ba</em>)</td>
            <td class="content-table__column"></td>
           <td class="content-table__column"></td>
            <td class="content-table__column"></td>
            <td class="content-table__column"></td>
  </tr>

  <tr class="content-table__row">
    <td class="content-table__column"><p>Waki enters </p></td>
            <td class="content-table__column"><p>Shite enters </p></td>
            <td class="content-table__column"><p>Dialogue</p></td>
            <td class="content-table__column"><p>Shite performs</p></td>
            <td class="content-table__column"><p>Shite exits</p></td>
  </tr>

  <tr class="content-table__row"></tr>

  <tr class="content-table__row">
            <td class="content-table__column">
  <a href="/catalog-of-shodan/nanori" target="_blank"><em>Nanori</em></a><br>
  <a href="/catalog-of-shodan/shidai-music" target="_blank"><em>Shidai-music </em> </a> <br>
  <a href="/catalog-of-shodan/shidai-chant" target="_blank"><em>Shidai-chant </em> </a> <br>
  <a href="/catalog-of-shodan/issei-music" target="_blank"><em>Issei-music </em> </a><br>
  <a href="/catalog-of-shodan/issei-chant" target="_blank"><em>Issei-chant</em> </a><br>
  <a href="/catalog-of-shodan/nanoribue" target="_blank"><em>Nanoribue</em></a><br>
  <a href="/catalog-of-shodan/michiyuki" target="_blank"><em>Michiyuki</em> </a><br>
  <a href="/catalog-of-shodan/tsukizerifu" target="_blank"><em>Tsukizerifu</em> </a>
    </td>

            <td class="content-table__column">
  <a href="/catalog-of-shodan/shidai-music" target="_blank"><em>Shidai-music</em> </a><br>
  <a href="/catalog-of-shodan/shidai-chant" target="_blank"><em>Shidai-chant</em> </a><br>
  <a href="/catalog-of-shodan/issei-music" target="_blank"><em>Issei-music </em><br>
  <a href="/catalog-of-shodan/issei-chant" target="_blank"><em>Issei-chant</em> </a><br>
<a href="/catalog-of-shodan/ashirai" target="_blank"><em>Ashirai</em></a><br>
<a href="/catalog-of-shodan/sashi" target="_blank"><em>Sashi</em></a><br>
  <a href="/catalog-of-shodan/sageuta" target="_blank"><em>Sageuta</em></a><br>
  <a href="/catalog-of-shodan/ageuta" target="_blank"><em>Ageuta</em></a>
            </td>

            <td class="content-table__column">

  <a href="/catalog-of-shodan/mondo" target="_blank"><em>Mondō</em></a><br>
  <a href="/catalog-of-shodan/kakeai" target="_blank"><em>Kakeai</em></a><br>
  <a href="/catalog-of-shodan/kakaru" target="_blank"><em>Kakaru</em></a><br>
  <a href="/catalog-of-shodan/sashi" target="_blank"><em>Sashi</em></a>
            </td>

            <td class="content-table__column">
  <a href="/catalog-of-shodan/sageuta" target="_blank"><em>Sageuta</em></a><br>
  <a href="/catalog-of-shodan/ageuta" target="_blank"><em>Ageuta</em></a><br>
  <a href="/catalog-of-shodan/shidai-music" target="_blank"><em>Shidai</em> </a><br>
  <a href="/catalog-of-shodan/kuri" target="_blank"><em>Kuri</em> </a><br>
  <a href="/catalog-of-shodan/sashi" target="_blank"><em>Sashi</em></a><br>
  <a href="/catalog-of-shodan/kuse" target="_blank"><em>Kuse</em></a>
   </td>

            <td class="content-table__column">
  <a href="/catalog-of-shodan/mondo" target="_blank"><em>Mondō</em></a><br>
  <a href="/catalog-of-shodan/rongi" target="_blank"><em>Rongi</em></a>
  </td>

  </tr>
  </table>


  <table class="content-table">

  <tr class="content-table__row--header">
            <td id="zeami-second-act" class="content-table__column">Second act br (<em>nochi ba</em>)</td>
            <td class="content-table__column"></td>
           <td class="content-table__column"></td>
            <td class="content-table__column"></td>
            <td class="content-table__column"></td>
  </tr>

  <tr class="content-table__row">
    <td class="content-table__column"><p>Waki waits </p></td>
            <td class="content-table__column"><p>Shite re-enters </p></td>
            <td class="content-table__column"><p>Dialogue</p></td>
            <td class="content-table__column"><p>Shite performs</p></td>
            <td class="content-table__column"><p>Shite exits</p></td>
  </tr>

  <tr class="content-table__row"></tr>

  <tr class="content-table__row">
            <td class="content-table__column">
  <a href="/catalog-of-shodan/machiutai" target="_blank"><em>Machiutai</em> </a>
            </td>

            <td class="content-table__column">
  <a href="/catalog-of-shodan/issei-music" target="_blank"><em>Issei-music</em> </a><br>
  <a href="/catalog-of-shodan/issei-chant" target="_blank"><em>Issei-chant</em></a>   <br>
  <a href="/catalog-of-shodan/hayafue" target="_blank"><em>Hayafue</em></a>
</td>

            <td class="content-table__column">

  <a href="/catalog-of-shodan/mondo" target="_blank"><em>Mondō</em></a><br>
  <a href="/catalog-of-shodan/rongi" target="_blank"><em>Rongi</em></a>
  </td>

            <td class="content-table__column">
  <a href="/catalog-of-shodan/jo-no-mai/" target="_blank"><em>Jonomai</em></a><br>
  <a href="/catalog-of-shodan/maibataraki" target="_blank"><em>Maibataraki</em></a>
   </td>

            <td class="content-table__column">
  <a href="/catalog-of-shodan/kiri" target="_blank"><em>Kiri</em></a></td>

  </tr>
  </table>

        <h3 id="Hashitomi">The Form of Hashitomi</h3>

        <p>Zeami’s formal design should be viewed as a reference rather than an absolute, since few plays follow it thoroughly. Hashitomi and Kokaji’s form clearly underlines this point since, in their own way, they both somewhat deviate from Zeami’s model.</p>

        <p>This figure summarizes Hashitomi's form. It differs from Zeami’s model primarily with the missing ‘Shite Performs’ part in the first act, and its <em>Kuse</em> appearing in the Second rather than the First Act, two differences that are not unique to Hashitomi.<br>
        In the figure, the part's name is linked to the beginning of that part within the play, while the <em>shōdan</em> are linked to their respective intermedia analysis.</p>

        <table class="content-table">

        <tr class="content-table__row--header">
                  <td id="hashitomi-first-act" class="content-table__column">First act <br>(<em>mae ba</em>)</td>
                  <td class="content-table__column"></td>
                  <td class="content-table__column"></td>
                  <td class="content-table__column"></td>
                  <td class="content-table__column"></td>
        </tr>

        <tr class="content-table__row">
                  <td class="content-table__column"><a href="/hashitomi/#startTime=00:04:55" target="_blank">Waki enters</a></td>
                  <td class="content-table__column"><a href="/hashitomi/#startTime=00:08:56" target="_blank">Shite enters</a></td>
                  <td class="content-table__column"><a href="/hashitomi/#startTime=00:14:02" target="_blank">Dialogue</a></td>
                  <td class="content-table__column"><p>Shite performs</p></td>
                  <td class="content-table__column"><a href="/hashitomi/#startTime=00:18:53" target="_blank">Shite exits</a></td>
        </tr>

        <tr class="content-table__row"></tr>

        <tr class="content-table__row">
                  <td class="content-table__column">
                      <a href="/hashitomi/nanoribue/" target="_blank"><em>Nanoribue</em></a><br>
                      <a href="/hashitomi/nanori/" target="_blank"><em>Nanori</em></a><br>
                      <a href="/hashitomi/kakaru-1/" target="_blank"><em>Kakaru 1</em></a>
                  </td>

                  <td class="content-table__column">
                    <a href="/hashitomi/ashirai/" target="_blank"><em>Ashirai</em></a><br>
                    <a href="/hashitomi/song/" target="_blank"><em>Song</em></a>
                  </td>

                  <td class="content-table__column">
                    <a href="/hashitomi/kakeai/" target="_blank"><em>Kakeai</em></a><br>
                    <a href="/hashitomi/kakaru-2/" target="_blank"><em>Kakaru 2</em></a>
                  </td>

                  <td class="content-table__column"> – </td>

                  <td class="content-table__column">
                    <a href="/hashitomi/ageuta-1/" target="_blank"><em>Ageuta 1</em></a></td>

        </tr>
        </table>

        <table class="content-table">

        <tr class="content-table__row--header">
                  <td id="hashitomi-second-act" class="content-table__column">Second act <br>(<em>nochi ba</em>)</td>
                  <td class="content-table__column"></td>
                  <td class="content-table__column"></td>
                  <td class="content-table__column"></td>
                  <td class="content-table__column"></td>
        </tr>

        <tr class="content-table__row">
                  <td class="content-table__column"><a href="/hashitomi/#startTime=00:39:23" target="_blank">Waki waits</a></td>
                  <td class="content-table__column"><a href="/hashitomi/#startTime=00:40:56" target="_blank">Shite re-enters</a></td>
                  <td class="content-table__column"><a href="/hashitomi/#startTime=00:47:15" target="_blank">Dialogue</a></td>
                  <td class="content-table__column"><a href="/hashitomi/#startTime=00:51:58" target="_blank">Shite performs</td>
                  <td class="content-table__column"><a href="/hashitomi/#startTime=01:17:26" target="_blank">Shite exits</a></td>
        </tr>

        <tr class="content-table__row"></tr>

        <tr class="content-table__row">
                  <td class="content-table__column">
                      <a href="/hashitomi/kakaru-3/" target="_blank"><em>Kakaru 3</em></a>
                  </td>

                  <td class="content-table__column">
                    <a href="/hashitomi/issei/" target="_blank"><em>Issei</em></a><br>
        <a href="/hashitomi/sageuta/" target="_blank"><em>Sageuta</em></a><br>
        <a href="/hashitomi/ageuta-2/" target="_blank"><em>Ageuta 2</em></a>
                  </td>

                  <td class="content-table__column">
                    <a href="/hashitomi/rongi/" target="_blank"><em>Rongi</em></a></td>

                  <td class="content-table__column">
        <a href="/hashitomi/kuse/" target="_blank"><em>Kuse</em></a><br>
        <a href="/hashitomi/jonomai/" target="_blank"><em>Jonomai</em></a>
        </td>
                  <td class="content-table__column">
                    <a href="/hashitomi/waka/" target="_blank"><em>Waka</em></a><br>
        <a href="/hashitomi/kiri/" target="_blank"><em>Kiri</em></a>
        </td>

        </tr>
        </table>

<h3 id="Kokaji">The Form of Kokaji</h3>

        <p>The figure below summarizes Kokaji's form. It differs from Zeami’s model primarily with the missing ‘Dialoge’ part in the second act, a difference that is not unique to Kokaji.<br>
        In the figure, the part's name is linked to the beginning of that part within the play, while the <em>shōdan</em> are linked to their respective intermedia analysis.</p>

        <table class="content-table">

        <tr class="content-table__row--header">
                  <td id="kokaji-first-act" class="content-table__column">First act <br>(<em>mae ba</em>)</td>
                  <td class="content-table__column"></td>
                  <td class="content-table__column"></td>
                  <td class="content-table__column"></td>
                  <td class="content-table__column"></td>
        </tr>

        <tr class="content-table__row">
                  <td class="content-table__column"><a href="/kokaji/#startTime=00:03:55" target="_blank">Waki enters</a></td>
                  <td class="content-table__column"><a href="/kokaji/#startTime=00:10:46" target="_blank">Shite enters</a></td>
                  <td class="content-table__column"><a href="/kokaji/#startTime=00:12:18" target="_blank"> Dialogue</a></td>
                  <td class="content-table__column"><a href="/kokaji/#startTime=00:16:55" target="_blank"> Shite performs</a></td>
                  <td class="content-table__column"><a href="/kokaji/#startTime=00:29:07" target="_blank"> Shite exits</a></td>
        </tr>

        <tr class="content-table__row"></tr>

        <tr class="content-table__row">
                  <td class="content-table__column">
                      <a href="/kokaji/nanori/" target="_blank"><em>Nanori</em></a><br>
        <a href="/kokaji/mondo-1/" target="_blank"><em>Mondō 1</em></a><br>
        <a href="/kokaji/ageuta-1/" target="_blank"><em>Ageuta 1</em></a>
         </td>

                  <td class="content-table__column">
                    <a href="/kokaji/dialogue/" target="_blank"><em>Dialogue</em></a><br>
        <a href="/kokaji/monologue/" target="_blank"><em>Monologue</em></a>
                  </td>

                  <td class="content-table__column">
                    <a href="/kokaji/mondo-2/" target="_blank"><em>Mondō 2</em></a><br>
        <a href="/kokaji/ageuta-2/" target="_blank"><em>Ageuta 2</em></a>
                  </td>


                  <td class="content-table__column">
        <a href="/kokaji/kuri/" target="_blank"><em>Kuri</em></a><br>
        <a href="/kokaji/sashi/" target="_blank"><em>Sashi</em></a><br>
        <a href="/kokaji/kuse/" target="_blank"><em>Kuse</em></a>
         </td>

                  <td class="content-table__column">
                    <a href="/kokaji/kakeai-1/" target="_blank"><em>Kakeai 1</em></a><br>
        <a href="/kokaji/ageuta-3/" target="_blank"><em>Ageuta 3</em></a><br>
        <a href="/kokaji/raijo/" target="_blank"><em>Raijo</em></a>
        </td>

        </tr>
        </table>

        <table class="content-table">

        <tr class="content-table__row--header">
                  <td id="kokaji-second-act" class="content-table__column">Second act <br>(<em>nochi ba</em>)</td>
                  <td class="content-table__column"></td>
                  <td class="content-table__column"></td>
                  <td class="content-table__column"></td>
                  <td class="content-table__column"></td>
        </tr>

        <tr class="content-table__row">
                  <td class="content-table__column"><a href="/kokaji/#startTime=00:45:14" target="_blank"> Waki waits</a></td>
                  <td class="content-table__column"><a href="/kokaji/#startTime=00:51:07" target="_blank"> Shite re-enters</a></td>
                  <td class="content-table__column"><p>Dialogue</p></td>
                  <td class="content-table__column"><a href="/kokaji/#startTime=00:52:30" target="_blank"> Shite performs</a></td>
                  <td class="content-table__column"><a href="/kokaji/#startTime=00:56:10" target="_blank"> Shite exits</a></td>
        </tr>

        <tr class="content-table__row"></tr>

        <tr class="content-table__row">
                  <td class="content-table__column">
                      <a href="/kokaji/notto/" target="_blank"><em>Notto</em></a><br>
        <a href="/kokaji/noriji-1/" target="_blank"><em>Noriji 1</em></a>

                  </td>

                  <td class="content-table__column">
                    <a href="/kokaji/hayafue/" target="_blank"><em>Hayafue</em></a>
        </td>

                  <td class="content-table__column"> –  </td>

                  <td class="content-table__column">
        <a href="/kokaji/noriji-2/" target="_blank"><em>Noriji 2</em></a><br>
        <a href="/kokaji/maibataraki/" target="_blank"><em>Maibataraki</em></a><br>
        <a href="/kokaji/noriji-3/" target="_blank"><em>Noriji 3</em></a>
        </td>
                  <td class="content-table__column">
                    <a href="/kokaji/kakeai-2/" target="_blank"><em>Kakeai 2</em></a><br>
        <a href="/kokaji/kiri/" target="_blank"><em>Kiri</em></a>
        </td>

        </tr>
        </table>


    </section>
      </div>
  </div>
</main>
