---
layout: website
title: Form
menu-active: elements
second-level-menu-active: form
permalink: /form/
---

{% include second-menu-elements.html %}

<main class="page-content">
  {% include menu-form-large.html %}
  <div class="wrapper sidebar-contents">
    <aside class="sidebar-contents__table">
      {% include menu-form.html %}
    </aside>
    <section class="sidebar-contents__section">
      <div class="text-container">
        <h2 id="Intro">Form</h2>
        <h3>Introduction</h3>

        <p>
          Zeami (c.1363- c.1443) is credited with having refined the Noh
          tradition as it exists today. When it came to form, he adapted the
          Gagaku concept of modulation and movement called <em>Jo-ha-kyū</em>.
          The tripartite can be summarized as: <em>Jo</em> - slow, <em>Ha</em> -
          development / acceleration, and <em>Kyū</em> - fast conclusion,
          suggesting that most efforts should start slowly, and then speed up
          before rapidly ending. Zeami expanded the model from three to five
          sections by nesting the <em>Jo-ha-kyū</em> concept within the
          <em>Ha</em>, the tripartite’s longest section. Thus, his adaptation
          can be summarized as: <em>Jo, Ha-jo, Ha-ha, Ha-kyū, Kyū</em>.
        </p>

        <p>
          Eventually, the principle of <em>Jo-ha-kyū</em> was applied to various
          levels of organization. For instance, its basic idea of acceleration
          has shaped

          <a href="/catalog-of-shodan/nanori" target="_blank">declamation</a>

          and

          <a href="/movement/forward/" target="_blank">movements</a>, among
          others.
        </p>

        <h3 id="Dan">Dan</h3>

        <p>
          Modern scholar, Mario Yokomichi (1916-2012) created a framework to
          understand the form of Noh play. Using Zeami’s five-section concept,
          he analyzed the form of typical two-act Noh plays attributed to Zeami.
          Then, he has formulated that each act consists of five sections called
          <em>dan</em>, which represent common events in the dramatic
          development of a Noh play. These are as follow:
        </p>

        <table class="content-table">
          <tr class="content-table__row--header">
            <td id="Act1" class="content-table__column">
              Act I (<em>mae ba</em>)
            </td>

            <td class="content-table__column"></td>
            <td class="content-table__column"></td>
            <td class="content-table__column"></td>
            <td class="content-table__column"></td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">Waki Enters</td>
            <td class="content-table__column">Shite Enters</td>
            <td class="content-table__column">Dialogue</td>
            <td class="content-table__column">Shite Performs</td>
            <td class="content-table__column">Shite Exits</td>
          </tr>
          <tr class="content-table__row--header">
            <td id="Act2" class="content-table__column">
              Act II (<em>nochi ba</em>)
            </td>
            <td class="content-table__column"></td>
            <td class="content-table__column"></td>
            <td class="content-table__column"></td>
            <td class="content-table__column"></td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">Waki Waits</td>
            <td class="content-table__column">Shite Re-enters</td>
            <td class="content-table__column">Dialogue</td>
            <td class="content-table__column">Shite Performs</td>
            <td class="content-table__column">Shite Exits</td>
          </tr>
        </table>

        <p>
          These categorizations adhere to the traditional divisions shared by
          actors and musicians. However, it is important to note that the
          Zeami/Yokomichi’s model is an ideal meant only to help in
          understanding an act, and facilitating comparisons between plays. It
          is not uncommon that some Noh plays lack certain <em>dan</em>.
        </p>

        <h3 id="shodan">Shōdan</h3>
        <p>
          According to Yokomichi, a <em>dan</em> consists of one or more
          <em>shōdan</em>, conventional units of form that have their own
          position and syntactical role within a <em>dan</em>. The word
          <em>shōdan</em>, meaning ‘small dan’, was coined by Mario Yokomichi to
          explain the hierarchical character of the form of a Noh play. There
          are about one hundred different kinds of <em>shōdan</em> that can be
          categorized into four types: Spoken, Chanted, Entrance and Exit music,
          and Dance music. Each <em>shōdan</em> is also characterized by a
          particular combination of poetry or prose, rhythmic setting, melodic
          shape, and instrumentation.
        </p>

        <p>
          The same shōdan can be found in various plays. For instance, the
          majority of Noh plays include a

          <a href="/catalog-of-shodan/nanori/" target="_blank"
            ><em>nanori</em></a
          >, a spoken introduction presented by the secondary actor. It appears
          in

          <a href="/hashitomi/nanori/" target="_blank">in Hashitomi</a>

          as well as

          <a href="/kokaji/nanori/" target="_blank">in Kokaji</a>. Moreover, the
          same shōdan, such as the main chant

          <a href="/catalog-of-shodan/ageuta/" target="_blank"
            ><em>ageuta</em></a
          >
          , can appear more than once in a play. For example, Hashitomi has two
          while Kokaji has three. For more information and video examples of
          <em>shōdan</em> please refer to the

          <a href="/catalog-of-shodan/" target="_blank">Catalog of Shōdan</a>.
        </p>

        <p>
          This

          <a href="/form-appendix/" target="_blank">appendix</a>

          provides information on the <em>shōdan</em> commonly associated with
          various <em>dan</em>. It is presented solely as a reference-model,
          since a comparison limited to Hashitomi and Kokaji's form would show
          that deviations are not at all uncommon.
        </p>

        <h3 id="modularity">Modularity</h3>
        <p>
          Thus, the construction of Noh plays, made of sequences of
          <em>dan</em>, each composed of <em>shōdan</em>, is said to be modular.
          In Noh, the concept of modularity does not exist exclusively in the
          overall formal, but also within individual media layers like dance and
          music. For instance, the nohkan’s melodies are sequences of shorter
          patterns. The nohkan player varies the patterns' expression to adapt
          them to given contexts, as illustrated with these examples:

          <a href="/music/nohkan/nakanotakane/" target="_blank"
            ><em>naka no takane</em></a
          >, and
          <a href="/music/nohkan/takanemikusari/" target="_blank"
            ><em>takane mi kusari</em></a
          >, and
          <a href="/music/nohkan/tomenote/" target="_blank"
            ><em>tome no te</em></a
          >.
        </p>

        <p>
          The patterns played by the percussionists are similarly constructed
          and controlled. This example

          <a href="/music/otsuzumi-kotsuzumi/#patterns" target="_blank"
            >example</a
          >

          shows how the rhythms played by the ōtsuzumi and kotsuzumi performers
          for an

          <a href="/catalog-of-shodan/ashirai" target="_blank"
            ><em>Ashirai</em></a
          >, involve the juxtaposition of <em>mitsuji</em> and
          <em>tsuzuke</em> patterns. It also illustrates how their expression is
          altered when the rhythmic setting is strict rather than flexible.
        </p>

        <p>
          Similarly, dances use a limited number of movements (<em>kata</em>)
          that are reused within a dance, a play, and even across plays.
          Moreover, some <em>kata</em> are modular. For instance, the

          <a href="/movement/back-circlet/" target="_blank">Back Circlet</a>

          is composed of the sequence of two shorter <em>kata</em>: a Right Step
          pivot followed by an Open-retreat. Similarly to music, the unifying
          impact of modularity is balanced by changing expressive
          interpretations of patterns performed in a different context. This is
          evident in

          <a href="/movement/large-zigzag/" target="_blank">two versions</a>

          of the Large Zigzag: first, as it is performed by a pensive ghost of a
          young woman in Hashitomi and second, performed in martial style by the
          vigorous diety in Kokaji. For more examples of <em>kata</em> please
          refer to the

          <a href="/movement/" target="_blank">Catalog of <em>Kata</em></a
          >.
        </p>
      </div>
    </section>
  </div>
</main>
