---
layout: website
title: Guide
menu-active: about
permalink: /guide/
---
<main class="page-content">
  <div class="text-container">
    <h1>GUIDE</h1>
    <h4>Some pages use video examples that appear in pop-up windows. To be able to see them the readers are asked to enable browser pop-ups for this website.
    </h4>
    <h1> </h1>


<p>While users are encouraged to set their own navigation paths, the website offers two: a top-down and a bottom-up path. </p>

<h4><strong>Top-down path</strong></h4>

<p>This path starts with the plays. It has two levels of access: Play Level, and the Shōdan Level. Both are accessible from the menu under ‘Plays’. </p>


<h4><a href="/hashitomi/#act1" target="_blank">Play Level</a></h4>

<p>The center of navigation is the Shōdan Map consisting of blocks representing the <em>shōdan’s</em> <a href="/form/#ITI" target="_blank">Intermedia Texture Index</a>.

{% include image-no-background.html src="/assets/images/Blocks.png" %}

<p>Clicking on a block moves the video to the beginning of that <em>shōdan</em>. Sliding the button through the video timeline at the bottom of the video screen updates the time position within the map. Both interactions result in updating the corresponding summary info in the bottom right table. </p>

<p>Clicking on the red shōdan’s name at the top of the table, leads to its intermedia analysis on the Shōdan Level. </p>

<p>The top left-hand side menu provides access to information about the play’s overall formal structure. </p>

{% include image-no-background.html src="/assets/images/fwdicon.png" %}

<p>Clicking on links with this icon moves the video to the beginning of the related <em>shōdan</em>, whereas clicking on an underlined red <em>shōdan's</em> name leads to its intermedia analysis on the Shōdan Level. </p>

<h4><a href="/hashitomi/kakaru-1" target="_blank">Shōdan Level</a></h4>

<p>Comments, analysis, Text and the Shōdan Map are located on the left side, while an intermedia score is found under the video. </p>

<p>The top left menu is divided in two. ‘Aspects’ introduces basic comments about the shōdan, while “Intermedia’ presents its intermedia analysis. </p>

{% include image-no-background.html src="/assets/images/infoicon.png" %}

<p>Clicking on the red <em>shōdan’s</em> name above the ‘Aspects’ and ‘Intermedia’ menu line opens a new tab with its associated definition page. </p>

<p>The Text and Shōdan Map sub-windows can be open or collapsed by clicking on the title or the 'arrow' icon. Moreover, the lines of text are clickable and advance the video and score to their matching position within the <em>shōdan</em>. On the other hand, clicking on a block  in the Shōdan Map updates the video to the beginning of the Intermedia analysis of the corresponding <em>shōdan</em>. </p>

{% include image-no-background.html src="/assets/images/BottomBar.png" %}

<p>Users control the layers displayed in the intermedia score by clicking on ‘Filters’ located on the right hand side of the bottom navigation bar. Finally, the same bar offers two methods of navigating within a <em>shōdan</em>: Clicking on either the backward or forward buttons around ‘Sentence’ updates the video and score by increments of sentences, whereas scrolling through the given <em>shōdan</em> using the sliding button, allows for increments in number of seconds. </p>

<h4><strong>Bottom-up path</strong></h4>

<p>This path starts with information on various elements of Noh, such as: Actors, Music, Movement, Text, Staging, Form, and a Catalog of Shōdan. It is accessible from the menu under ‘Elements of Noh’. </p>

<p>The Catalog of <em>shōdan</em> provides a description of the structure and characteristics of a fair number of <em>shōdan</em>. At the end of each page, links are provided to example of the same <em>shōdan</em> in the context of one or both plays. </p>

{% include image-no-background.html src="/assets/images/infoicon.png" %}

<p>Finally, when the icon is found over a video rolling over it shows additional information. </p>

  </div>

</main>
