---
layout: website
title: Form
menu-active: elements
second-level-menu-active: form
third-level-menu-active: IoI
permalink: /IoI/
---

{% include second-menu-elements.html %} {% include menu-form-small.html %}

<main class="page-content">
  <div class="text-container">
    <h2 id="IoI">Index of Intermedia</h2>
    <p>
      The focus of our website suggested that we design a graphic representation
      of a Noh, that shows how the intermedia characteristics of its various
      <em>shōdan</em> evolves throughout the play. Taking into consideration
      particular qualities of text, dance, singing, and music, as well as the
      type of coordination between them, we developed a ranking system of the
      <em>shōdan</em> by assigning each one with an Index of Intermedia (IoI),
      that represents the combined effect of its various media. While turning
      rich theatrical experience into numbers and graphs is highly reductive,
      but we found the abstraction informative when comparing the flow of
      intermedia development between plays.
    </p>

    <p>
      The following explains the rationale of our ranking system for each media.
    </p>

    <h3>Text</h3>
    <p>
      Because a <em>shōdan</em> with text contributes to the development of the
      narrative, it was assigned a higher IoI than one without text. Typically,
      the text of a <em>shōdan</em> is either in prose or poetry. Because poetic
      texts are seen as heightened artistic expression, a <em>shōdan</em> with
      poetic text was given a higher IoI. Finally, there are two methods of
      delivering text, it can either be spoken or chanted. Because spoken
      <em>shōdan</em> have an introductory function, they were assigned lower
      IoI compared with chanted ones.
    </p>

    <table class="ioi-table">
      <tr class="ioi-table__row--header">
        <td class="ioi-table__column">IoI</td>
        <td class="ioi-table__column">Text</td>
        <td class="ioi-table__column">Expression</td>
        <td class="ioi-table__column">Type of text</td>
      </tr>

      <tr class="ioi-table__row">
        <td class="ioi-table__column remove-border--bottom">Higher</td>
        <td class="ioi-table__column" rowspan="3">Shōdan with text</td>
        <td class="ioi-table__column" rowspan="2">Sung</td>
        <td class="ioi-table__column">Poetry</td>
      </tr>

      <tr class="ioi-table__row">
        <td class="ioi-table__column remove-border--bottom" rowspan="2">
          <i class="fas fa-arrows-alt-v"></i>
        </td>
        <td class="ioi-table__column">Prose</td>
      </tr>

      <tr class="ioi-table__row">
        <td class="ioi-table__column">Spoken</td>
        <td class="ioi-table__column remove-border--bottom"></td>
      </tr>

      <tr class="ioi-table__row">
        <td class="ioi-table__column">Lower</td>
        <td class="ioi-table__column">Textless shōdan</td>
        <td class="ioi-table__column"></td>
        <td class="ioi-table__column"></td>
      </tr>
    </table>

    <h3>Music</h3>
    <p>
      The musical characteristics that determine the IoI are: rhythmic
      organization and instrumental density. There are three main types of
      rhythmic organization that we used for our calculations: 'unmetered,'
      'non-congruent,' or 'congruent.' While a spoken <em>shōdan</em> is
      'unmetered,' a chanted one is either 'non-congruent' or 'congruent.' The
      heightened artistic expression of chant dictated that both 'non-congruent'
      and 'congruent' <em>shōdan</em> rank higher than 'unmetered' ones. Because
      ‘congruency’ results in increased energy and is used in moments of
      dramatic climax, it ranks highest of the three. Finally, 'congruent'
      chants are either set in <em>hiranori</em>, <em>ōnori</em>, or
      <em>chūnori</em>.

      <em>Ōnori</em> and <em>chūnori</em> chants have a steady pulse, whereas
      those set in <em>hiranori</em> can have a fluctuating one. The pulse
      through the course of a play moves in waves from no pulse, to fluctuating,
      to steady. Considering the steady pulse as the targeted state,
      <em>ōnori</em> and <em>chūnori</em> chants have a higher degree of
      congruency than those set in <em>hiranori</em>, and therefore rank higher
      in the IoI.
    </p>

    <table class="ioi-table">
      <tr class="ioi-table__row--header">
        <td class="ioi-table__column">IoI</td>
        <td class="ioi-table__column">Rhythmic organization</td>
        <td class="ioi-table__column">Chants</td>
      </tr>

      <tr class="ioi-table__row">
        <td class="ioi-table__column remove-border--bottom">Higher</td>
        <td class="ioi-table__column" rowspan="2">Congruent</td>
        <td class="ioi-table__column">Ōnori/Chūnori</td>
      </tr>

      <tr class="ioi-table__row">
        <td class="ioi-table__column remove-border--bottom" rowspan="2">
          <i class="fas fa-arrows-alt-v"></i>
        </td>
        <td class="ioi-table__column">Hiranori</td>
      </tr>

      <tr class="ioi-table__row">
        <td class="ioi-table__column">Non-Congruent</td>
        <td class="ioi-table__column remove-border--bottom"></td>
      </tr>

      <tr class="ioi-table__row">
        <td class="ioi-table__column">Lower</td>
        <td class="ioi-table__column">Unmetered</td>
        <td class="ioi-table__column"></td>
      </tr>
    </table>

    <p>
      The correlation between instrumental density and IoI was direct –
      <em>shōdan</em> with larger instrumentation were ranked higher.
      Consequently, a <em>shōdan</em> with two vocal parts (identified with a
      '2' in the IoI ranking figure) were ranked higher than those with only
      one.
    </p>

    <table class="ioi-table">
      <tr class="ioi-table__row--header">
        <td class="ioi-table__column">IoI</td>
        <td class="ioi-table__column">Instrumentation</td>
      </tr>

      <tr class="ioi-table__row">
        <td class="ioi-table__column">Higher</td>
        <td class="ioi-table__column">Larger</td>
      </tr>

      <tr class="ioi-table__row">
        <td class="ioi-table__column">Lower</td>
        <td class="ioi-table__column">Smaller</td>
      </tr>
    </table>

    <h3>Dance</h3>
    <p>
      Danced <em>shōdan</em> bring an additional layer into the intermedia
      experience, hence, they have higher IoI than those without dance. There
      are two types of dance: 'dance-to-text' and 'instrumental' dance. In the
      former category, the dance serves the text, as it provides a visual
      rendition of the sung words. On the other hand, the 'instrumental' dance,
      is largely autonomous. Performed by the shite, it is the expressive climax
      of a play. Because of this, it is the highest ranked <em>shōdan</em> of a
      play.
    </p>

    <table class="ioi-table">
      <tr class="ioi-table__row--header">
        <td class="ioi-table__column">IoI</td>
        <td class="ioi-table__column">Dance</td>
      </tr>

      <tr class="ioi-table__row">
        <td class="ioi-table__column remove-border--bottom">Higher</td>
        <td class="ioi-table__column">Instrumental dance</td>
      </tr>

      <tr class="ioi-table__row">
        <td class="ioi-table__column remove-border--bottom">
          <i class="fas fa-arrows-alt-v"></i>
        </td>
        <td class="ioi-table__column">Dance-to-text</td>
      </tr>

      <tr class="ioi-table__row">
        <td class="ioi-table__column">Lower</td>
        <td class="ioi-table__column">No dance</td>
      </tr>
    </table>

    <p>The figure below shows the IoI ranking for thirty-four combinations:</p>

    <input type="checkbox" id="content-table--iti__show-all" />
    <label for="content-table--iti__show-all"></label>
    <table id="IoI2" class="content-table--iti" width="100%">
      <thead>
        <tr class="content-table__row--header">
          <td class="content-table__column" width="6%">
            <abbr title="Index of Intermedia">IoI</abbr>
          </td>
          <td class="content-table__column" width="19%">Voice</td>
          <td class="content-table__column" width="9%">Drums</td>
          <td class="content-table__column" width="19%">Flute</td>
          <td class="content-table__column" width="9%">Dance</td>
          <td class="content-table__column" width="19%">Hashitomi</td>
          <td class="content-table__column" width="19%">Kokaji</td>
        </tr>
      </thead>
      <tr class="content-table__row">
        <td class="content-table__column">34</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">Congruent</td>
        <td class="content-table__column">&check;</td>
        <td class="content-table__column beige">
          <a href="/hashitomi/jonomai/" target="_blank"><em>Jonomai</em></a>
        </td>
        <td class="content-table__column">
          <a href="/kokaji/maibataraki/" target="_blank"
            ><em>Maibataraki</em></a
          >
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">33</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">&check;</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">32</td>
        <td class="content-table__column">Ō/Chūnori-2</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">&check;</td>
        <td class="content-table__column">
          <a href="/hashitomi/kiri/" target="_blank"><em>Kiri</em></a>
        </td>
        <td class="content-table__column">
          <a href="/kokaji/kiri/" target="_blank"><em>Kiri</em></a>
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">31</td>
        <td class="content-table__column">Hiranori-2</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">&check;</td>
        <td class="content-table__column">
          <a href="/hashitomi/kuse/" target="_blank"><em>Kuse</em></a>
        </td>
        <td class="content-table__column">
          <a href="/kokaji/kuse/" target="_blank"><em>Kuse</em></a>
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">30</td>
        <td class="content-table__column">Ō/Chūnori</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">&check;</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/kokaji/noriji-2/" target="_blank"><em>Noriji 2</em></a>
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">29</td>
        <td class="content-table__column">Hiranori</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">&check;</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">28</td>
        <td class="content-table__column">Ō/Chūnori-2</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">&check;</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/kokaji/noriji-3/" target="_blank"><em>Noriji 3</em></a>
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">27</td>
        <td class="content-table__column">Hiranori-2</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">&check;</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">26</td>
        <td class="content-table__column">Ō/Chūnori</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">&check;</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">25</td>
        <td class="content-table__column">Hiranori</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">&check;</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/kokaji/ageuta-3/" target="_blank"><em>Ageuta 3</em></a>
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">24</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">Congruent</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/kokaji/hayafue/" target="_blank"><em>Hayafue</em></a>
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">23</td>
        <td class="content-table__column">Ō/Chūnori-2</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">22</td>
        <td class="content-table__column">Hiranori-2</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/hashitomi/rongi/" target="_blank"><em>Rongi</em></a>
        </td>
        <td class="content-table__column">
          <a href="/kokaji/ageuta-1/" target="_blank"><em>Ageuta 1</em></a>
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">21</td>
        <td class="content-table__column">Ō/Chūnori-2</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/kokaji/noriji-1/" target="_blank"><em>Noriji 1</em></a>
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">20</td>
        <td class="content-table__column">Ō/Chūnori</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">19</td>
        <td class="content-table__column">Hiranori</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/hashitomi/ageuta-1/" target="_blank"><em>Ageuta 1</em></a>
        </td>
        <td class="content-table__column">
          <a href="/kokaji/ageuta-2/" target="_blank"><em>Ageuta 2</em></a>
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">18</td>
        <td class="content-table__column">Ō/Chūnori</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">17</td>
        <td class="content-table__column">Hiranori</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/hashitomi/sageuta/" target="_blank"><em>Sageuta</em></a
          ><br /><a href="/hashitomi/ageuta-2/" target="_blank"
            ><em>Ageuta 2</em></a
          >
        </td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">16</td>
        <td class="content-table__column">Non-congruent-2</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">15</td>
        <td class="content-table__column">Non-congruent-2</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">14</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/hashitomi/issei/" target="_blank"><em>Issei</em></a>
        </td>
        <td class="content-table__column">
          <a href="/kokaji/kuri/"><em>Kuri</em></a
          ><br /><a href="/kokaji/notto/" target="_blank"><em>Notto</em></a>
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">13</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/hashitomi/waka/" target="_blank"><em>Waka</em></a>
        </td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">12</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">Strict</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/kokaji/raijo/" target="_blank"><em>Raijo</em></a>
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">11</td>
        <td class="content-table__column">Non-congruent-2</td>
        <td class="content-table__column">Flexible</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/kokaji/sashi/" target="_blank"><em>Sashi</em></a>
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">10</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">Flexible</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">9</td>
        <td class="content-table__column">Non-congruent-2</td>
        <td class="content-table__column">Flexible</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/hashitomi/kakaru-1/" target="_blank"><em>Kakaru 1</em></a
          ><br /><a href="/hashitomi/kakaru-2/" target="_blank"
            ><em>Kakaru 2</em></a
          >
        </td>
        <td class="content-table__column">
          <a href="/kokaji/kakeai-1/" target="_blank"><em>Kakeai 1</em></a
          ><br /><a href="/kokaji/kakeai-2/" target="_blank"
            ><em>Kakeai 2</em></a
          >
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">8</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">Flexible</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/hashitomi/kakaru-3/" target="_blank"><em>Kakaru 3</em></a>
        </td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">7</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">Flexible</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">6</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/hashitomi/song/" target="_blank"><em>Song</em></a>
        </td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">5</td>
        <td class="content-table__column">Spoken-2</td>
        <td class="content-table__column">Flexible</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">4</td>
        <td class="content-table__column">Spoken-2</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/hashitomi/kakeai/" target="_blank"><em>Kakeai</em></a>
        </td>
        <td class="content-table__column">
          <a href="/kokaji/mondo-1/" target="_blank"><em>Mondō 1</em></a
          ><br /><a href="/kokaji/dialogue/" target="_blank"
            ><em>Dialogue</em></a
          ><br /><a href="/kokaji/mondo-2/" target="_blank"><em>Mondō 2</em></a>
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">3</td>
        <td class="content-table__column">Spoken</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/hashitomi/nanori/" target="_blank"><em>Nanori</em></a>
        </td>
        <td class="content-table__column">
          <a href="/kokaji/nanori/" target="_blank"><em>Nanori</em></a
          ><br /><a href="/kokaji/monologue/" target="_blank"
            ><em>Monologue</em></a
          >
        </td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">2</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">Flexible</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/hashitomi/ashirai/" target="_blank"><em>Ashirai</em></a>
        </td>
        <td class="content-table__column">–</td>
      </tr>
      <tr class="content-table__row">
        <td class="content-table__column">1</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">Non-congruent</td>
        <td class="content-table__column">–</td>
        <td class="content-table__column">
          <a href="/hashitomi/nanoribue/" target="_blank"><em>Nanoribue</em></a>
        </td>
        <td class="content-table__column">–</td>
      </tr>
    </table>

    <p>
      The IoI method was used to create the '<em>Shōdan</em> Map' that
      visualizes the intermedia flow of the two featured plays.

      <a href="/hashitomi/">Hashitomi</a>

      is composed of 17 <em>shōdan</em> compared to 21 for

      <a href="/kokaji/">Kokaji</a>. Their respective '<em>Shōdan</em> Map'
      appears as blocks under the video. The height of a block represents the
      <em>shōdan</em>’s IoI, the width its duration, and its background color,
      the <em>dan</em> it belongs to, according to

      <a href="/form/">Zeami/Yokomichi formal model</a>. Hence, our formal
      representation is an expansion of that model, by adding and merging with
      it an intermedia dimension.
    </p>
  </div>
</main>
