---
layout: styleguide
---

<aside>
</aside>

<main>
  <div class="timeline">
    <div class="tl__container">
      <div class="tl__labels">
        <h2 class="tl__title">Title</h2>
        <table>
          <tr>
            <td rowspan="2" class="tl__channel-group-title">
              <h4>Group</h4>
            </td>
            <td class="tl__channel-label"><p>Label</p></td>
          </tr>
          <tr><td class="tl__channel-label" colspan="2"><p>Label</p></td></tr>
          <tr>
            <td rowspan="3" class="tl__channel-group-title">
              <h4>Group</h4>
            </td>
            <td class="tl__channel-label"><p>Label</p></td>
          </tr>
          <tr><td class="tl__channel-label"><p>Label</p></td></tr>
          <tr><td class="tl__channel-label"><p>Label</p></td></tr>
          <tr><td class="tl__channel-label" colspan="2"><p>Label</p></td></tr>
        </table>
      </div>
      <div class="tl__content">
        {% include timeline/time-marks.html %}
        {% include timeline/acts.html %}
        <div class="tl__channels-container">
          {% include timeline/current-position.html %}
          <div class="tl__channel"></div>
          <div class="tl__channel"></div>
          <div class="tl__channel"></div>
          <div class="tl__channel"></div>
          <div class="tl__channel"></div>
          <div class="tl__channel"></div>
        </div>
      </div>
    </div>
    <div class="tl__actions"></div>
  </div>
</main>
