---
layout: styleguide
---

<aside>
</aside>

<main>
  <div class="timeline">
    <div class="tl__container">
      <div class="tl__topbar">
        <h2 class="tl__title">Title</h2>
        <div class="tl__marks">
          {% include timeline/acts.html %}
        </div>
      </div>
      <div class="tl__content">
        {% include timeline/current-position.html %}
        <div class="tl__channels-container">
          <div class="tl__channel tl__channel--shodan">
            <div class="tl__channel-label"><p>Shodan</p></div>
            <div class="tl__channel-events">
              <div class="tl__shodan" style="left: 0px; width: 40px; height: 10px;" data-tooltip="Shodan name"></div>
              <div class="tl__shodan" style="left: 40px; width: 100px; height: 20px;" data-tooltip="Shodan name"></div>
              <div class="tl__shodan" style="left: 140px; width: 60px; height: 40px;" data-tooltip="Shodan name"></div>
            </div>
          </div>

          <div class="tl__channel-group-container">
            <div class="tl__channel-group-title">
              <h4>Music</h4>
            </div>
            <div class="tl__channel-group">
              <div class="tl__channel">
                <div class="tl__channel-label"><p>Sound</p></div>
                <div class="tl__channel-events">
                  <div class="tl__event" style="left: 100px; width: 10px;" data-tooltip="lorem ipsum"></div>
                  <div class="tl__event" style="left: 350px; width: 20px;" data-tooltip="lorem ipsum"></div>
                </div>
              </div>
              <div class="tl__channel">
                <div class="tl__channel-label"><p>Rhythm</p></div>
                <div class="tl__channel-events">
                  <div class="tl__event" style="left: 10px; width: 40px;" data-tooltip="lorem ipsum"></div>
                  <div class="tl__event" style="left: 240px; width: 20px;" data-tooltip="lorem ipsum"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="tl__channel-group-container">
            <div class="tl__channel-group-title">
              <h4>Dance</h4>
            </div>
            <div class="tl__channel-group">
              <div class="tl__channel">
                <div class="tl__channel-label"><p>Structural Patterns</p></div>
                <div class="tl__channel-events">
                  <div class="tl__event tl__event--active" style="left: 450px; width: 50px;" data-tooltip="I'm the active element"></div>
                  <div class="tl__event" style="left: 200px; width: 50px;" data-tooltip="lorem ipsum"></div>
                </div>
              </div>
              <div class="tl__channel">
                <div class="tl__channel-label"><p>Mimetic Patterns</p></div>
                <div class="tl__channel-events">
                  <div class="tl__event" style="left: 500px; width: 90px;" data-tooltip="lorem ipsum"></div>
                  <div class="tl__event" style="left: 600px; width: 80px;" data-tooltip="lorem ipsum"></div>
                </div>
              </div>
              <div class="tl__channel">
                <div class="tl__channel-label"><p>Dances</p></div>
                <div class="tl__channel-events">
                  <div class="tl__event" style="left: 100px; width: 50px;" data-tooltip="lorem ipsum"></div>
                  <div class="tl__event" style="left: 200px; width: 50px;" data-tooltip="lorem ipsum"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="tl__channel">
            <div class="tl__channel-label"><p>Stage directions</p></div>
            <div class="tl__channel-content"></div>
          </div>
        </div>
      </div>
      <div class="tl__actions"></div>
    </div>
  </div>
</main>
