---
layout: website
title: Text
menu-active: elements
second-level-menu-active: libretti
permalink: /text/
---

{% include second-menu-elements.html %}



<main class="page-content">
    <div class="text-container">
{% include menu-text-large.html %}
  <div class="wrapper sidebar-contents">
    <aside class="sidebar-contents__table">
      {% include menu-text.html %}
    </aside>
    <section class="sidebar-contents__section">

  <h2>Text</h2>
<p>The texts of Noh plays typically combine dialogue, inner thoughts, expression of feelings, memories, historic accounts, and poetic references. As such, the Noh text is an amalgam of multiple literary genres that serve specific expressive needs.</p>

<p>Based on linguistic and literary characteristics, the language of Noh falls under two categories: poetry (<em>inbun</em>) and prose (<em>sanbun</em>).</p>


  <h3 id="Poetry">Poetry</h3>

<p> Noh prosody typically follows the rules of Japanese traditional poetry, which is based uon sequences of lines with a set number of syllables. The most common is the alternation of lines of seven and five, but lines of other syllable lengths are also used. In Noh, the poetic language can be rhythmic or arhythmic. </p>

<p>Rhythmic language organizes syllables into lines. It can use regular syllabic patterns of traditional poetry (<em>tei-ritsu bun</em>) or form irregular patterns (<em>ha-ritsu bun</em>).</p>

<h4 id="Rhythmic-R">Regular Rhythm</h4>
<p>In the case of regular syllabic patterns, the text is usually broken into two hemistiches of typically 7 + 5 syllables. Although an increase or decrease by a syllable or two per hemistich is often encountered, the first one is typically longer than the second. This is illustrated by an example from Hashitomi's <em>Ageuta-1</em> below, which increases the first hemistich from 7 to 8 in the last two lines.</p>

  <table class="content-table"><tr class="content-table__row">

                <td class="content-table__column">
Go jo o a ta ri to + i u ga o no<br>
Go jo o a ta ri to + i u ga o no<br>
so ra me se shi ma ni + yu me to na ri<br>
o mo ka ge ba ka ri + na ki a to no<br>
ta te ba na no ka ge ni + ka ku re ke ri<br>
ta te ba na no ka ge ni + ka ku re ke ri</td>
<td class="content-table__column">
7 + 5<br>
7 + 5<br>
7 + 5<br>
7 + 5<br>
8 + 5<br>
8 + 5</td></tr>
</table>


<p><em>Shōdan</em> presented in the Catalog that typically use language with regular syllabic patterns (<em>tei-ritsu bun</em>) include:  <a href="/catalog-of-shodan/shidai-chant" target="_blank"><em>shidai</em>-chant </a>, <a href="/catalog-of-shodan/ageuta" target="_blank"><em>ageuta</em></a>, <a href="/catalog-of-shodan/issei-chant" target="_blank"><em>issei-chant</em></a>, <a href="/catalog-of-shodan/sageuta" target="_blank"><em>sageuta</em></a>, and <a href="/catalog-of-shodan/rongi" target="_blank"><em>rongi</em></a>.</p>



<p>Within the same category of regular syllabic patterns is the <em>waka</em> style of poetry with its 5 + 7 + 5 + 7 + 7 syllables. An example of that is the <a href="/catalog-of-shodan/waka" target="_blank"><em>waka</em></a> and <a href="/hashitomi/song/" target="_blank">Hashitomi's Song</a>.</p>

<h4 id="Rhythmic-I">Irregular Rhythm</h4>
<p>Although the 7 + 5 syllables remains the reference in irregular syllabic patterns, substantial fluctuations from that reference can be expected. In fact, the balance between the two hemistiches can even be reversed, so the first hemistich becomes shorter than the second one. The following figure shows the possible combinations of numbers of syllables for the two hemistiches:
  </p>
  <table class="content-table">
    <tr class="content-table__row">

    <td class="content-table__column"><h5>Hemistich 1</h5></td>
    <td class="content-table__column"></td>
      <td class="content-table__column"><h5>Hemistich 2</h5></td>

    </tr>
    <tr class="content-table__row">
    <td class="content-table__column">
    8<br><strong>7</strong><br>6<br>5<br>4<br>3<br>2

    </td>

<td class="content-table__column">
                  <br><br><br><strong>+</strong><br><br><br>
</td>

<td class="content-table__column">
8<br>7<br>6<br><strong>5</strong><br>4<br>3

</td>
</tr>
</table>
<p>The following excerpt from Hashitomi's <em>Kuse</em> is an example of irregular syllabic patterns (<em>ha-ritsu bun</em>):</p>


<table class="content-table"><tr class="content-table__row">

              <td class="content-table__column">
so no ko ro + ge n ji no <br>
chi u jo o to + ki ko e shi wa <br>
ko no i u ga o no + ku sa ma ku ra <br>
ta da ka ri bu shi no + yo mo su ga ra  <br>
to na ri wo ki ke ba + mi yo shi no ya<br>
mi ta ke sho o ji no + mi ko e ni te <br>
na mu to o ra i + do o shi <br>
mi ro ku bu tsu to zo + to na e ke ru <br>
mi ro ku bu tsu to zo + to na e ke ru <br>
so no to ki no o mo i + i de ra re te
</td>
<td class="content-table__column">
  4 + 4<br>5 + 5<br>7 + 5<br>7 + 5<br>
7 + 5<br>
7 + 5<br>
6 + 3<br>
7 + 5<br>
7 + 5<br>
8 + 5</td></tr>
</table>

<p>When text is set in <em>ōnori</em, the standard number of syllables of the two hemistiches consists of shorter groups ranging from two to six. Although most lines in <em>ōnori</em> chants are rhythmically irregular, it is not unusual for each of the two hemistiches to be four syllables long. Here is the example from Kokaji's <em>Noriji-1</em>:</p>

<table class="content-table"><tr class="content-table__row">

              <td class="content-table__column">
Ne ga wa + ku wa <br>
Mu ne chi ka + wa ta ku shi no <br>
Ko o myo o ni + a ra zu <br>
Fu te n + so o to no  <br>
Cho ku me i ni + yo re ri<br>
Sa a ra ba + ji i po o <br>
Go o sha no + sho ji n <br>
Ta da i ma no + mu ne chi ka ni <br>
Chi ka ra wo + a wa se te <br>
Ta bi ta ma + e to te
</td>
<td class="content-table__column">
  3 + 2<br>4 + 5<br>5 + 3<br>3 + 4<br>
5 + 3<br>
4 + 4<br>
4 + 3<br>
5 + 5<br>
4 + 4<br>
4 + 3</td></tr>
</table>


  <p><em>Shōdan</em> found in the Catalog that use language with irregular syllabic patterns (<em>ha-ritsu bun</em>) include:      <a href="/catalog-of-shodan/kuse" target="_blank"><em>kuse</em></a>, <a href="/catalog-of-shodan/noriji" target="_blank"><em>noriji</em></a> and <a href="/catalog-of-shodan/kiri" target="_blank"><em>kiri</em></a>. Although <em>ageuta</em> is usually rhythmic regular <a href="/hashitomi/ageuta-2/" target="_blank">Kokaji's <em>Ageuta-2</em></a> is irregular.</p>

<h4 id="Arhythmic"> Arhythmic</h4>
<p>Arhythmic poetic language (<em>mu-ritsu inbun</em>), is not based on a perceivable division of line into hemistiches. Examples in the Catalog include <a href="/catalog-of-shodan/sashi" target="_blank"><em>sashi</em></a>, <a href="/catalog-of-shodan/kakaru" target="_blank"><em>kakaru</em></a>, <a href="/catalog-of-shodan/notto-chant" target="_blank"><em>notto-chant</em></a>, and <a href="/catalog-of-shodan/kuri" target="_blank"><em>kuri</em></a>. <em>Issei</em>-chant generally uses regular rhythmic language, however since <a href="/hashitomi/issei/" target="_blank">Hashitomi's <em>Issei</em></a> is based on a Chinese poem it exceptionally uses arhythmic poetic language as well.</p>

  <h3 id="Prose">Prose</h3>

  <p>During the medieval period, two different styles of prose were used: <em>nari-chō sanbun</em> characterized by the use of <em>nari</em> as the ending of the verbs and <em>sōrō-chō sanbun</em>, which used <em>sōrō</em>. The two styles can be fluidly mixed in Noh.</p>

  <p>In our <em>shōdan</em> Catalog, <a href="/catalog-of-shodan/mondo" target="_blank"><em>mondō</em></a>, <a href="/catalog-of-shodan/nanori" target="_blank"><em>nanori</em></a> and <a href="/catalog-of-shodan/kakeai" target="_blank"><em>kakeai</em></a> are examples of prose. In these examples, you can find <em>nari</em> style and <em>sōrō</em> style used interchangeably.  <em>Sōrō</em> style tends to be used when a character addresses others, while <em>nari</em> style is more typical for description and narration. The switching is also frequently found in <a href="/catalog-of-shodan/ai-kyogen" target="_blank"><em>ai-kyōgen</em></a>.</p>

</section>
  </div>
</div>
</main>
