---
layout: website
title: Text
menu-active: elements
second-level-menu-active: libretti
permalink: /text/
---

{% include second-menu-elements.html %}

{% include menu-text-large.html %}

<main class="page-content">

  <div class="wrapper sidebar-contents">
    <aside class="sidebar-contents__table">
      {% include menu-text.html %}
    </aside>
    <section class="sidebar-contents__section">
  <div class="text-container">
  <h2>Text</h2>
<p>The text in Noh is free from strict logic of narrative progression. The plays typically focus on one principal character and intermix actions and dialogue in the play's present with inner thoughts, feelings, memories, historic accounts and poetic references. As such, the Noh text is an amalgam of multiple genres and levels of formality that serve specific expressive needs.</p>

<p>Based on linguistic and literary characteristics the language of Noh (<em>buntai</em>) falls under two categories: poetry (<em>inbun</em>) and prose (<em>sanbun</em>).</p>


  <h3 id="Poetry">Poetry</h3>

<p> Noh prosody typically follows the rules of Japanese traditional poetry, which is based upon sequences of lines with a set number of syllables. The most common is the alternation of lines of five and seven but lines of other syllable lengths are also used. In Noh, the poetic language can be rhythmic or arhythmic. </p>

<p>Rhythmic language organizes syllables into lines. It can use regular syllabic patterns of traditional poetry (<em>tei-ritsu bun</em>) or form irregular patterns (<em>ha-ritsu bun</em>). It must be noted that when using regular patterns it is common in Noh to introduce exceptions to achieve specific dramatic effect.</p>
<p>Common <em>shōdan</em> using language with regular syllabic patterns (<em>tei-ritsu bun</em>) include: <a href="/catalog-of-shodan/shidai-chant" target="_blank"><em>shidai</em>-chant </a>, <a href="/catalog-of-shodan/ageuta" target="_blank"><em>ageuta</em></a>, <a href="/catalog-of-shodan/sageuta" target="_blank"><em>sageuta</em></a>, <a href="/catalog-of-shodan/rongi" target="_blank"><em>rongi</em></a>, <a href="/catalog-of-shodan/issei-chant" target="_blank"><em>issei</em>-chant</a>, and <a href="/catalog-of-shodan/kuri" target="_blank"><em>kuri</em></a>.</p>

<p>On the other hand, the <a href="/catalog-of-shodan/kuse" target="_blank"><em>kuse</em></a>, <a href="/catalog-of-shodan/noriji" target="_blank"><em>noriji</em></a>, and  <a href="/catalog-of-shodan/kiri" target="_blank"><em>kiri</em></a> are common <em>shōdan</em> using language with irregular syllabic patterns (<em>ha-ritsu bun</em>).</p>

<p>Arhythmic poetic language (<em>mu-ritsu inbun</em>), although not arranged as a succession of lines, is still considered as poetic due to its use of devices found in Japanese poetry.</p>
<p>
The <a href="/catalog-of-shodan/sashi" target="_blank"><em>sashi</em></a> and <a href="/catalog-of-shodan/mondo" target="_blank"><em>mondō</em></a> are good examples of <em>shōdan</em> using language with arhythmic poetic language (<em>mu-ritsu inbun</em>).</p>

  <h3 id="Prose">Prose</h3>

  <p>During the medieval period, two different styles of prose were used: <em>nari-chō sanbun</em> characterized by the use of <em>nari</em> as the ending of the verbs and its colloquial equivalent <em>sōrō-chō sanbun</em>, which used <em>sōrō</em>. The two styles can be used in Noh to show the social rank of the character, person being addressed or topic, but also to differentiate between a spirit and an earthly person. Moreover, the dramatic tension of a text is often increased with a gradual change from <em>sōrō</em> to <em>nari</em>.</p>

  <p>A common <em>shōdan</em> using prose in <em>nari-chō sanbun</em> style is the <em>katari</em>, whereas the <a href="/catalog-of-shodan/nanori" target="_blank"><em>nanori</em></a> is a good example of a <em>shōdan</em> using prose in <em>sōrō-chō sanbun</em> style.</p>


  </div>
  </section>
  </div>
</main>
