---
layout: website
title: Text
menu-active: elements
second-level-menu-active: libretti
permalink: /text/
---

{% include second-menu-elements.html %}
<main class="page-content">
  {% include menu-text-large.html %}
  <div class="wrapper sidebar-contents">
    <aside class="sidebar-contents__table">
      {% include menu-text.html %}
    </aside>
    <section class="sidebar-contents__section">
      <div class="text-container">
        <h2>Text</h2>
        <p>
          The texts of Noh plays typically combine dialogue, inner thoughts,
          expression of feelings, memories, historic accounts, and poetic
          references. As such, the Noh text is an amalgam of multiple literary
          genres that serve specific expressive needs.
        </p>
        <p>
          Based on linguistic and literary characteristics, the language of Noh
          falls under two categories: poetry (<em>inbun</em>) and prose
          (<em>sanbun</em>).
        </p>

        <h3 id="Poetry">Poetry</h3>

        <p>
          Noh prosody typically follows the rules of Japanese traditional
          poetry, which is based on sequences of lines with a set number of
          syllables. The most common is the alternation of lines of seven and
          five, but lines of other syllable lengths are also used. In Noh, the
          poetic language can be rhythmic or arhythmic.
        </p>
        <p>
          Rhythmic language organizes syllables into lines. It can use regular
          syllabic patterns of traditional poetry (<em>tei-ritsu bun</em>) or
          form irregular patterns (<em>ha-ritsu bun</em>).
        </p>
        <h4 id="Rhythmic-R">Regular Rhythm</h4>
        <p>
          In the case of regular syllabic patterns, the text is usually broken
          into two hemistiches of typically 7 + 5 syllables. Although an
          increase or decrease by a syllable or two per hemistich is often
          encountered, the first one is typically longer than the second. This
          is illustrated by an example from Hashitomi's <em>Ageuta-1</em> below,
          which increases the first hemistich from 7 to 8 in the last two lines.
        </p>

        <table class="content-table content-table--not-expanded">
          <tr class="content-table__row">
            <td class="content-table__column">
              Go jo o a ta ri to + i u ga o no
            </td>
            <td class="content-table__column">
              7 + 5
            </td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">
              Go jo o a ta ri to + i u ga o no
            </td>
            <td class="content-table__column">
              7 + 5
            </td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">
              so ra me se shi ma ni + yu me to na ri
            </td>
            <td class="content-table__column">
              7 + 5
            </td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">
              o mo ka ge ba ka ri + na ki a to no
            </td>
            <td class="content-table__column">
              7 + 5
            </td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">
              ta te ba na no ka ge ni + ka ku re ke ri
            </td>
            <td class="content-table__column">
              8 + 5
            </td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">
              ta te ba na no ka ge ni + ka ku re ke ri
            </td>
            <td class="content-table__column">
              8 + 5
            </td>
          </tr>
        </table>

        <p>
          <em>Shōdan</em> presented in the Catalog that typically use language
          with regular syllabic patterns (<em>tei-ritsu bun</em>) include:
          <a href="/catalog-of-shodan/shidai-chant"><em>Shidai</em>-chant </a>,
          <a href="/catalog-of-shodan/ageuta"><em>Ageuta</em></a
          >, <a href="/catalog-of-shodan/issei-chant"><em>Issei-chant</em></a
          >, <a href="/catalog-of-shodan/sageuta"><em>Sageuta</em></a
          >, and <a href="/catalog-of-shodan/rongi"><em>Rongi</em></a
          >.
        </p>

        <p>
          Within the same category of regular syllabic patterns is the
          <em>waka</em> style of poetry with its 5 + 7 + 5 + 7 + 7 syllables. An
          example of that is the
          <a href="/catalog-of-shodan/waka"><em>Waka</em></a>
          and <a href="/hashitomi/song/">Hashitomi's Song</a>.
        </p>

        <h4 id="Rhythmic-I">Irregular Rhythm</h4>
        <p>
          Although the 7 + 5 syllables remains the reference in irregular
          syllabic patterns, substantial fluctuations from that reference can be
          expected. In fact, the balance between the two hemistiches can even be
          reversed, so the first hemistich becomes shorter than the second one.
          The following figure shows the possible combinations of numbers of
          syllables for the two hemistiches:
        </p>

        {% include image-no-background.html
        src="/assets/images/irregular-rhythm-2.svg" class="no-wide" %}

        <p>
          The following excerpt from Hashitomi's <em>Kuse</em> is an example of
          irregular syllabic patterns (<em>ha-ritsu bun</em>):
        </p>

        <table class="content-table content-table--not-expanded">
          <tr class="content-table__row">
            <td class="content-table__column">so no ko ro + ge n ji no</td>
            <td class="content-table__column">4 + 4</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">
              chi u jo o to + ki ko e shi wa
            </td>
            <td class="content-table__column">5 + 5</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">
              ko no i u ga o no + ku sa ma ku ra
            </td>
            <td class="content-table__column">7 + 5</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">
              ta da ka ri bu shi no + yo mo su ga ra
            </td>
            <td class="content-table__column">7 + 5</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">
              to na ri wo ki ke ba + mi yo shi no ya
            </td>
            <td class="content-table__column">7 + 5</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">
              mi ta ke sho o ji no + mi ko e ni te
            </td>
            <td class="content-table__column">7 + 5</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">na mu to o ra i + do o shi</td>
            <td class="content-table__column">6 + 3</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">
              mi ro ku bu tsu to zo + to na e ke ru
            </td>
            <td class="content-table__column">7 + 5</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">
              mi ro ku bu tsu to zo + to na e ke ru
            </td>
            <td class="content-table__column">7 + 5</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">
              so no to ki no o mo i + i de ra re te
            </td>
            <td class="content-table__column">8 + 5</td>
          </tr>
        </table>

        <p>
          When text is set in <em>ōnori</em>, the standard number of syllables
          of the two hemistiches consists of shorter groups ranging from two to
          six. Although most lines in <em>ōnori</em> chants are rhythmically
          irregular, it is not unusual for each of the two hemistiches to be
          four syllables long. Here is the example from Kokaji's
          <em>Noriji-1</em>:
        </p>

        <table class="content-table content-table--not-expanded">
          <tr class="content-table__row">
            <td class="content-table__column">Ne ga wa + ku wa</td>
            <td class="content-table__column">3 + 2</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">
              Mu ne chi ka + wa ta ku shi no
            </td>
            <td class="content-table__column">4 + 5</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">Ko o myo o ni + a ra zu</td>
            <td class="content-table__column">5 + 3</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">Fu te n + so o to no</td>
            <td class="content-table__column">3 + 4</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">Cho ku me i ni + yo re ri</td>
            <td class="content-table__column">5 + 3</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">Sa a ra ba + ji i po o</td>
            <td class="content-table__column">4 + 4</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">Go o sha no + sho ji n</td>
            <td class="content-table__column">4 + 3</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">
              Ta da i ma no + mu ne chi ka ni
            </td>
            <td class="content-table__column">5 + 5</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">Chi ka ra wo + a wa se te</td>
            <td class="content-table__column">4 + 4</td>
          </tr>
          <tr class="content-table__row">
            <td class="content-table__column">Ta bi ta ma + e to te</td>
            <td class="content-table__column">4 + 3</td>
          </tr>
        </table>

        <p>
          <em>Shōdan</em> found in the Catalog that use language with irregular
          syllabic patterns (<em>ha-ritsu bun</em>) include:
          <a href="/catalog-of-shodan/kuse"><em>Kuse</em></a
          >,
          <a href="/catalog-of-shodan/noriji"><em>Noriji</em></a>
          and <a href="/catalog-of-shodan/kiri"><em>Kiri</em></a
          >. Although <em>Ageuta</em> is usually rhythmic regular
          <a href="/hashitomi/ageuta-2/">Kokaji's <em>Ageuta-2</em></a>
          is irregular.
        </p>
        <h4 id="Arhythmic">Arhythmic</h4>
        <p>
          Arhythmic poetic language (<em>mu-ritsu inbun</em>), is not based on a
          perceivable division of line into hemistiches. Examples in the Catalog
          include <a href="/catalog-of-shodan/sashi"><em>Sashi</em></a
          >, <a href="/catalog-of-shodan/kakaru"><em>Kakaru</em></a
          >, <a href="/catalog-of-shodan/notto-chant"><em>Notto-chant</em></a
          >, and <a href="/catalog-of-shodan/kuri"><em>Kuri</em></a
          >. <em>Issei</em>-chant generally uses regular rhythmic language,
          however since
          <a href="/hashitomi/issei/">Hashitomi's <em>Issei</em></a>
          is based on a Chinese poem it exceptionally uses arhythmic poetic
          language as well.
        </p>

        <h3 id="Prose">Prose</h3>

        <p>
          During the medieval period, two different styles of prose were used:
          <em>nari-chō sanbun</em> characterized by the use of <em>nari</em> as
          the ending of the verbs and <em>sōrō-chō sanbun</em>, which used
          <em>sōrō</em>. The two styles can be fluidly mixed in Noh.
        </p>

        <p>
          In our <em>shōdan</em> Catalog,
          <a href="/catalog-of-shodan/mondo"><em>Mondō</em></a
          >,
          <a href="/catalog-of-shodan/nanori"><em>Nanori</em></a>
          and
          <a href="/catalog-of-shodan/kakeai"><em>Kakeai</em></a>
          are examples of prose. In these examples, you can find
          <em>nari</em> style and <em>sōrō</em> style used interchangeably.
          <em>Sōrō</em> style tends to be used when a character addresses
          others, while <em>nari</em> style is more typical for description and
          narration. The switching is also frequently found in
          <a href="/catalog-of-shodan/ai-kyogen"><em>Ai-kyōgen</em></a
          >.
        </p>
      </div>
    </section>
  </div>
</main>
