---
layout: website
menu-active: elements
second-level-menu-active: libretti
third-level-menu-active: hashitomi
permalink: /text-hashitomi/
---

{% include second-menu-elements.html %}



<main class="page-content">

  <div class="wrapper sidebar-contents">
    <aside class="sidebar-contents__table">
      {% include menu-Hashitomi.html %}
    </aside>
    <section class="sidebar-contents__section">
      <div class="text-container">
        <h2 id="Hashitomi">Libretto of Hashitomi</h2>
        <h3 id="Act1">ACT 1</h3>
      </div>

        <table class="content-table">

        <tr class="content-table__row--header">
        <td id="Nanori" class="content-table__column">Waki Enters: Nanori
        <td class="content-table__column"></td>
        </tr>

        <tr class="content-table__row">
          <td class="content-table__column"><h5>Waki:</h5>
<em>Kore wa miyako kitayama murasakino
unrinin ni kyoju no sō nite sorō.<br>
Ware ichige no aida hana wo tate sorō.<br>
Haya ango mo sugigata ni tari sōraeba.<br>
Iroyoki hana wo atsume.<br>
Hana no kuyō ō toriokonawaba to omoi sorō.</em></td>
          <td class="content-table__column"><h5>Waki:</h5>
I am a priest living at Unrin-in in Murasakino in the
northern hills of the capital.<br>
Now, I have offered flowers throughout the summer.<br>
As my period of retreat is coming to a close<br>
I will gather fine blossoms<br>
and perform a memorial service for the flowers.</td>
        </tr>

        <tr class="content-table__row--header">
        <td id="Kakaru-1" class="content-table__column">Waki Enters: Kakaru-1
        <td class="content-table__column"></td>
        </tr>

        <tr class="content-table__row">
          <td class="content-table__column">
            <em>Uyamatte mosu rikkakuyo no koto<br>
            Migi hijo  somoku tari to iedomo<br>
            Kono hana korin ni hiraketari<br>
            Ani kokoro nashi to iwanya.<br>
            Nakanzuku dei ō ideshi hachisu.<br>
            Ichijōmyōden no daimoku tari.<br>
            Kono kechien ni hikarete.<br>
            Sōmo’kokudo shi’kaijō bu’tndō.</em></td>
          <td class="content-table__column">
            With reverence I proclaim this memorial service for flowers.<br>
            Though they are said to be insentient plants<br>
            These flowers blossom in wide woodlands.<br>

            How could they be said to be without feeling?<br>
            Especially the lotus appearing from the mud<br>
            and that has become the title of the one sublime law.<br>
            Drawn by this tie even plants, trees,<br>
            all the earth, achieve Buddhahood.</td>
        </tr>

        <tr class="content-table__row--header">
        <td id="Ashirai" class="content-table__column">Shite Enters: Ashirai
        <td class="content-table__column"></td>
        </tr>

        <tr class="content-table__row">
          <td class="content-table__column"><h5>Shite:</h5>
            <em>Te ni toreba<br>
Tabusa ni kegaru tatenagara<br>
Miyo no hotoke ni<br>
Hanatatematsuru.</em></td>
          <td class="content-table__column"><h5>Shite:</h5>
            As when the hand takes them,<br>
The hand itself sullies them,<br>
To the Buddhas of the Three Realms<br>
I offer them as they are.</td>
        </tr>
        </table>
    </section>
  </div>

</main>
