---
layout: website
menu-active: elements
second-level-menu-active: libretti
third-level-menu-active: kokaji
permalink: /text-kokaji/
---

{% include second-menu-elements.html %}

{% include menu-libretti-small.html %}


<main class="page-content">

  <div class="wrapper sidebar-contents">
    <aside class="sidebar-contents__table">
      {% include menu-Kokaji.html %}
    </aside>
    <section class="sidebar-contents__section">
      <div class="text-container">
        <h2 id="Hashitomi">Libretto of Kokaji</h2>
        <h3 id="Act1">Act-1</h3>
      </div>

        <table class="content-table">

  <tr class="content-table__row--header">
  <td id="Nanori" class="content-table__column">Waki Enters: Nanori
  <td class="content-table__column"></td> </tr> <tr class="content-table__row">
  <td class="content-table__column">
  <h5>Wakizure:</h5>
  <em> Waki-tsure:Somo kore wa <br>
  Ichijō-no-In ni tsukae-tatematsuru. <br>
  Tachibana-no-Michinari to wa waga koto nari. <br>
  Sate mo mikado kon’ya kidoku  no go-reimu, mashimashite. <br>
  Sanjō-no-Kokaji Munechika ni. <br>
  Mi-tsurugi wo utaserarubeshi to no <br>
  senji tadaima narikudarite sōrō hodo ni. <br>
  Kono yoshi wo Munechika ni mōshi-tsukebaya to zonji sōrō.</em></td>

  <td class="content-table__column">
  <h5> Wakizure:</h5>
  To begin with, <br>
  I am in the service of the Emperor Ichijo. <br>
  I am known as Tachibana no Michinari. <br>
  It so happens that his Lordship <br>
  has had a portentous dream oracle. <br>
  The Sanjo swordsmith Munechika <br>
  must be ordered to forge a blade. <br>
  I am on my way now to tell Munechika of this matter.</td>
  </tr>


  <tr class="content-table__row--header">
        <td id="Mondo-1" class="content-table__column">Waki Enters: Mondō 1
        <td class="content-table__column"></td>
        </tr>
<tr class="content-table__row">
<td class="content-table__column"><h5>Wakizure:</h5>
<em>Ikani kono uchini Munechika no watari-sōrō ka</em></td>
<td class="content-table__column"><h5>Wakizure:</h5>
Is Munechika at home?</td>
</tr>
<tr class="content-table__row"></tr>
<tr class="content-table__row">
<td class="content-table__column">
<h5>Waki:</h5>
<em> Tare nite watari sōrozo.</em></td>
<td class="content-table__column"> <h5>Waki:</h5>  Who is it that has come here?</td>
</tr>
<tr class="content-table__row"></tr> <tr class="content-table__row"> <td class="content-table__column"> <h5>Wakizure:</h5>
<em> Kore wa senji nito sōrō<br>
Waga kimi Kun’ya fushimi no reimu, mashimashite. <br>
Mitsurugi wo utaserarubeshi tono onkoto nari. <br>
Tōtō tsukamatsuri sōrae</em></td>
<td class="content-table__column"> <h5>Wakizure:</h5> I am a messenger from the Emperor.<br>
His Majesty has had a marvelous oracle in a dream. <br>
According to the oracle you must forge a fine sword for him. <br>
Please comply with this order at once.</td> </tr>
<tr class="content-table__row"></tr> <tr class="content-table__row">  <td class="content-table__column"> <h5>Waki:</h5> <em> Senji kashikomatte uketamawari sōrō sarinagara.<br>
Orifushi aizuchi utsubeki mono naku sōrō wo ba, <br>
nani to tsukamatsuri sōrō beki.</em></td>

<td class="content-table__column"> <h5>Waki:</h5>  While I certainly must agree to execute this imperial order,<br>
as I do not have anyone to assist me, <br>
I do not know how I will be able to carry it out. </td>
</tr>

<tr class="content-table__row"></tr> <tr class="content-table__row"> <td class="content-table__column"> <h5>Wakizure:</h5> <em> Fushigi no koto wo mōsu mono kana. <br>
Sono na wo etaru, nanji naruga<br>
aizuchi utsubeki mono no naki towa. <br>
Kokoroegataki iigotokana.</em></td>
<td class="content-table__column"> <h5>Wakizure:</h5>  What you say, sir, seems most strange.<br>
To hear that someone of your reputation <br>
does not have an appropriate assistant, <br>
is most unfortunate news.</td> </tr>
<tr class="content-table__row"></tr> <tr class="content-table__row"> <td class="content-table__column"> <h5>Waki:</h5> <em> Kore wa ōse nite sōrae domo,<br>
Kayō no ichidaiji no mono wo tsukamatsuru ni wa, <br>
ware ni hodonaru koto no mono no aizuchi, tsukamatsuri koso. <br>
Mitsurugi wo mo uchimōsubekere. <br>
Tonikaku ni onpenji wo mōshikane. <br>
Sekimenshitaru bakari nari.</em> </td>

<td class="content-table__column"> <h5>Waki:</h5> Even though I am commanded to do so, <br>
without an assistant whose skill is equal to my own, <br>
it will not be possible fulfill this order <br>
to forge a fine imperial blade. <br>
This is the answer I must give, <br>
though I am overcome with embarrassment. </td>
</tr>

<tr class="content-table__row"></tr> <tr class="content-table__row"> <td class="content-table__column"> <h5>Wakizure:</h5>
<em> Mōsu tokoro wa saru koto naredomo.<br>
Mikado mo fushigi no reimu mashimaseba. <br>
Ikanaru koto ka sōrōbeki <br>
tanomoshiku omoi mōshitsutsu<br>
hayahaya ryōjō mōlsubeshito. <br>
Kasanete senji arikereba </em></td>
<td class="content-table__column"> <h5>Wakizure:</h5>  Even though it may be as you say,<br>
yet as this is the Emperor’s wonderful dream oracle, <br>
it surely must be relied upon<br>
and you must quickly say <br>
you will accept the order. <br>
Let me repeat the imperial command!</td>
</tr>


<tr class="content-table__row--header">
<td id="Ageuta-1" class="content-table__column">Waki Enters: Ageuta 1
<td class="content-table__column"></td>
</tr>
<tr class="content-table__row">
<td class="content-table__column"><h5>Waki:</h5>
<em> Kono ue wa tonimo kakunimo Munechika ga,</em></td>
<td class="content-table__column"><h5>Waki:</h5>
At this point, in any case, Munechika, </td>
</tr>
<tr class="content-table__row"></tr>
<tr class="content-table__row">
<td class="content-table__column"> <h5>Jiutai:</h5>
<em> Tonimo kakunimo Munechika ga,<br>
Shintai koko ni kiwamarite. <br>
Mitsurugi no yaiba no midaruru kokoro narikeri. <br>
Sarinagara goseitō sugunaru ima no miyo nareba, <br>
moshimo kidoku no ariyasen. <br>
Sore nomi tanomu kokoro kana. <br>
Sore nomi tanomu kokoro kana.</em></td>
<td class="content-table__column"> <h5>Jiutai:</h5> In any case, Munechika,<br>
must here decide his course of action. <br>
Like the ripples beaten along a well-forged blade his heart wavers. <br>
Yet as the reign in the present age is righteous, <br>
a miracle may well be afforded me. <br>
I must place my trust only in this. <br>
I must place my trust only in this.</td>
</tr>

<tr class="content-table__row--header">
<td id="Dialogue" class="content-table__column">Shite Enters: Dialogue
<td class="content-table__column"></td>
</tr>
<tr class="content-table__row">
<td class="content-table__column"><h5>Wakizure:</h5>
<em> Senji ni makase tōtō mitsurugi wo tsukamatsuri sōrae.</em></td>
<td class="content-table__column"><h5>Wakizure:</h5>
Hurry! make the sword. </td>
</tr>
<tr class="content-table__row"></tr>
<tr class="content-table__row">
<td class="content-table__column"> <h5>Waki:</h5>
<em>Kashikomatte sōro.</em></td>
<td class="content-table__column"> <h5>Waki:</h5> Yes! sir.</td>
</tr>

<tr class="content-table__row--header"> <td id="Monologue" class="content-table__column">Shite Enters: Monologue
<td class="content-table__column"></td>
</tr>
<tr class="content-table__row">
<td class="content-table__column"><h5>Waki:</h5> <em> Kore wa ichidaiji no koto wo, ōse idasarate sōrō mono kano.<br>
Kayō no koto ni wa shinriki wo tanomu naradewa, bechigi naku sōro.<br>
Soregashi ga uji no shin na Inari no, myōjin nite sōrō hodoni. <br>
Kore yori sugu ni, Inari ni mairi. <br>
Kono koto kisei mōsabaya to zonji-sōro. </em></td>
<td class="content-table__column"><h5> Waki:</h5> This is a great task you have come to give me.<br>
Such a command can be carried out if I ask for divine help. <br>
As my family deity is Inari no Myojin, <br>
I will go at once to Inari, <br>
and pray concerning this matter.<td>
</tr>
<tr class="content-table__row--header">
<td id="Mondo-2" class="content-table__column">Dialogue: Mondō 2
<td class="content-table__column"></td>
</tr>
<tr class="content-table__row">
<td class="content-table__column"><h5>Shite:</h5>
<em>Nō nō are naru wa Sanjō no Kokaji Munechika nite, on iri sōrō ka.</em></td>
<td class="content-table__column"><h5>Shite:</h5>
Ho there! Is that the Swordsmith of Sanjo, Munechika ? </td>
</tr>
<tr class="content-table__row"></tr>
<tr class="content-table__row">
<td class="content-table__column"> <h5>Waki:</h5>
<em> Fushigi ya na nabete narazaru on-koto naru ga.<br>
Michi mo naki kata yori kitaritamai<br>
waga na wo sashite notamō wa. <br>
Ikanaru hito nite mashi-masu zo.</em></td>
<td class="content-table__column"> <h5>Waki:</h5> How mysterious! Here is someone who is certainly not an ordinary person.<br>  There is no path from the direction from which he has appeared,<br>
and now he has called me by name. <br>
What manner of man are you ? </td>
</tr>
<tr class="content-table__row"></tr> <tr class="content-table__row"> <td class="content-table__column"> <h5>Shite:</h5> <em> Kumo no ue naru kimi yori mo<br>
tsurugi wo uchite mairaseyo to <br>
nanji ni ōse ari shi yo nō.</em></td>
<td class="content-table__column"> <h5>Shite:</h5>  You have been ordered <br>
by his Imperial Majesty <br>
to forge a sword!</td>
</tr>
<tr class="content-table__row"></tr>

<tr class="content-table__row"> <td class="content-table__column"> <h5>Waki:</h5> <em> Sareba koso, <br>
sore ni tsukete mo nao nao kidoku no on-koto nare. <br>
Tsurugi no choku mo tadaima naru wo. <br>
Hayaku mo shiroshimesaruru koto<br>
Kaesu-gaesu mo fushin nari.</em></td>

<td class="content-table__column"> <h5>Waki:</h5>  As I thought, you are not what you seem to be,<br>
and events must be of great importance indeed. <br>
I have just received the order to make a blade! <br>
How could it be that anyone could know so soon ? <br>
No matter how I consider it, the matter is most strange.</td>

</tr>

<tr class="content-table__row"></tr> <tr class="content-table__row"> <td class="content-table__column"> <h5>Shite:</h5> <em> Geni geni sore wa saru koto naredomo <br>
ware nomi shireba moro bito made mo. <br>
Ten ni koe ari, chi ni hibiku.<em></td>
<td class="content-table__column"> <h5>Shite:</h5> In truth, it is as you say. It is said: To know a thing one's self,<br>
it is to find it is known by all.<br>
A voice in heaven, echoes on the earth!</td>
</tr>

<tr class="content-table__row--header">
<td id="Ageuta-2" class="content-table__column">Dialogue: Ageuta 2
<td class="content-table__column"></td>
</tr>
<tr class="content-table__row">
<td class="content-table__column"><h5>Jiutai:</h5>
<em> Kabe ni mimi:<br>
Iwa no mono iu yo no naka ni, <br>
Iwa no mono iu yo no naka ni, <br>
Kakure wa araji koto ni nao, <br>
kumo no uebito no mitsurugi no<br>
hikari wa nanika kurakaran. <br>
Tada tonome kono kimi no<br>
Meguni ni yoraba mitsurugi mo<br>
nado ka kokoro ni kanawazaru. <br>
Nado ka wa kanawazarubeki.</em></td>
<td class="content-table__column"><h5>Jiutai:</h5>
Wall have ears:<br>
In the world where rocks may speak, <br>
In the world where rocks may speak, <br>
and nothing is hidden, <br>
nothing shall dim the radiance<br>
of the Emperor's sword. <br>
Only have faith<br>
that through his Majesty's grace and the sword<br>
will be realized as you wish. <br>
It must be realized.</td>
</tr>

<tr class="content-table__row--header"> <td id="Kuri" class="content-table__column">Shite Performs: Kuri
<td class="content-table__column"></td> </tr>
<tr class="content-table__row">
<td class="content-table__column"><h5>Jiutai:</h5> <em> Sore Kan-nō sanseki no tsurugi<br>
inagara Shin no midare wo shizume. <br>
Mata Yō-tei ga Kei no tsurugi<br>
Shiujt'n no hikari wo ubaeri.</em></td>
<td class="content-table__column"><h5> Jiutai:</h5>
  Once with such a blade, the Emperor's Three-Foot Sword,<br>
subdued the rebellion of the Ts'in by its reputation alone.<br>
Again, the Yang Emperor, with his sword Kei<br>
outshone the brilliance of the House of Chou.</td>
</tr>

<tr class="content-table__row--header">
<td id="Sashi" class="content-table__column">Shite Performs: Sashi
<td class="content-table__column"></td>
</tr>
<tr class="content-table__row">
<td class="content-table__column"><h5>Shite:</h5>
<em>Sono nochi Gensō Kō-tei no Shōki Daijin mo,</em></td>
<td class="content-table__column"><h5>Shite:</h5>
In later years, the Emperor Huan Tsung's Minister Chung K'ei too,</td>
</tr>
<tr class="content-table__row"></tr>
<tr class="content-table__row">
<td class="content-table__column"> <h5>Jiutai:</h5>
<em> Tsurugi no toku ni konpaku wa,<br>
kunpen ni tsukae-tatematsuri. <br>
Mōryō kijin ni itaru made <br>
tsurugi no yaiba no yaiba no hikari ni osorete<br>
sono ada wo nasu koto wo ezu.</em></td>
<td class="content-table__column"> <h5>Jiutai:</h5> joined his spirit after death with the virtue of his sword,<br>
and thus, served at his Lord's side. <br>
Even evil spirits and demons<br>
were in fear of that sword's glow, <br>
and the destruction they sought was not achieved.</td>
</tr>
<tr class="content-table__row"></tr> <tr class="content-table__row"> <td class="content-table__column"> <h5>Shite:</h5> <em> Kanka honchō ni oite tsurugi no itoku </em></td>
<td class="content-table__column"> <h5>Shite:</h5>  Indeed, the virtue of the swords in China and Japan</td>
</tr>
<tr class="content-table__row"></tr>

<tr class="content-table__row"> <td class="content-table__column"> <h5>Jiutai:</h5> <em> mōsu ni oyobanu kidoku to kaya.</em></td>

<td class="content-table__column"> <h5>Jiutai:</h5>  and their miraculous power is beyond expression!</td>

</tr>

<tr class="content-table__row--header">
<td id="Rongi" class="content-table__column">Dialogue: Rongi
<td class="content-table__column"></td>
</tr>
<tr class="content-table__row">
<td class="content-table__column"><h5>Jiutai:</h5>
<em> Mata waga chō no sono hajime.<br>
Ninnō jiunidai Keikō-tennō , <br>
miko no mikato no on-na wo ba<br>
Yamata-dake to mōshishiga. <br>
Kiui wo Taiji no chiku wo uke. <br>
Seki no higashi mo harukanaru. <br>
Azuma no tabi no michi sugara. <br>
Ise ya Owari no umizura ni tatsu nami made mo<br>
kaeru koto yo to urayami, <br>
itsu ka warera mo kaeru nami no, <br>
koromode ni arama shi to omoi-tsuzukete-yuku hodo ni.</em></td>
<td class="content-table__column"><h5> Jiutai:</h5>
And so, it was in the early days of our history, <br>
the Twelfth of the Imperial Line, the Emperor Keiko,<br>
had a son known by the name Yamato-dake. <br>
The wild barbarians! he received the order to subdue them. <br>
The barrier check points far behind as yet further to the East. <br>
The road of his journey to the Eastern provinces took him. <br>
Even at Ise and Owari the waves on the sea rise and return! <br>
With envy he wondered always, <br>
when he too might find himslef, with foam-drenched sleeves<br>
returning home, even as he continued on his way.</td>
</tr>
<tr class="content-table__row"></tr>
<tr class="content-table__row">
<td class="content-table__column"> <h5>Shite:</h5>
<em> Koko ya kashiko no tatakai ni,</em></td>
<td class="content-table__column"> <h5>Shite:</h5> In the battles in one place and in the next ,</td>
</tr>

<tr class="content-table__row"></tr> <tr class="content-table__row"> <td class="content-table__column"> <h5>Jiutai:</h5> <em> Jin-ba gankutsu ni mi wo kudaki,<br>
Chi wa takuroku no kawa to natte, <br>
kōha tate nagashi sudo ni oyoberu Ebisu mo. <br>
Kabuto wo nuide hoko wo fuse<br>
mina kōsan wo mōshikeri. <br>
Mi-koto no gyō yori mi-kariba wo susume tamaeri. <br>
Koro wa Kami-na-zuki, <br>
hatsu ka amari no koto nareba. <br>
Yo-mo no momiji mo fuyugare no<br>
tō-yama ni miyuru hatsu-yuki wo, <br>
nagame sase tamaishi ni,</em></td>
<td class="content-table__column"> <h5>Jiutai:</h5>  Men and horses: their bodies crushed in their caverns,<br>
their blood on the battlefields a river, <br>
their shields swept away on crimson waves again and again. <br>
Finally, the barbarians removed their helmets, <br>
lay down their arms and were made to surrender. <br>
From the time of this Prince's reign, the royal sport of hunting was begun. <br>
It was an incident that occurred, <br>
on the twentieth day of the Tenth month: <br>
Everywhere the autumn tints had faded, <br>
and even on the distant winter withered mountains, <br>
the traces of the first snow fall could be seen.</td>
</tr>
<tr class="content-table__row"></tr> <tr class="content-table__row"> <td class="content-table__column"> <h5>Shite:</h5> <em> Yebisu shi-hō wo kakomitsutsu.</em></td>

<td class="content-table__column"> <h5>Shite:</h5> The barbarians surrounding him on every side.</td>
</tr>

<tr class="content-table__row"></tr> <tr class="content-table__row"> <td class="content-table__column"> <h5>Jiutai:</h5> <em> Kare-no no kusa ni hi wo kake <br>
yo-en shikiri ni moe-kitari. <br>
Kataki-seme-tsuzumi wo uchi-kakete. <br>
Ka-en wo hanachite kakarikareba.</em> </td>
<td class="content-table__column"> <h5>Jiutai:</h5> Set fire to the grass of the withered fields, and as the blaze burned high<br>
and as the blaze burned high with heavy lingering billows of smoke.<br>
Began to beat their war drums in the signal to attack. <br>
The Towering flames! as the attack blazed forward.</td>
</tr>
<tr class="content-table__row"></tr> <tr class="content-table__row"> <td class="content-table__column"> <h5>Shite:</h5> <em> Mi-koto tsurugi wo nuite...</em></td>

<td class="content-table__column"> <h5>Shite:</h5> The Prince drew his sword....</td>
</tr>

<tr class="content-table__row"></tr> <tr class="content-table__row"> <td class="content-table__column"> <h5>Jiutai:</h5> <em> Mi-koto tsurugi wo nuite,<br>
atari wo harai tachimachi. <br>
ni honō mo tachi-shirizoke to, <br>
shi-hō no kusa wo nagi-haraeba. <br>
Tsurugi no seirei arashi to natte, <br>
hon wo mo kusa mo fuki-kaesarete. <br>
Ten ni kakayaki chi ni michite. <br>
Myō-ka wa kaette kataki wo yakeba. <br>
Su man gi no Yebisu-domo wa, <br>
tachimachi koko nite usetengeri. <br>
Sono nochi shi-kai osamarite, <br>
Jin-ka to-zashi wo wasureshi mo. <br>
Sono Kusanagi no yue to ka ya. <br>
Tadaima nanji ga utsubeki<br>
kono zuisō no mitsurugi mo. <br>
Ika de sore ni wa otorubeki. <br>
Tsutōru ie no Munechika yo, <br>
kokoro yasuku mo omoite ge-kō shi tamae. </em></td>
<td class="content-table__column"> <h5>Jiutai:</h5> The Prince drawing his sword,<br>
wielded it about him. <br>
At once, the flames drew back, <br>
as it mowed down the grasses in all directions. <br>
The spirit of the sword became a storm<br>
blasting back the raging flames and grasses too. <br>
The blaze lit up the heavens, covered the earth! <br>
A furnace of fierce flames turned back to devour the enemy forces. <br>
Thus, the countless barbarians, <br>
and cavalrymen were brought down. <br>
So, in later years the Empire was at peace: <br>
So much so that the people forgot to bar the doors of their houses. <br>
This is because of the 'Grass-cutter', it was said. <br>
And now, this auspicious omened blade<br>
that you must forge! <br>
Is there any reason it should be a lesser blade than that ? <br>
Munechika, heir to a house of proud tradition, <br>
set your heart at rest and go home now.</td>
</tr>

<tr class="content-table__row--header">
<td id="Kakeai-1" class="content-table__column">Shite Exits: Kakeai 1
<td class="content-table__column"></td>
</tr>
<tr class="content-table__row">
<td class="content-table__column"><h5>Waki:</h5>
<em> Kanka honchō ni oite tsurugi no itoku <br>
Toki ni totte no shiugen mōsu, hakari no kusōrō. <br>
Sate satemo onmi wa ikanaru hito zo.</em></td>
<td class="content-table__column"><h5>Waki:</h5>
What you have told me of the power of the swords in China and Japan<br>
has gladdened my heart at this important hour.<br>
Yet, I press you again to tell me who you are ?</td>
</tr>
<tr class="content-table__row"></tr>
<tr class="content-table__row">
<td class="content-table__column"> <h5>Shite:</h5>
<em> Yoshi tare nari tomo tanomubeshi.<br>
Mazumazu choku no mitsurugi wo<br>
utsu beki dan no kazaritsutsu.<br>
Sono toki ware wo machitamawaba.</em></td>
<td class="content-table__column"> <h5>Shite:</h5> Who I may be is of no consequence, but you must pray!<br>
Before anything else adorn your forge mound<br>
where you will temper the Imperial blade. <br>
And at that time, if you will but wait for me.</td>
</tr>

<tr class="content-table__row--header">
<td id="Ageuta-3" class="content-table__column">Shite Exits: Ageuta 3
<td class="content-table__column"></td>
</tr>
<tr class="content-table__row">
<td class="content-table__column"><h5>Jiutai:</h5>
<em> Tsūriki no mi wo henji. <br>
Tsūriki no mi wo henji, <br>
kanarazu sono jiset'n ni<br>
mairi aite onchikara wo tsuke-mōsubeshi. <br>
Machitamae to. <br>
Iugumo no Inariyama, <br>
yukue mo shirazu usenikeri. <br>
Yukue mo shirazu usenikeri.</em></td>
<td class="content-table__column"><h5>Jiutai:</h5>
I will change into supernatural form.<br>
Having changed into a supernatural form, <br>
I will come without fail, at the appointed time, <br>
and join you, adding my strength to yours. <br>
Then wait for me! <br>
So saying, into the evening clouds of Mt. Inari, <br>
without a sign of where he went, he vanished. <br>
Without a sign of where he went, he vanished.</td>
</tr>





        </table>
    </section>
  </div>

</main>
